<HTML>
<HEAD>
<title><$g_title> - General Rules</title>
</HEAD>

<BODY BGCOLOR="#000000" LINK="#00FF00" VLINK="#00FF00" ALINK="#FFFFFF" TEXT="#D0DBF7">
<FONT face="Arial, Helvetica, sans-serif" size=+1>
<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<CENTER>
</CENTER>

<TABLE ALIGN=CENTER>
    <TR>
        <TD><H3 ALIGN=center><FONT COLOR=#80ff00>The Club Rules:</FONT></H3></TD>
    </TR>
    <TR>
        <TD><$RUL></TD>
    </TR>
</TABLE><BR>

</BODY>
</HTML>
