#
# This file contains the entries to be read from database
# before displaying the template.
#
[LIST]	10

[DTY]  CL
[KTY]  ID

ID	r 
NAM r
LL1 r
LD1 r
LL2 r
LD2 r
LL3 r
LD3 r
LL4 r
LD4 r
LL5 r
LD5 r
STC r
CLP r
CLB r
CLL r
CLT r
