<!-- club/newcomer_control.tmpl -->

<!-- included in action.tmpl to show newcomer Club control panel-->

<!-- links for Newcomers Club -->

<a href="javascript:loadInfo('<$g_HTMLRoot>/info/about/details/nb-info.html')" target=_self> 
<IMG SRC="<$g_Images>/images/clubs/newcomers/whatis.gif" width="116" height="16" BORDER=0 ALT="What is Cybertown?"></a><br>

<a href="javascript:loadInfo('<$g_HTMLRoot>/info/controlpanel/nb-findway.html')" target=_self> 
<IMG SRC="<$g_Images>/images/clubs/newcomers/getting_around.gif" width="116" height="16" BORDER=0 ALT="Getting Around"></a><br>

<a href="javascript:loadInfo('<$g_HTMLRoot>/info/controlpanel/nb-2dcomm.html')" target=_self> 
<IMG SRC="<$g_Images>/images/clubs/newcomers/communication.gif" width="116" height="16" BORDER=0 ALT="Communication"><br>

<a href="javascript:loadInfo('<$g_HTMLRoot>/info/controlpanel/nb-into3d.html')" target=_self> 
<IMG SRC="<$g_Images>/images/clubs/newcomers/gi3.gif" width="116" height="16" BORDER=0 ALT="Get into 3D"></a><br>

<a href="javascript:loadInfo('<$g_HTMLRoot>/info/controlpanel/nb-getapet.html')" target=_self> 
<IMG SRC="<$g_Images>/images/clubs/newcomers/get_pet.gif" width="116" height="16" BORDER=0 ALT="Get a Home & Pet"></a><br> 

<a href="javascript:loadInfo('<$g_HTMLRoot>/info/help/index.html')" target=_self> 
<IMG SRC="<$g_Images>/images/clubs/newcomers/faq_help.gif" width="116" height="16" BORDER=0 ALT="FAQ/Help"></a><br> 

<a href="javascript:loadInfo('<$g_HTMLRoot>/info/controlpanel/nb-getajob.html')" target=_self> 
<IMG SRC="<$g_Images>/images/clubs/newcomers/gaj.gif" width="116" height="16" BORDER=0 ALT="Get a Job"></a><br>

<a href="javascript:loadInfo('<$g_HTMLRoot>/tour/intro.htm')" target=_self> 
<IMG SRC="<$g_Images>/images/clubs/newcomers/city_tour.gif" width="116" height="16" BORDER=0 ALT="City Tour"></a><br>

<!-- #ifdef variable="isVisitor" -->
<a href="javascript:loadInfo('<$g_HTMLRoot>/help/myinfo.html')" target=_self> 
<IMG SRC="<$g_Images>/images/clubs/newcomers/my_info.gif" width="116" height="16" BORDER=0 ALT=Info"></a><br><a href="javascript:loadInfo('<$g_HTMLRoot>/info/controlpanel/index.html')" target=_self><IMG SRC="<$g_Images>/images/clubs/newcomers/my_home.gif" width="116" height="16" BORDER=0 ALT="My House"></a><br>
<a href="/cgi-bin/cybertown/edit?tpl=common/login" target="_top"><font face="Arial, Helvetica, sans-serif" size="2" color="#FFFF00" target="_top"><b>LOG IN/JOIN</b></font></a>
<!-- #endif variable="isVisitor" -->

<!-- #ifndef variable="isVisitor" -->
<a href="javascript:loadInfo('<$_exe>edit?KEY=<$NNM>&TPL=property/mydata&ac=read')"> 
<IMG SRC="<$g_Images>/images/clubs/newcomers/my_info.gif" width="116" height="16" BORDER=0 ALT="My Info"></a><br><a href="property<$g_exe>?ac=myhouse" target="_top"><IMG SRC="<$g_Images>/images/clubs/newcomers/my_home.gif" width="116" height="16" BORDER=0 ALT="My House"></a>
<!-- #endif variable="isVisitor" -->
<p></p>

<!-- JUMP GATE - Navigation Bar -->




<!-- #include virtual="<$g_Templates>common/jumpgate.tmpl" -->


<!-- Begin Help Flags -->
<a href="javascript:loadInfo('<$g_HTMLRoot>/info/help/german/index.html')" target="_self"><img src="/info/help/german/images/germanysm.gif" border="0"></a>&nbsp;&nbsp;&nbsp;
<a href="javascript:loadInfo('<$g_HTMLRoot>/info/help/spanish/faqs.html')" target="_self"><img src="/info/help/spanish/images/spainsm.gif" border="0"></a>








<!-- #ifndef variable="CLB" -->

<!--             worldcon and realplayer 

<P><A HREF="javascript:loadInfo('/events/worldcon/schedule.html')"  target="_self"><IMG SRC="/events/worldcon/wcsched.gif" border=0></A></P>

            <P><A HREF="javascript:loadInfo('/events/worldcon/real_player.html')"  target="_self"><IMG SRC="/events/worldcon/rahelp.jpg" border=0></A></P>

-->

<!-- #endif variable="CLB" -->  









<!-- #ifdef variable="ID" value="0000000000000010" -->

<!-- #ifdef variable="isVisitor" -->

<a href="<$g_HTMLRoot>/places/post/visitor_mail.html" target="place"><img src="<$g_HTMLRoot>/places/post/images/freemail.gif" alt="Free E-Mail" border="0"></a>

<a href="javascript:loadInfo('<$g_HTMLRoot>/places/post/post_visitor.html')" target="_self"><img src="<$g_HTMLRoot>/places/post/images/sendpostcard.gif" alt="Send a Postcard" border="0"></a>

<!-- #endif variable="isVisitor" -->

<!-- #ifndef variable="isVisitor" -->

<a href="http://freemail.cybertown.com" target="place"><img src="<$g_HTMLRoot>/places/post/images/freemail.gif" alt="Free E-Mail" border="0"></a>

<a href="javascript:loadInfo('<$g_HTMLRoot>/places/post/post.html')" target="_self"><img src="<$g_HTMLRoot>/places/post/images/sendpostcard.gif" alt="Send a Postcard" border="0"></a>

<!-- #endif variable="isVisitor" -->

<!-- #endif variable="ID" -->







<script language=javascript>

var neighborid = '<$ID>';

neighborid = neighborid.substring(0,8);

if (neighborid == '01020206') {

document.write('<p><a href="javascript:loadCustom(\'/SETI/cyber-seti2.html\',\'640\',\'450\')" target=_self><IMG src="<$gHTMLRoot>/images/clubs/SETI/jointeamseti.gif" alt="Join Team Seti" border=0></a><br>');

}

</script>

<div align=center>



<!-- #ifdef variable="ID" value="000000000000001c"  -->

<!-- #ifdef variable="T_showmusic" -->

<a href="javascript:loadCustom('<$g_HTMLRoot>/places/<$place>/dj.html',620,560)" target="_self"><IMG SRC="<$g_HTMLRoot>/places/nightclub/images/plamus_ani.gif" BORDER=0 ALT="DJ"></a><br>

<!-- #endif variable="T_showmusic" -->



<!-- #ifndef variable="T_showmusic" -->

<a href="javascript:loadInfo('<$g_HTMLRoot>/places/<$place>/danceav.html')" target="_self">

<IMG SRC="<$g_HTMLRoot>/places/nightclub/images/dancavicon02.gif" BORDER=0 ALT="dancing avatars"></a><br><br>



<a href="javascript:loadInfo('<$g_HTMLRoot>/places/ent_complex/rahelp.html')" target=_self>

<IMG SRC="<$g_HTMLRoot>/places/ent_complex/images/rahelp.gif" BORDER=0 ALT="RealPlayer Help"></a><br>



<!-- #endif variable="T_showmusic" -->

<br>



<!-- #endif variable="ID" -->





<!-- #ifndef variable="ID" value="0000000000000026"  -->
<!-- #ifndef variable="ID" value="0000000000000027"  -->
<!-- #ifndef variable="ID" value="CL00000000001b9b"  -->
<!-- Begin Morph Aftermath -->
<A HREF="javascript:loadInfo('/events/morph2/html/aftermath.html')"  target="_self"><IMG SRC="/events/morph2/html/aftmathicon.jpg" ALT="Morph Aftermath" border=0></A>
<!-- End Morph Aftermath -->
<!-- #endif variable="ID" -->
<!-- #endif variable="ID" -->
<!-- #endif variable="ID" -->





<!-- #ifndef variable="ID" value="0000000000000023" -->

<!-- #endif variable="ID" -->

<!-- end of include newcomer_control.tmpl -->

