<HTML>
<!-- club/showrules.tmpl -->
<!-- displays the rules of the club -->
<HEAD>
<META http-equiv="Content-Type" CONTENT="text/html">
<title><$g_title> - Club</title>
</HEAD>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<CENTER>
<!-- #ifdef variable="STC" value="0" -->
<script language="javascript">var path = "<$g_DBImages><$CLP>";
if (path.indexOf('dbimages/dbimages') > -1){
document.writeln('<img src="<$g_HTMLRoot><$CLP>" BORDER=0 ALT="Club Image" height=100><BR>');
}
else{
document.writeln('<img src="<$g_HTMLRoot><$g_DBImages><$CLP>" BORDER=0 ALT="Club Image" height=100><BR>');
}
</script>        
<!-- #endif variable="STC" -->
<!-- #ifdef variable="STC" value="1"-->
<IMG SRC="<$g_HTMLRoot>/places/club/images/locked.gif" BORDER=0 ALT="Club Image" height=100>
<!-- #endif variable="STC" -->
</CENTER>

<TABLE ALIGN=CENTER>
    <TR>
        <TD><H3 ALIGN=center><FONT COLOR=#80ff00>The Club Rules:</FONT></H3></TD>
    </TR>
    <TR>
        <TD><$RUL></TD>
    </TR>
</TABLE><BR>

</BODY>
</HTML>
