#
# This file contains the entries to be read from database
# before displaying the template.
#
[LIST]	10

[DTY]  CL
[KTY]  ID

ID	r
NAM r
LL1 rw
LD1 rw
LL2 rw
LD2 rw
LL3 rw
LD3 rw
LL4 rw
LD4 rw
LL5 rw
LD5 rw
STC r
CLP r
