<a href="javascript:loadInfo('http://www.cybertown.com/places/ent_complex/rahelp.html')" target=_self>
<IMG SRC="http://www.cybertown.com/places/ent_complex/images/rahelp.gif" BORDER=0 ALT="RealPlayer Help"></a><br>
<!-- #ifdef variable="readaccess" -->
<a href="http://www.cybertown.com/entcent2.html" target=place>
<IMG SRC="<$g_Images>/images/buttons/bportal.gif" BORDER=0 ALT="Portal"></a><br>
<!-- #endif variable="readaccess" -->


