<font size=-1 face="arial">
<table align=center border=0 cellspacing=0 cellpadding=0 bgcolor="#000000">
<tr><td colspan=3 align=center><IMG SRC="<$g_HTMLRoot>/places/henvpod/images/top_image.jpg" BORDER=0 ALT=""></td></tr>
<tr><td align=right width=144 valign=bottom><IMG SRC="<$g_HTMLRoot>/places/henvpod/images/left_image.jpg" BORDER=0 ALT=""></td>
<td align=right valign=bottom width=160>
<embed src="<$g_HTMLRoot>/places/henvpod/henvpod.rpm" width=160 height=120 controls=ImageWindow autostart=true console=Clip2 nologo=true>
</td><td align=left width=165 valign=bottom><IMG SRC="<$g_HTMLRoot>/places/henvpod/images/right_image.jpg" BORDER=0 ALT=""></td></tr>
<tr><td colspan=3 align=center><IMG SRC="<$g_HTMLRoot>/places/henvpod/images/bottom_image.jpg" BORDER=0 ALT=""></td></tr>
</table>
To start or change video, make a selection from the list.<br>
To stop video, select &quot;Stop Video&quot; from the list.
<form name=realclips>
<select name=cliplist onChange="switchMovie(window.document.realclips.cliplist.options[this.selectedIndex].value)">
<option value="StopMovie"> -- Video List --
<option value="http://www.cybertown.com/realmedia/hallmark/hen1.ram">Stories
<option value="http://www.cybertown.com/realmedia/hallmark/hen2.ram">Hallmark
<option value="http://www.cybertown.com/realmedia/hallmark/hen3.ram">Coming Soon
</select>
</form></font>