<!-- register/mothership/cregister.tmpl -->
<!-- registration form -->

<html>
<head>
<title><$g_title> - Colony Immigration</title>

<script language=javascript>


winClose = false;

winFocus = false;

if (navigator.appName == "Netscape")

{

 winClose = true;

 winFocus = true;

}

else

{

 var i = navigator.appVersion.indexOf("MSIE");

 if (i >= 0)

 {

  var ver = parseInt(navigator.appVersion.substring(i+5,i+6));

  if ( ver > 4)

   winClose = true;

  if ( ver > 3 )

   winFocus = true;

 }

}



myInfoWin = null;



function loadInfo(par)

{

 loadCustom( par, 620, 450 );

}



function closeInfoWin()

{

 if (winClose && myInfoWin && !myInfoWin.closed)

 {

  myInfoWin.close();

 }

}

function loadCustom(par,h,v)

{

 closeInfoWin();

var paramstring = 'toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=yes,width=' + h + ',height=' + v;



 win = window.open(par, "info",paramstring);

 if (winFocus)

 {

    win.focus();

 }

 myInfoWin = win;

}



function loadMap(par)

{

 closeInfoWin();

var paramstring = 'toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=yes,resizable=no,copyhistroy=no,width=520,height=478';



 win = window.open(par, "info",paramstring);

 if (winFocus)

 {

    win.focus();

 }

 myInfoWin = win;

}



<!--begin added this reset -->

function jumpreset( par1, par2 )

{

        jump( par2 );

        par1[0].selected = true;

}

<!--end added this reset -->





function jump( par )

{

 closeInfoWin();



var parArray = new Array(4);

parArray = par.split(" ");

var type = parArray[0];

var url = parArray[1];

var h = parArray[2];

var v = parArray[3];



 if (url != '') 

 {

  if ( type == "top")

  {

   top.location.href = url;

  }



  else if ( type == "info")

  {

   loadInfo(url);

  }



  else if ( type == "custom")

  {

   loadCustom(url,h,v);

  }



  else if ( type == "place")

  {

   top.place.location.href = url;

  }



  else if ( type == "poll")

  {

   loadCustom( url, 600, 500 );

  }

 }

}


// --- preselect ----
function selectReset()
{

   for(i=0; i<document.im_form.T_AGE.length; i++)
     if(document.im_form.T_AGE.options[i].value == "<$T_AGE>")
       document.im_form.T_AGE.options[i].selected=true;

     if(document.im_form.T_GND[0].value == "<$T_GND>")
        document.im_form.T_GND[0].checked =true;
     else
        document.im_form.T_GND[1].checked =true;

   for(i=0; i<document.im_form.T_CTY.length; i++)
     if(document.im_form.T_CTY.options[i].value == "<$T_CTY>")
       document.im_form.T_CTY.options[i].selected=true;


}

// --- check before submit IM1!---
// --- check before submit AGE!---
// --- check before submit ZIP!---
function testSend() {

        var AGE_Index = document.im_form.T_AGE.selectedIndex;
        var STA_Index = document.im_form.T_CTY.selectedIndex;
        var ZIP_Field = document.im_form.T_ZIP.value;
        var KID_value = document.im_form.T_KID.value;

  if (AGE_Index == 0) {
        alert("Please select your age range.")
        } else if (STA_Index == 0) {
        alert("Please select your country from the pull down menu.")
     } else {
        if ((STA_Index == 1 && AGE_Index == 1) || KID_value =="US") {
        document.im_form.T_KID.value = "US";
//      document.im_form.ac.value = 'showinfo';
//      document.im_form.TPL.value = 'kidregister';
        //document.im_form.action = '/cgi-bin/colonycity/place';
        loadInfo('/cgi-bin/colonycity/place?ac=showinfo&TPL=kidregister_mot');
        }
        else{
        document.im_form.T_KID.value ="";
        document.im_form.REML.value ="";
        document.im_form.REGTEXT.value ="";
        document.im_form.ac.value = 'register';
//      document.im_form.TPL.value = 'register/cregister';

        window.document.im_form.submit();
        }
   }
}







</script>




<base target="_self">

<SCRIPT language=JavaScript>

// --- set the IM2 pulldownfields-text! ---

function setIM3Text()
{
var blank = new Array("-");
var friend = new Array("-");
var onlinead = new Array("-- Which Site? -- ","IGN.com","artbell.com","angelfire.com","SciFi.com","bolt.com","Other Site");
var otheronlinearticle = new Array("-");
var othertheaters = new Array("-- Where? --","Austin, TX","Baltimore, NC","Raleigh/Durham, NC","Santa Clara/San Jose, CA","San Francisco, CA","Seattle, WA","Washington, D.C","Denver, CO");
var othermagarticle = new Array("-");
var magad = new Array("-- Which Magazine? --","Sci-fi Entertainment","Science Fiction Age","Top Deck","Dragon","Star Wars Insider","Star Trek Communicator","Amazing Stories","Other");
var tv = new Array("-- Which One? --","MTV","Other");
var search = new Array("-- Which One? --","Yahoo","AltaVista","HotBot","Lycos","MSN","Netscape","Excite","ask.com","Webcrawler","Other");
var link = new Array("-- Which Site? --","blaxxun.com","Intel","TheFreeSite.com","Tomorrow.de","TheForce.net","DesktopStarships.com","Other");
var other = new Array("-");
var minicd = new Array("-");
var postcard = new Array("-");
var virt = new Array("-");
var othertradeshow = new Array("-");
var othernewspaper = new Array("-");

var the_select = document.im_form.IM3;
var IM1_Index = document.im_form.IM1.selectedIndex;
var arrayname = document.im_form.IM1.options[IM1_Index].value;
var my_array = eval(arrayname);

        the_select.options.length = 0; 
        the_select.options.length = my_array.length; 
        for (i=0; i < my_array.length; i+=1) 
        { 
                the_select.options[i].text = my_array[i]; 
                the_select.options[i].value = my_array[i]; 
        } 
        the_select.selectedIndex = 0;
}

// --- set the IMText textfield-text! ---  
function setIMText ()
{
var IM1_Index = document.im_form.IM1.selectedIndex;
var IM1arrayname = document.im_form.IM1.options[IM1_Index].value;
var IM3_Index = document.im_form.IM3.selectedIndex;
var IM3arrayname = document.im_form.IM3.options[IM3_Index].value;

        if (IM1arrayname == "otheronlinearticle" || IM1arrayname == "othermagarticle" || IM1arrayname == "othertradeshow" || IM1arrayname == "othernewspaper" || IM1arrayname == "other")
        {
                document.im_form.IMText.value="-- Which One?!? --";
        }
        else if (IM1arrayname == "othertheaters")
        {
                document.im_form.IMText.value="-- Which Movie? --";
        }
        else if (IM1arrayname == "friend")
        {
                document.im_form.IMText.value="";
                document.im_form.REF.focus();
        }
        else if (IM3arrayname.indexOf("Other") != -1 || IM3arrayname.indexOf("other") != -1)
        {
                window.document.im_form.IMText.value = " -- Which? --";
        }
        else
        {
                        window.document.im_form.IMText.value = "";
        } 
}

// --- add on submit IM3 -text + TAB + IMText textfield-text! ---  
function addIM3Text ()
{

// if IMText-field is blank -forget it! else:
        if (document.im_form.IMText.value != "" || document.im_form.IMText.value != " ")
        {
        var IM3_Index = document.im_form.IM3.selectedIndex;
        var IM3arrayname = document.im_form.IM3.options[IM3_Index].value;
                document.im_form.IM3.options[IM3_Index].value = document.im_form.IM3.options[IM3_Index].value + "\t\t" + document.im_form.IMText.value;
        }
}

function matchEmails() {
if (window.document.im_form.EML.value != window.document.im_form.T_EMV.value) {
window.document.im_form.EML.value = '';
window.document.im_form.T_EMV.value = '';
window.document.im_form.EML.focus();
alert('The email addresses you entered do not match. Please re-enter your email address.');
}
}

</script>
</head>


<body text="#e6e6e6" bgcolor="#000000" link="#e6e6e6" vlink="#e6e6e6" alink="#ffffff" MARGINWIDTH=0 LEFTMARGIN=0 MARGINHEIGHT=0 TOPMARGIN=0 onLoad=selectReset()>


<CENTER>

<TABLE CELLSPACING="0" CELLPADDING="0"  WIDTH="735" BORDER="0">
<TR>
<TD ROWSPAN="3" VALIGN="MIDDLE" BGCOLOR="#000000"><a href="http://www.mothership.com"><IMG SRC="/places/mothership/images/html/Mothershipcornerlogo.gif" BORDER="0"></A></TD>
<TD ROWSPAN="3" BGCOLOR="#000000"><IMG SRC="/places/mothership/images/html/X.gif" WIDTH="10"></TD>
<TD BGCOLOR="#004056"><IMG SRC="/places/mothership/images/html/X.gif" WIDTH="444" HEIGHT="10"></TD>
<TD BGCOLOR="#000000" COLSPAN="2"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD>
</TR>

<TR>

<TD HEIGHT="60" VALIGN="TOP" ALIGN="RIGHT" BGCOLOR="#004056" COLSPAN="3"><IFRAME WIDTH=468 HEIGHT=60 NORESIZE SCROLLING=No FRAMEBORDER=0 MARGINHEIGHT=0 MARGINWIDTH=0 SRC="http://adforce.imgis.com/?adiframe|2.0|34|29655|1|1|ADFORCE;"><script language=javascript src="http://adforce.imgis.com/?addyn|2.0|34|29655|1|1|ADFORCE;loc=700;"></script><noscript><a href="http://adforce.imgis.com/?adlink|2.0|34|29655|1|1|ADFORCE;loc=300;" target=_top><img src="http://adforce.imgis.com/?|2.0|34|29655|1|1|ADFORCE;loc=300;" border=0 width=468 height=60></a></noscript></IFRAME></TD>
</TR>

<TR>
<TD BGCOLOR="#004056"><IMG SRC="/places/mothership/images/html/X.gif" WIDTH="444" HEIGHT="10"></TD>
<TD BGCOLOR="#000000" COLSPAN="2"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD>
</TR>

 <TR>
 	<TD ROWSPAN="2" WIDTH="156" BGCOLOR="#003040"><IMG SRC="/places/mothership/images/html/X.gif" WIDTH="156"></TD>
 	<TD ROWSPAN="2" WIDTH="10" BGCOLOR="#000000"><IMG SRC="/places/mothership/images/html/X.gif" WIDTH="10"></TD>
 	<TD WIDTH="444" BGCOLOR="#004056" ALIGN="CENTER">
<IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="15"><BR>
<img SRC="/places/mothership/images/html/MothershipColonyTitle.gif" ALT="enter" height=20 width=444 BORDER="0"><BR><BR>
<img SRC="/places/mothership/images/html/ImmigrationTitle.gif" ALT="enter" height=20 width=444 BORDER="0"><BR>
<BR>
<FONT FACE="arial,sans-serif" SIZE="2"><I>IMMIGRATION IS FREE -- JOIN NOW!</I>

<BR>
<font face="arial,sans-serif" color="#FF0000" face="Arial,Helvetica">

<!-- #ifdef variable="registererror001" -->
<P>One or more required values are not filled in.
<!-- #endif variable="registererror001" -->

<!-- #ifdef variable="registererror002" -->
<P>Sorry, your nickname cannot contain a '/'.
<!-- #endif variable="registererror002" -->

<!-- #ifdef variable="registererror003" -->
<P>Sorry, the password and the retyped password are different.
<!-- #endif variable="registererror003" -->

<!-- #ifdef variable="registererror004" -->
<P>     Sorry, this nickname is taken, try another one.
<!-- #endif variable="registererror004" -->

<!-- #ifdef variable="registererror005" -->
<P>     Sorry, this email is taken, try another one.
<!-- #endif variable="registererror005" -->

<!-- #ifdef variable="registererror006" -->
<P>     The referring member you entered is unknown, please check.
<!-- #endif variable="registererror006" -->

<!-- #ifdef variable="registererror010" -->
<P>     Sorry, your nickname contains characters that aren't allowed.<br>
        Allowed are [A-Z],[a-z],[0-9],'_','-','.'
<!-- #endif variable="registererror010" -->

<!-- #ifdef variable="registererror011" -->
<P>     Sorry, your nickname must start with an alphanumeric character.
<!-- #endif variable="registererror011" -->

<!-- #ifdef variable="registererror012" -->
<P>     Sorry, your email address is incorrect.<br>
        Allowed characters are [A-Z],[a-z],[0-9],'_','-','.'<br>
        and you have to specify your mail id and complete domain name.
<!-- #endif variable="registererror012" -->

<!-- #ifdef variable="registererror013" -->
<P>     Sorry, your email domain is incorrect.<br>
<!-- #endif variable="registererror013" -->

</font>

<form method=get action="<$selfurl>" name="im_form">
<input type=hidden name="REGTEXT" value="">
<input type=hidden name="REML" value="<$REML>">
<input type=hidden name="T_KID" value="<$T_KID>">

<input type="hidden" name="TKT"   value="<$TKT>">
<input type="hidden" name="T_MCO" value="mothership">
<input type="hidden" name="IM1" value="mothership.com">
<input type="hidden" name="IM3" value="registration">


<TABLE WIDTH="424" BORDER="0" CELLSPACING="0" CELLPADDING="0">

<TR>
 <TD COLSPAN="2" ALIGN="CENTER" VALIGN="MIDDLE">
   <FONT FACE="arial,sans-serif" SIZE="1">FIELDS LABELED (**) ARE MANDATORY</FONT>
 </TD>
</TR>
<TR><TD COLSPAN="4"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD></TR>
<TR>
 <TD COLSPAN="2" BGCOLOR="#002430" ALIGN="CENTER" VALIGN="MIDDLE">
   <FONT FACE="arial,sans-serif" SIZE="2">CREATE YOUR OWN COLONY NICKNAME AND PASSWORD</FONT>
 </TD>
</TR>
<TR>
 <TD COLSPAN="2" BGCOLOR="#003040"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD>
</TR>
<TR>
 <TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1">** YOUR NICKNAME:<IMG SRC="/places/mothership/images/html/X.gif" WIDTH="10"></FONT>
 </TD>
 <TD BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1"><INPUT NAME="NNM" VALUE="<$NNM>" MAXLENGTH=16 size="15"></FONT>
 </TD>
</TR>
<TR>
 <TD BGCOLOR="#003040">&nbsp;</TD>
 <TD BGCOLOR="#003040"><FONT FACE="arial,sans-serif" SIZE="1">Allowed characters are: A-Z, a-z, 0-9, '_', '-', '.'</TD>
</TR>
<TR>
 <TD COLSPAN="2" BGCOLOR="#003040"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD>
</TR>
<TR>
 <TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1">** YOUR EMAIL ADDRESS:<IMG SRC="/places/mothership/images/html/X.gif" WIDTH="10"></FONT>
 </TD>
 <TD BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1"><INPUT NAME="EML" VALUE="<$EML>" MAXLENGTH=64 size="25" onChange='window.document.im_form.T_EMV.focus();'></FONT>
 </TD>
</TR>
<TR>
 <TD COLSPAN="2" BGCOLOR="#003040"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD>
</TR>
<TR>
 <TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1">RE-TYPE YOUR EMAIL ADDRESS:<IMG SRC="/places/mothership/images/html/X.gif" WIDTH="10"></FONT>
 </TD>
 <TD BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1"><INPUT NAME="T_EMV" VALUE="<$T_EMV>" MAXLENGTH=64 size="25" onBlur='matchEmails();'></FONT>
 </TD>
</TR>
<TR>
 <TD BGCOLOR="#003040">&nbsp;</TD>
 <TD BGCOLOR="#003040"><FONT FACE="arial,sans-serif" SIZE="1">Be sure that you type in your email address<BR>correctly as you will receive an immigration<BR>email in a few seconds!</TD>
</TR>
<TR>
 <TD COLSPAN="2" BGCOLOR="#003040"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD>
</TR>
<TR>
 <TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1">** CHOOSE A PASSWORD:<IMG SRC="/places/mothership/images/html/X.gif" WIDTH="10"></FONT>
 </TD>
 <TD BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1"><INPUT type=password NAME="PWD" VALUE="<$PWD>" MAXLENGTH=16 size="15"></FONT>
 </TD>
</TR>
<TR>
 <TD COLSPAN="2" BGCOLOR="#003040"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD>
</TR>
<TR>
 <TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1">** RE-TYPE YOUR PASSWORD:<IMG SRC="/places/mothership/images/html/X.gif" WIDTH="10"></FONT>
 </TD>
 <TD BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1"><INPUT type=password NAME="PWD2" VALUE="<$PWD2>" MAXLENGTH=16 size="15"></FONT>
 </TD>
</TR>
<TR><TD BGCOLOR="#003040" COLSPAN="2"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD></TR>

<TR><TD COLSPAN="2"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD></TR>
<TR>
 <TD COLSPAN="2" BGCOLOR="#002430" ALIGN="CENTER" VALIGN="MIDDLE">
   <FONT FACE="arial,sans-serif" SIZE="2">SET UP YOUR PERSONAL INFORMATION</FONT>
 </TD>
</TR>
<TR>
 <TD COLSPAN="2" BGCOLOR="#003040"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD>
</TR>
<TR>
 <TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1">AGE RANGE:<IMG SRC="/places/mothership/images/html/X.gif" WIDTH="10"></FONT>
 </TD>
 <TD BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1">
  <SELECT name = "T_AGE">
  <OPTION value="-"> -Select-
  <OPTION value="1"> 1-12
  <OPTION value="13"> 13-17
  <OPTION value="18"> 18-25
  <OPTION value="26"> 26-35
  <OPTION value="36"> 36-45
  <OPTION value="46"> 46+
  </SELECT
   </FONT>
 </TD>
</TR>
<TR>
 <TD COLSPAN="2" BGCOLOR="#003040"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD>
</TR>
<TR>
 <TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1">GENDER:<IMG SRC="/places/mothership/images/html/X.gif" WIDTH="10"></FONT>
 </TD>
 <TD BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1">
  <INPUT NAME="T_GND" TYPE=RADIO VALUE="male" checked> Male&nbsp;&nbsp;&nbsp;
  <INPUT NAME="T_GND" TYPE=RADIO VALUE="female"> Female
   </FONT>
 </TD>
</TR>
<TR>
 <TD COLSPAN="2" BGCOLOR="#003040"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD>
</TR>

<tr>
<td ALIGN="RIGHT" VALIGN="TOP" BGCOLOR="#003040">
	<FONT FACE="arial,sans-serif" SIZE="1">** COUNTRY:<IMG SRC="/places/mothership/images/html/X.gif" WIDTH="10"></font></td>
<td  BGCOLOR="#003040" valign="top">
   <FONT FACE="arial,sans-serif" SIZE="1"><SELECT name = "T_CTY">
<OPTION value="-"> -Select-
<OPTION value="usa"> USA
<OPTION value="europe"> Europe
<OPTION value="asia"> Asia
<OPTION value="southamerica"> South America
<OPTION value="australia"> Australia
<OPTION value="other"> Other
</SELECT></font><br>
<td valign=top>&nbsp;</td>
</tr>

<TR>
 <TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1">ZIP/COUNTRY CODE:<IMG SRC="/places/mothership/images/html/X.gif" WIDTH="10"></FONT>
 </TD>
 <TD BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1"><INPUT NAME="T_ZIP" VALUE="<$T_ZIP>" MAXLENGTH=8 size="5"></FONT>
 </TD>
</TR>
<TR><TD BGCOLOR="#003040" COLSPAN="2"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD></TR>

<TR><TD COLSPAN="2"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD></TR>
<TR>
 <TD COLSPAN="2" BGCOLOR="#002430" ALIGN="CENTER" VALIGN="MIDDLE">
   <FONT FACE="arial,sans-serif" SIZE="2">REFERRAL</FONT>
 </TD>
</TR>
<TR>
 <TD COLSPAN="2" BGCOLOR="#003040"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD>
</TR>
<TR>
 <TD ALIGN="RIGHT" VALIGN="TOP" BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1">REFERRAL BONUS:<IMG SRC="/places/mothership/images/html/X.gif" WIDTH="10"></FONT>
 </TD>
 <TD BGCOLOR="#003040">
   <FONT FACE="arial,sans-serif" SIZE="1"><INPUT NAME="REF" VALUE="<$REF>" MAXLENGTH=16 size="15"></FONT>
 </TD>
</TR>
<TR>
 <TD BGCOLOR="#003040">&nbsp;</TD>
 <TD BGCOLOR="#003040"><FONT FACE="arial,sans-serif" SIZE="1">Enter the nickname of a friend who already<BR>immigrated into The Colony, and he/she<BR>gets a Bonus (Virtual Money)! </TD>
</TR>
<TR>
 <TD COLSPAN="2" BGCOLOR="#003040"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD>
</TR>

<TR><TD COLSPAN="2"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD></TR>
<TR>
 <TD COLSPAN="2"ALIGN="CENTER" VALIGN="MIDDLE">
   <FONT FACE="arial,sans-serif" SIZE="2"><INPUT TYPE="checkbox" NAME="PML" VALUE="n">&nbsp;&nbsp;If you do not wish to receive occasional mailings based<BR>on your interest in The Colony, check this box. </FONT>
 </TD>
</TR>


<TR><TD COLSPAN="2"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD></TR>
<TR>
 <TD COLSPAN="2" BGCOLOR="#002430" ALIGN="CENTER" VALIGN="MIDDLE">
   <FONT FACE="arial,sans-serif" SIZE="2">HELP</FONT>
 </TD>
</TR>
<TR><TD BGCOLOR="#003040" COLSPAN="2"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD></TR>
<TR>
 <TD BGCOLOR="#003040" COLSPAN="2"ALIGN="CENTER" VALIGN="MIDDLE">
   <FONT FACE="arial,sans-serif" SIZE="2">Immigration or Login Problems? Here's our <a href="javascript:loadInfo('<$g_HTMLRoot>/help/quickhelp.html')" target="_self">Quick Help</a>!</FONT>
 </TD>
</TR>

<TR><TD BGCOLOR="#003040" COLSPAN="2"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD></TR>
<TR>
 <TD BGCOLOR="#003040" COLSPAN="2"ALIGN="CENTER" VALIGN="MIDDLE">
   <FONT FACE="arial,sans-serif" SIZE="2">If you have problems entering The Colony after the registration<BR>process, please send email to <a href="mailto:Help@cybertown.com">Help@cybertown.com</a>.</FONT>
 </TD>
</TR>
<TR><TD BGCOLOR="#003040" COLSPAN="2"><IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="10"></TD></TR>

<TR>
 <TD COLSPAN="2">
<BR>
 </TD>
</TR>
<TR>
 <TD COLSPAN="2" ALIGN="CENTER">
<input type=hidden name="ac" value="register">
<input type="button" name="Submit" value="Immigrate" onClick="testSend()">
<!-- input type=submit name="submit" value="Immigrate" -->
<input type=button name="cancel" value="Cancel" onClick="history.back()">
 </TD>
</TR>

</TABLE>

</FORM>

</TD>
 	<TD ROWSPAN="2" WIDTH="10" BGCOLOR="#000000"><IMG SRC="/places/mothership/images/html/X.gif" WIDTH="10"></TD>
 	<TD ROWSPAN="2" WIDTH="115" BGCOLOR="#003040"><IMG SRC="/places/mothership/images/html/X.gif" WIDTH="115"></TD>
 </TR>
	<TR>
 	<TD VALIGN="BOTTOM" ALIGN="CENTER" BGCOLOR="#002430">
		<TABLE WIDTH="444" CELLSPACING="0" CELLPADDING="0" BORDER="0"><TR>
    			<TD VALIGN="MIDDLE" ALIGN="CENTER" BGCOLOR="#002430">
				<IMG SRC="/places/mothership/images/html/X.gif" WIDTH="78" HEIGHT="2" BORDER="0"><BR>
				<IMG SRC="/places/mothership/images/html/CentropolisInteractive.gif" WIDTH="59" HEIGHT="23" BORDER="0"></A>
		        </TD><TD VALIGN="MIDDLE" ALIGN="LEFT" BGCOLOR="#002430">
				<IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="5" VSPACE="0" BORDER="0"><BR>
				<FONT SIZE="-2" FACE="arial, helvetica, sans serif">Mothership is a registered trademark of <A 				HREF="http://www.centropolis.com">Centropolis 				Interactive</A><BR>© <A CLASS="clean" HREF="http://www.centropolis.com">Centropolis Interactive</A>, all rights reserved.<BR>
				<IMG SRC="/places/mothership/images/html/X.gif" HEIGHT="7" VSPACE="0" BORDER="0"><BR></FONT>

  			 </TD></TR>
		</TABLE>
	 </TD>
 	</TR>

</TABLE>



</center>



</body>
</html>
