<!-- register/mothership/cregister.tmpl -->
<!-- registration form -->
<html>
<head>
<meta http-equiv="Refresh" content="1; url=http://www.cybertown.com/cgi-bin/cybertown/register"> 
</head>
</html>




