<!-- testing -->

<!-- #ifdef variable="NNM" value="Simioni" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Vialle" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Hawk" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Jolinth" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="jolinth" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Oherra" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Birdmen" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="GreatGodBal" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="unemployal" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="chewbaca41" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="J1863" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Taz1970" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Hawke12" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="shordyT" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="jjones3503" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Sarumen" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="MariaMarius" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->