<!-- testing -->

<!-- #ifdef variable="NNM" value="Simioni" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Vialle" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Flyby" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Hawk" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Jolinth" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="jolinth" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Lottie32" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="GoddessKimmeh" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="irishpooh" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Saint_Anthony" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="ShyMagic" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Alice_Maria" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Cin_intj." -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="ABluEyedBrunette" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="SweetEggNog" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Returning_Again" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="CyberAngel2000" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="kiwi_32" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Jeremy12" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="markjut" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="MC_Alz" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Ubex" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="sniperwolve" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Vampiremyst" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="zoundite" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="smile07" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="DynaTec" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="erikwas" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="florenze" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Hensonian" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Anakin." -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="TezlaRatX7" -->
	<!-- #define variable="MEETHAWK"  value="1" -->
<!-- #endif variable="NNM" -->