<!-- info/downloadcontact.tmpl -->
<HTML><BODY BGCOLOR="#000000" LINK="#00FF00" VLINK="#00FF00" ALINK="#FFFFFF" TEXT="#D0DBF7" >
<div align=center>
<br>
<br>
<br>
<br>
<font face="Arial" size=2>
You need to <A HREF="http://www.cybertown.com/info/download/index.html" target=_self>download</A> the latest version of <A HREF="http://www.cybertown.com/info/download/index.html" target=_self> blaxxun Contact</A> in order to go<br>
into the 3D. You can do that from this page.<br>
<br>
Having finished the download please close your browser and install the new<br>
software. Then you will be ready to go into the virtual 3D chat. Once in<br> 
3D you will have a virtual 3D body that you can move around and see and<br> 
talk to others in 3D. You can also get a full 3D home and even furnish it!<br>
<br>
There are two versions of Contact - one for Direct3D and one for OpenGL.<br> 
Unless you specifically know that you have an OpenGL graphics accelerator<br> 
card, download the Direct3D one (correct for the vast majority).<br>
<br>
Alternatively you can enter the <a href=place<$g_exe>?plc=<$T_place>&ac=place&DTY=<$T_DTY>&ID=<$T_ID>&force=s target=place>2D Chat</a> without any download needed.
</font>
</body>
</html>
