<!-- info/count -->
<!--- display member count --->
<HTML>
<HEAD>
<title><$g_title> - Member Count</title>

</HEAD>

<BODY>
<div align=center>
<!--- the following Javascript sets the total number of members by adding up all A*, B* etc nicknames --->
<script LANGUAGE = JAVASCRIPT>
x = 0;
<!--#if variable="CCA" != value="" -->
x += <$CCA>;
<!--#endif variable="CCA" -->
<!--#if variable="CCB" != value="" -->
x += <$CCB>;
<!--#endif variable="CCB" -->
<!--#if variable="CCC" != value="" -->
x += <$CCC>;
<!--#endif variable="CCC" -->
<!--#if variable="CCD" != value="" -->
x += <$CCD>;
<!--#endif variable="CCD" -->
<!--#if variable="CCE" != value="" -->
x += <$CCE>;
<!--#endif variable="CCE" -->
<!--#if variable="CCF" != value="" -->
x += <$CCF>;
<!--#endif variable="CCF" -->
<!--#if variable="CCG" != value="" -->
x += <$CCG>;
<!--#endif variable="CCG" -->
<!--#if variable="CCH" != value="" -->
x += <$CCH>;
<!--#endif variable="CCH" -->
<!--#if variable="CCI" != value="" -->
x += <$CCI>;
<!--#endif variable="CCI" -->
<!--#if variable="CCJ" != value="" -->
x += <$CCJ>;
<!--#endif variable="CCJ" -->
<!--#if variable="CCK" != value="" -->
x += <$CCK>;
<!--#endif variable="CCK" -->
<!--#if variable="CCL" != value="" -->
x += <$CCL>;
<!--#endif variable="CCL" -->
<!--#if variable="CCM" != value="" -->
x += <$CCM>;
<!--#endif variable="CCM" -->
<!--#if variable="CCN" != value="" -->
x += <$CCN>;
<!--#endif variable="CCN" -->
<!--#if variable="CCO" != value="" -->
x += <$CCO>;
<!--#endif variable="CCO" -->
<!--#if variable="CCP" != value="" -->
x += <$CCP>;
<!--#endif variable="CCP" -->
<!--#if variable="CCQ" != value="" -->
x += <$CCQ>;
<!--#endif variable="CCQ" -->
<!--#if variable="CCR" != value="" -->
x += <$CCR>;
<!--#endif variable="CCR" -->
<!--#if variable="CCS" != value="" -->
x += <$CCS>;
<!--#endif variable="CCS" -->
<!--#if variable="CCT" != value="" -->
x += <$CCT>;
<!--#endif variable="CCT" -->
<!--#if variable="CCU" != value="" -->
x += <$CCU>;
<!--#endif variable="CCU" -->
<!--#if variable="CCV" != value="" -->
x += <$CCV>;
<!--#endif variable="CCV" -->
<!--#if variable="CCW" != value="" -->
x += <$CCW>;
<!--#endif variable="CCW" -->
<!--#if variable="CCX" != value="" -->
x += <$CCX>;
<!--#endif variable="CCX" -->
<!--#if variable="CCY" != value="" -->
x += <$CCY>;
<!--#endif variable="CCY" -->
<!--#if variable="CCZ" != value="" -->
x += <$CCZ>;
<!--#endif variable="CCZ" -->
<!--#if variable="CC0" != value="" -->
x += <$CC0>;
<!--#endif variable="CC0" -->
<!--#if variable="CC1" != value="" -->
x += <$CC1>;
<!--#endif variable="CC1" -->
<!--#if variable="CC2" != value="" -->
x += <$CC2>;
<!--#endif variable="CC2" -->
<!--#if variable="CC3" != value="" -->
x += <$CC3>;
<!--#endif variable="CC3" -->
<!--#if variable="CC4" != value="" -->
x += <$CC4>;
<!--#endif variable="CC4" -->
<!--#if variable="CC5" != value="" -->
x += <$CC5>;
<!--#endif variable="CC5" -->
<!--#if variable="CC6" != value="" -->
x += <$CC6>;
<!--#endif variable="CC6" -->
<!--#if variable="CC7" != value="" -->
x += <$CC7>;
<!--#endif variable="CC7" -->
<!--#if variable="CC8" != value="" -->
x += <$CC8>;
<!--#endif variable="CC8" -->
<!--#if variable="CC9" != value="" -->
x += <$CC9>;
<!--#endif variable="CC9" -->
document.write(x);
</script>
members in <$NAM>.
</BODY>
</HTML>
