<!-- info/downloadcontact.tmpl -->
<HTML>
<body text="#00DDDD" bgcolor="#000000" link="#00FFFF" vlink="#00FFFF" alink="#00FF00">
<div align=center>
<br>
<br>
<br>
<br>
<font face="Arial" size=+1><b>
To view the 3D worlds of Cybertown you will need to download and install blaxxun Contact.  
Links and installation information are included at the bottom of this page.<br><br>
</b>

<font face="Arial" size=-1>
Having finished the download please close your browser and install the new<br>
software. Then you will be ready to go into the virtual 3D chat. Once in<br> 
3D you will have a virtual 3D body that you can move around and see and<br> 
talk to others in 3D. You can also get a full 3D home and even furnish it!<br>
<br>
<br>
Alternatively you can enter the <a href=place<$g_exe>?plc=<$T_place>&ac=place&DTY=<$T_DTY>&ID=<$T_ID>&force=s target=place>2D Chat</a> without any download needed.
</font>


<br><br>
<center><b><font face="Arial,Helvetica"><font size=+2>Download blaxxun Contact</font></font></b></center>

<p><br>
<center><table BORDER CELLSPACING=0 COLS=1 WIDTH="90%" >
<tr>
<td WIDTH="100%">
<center><b><font face="Arial,Helvetica">Contact direct3D&nbsp; Full Version
with runtime libraries (~4.1 MB)</font></b></center>

<ul>
<li>
<font face="Arial,Helvetica">Recommended for Windows 95/98/XP.&nbsp; This
is a the full install version.&nbsp; If you have an older version of Contact
installed, you can download the upgrade below.&nbsp; If you have never
installed blaxxun Contact on your computer, you must download this version.</font></li>

<li>
<font face="Arial,Helvetica">Download contact <a href="http://www.cybertown.com/info/download/blaxxunContact53.exe">Windows XP(Home/Pro) Here</a>.</font></li>

<li>
<font face="Arial,Helvetica">Download contact <a href="http://www.cybertown.com/info/download/blaxxunContact44_full.exe">Windows 98/SE(using IE5)</a>.</font></li>

<li>
<font face="Arial,Helvetica">All versions for download can also be had from the Cybertown Feedback Tech Support MB <center><a href="http://www.cybertown.com/cgi-bin/cybertown/msb?ac=listhdr&DTY=O&KTY=ID&KEY=9904000000000000&MTY=m" target="_blank">Tech Support MB</a></center><p></font></li>
<ul>
<li>
<i><font face="Arial,Helvetica">To download the file you need to follow
these instructions:&nbsp;</font></i></li>

<li>
<i><font face="Arial,Helvetica">(IE) Right click on the link then click
on "Save Target As"</font></i></li>

<li>
<i><font face="Arial,Helvetica">(Netscape) Hold "Shift" key, then click
on the link&nbsp;</font></i></li>
</ul>

<li>
<font face="Arial,Helvetica">Your browser will ask you for a download location.&nbsp;</font></li>

<li>
<font face="Arial,Helvetica">Remember the download location that you specify.&nbsp;</font></li>

<li>
<font face="Arial,Helvetica">After the transfer is complete, close your browser and run the downloaded
program.&nbsp;</font></li>
</ul>

<center><b><font face="Arial,Helvetica">Notice:</font></b>
<br><font face="Arial,Helvetica">blaxxun Contact uses DirectX 7 which is
available from Microsoft Corp.'s download pages at:</font><font face="Arial,Helvetica"></font>
<p><font face="Arial,Helvetica"><a href="http://www.microsoft.com/directx" target="_new">http://www.microsoft.com/directx</a></font></center>

<br><font face="Arial,Helvetica"><a href="http://www.microsoft.com/directx" target="_new"></a></font>&nbsp;</td>
</tr>
</table></center>

<center><table BORDER CELLSPACING=0 COLS=1 WIDTH="90%" >
<tr>
<td>
<center><b><font face="Arial,Helvetica">Contact direct3D Upgrade Version
with runtime libraries (~2.9 MB)</font></b></center>

<ul>
<li>
<font face="Arial,Helvetica">Recommended for Windows 95/98.&nbsp; This
is a the upgrade version.&nbsp; It is meant for users who have&nbsp; an
older version of Contact installed. If the version of contact on your computer
is more than a year old, it is recommended you download and install the
Full Version above..&nbsp; If you have never installed blaxxun Contact
on your computer, you must download thr Full Version.</font></li>

<li>
<font face="Arial,Helvetica">Download contact <a href="/info/download/blaxxunContact44-UPD.exe">here</a>.</font></li>

<ul>
<li>
<i><font face="Arial,Helvetica">To download the file you need to follow
these instructions:&nbsp;</font></i></li>

<li>
<i><font face="Arial,Helvetica">(IE) Right click on the link then click
on "Save Target As"</font></i></li>

<li>
<i><font face="Arial,Helvetica">(Netscape) Hold "Shift" key, then click
on the link&nbsp;</font></i></li>
</ul>

<li>
<font face="Arial,Helvetica">Your browser will ask you for a download location.&nbsp;</font></li>

<li>
<font face="Arial,Helvetica">Remember the download location that you specify.&nbsp;</font></li>

<li>
<font face="Arial,Helvetica">After the transfer is complete, close your browser and  run the downloaded
program.&nbsp;</font></li>
</ul>

<center><b><font face="Arial,Helvetica">Notice:</font></b>
<br><font face="Arial,Helvetica">blaxxun Contact uses DirectX 7 which is
available from Microsoft Corp.'s download pages at:</font><font face="Arial,Helvetica"></font>
<p><font face="Arial,Helvetica"><a href="http://www.microsoft.com/directx" target="_new">http://www.microsoft.com/directx</a></font></center>
<font face="Arial,Helvetica"></font></td>
</tr>
</table></center>


</body>
</html>
