<!-- htdocs/common/rejected -->
<!--- information for a Jail Bird if he/she is kicked out of jail chat --->
<html>
<head>
<title>Cybertown Exclusion</title>
</head>

<BODY BGCOLOR="#000000" LINK="#00FF00" VLINK="#00FF00" ALINK="#FFFFFF" TEXT="#00ff00">
<font color="#00FF00" face="Arial, Helvetica, sans-serif">


<table width="90%" height="90%">
<tr valign="middle">
	<td align="center"><$g_font><font size="3"><b><$NNM>
      The Jail Guard present and/or Security have ejected you<br>
      from Cybertown Jail. Please take this time to reflect on what you have been doing.<br>
      Repeat offences WILL mean a longer Jail Sentence.<br>
  </td>
</tr>
</table>

</BODY>
</HTML>

