<!-- #ifdef variable="readaccess" -->
<a href="javascript:loadInfo('<$g_HTMLRoot>/places/bank/info.html')" target="_self">
<IMG SRC="<$g_Images>/places/bank/bbankinfo.gif" BORDER=0 ALT="Bank Information"></a><br>

<a href="javascript:loadCustom('print<$g_exe>?TPL=bank/phase1',612,490)" target=_self>
<IMG SRC="<$g_Images>/places/bank/bcashtransfer.gif" BORDER=0 ALT="CityCash Transfer"></a><br>

<a href="javascript:loadCustom('print?DTY=O&ID=<$ID>&TPL=fundbox/phase7',612,490)" target=_self>
<IMG SRC="<$g_Images>/images/buttons/bdonatecash.gif" BORDER=0 ALT="Donate CityCash"></a><br><br>
<!-- #endif variable="readaccess" -->

