<!-- #ifdef variable="readaccess" -->
<a href="http://www.cybertown.com/movies2.html" target=place>
<IMG SRC="<$g_Images>/images/buttons/bportal.gif" BORDER=0 ALT="MoviePlex"></a><br>
<!-- #endif variable="readaccess" -->

<!-- #ifdef variable="owneraccess" -->
<br><a href="javascript:loadInfo('/places/theatre/admin.html')" target="_self">
<FONT face="arial" color="#00FFFF"><B>CHANGE SET</B></FONT></a><br>
<!-- #endif variable="owneraccess" -->

