<!-- #ifdef variable="readaccess" -->
<a href="javascript:loadInfo('<$g_HTMLRoot>/help/objects.html')" target="_self">
<IMG SRC="<$g_Images>/images/buttons/bobjects.gif" BORDER=0 ALT="Shopping + Objects"></a><br>
<!-- #endif variable="readaccess" -->
UPLOAD OFFLINE<br><br>


