<!-- #ifdef variable="readaccess" -->
<a href="javascript:loadInfo('<$g_HTMLRoot>/help/objects.html')" target="_self">
<IMG SRC="<$g_Images>/images/buttons/bobjects.gif" BORDER=0 ALT="Shopping + Objects"></a><br>
<!-- #endif variable="readaccess" -->

<!-- #ifndef variable="UPL_STATUS" value="OFF" -->
<a href="javascript:loadInfo('object<$g_exe>?&ac=uppre')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/bupload.gif" BORDER=0 ALT="Upload"></a><br>
<a href="javascript:loadInfo('object<$g_exe>?&ac=uppre&TPL=object/uploadhold')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/bholds.gif" BORDER=0 ALT="Upload Holds"></a><br>
<!-- #endif variable="UPL_STATUS" -->

<a href="javascript:loadInfo('msb<$g_exe>?DTY=O&KTY=ID&KEY=0000000000010009&MTY=m')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/bacceptlists.gif" BORDER=0 ALT="Accept Lists"></a><br>
<a href="javascript:loadInfo('msb<$g_exe>?DTY=O&KTY=ID&KEY=0000000000020009&MTY=m')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/bdroplists.gif" BORDER=0 ALT="Drop Lists"></a><br>
<a href="javascript:loadInfo('msb<$g_exe>?DTY=O&KTY=ID&KEY=0000000000030009&MTY=m')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/bremoverequests.gif" BORDER=0 ALT="Remove Requests"></a><br>

<br>