<!-- Citizens that have lost posting privileges -->

<!-- #ifdef variable="NNK" value="webbum" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="digital-nation" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="libertythink" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="diane1118" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="ashesflame" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="puppy_dawg" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="ladyliz" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="flannery" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="razriel" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="shadow.mistress" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="salvationpout" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="webbumette" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="toxicfumes" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="whitequeen" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="ladystokely" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="hitman1net" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="cheshirekitty" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="the_kraken" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="the_mistress" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="assims_ghost" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="cybertownjunkie" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="theringmaster" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="cybertownqueen" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="assims_lil_girl" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="assimiltr" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="zone25" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="yammer" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="lovey." -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="seren." -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="deighv" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="NNK" -->


<!-- Citizens that have lost posting privileges (by IP) -->

<!-- #ifdef variable="RIP" value="193.120.102.80" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="24.191.113.155" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="67.28.82.20" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="24.214.152.248" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="24.53.33.29" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="24.167.251.79" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="24.167.252.46" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="199.71.188.22" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="209.39.242.4" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="207.195.107.156" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="66.87.133.188" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="209.39.242.4" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="64.229.43.215" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="64.229.43.57" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="67.251.80.120" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="67.251.80.73" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="67.251.80.5" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="216.51.237.162" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->

<!-- #ifdef variable="RIP" value="152.163.252.131" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="RIP" -->


<!-- Citizens that have lost posting privileges (by IP range) -->

<!-- #define variable="ipcheck11"  substring="<$RIP>,0,11" -->
<!-- #if variable="ipcheck11" == value="24.214.152." -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck11" -->
<!-- #if variable="ipcheck11" == value="67.250.176." -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck11" -->
<!-- #if variable="ipcheck11" == value="67.250.177." -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck11" -->
<!-- #if variable="ipcheck11" == value="67.250.184." -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck11" -->


<!-- #define variable="ipcheck8"  substring="<$RIP>,0,8" -->

<!-- #if variable="ipcheck8" == value="4.33.65." -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck8" -->
<!-- #if variable="ipcheck8" == value="4.65.180" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck8" -->
<!-- #if variable="ipcheck8" == value="4.65.181" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck8" -->
<!-- #if variable="ipcheck8" == value="4.65.182" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck8" -->
<!-- #if variable="ipcheck8" == value="4.65.183" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck8" -->
<!-- #if variable="ipcheck8" == value="4.65.184" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck8" -->
<!-- #if variable="ipcheck8" == value="4.65.185" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck8" -->
<!-- #if variable="ipcheck8" == value="4.65.186" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck8" -->
<!-- #if variable="ipcheck8" == value="4.65.187" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck8" -->
<!-- #if variable="ipcheck8" == value="4.65.188" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck8" -->
<!-- #if variable="ipcheck8" == value="4.65.189" -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck8" -->
<!-- #if variable="ipcheck8" == value="67.3.10." -->
 <!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck8" -->

<!-- #define variable="ipcheck10"  substring="<$RIP>,0,10" -->
<!-- #if variable="ipcheck10" == value="63.36.222." -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck10" -->
<!-- #if variable="ipcheck10" == value="67.250.82." -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck10" -->

<!-- #define variable="ipcheck7"  substring="<$LIP>,0,7" -->
<!-- #if variable="ipcheck7" == value="67.251." -->
	<!-- #define variable="newallowedtopost"  value="0" -->
<!-- #endif variable="ipcheck7" -->