<HTML>
<!-- memberdir/propertydel.tmpl -->
<!-- delete message -->
<HEAD>
	<TITLE><$g_title></TITLE>
</HEAD>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<!-- #if variable="deleteok" == value="0" -->
<H2 ALIGN=center><FONT color=#80ff00>Home successfully deleted!</FONT></H2>
<!-- #else variable="deleteok" == value="0" -->
<H2 ALIGN=center><FONT color=#80ff00>Deleting home failed!</FONT></H2>
<!-- #endif variable="deleteok" == value="0" -->
</BODY>
</HTML>
