<HTML>

<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<!-- place/announce.tmpl -->
<title><$g_title></title>
</HEAD>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<h2 align=center>Announcements</h2>

<p>
<b><$DT0></b>
<br><$TX0>
</p>

<p>
<b><$DT1></b>
<br><$TX1>
</p>

<p>
<b><$DT2></b>
<br><$TX2>
</p>

<p>
<b><$DT3></b>
<br><$TX3>
</p>

<p>
<b><$DT4></b>
<br><$TX4>
</p>

<input type=hidden name="DTY" value="<$DTY>">
<input type=hidden name="KTY" value="<$KTY>">
<input type=hidden name="KEY" value="<$KEY>">
<input type=hidden name="TPL" value="place/updateannounce">
<input type=hidden name="ac" value="read">
<a name=submitbutton></a>
<br>
<center>
<input type=submit name="edit" value=Update>
</center>
</form>

</BODY>
</HTML>
