<!-- place/banners.tmpl -->
<script language="JavaScript1.1">
<!--
var image="";
var banners=0;
function cycle() {
  if (++banners > 10) banners=1;
    loadbanners();
    document.banner1.src = image;
    window.setTimeout('cycle();',15000);
  }
function loadbanners() {
   if (banners==1)
      {
      image="http://www.cybertown.com/comtech/tellfriends.jpg";
      }
   if (banners==2)
      {
      image="http://www.cybertown.com/comtech/ctMinaBanner.gif";
      }
   if (banners==3)
      {
      image="http://www.cybertown.com/comtech/forumsbanner.jpg";
      }
   if (banners==4)
      {
      image="http://ctcolonies.com/Dazzle/CT/city/TMbanr.jpg";
      }
   if (banners==5)
      {
      image="http://www.cybertown.com/comtech/ctposter1.gif";
      }
   if (banners==6)
      {
      image="http://www.cybertown.com/comtech/egbanner2.jpg";
      }
if (banners==7)
      {
      image="http://www.cybertown.com/comtech/freebanner3.jpg";
      }
if (banners==8)
      {
      image="http://www.cybertown.com/comtech/Valbanner3.jpg";
      }
if (banners==9)
      {
      image="http://www.cybertown.com/comtech/cotm.jpg";
      }
   }
//-->
</script>
<script language="JavaScript1.1">
<!--
var link = "http://www.cybertown.com/cgi-bin/cybertown/register"
function urlswitch() {
if (banners==1)
{
link = "javascript:void(open('http://www.cybertown.com/friends/tellfriends.html','3','scrollbars=yes,width=620,height=450'))";
}
if (banners==2)
{
link = "javascript:void(open('http://www.cybertown.com/cgi-bin/cybertown/register','3','scrollbars=yes,width=800,height=600'))";
}
if (banners==3)
{
link = "javascript:void(open('http://ctforums.ctcolonies.com/','3','scrollbars=yes,width=800,height=600'))";
}
if (banners==4)
{
link = "javascript:void(open('http://www.foodkills.org','3','scrollbars=yes,width=800,height=600'))";
}
if (banners==5)
{
link = "javascript:void(open('http://www.cybertown.com/CTPoster.pdf','3','scrollbars=yes,width=800,height=600'))";
}
if (banners==6)
{
link = "javascript:void(open('http://www.evansgarden.com/cmd.php?af=1116597','3','scrollbars=yes,width=800,height=600'))";
}
if (banners==7)
{
link = "javascript:void(open('http://www.cybertown.com/FreeCT.html','3','scrollbars=yes,width=800,height=600'))";
}
if (banners==8)
{
link = "javascript:void(open('http://foodkills.org/valbanner','3','scrollbars=yes,width=800,height=600'))";
}
if (banners==9)
{
link = "javascript:void(open('http://partyline.ctcolonies.com/calendar.htm','3','scrollbars=yes,width=800,height=600'))";
}
return link;
}
//-->
</script>
<!-- end of place/banners.tmpl -->