<!-- place/index2d -->

<!-- #ifndef variable="isVisitor" -->

<!-- #ifdef variable="SEQ" value="" -->
<!-- #include virtual="<$g_Templates>common/securitycheck.tmpl" -->
<!-- #else variable="SEQ" -->

<!-- #define variable="CHKAGE"  value="<$AGE>" -->
<!-- #endif variable="isVisitor" -->

<!-- #ifdef variable="isVisitor" -->
<!-- #define variable="CHKAGE"  value="UNDER18" -->
<!-- #endif variable="isVisitor" -->

<!-- #ifdef variable="CHKAGE" value="" -->

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->
<center>
<title>Cybertown - Civilisation for the Virtual Age</title>
<img src="http://www.cybertown.com/images/ban_ivn128-2.gif">
<p><img src="http://www.cybertown.com/images/ctlogo.gif">
<blockquote><blockquote><p></center>We are building a new system to help further protect our younger residents from exposure to 
unsuitable images or objects and we need you to let us know (just once) if you are under 18 or over 18. 
If the information you provide is incorrect, any material viewed is at your own risk and responsibility and you risk losing your membership.
<p>By selecting 18+ you are confirming that:
<p>&nbsp;1. You are over 18 years of age.
<br>&nbsp;2. You understand that content in a PG-labeled home or Club in Cybertown may involve language, 
content, material, images, objects and themes of a controversial nature that may not be considered suitable 
for a person under 18.
<p><center>Thank you.</blockquote></blockquote>
<p><i>IVN/Cybertown Inc.</i>
<form name="ageform" action="/cgi-bin/cybertown/print60" method="POST">
<input type="hidden" name="TKT" value="<$TKT>">
<input type=hidden name="TPL" value="place/returnplace">
<input type=hidden name="plc" value="<$place>">
<input type=hidden name="NNM" value="<$NNM>">

<INPUT NAME="AGE" TYPE=RADIO VALUE="UNDER18"> Under 18&nbsp;&nbsp;&nbsp;

<INPUT NAME="AGE" TYPE=RADIO VALUE="18PLUS"> 18+

<p><input type=submit name="submit" value="Proceed to Cybertown">
</form>

<!-- #endif variable="CHKAGE" -->


<!-- #ifndef variable="CHKAGE" value="" -->

<!-- #ifdef variable="ID" value="0101000000000000" -->
<!-- #define variable="DTY" value="C" -->
<!-- #endif variable="ID" -->
<!-- #ifdef variable="ID" value="0102000000000000" -->
<!-- #define variable="DTY" value="C" -->
<!-- #endif variable="ID" -->
<!-- #ifdef variable="ID" value="0103000000000000" -->
<!-- #define variable="DTY" value="C" -->
<!-- #endif variable="ID" -->
<!-- #ifdef variable="ID" value="0104000000000000" -->
<!-- #define variable="DTY" value="C" -->
<!-- #endif variable="ID" -->
<!-- #ifdef variable="ID" value="0105000000000000" -->
<!-- #define variable="DTY" value="C" -->
<!-- #endif variable="ID" -->
<!-- #ifdef variable="ID" value="0106000000000000" -->
<!-- #define variable="DTY" value="C" -->
<!-- #endif variable="ID" -->
<!-- #ifdef variable="ID" value="0107000000000000" -->
<!-- #define variable="DTY" value="C" -->
<!-- #endif variable="ID" -->
<!-- #ifdef variable="ID" value="0108000000000000" -->
<!-- #define variable="DTY" value="C" -->
<!-- #endif variable="ID" -->
<!-- #ifdef variable="ID" value="0109000000000000" -->
<!-- #define variable="DTY" value="C" -->
<!-- #endif variable="ID" -->
<!-- #ifdef variable="ID" value="0110000000000000" -->
<!-- #define variable="DTY" value="C" -->
<!-- #endif variable="ID" -->
<!-- #ifdef variable="ID" value="0111000000000000" -->
<!-- #define variable="DTY" value="C" -->
<!-- #endif variable="ID" -->

	<!-- #define variable="NHC" substring="<$ID>,4,8" -->
	<!--#if variable="NHC" != value="0000" -->
		<!-- #define variable="DTY" value="N" -->
	<!-- #endif variable="NHC" -->  
<!-- <$ID> -->
<!-- <$NHC> -->

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html">
	<title><$g_title> - place </title>
	<junk></junk>
<!-- #ifdef variable="DTY" value="N" -->
	
	<script language="javascript">
	window.location.replace("http://www.cybertown.com/cgi-bin/cybertown/neighbor?ID=<$ID>");
	</script>
<!-- #endif variable="DTY" -->  	
<!-- #include virtual="<$g_Templates>message/imsg.tmpl" -->
</head>

<!-- #ifndef variable="ID" value="00000000000009fe" -->
	<!-- #ifndef variable="ID" value="00000000000009ff" -->
		<frameset rows="70,100%,*,*" border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
  		<frame name="top" src="place<$g_exe>?ac=menu&plc=<$place>&ID=<$ID>&DTY=<$DTY>&home=1" scrolling="auto" noresize border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
  		<frameset cols="*,185" border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>

		<!-- #ifndef variable="DTY" value="C" -->    
		    <frame name="place" src="place<$g_exe>?ac=place&plc=<$place>&ID=<$ID>&DTY=<$DTY>&force=s&T_PASS=<$T_PASS>" scrolling="auto" noresize border=0>
		<!-- #endif variable="DTY" -->  
		<!-- #ifdef variable="DTY" value="C" -->
      	<frame name="place" src="community<$g_exe>?ac=place&ID=<$ID>&DTY=C" scrolling="auto" noresize>
		<!-- #endif variable="DTY" -->  

		   <frameset rows="54,*" border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
	      <frame name="date" src="<$g_HTMLRoot>/blank.html" scrolling="no" noresize border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
      	<frame name="action" src="place<$g_exe>?ac=action&plc=<$place>&ID=<$ID>&DTY=<$DTY>" scrolling="auto" noresize>
  		  	</frameset>
  		</frameset>
 		<!-- #include virtual="<$g_Templates>common/hiddenframes.tmpl" -->
		</frameset>
	<!-- #endif variable="ID" -->
<!-- #endif variable="ID" -->

<!-- #ifdef variable="ID" value="00000000000009fe" -->
	<!-- #ifdef variable="T_PASS" value="cheerleadersfromhellandbeyondattack" -->
		<frameset rows="70,100%,*,*" border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
  		<frame name="top" src="place<$g_exe>?ac=menu&plc=<$place>&ID=<$ID>&DTY=<$DTY>&home=1" scrolling="auto" noresize border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
		<frameset cols="*,185" border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>

		<!-- #ifndef variable="DTY" value="C" -->    
	    	<frame name="place" src="place<$g_exe>?ac=place&plc=<$place>&ID=<$ID>&DTY=<$DTY>&force=s&T_PASS=<$T_PASS>" scrolling="auto" noresize border=0>
		<!-- #endif variable="DTY" -->  
		<!-- #ifdef variable="DTY" value="C" -->
	      <frame name="place" src="community<$g_exe>?ac=place&ID=<$ID>&DTY=C&T_PASS=<$T_PASS>" scrolling="auto" noresize>
		<!-- #endif variable="DTY" -->  

	   <frameset rows="54,*" border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
	      <frame name="date" src="<$g_HTMLRoot>/blank.html" scrolling="no" noresize border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
	      <frame name="action" src="place<$g_exe>?ac=action&plc=<$place>&ID=<$ID>&DTY=<$DTY>" scrolling="auto" noresize>
	   </frameset>
	  	</frameset>
		 <!-- #include virtual="<$g_Templates>common/hiddenframes.tmpl" -->
		</frameset>
	<!-- #endif variable="T_PASS" -->
	<!-- #ifndef variable="T_PASS" value="cheerleadersfromhellandbeyondattack" -->
		Access denied. 
	<!-- #endif variable="T_PASS" -->

<!-- #endif variable="ID" -->

<!-- #ifdef variable="ID" value="00000000000009ff" -->
	<!-- #ifdef variable="T_PASS" value="cheerleadersfromhellandbeyondattack" -->
		<frameset rows="70,100%,*,*" border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
	  		<frame name="top" src="place<$g_exe>?ac=menu&plc=<$place>&ID=<$ID>&DTY=<$DTY>&home=1" scrolling="auto" noresize border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
			  <frameset cols="*,185" border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>

		<!-- #ifndef variable="DTY" value="C" -->    
			    <frame name="place" src="place<$g_exe>?ac=place&plc=<$place>&ID=<$ID>&DTY=<$DTY>&force=s&T_PASS=<$T_PASS>" scrolling="auto" noresize border=0>
		<!-- #endif variable="DTY" -->  
		<!-- #ifdef variable="DTY" value="C" -->
		      <frame name="place" src="community<$g_exe>?ac=place&ID=<$ID>&DTY=C&T_PASS=<$T_PASS>" scrolling="auto" noresize>
		<!-- #endif variable="DTY" -->  

		    <frameset rows="54,*" border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
		      <frame name="date" src="<$g_HTMLRoot>/blank.html" scrolling="no" noresize border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
	      <frame name="action" src="place<$g_exe>?ac=action&plc=<$place>&ID=<$ID>&DTY=<$DTY>" scrolling="auto" noresize>
	    </frameset>
	  </frameset>
		 <!-- #include virtual="<$g_Templates>common/hiddenframes.tmpl" -->
		</frameset>
	<!-- #endif variable="T_PASS" -->
	<!-- #ifndef variable="T_PASS" value="cheerleadersfromhellandbeyondattack" -->
		Access denied.. 
	<!-- #endif variable="T_PASS" -->

<!-- #endif variable="ID" -->
</html>
<!-- #endif variable="CHKAGE" -->

<!-- #endif variable="SEQ" -->



