<!-- #ifndef variable="ID" value="00000000000009fe" -->
<!-- #ifndef variable="ID" value="00000000000009ff" -->
<!-- #ifndef variable="ID" value="00000000000044fe" -->
<!-- #ifndef variable="ID" value="00000000000044ef" -->
	<!-- #include virtual="<$g_Templates>place/placenormal.tmpl" -->
<!-- #endif variable="ID" -->
<!-- #endif variable="ID" -->
<!-- #endif variable="ID" -->
<!-- #endif variable="ID" -->

<!-- #ifdef variable="ID" value="00000000000009fe" -->
<!-- #ifdef variable="T_PASS" value="TeXa$1sAWInD33pLac3" -->
	<!-- #include virtual="<$g_Templates>place/placenormal.tmpl" -->
<!-- #endif variable="T_PASS" -->
<!-- #ifndef variable="T_PASS" value="TeXa$1sAWInD33pLac3" -->
Access denied.
<!-- #endif variable="T_PASS" -->

<!-- #endif variable="ID" -->

<!-- #ifdef variable="ID" value="00000000000009ff" -->
<!-- #ifdef variable="T_PASS" value="TeXa$1sAWInD33pLac3" -->
	<!-- #include virtual="<$g_Templates>place/placenormal.tmpl" -->
<!-- #endif variable="T_PASS" -->
<!-- #ifndef variable="T_PASS" value="TeXa$1sAWInD33pLac3" -->
Access denied.
<!-- #endif variable="T_PASS" -->

<!-- #endif variable="ID" -->

<!-- #ifdef variable="ID" value="00000000000044fe" -->
<!-- #ifdef variable="T_PASS" value="thisisareallylongpassword" -->
	<!-- #include virtual="<$g_Templates>place/placenormal.tmpl" -->
<!-- #endif variable="T_PASS" -->
<!-- #ifndef variable="T_PASS" value="thisisareallylongpassword" -->
Access denied.
<!-- #endif variable="T_PASS" -->

<!-- #endif variable="ID" -->

<!-- #ifdef variable="ID" value="00000000000044ef" -->
<!-- #ifdef variable="T_PASS" value="thisisareallylongpassword" -->
	<!-- #include virtual="<$g_Templates>place/placenormal.tmpl" -->
<!-- #endif variable="T_PASS" -->
<!-- #ifndef variable="T_PASS" value="thisisareallylongpassword" -->
Access denied.
<!-- #endif variable="T_PASS" -->

<!-- #endif variable="ID" -->
