<frameset rows="60%,40%,*" border=0 marginheight=0 marginwidth=0>
	<frame name="World" src="place<$g_exe>?plc=<$place>&DTY=<$DTY>&ID=<$ID>&ac=print&tpl=place/contact3d" scrolling="no" noresize border=0 marginheight=5 marginwidth=20>
	<frame name="CCpro" src="place?plc=<$place>&DTY=<$DTY>&ID=<$ID>&ac=3D&IE=x.bxx" scrolling="no" border=0 marginheight=0 marginwidth=3>
	<frame name="audio" src="<$g_HTMLRoot>/common/blank.htm" scrolling="no" noresize border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
</frameset>
