<map name="htoday">
<area shape="rect" coords="258,314,309,379" href="http://hi-tek.ctcolonies.com/feedback/" target="_blank" alt="Feedback" >
<area shape="rect" coords="199,311,257,379" href="http://hi-tek.ctcolonies.com/houses/" target="_blank" alt="Houses" >
<area shape="rect" coords="146,311,196,378" href="http://hi-tek.ctcolonies.com/services/" target="_blank" alt="Services" >
<area shape="rect" coords="72,311,143,379" href="http://hi-tek.ctcolonies.com/immigrate/" target="_blank" alt="Immigration" >
<area shape="rect" coords="4,310,68,380" href="http://hi-tek.ctcolonies.com/application/" target="_blank" alt="Employment" >
</map>
