<a href="javascript:loadInfo('/places/ent_complex/rahelp.html')" target=_self>
<IMG SRC="/places/ent_complex/images/rahelp.gif" BORDER=0 ALT="RealPlayer Help"></a><br>
<!-- #ifdef variable="readaccess" -->
<a href="/entcent2.html" target=place>
<IMG SRC="<$g_Images>/images/buttons/bportal.gif" BORDER=0 ALT="Portal"></a><br>
<!-- #endif variable="readaccess" -->

<!-- #ifdef variable="isAdmin" -->
<br><a href="javascript:loadInfo('<$g_HTMLRoot>/places/ctmediavpod/admin.html')" target="_self">Edit Movies</a>
<!-- #endif variable="isAdmin" -->

