<SCRIPT LANGUAGE="JavaScript">  
function stopMovie(){
 document.embeds[0].DoStop();
 document.embeds[0].SetSource("/places/ctmediavpod/ctmediavpod.rpm");
 document.embeds[0].DoPlay();
}
</SCRIPT> 