

<div align=center>
<table align=center border=0 cellspacing=0 cellpadding=0 bgcolor="#000000">
<tr><td colspan=3 align=center><IMG SRC="<$g_HTMLRoot>/places/ctmediavpod/images/top_image.jpg" BORDER=0 ALT=""></td></tr>
<tr><td align=right width=144 valign=bottom><IMG SRC="<$g_HTMLRoot>/places/ctmediavpod/images/left_image.jpg" BORDER=0 ALT=""></td>
<td align=right valign=bottom width=160>
<embed src="<$g_HTMLRoot>/places/ctmediavpod/ctmediavpod.rpm" width=160 height=120 controls=ImageWindow autostart=true console=Clip2 name="REAL" nologo=true>
<table BORDER=0 CELLSPACING=0 CELLPADDING=0 COLS=2 WIDTH="100%" >
<tr>
<td ALIGN=LEFT><font size=-2 face="arial">
<a href="javascript:loadCustom('/cgi-bin/cybertown/admin2/ctmediavpod/movie.pl?ac=2D',300,500)" target="action"><left>SELECT</left></a><br>
</font></td>
<td ALIGN=RIGHT><font size=-2 face="arial">
<a href="javascript:stopMovie()" target="_self"><right>STOP</right></a>
</font></td>
</tr>
</table>

<!-- <embed src="<$g_HTMLRoot>/places/ctmediavpod/ctmediavpod.rpm" width=160 height=25 controls=ControlPanel autostart=false console=Clip2> -->

</td><td align=left width=165 valign=bottom><IMG SRC="<$g_HTMLRoot>/places/ctmediavpod/images/right_image.jpg" BORDER=0 ALT=""></td></tr>
<tr><td colspan=3 align=center><IMG SRC="<$g_HTMLRoot>/places/ctmediavpod/images/bottom_image.jpg" BORDER=0 ALT=""></td></tr>
</table>
<br>

<font face="arial">To start a movie, click the SELECT button</font><br>





