 <frame name="HTML" src="http://www.cybertown.com/homebuilder/blank.html" noresize scrolling="no" border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
 <frame name="refresh" src="http://www.cybertown.com/homebuilder/blank.html" noresize scrolling="no" border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
