<!-- museum/middle.tmpl -->
<BODY BACKGROUND="http://ivnwww.cybertown.com/places/museum/images/background.jpg" LINK="#333333" VLINK="#333333" ALINK="#333333" TEXT="#333333">
<font face="arial" size=-1 color="#000000">Please select the museum display room you would like to visit from the selection below.<br>
<form name="navbar">
<select name="jumpgate" size="1" onchange="jumpreset(this.options, this.options[this.selectedIndex].value)">
<option value="" selected>Museum Room Selector</option> 
<option value="">-----------------------</option>
<option value="top place<$g_exe>?ID=0000000000000045&plc=museum&ac=index2d">Museum Lobby</option>
<option value="top place<$g_exe>?ID=0000000000004501&plc=musroom1&ac=index2d">Medieval Collection</option>
<option value="top place<$g_exe>?ID=0000000000004502&plc=musroom2&ac=index2d">Egyptian Collection</option>
<option value="top place<$g_exe>?ID=0000000000004503&plc=musroom3&ac=index2d">Oriental Collection</option>
<option value="top place<$g_exe>?ID=0000000000004504&plc=musroom4&ac=index2d">Native Peoples Collection</option>
<option value="top place<$g_exe>?ID=0000000000004505&plc=musroom5&ac=index2d">Fantasy Collection</option>
<option value="top place<$g_exe>?ID=0000000000004506&plc=musroom6&ac=index2d">Outer Space Collection</option>
<option value="top place<$g_exe>?ID=0000000000004507&plc=musroom7&ac=index2d">Fine Art Collection</option>
<option value="top place<$g_exe>?ID=0000000000004508&plc=musroom8&ac=index2d">Ancient World Collection</option>
<option value="">-----------------------</option>
</select>
</form>
<br>
<LINK REL="stylesheet" TYPE="text/css" HREF="http://www.cybertown.com/places/museum/museum.css"></LINK>
