<html>
<head>
<title>Cybertown - Designer Home Check</title>
</head>

<!-- object/deshomes/list.tmpl -->

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<div align=center>
<h2>Unchecked Homes</h2>

<table border=1>

<!--#for loopname="objectlist" loopvars="OID,ONAM" -->
<tr>
<td>
<$ONAM>
</td>
<td>
<!-- #ifdef variable="OIMG" -->
<!-- thumbnails removed by Chris topo much download <IMG SRC="<$OIMG>" HEIGHT=32> -->
<!-- #endif variable="OIMG" -->
</td>
<td>
<!--#for loopname="actionlist" loopvars="actionNAM" -->
<!--#ifdef variable="actionNAM" value="aTAK" -->
<a href="edit<$g_exe>?KEY=<$OID>&TPL=object/deshomes/check">
<IMG SRC="<$g_Images>/images/buttons/bcheck.gif" BORDER=0 ALT="Check"></a>
<!--#endif variable="actionNAM" -->
<!--#endfor loopname="actionlist"  -->
</td>
</tr>
<!--#endfor loopname="objectlist"  -->

</table>


</div>
<script language=javascript>
focus();
</script>
</body>
</html>


