<!-- object/deshomes/reject3 -->
<HTML>
<HEAD>
<!-- #include virtual="<$g_Templates>common/loadinfo.tmpl" -->
</HEAD>
</body>
<form name="bform" action="/cgi-bin/cybertown/object" method="POST">
<input type="hidden" name="TKT" value="<$TKT>"> 
<input type="hidden" name="ac" value="list">
<input type="hidden" name="TPL" value="object/deshomes/list">
<input type="hidden" name="actions" value="1">
<input type="hidden" name="ZON" value="p00000000000044ef">
</form>
<script language=javascript>
document.bform.submit();
</script>

</html>
