<!-- nightclub/head.tmlp -->
<!-- #ifdef variable="chatpro" -->
 <script language=javascript> parent.action.location = "place<$g_exe>?ac=action&plc=<$place>&ID=<$ID>"; </script>
<!-- #endif variable="chatpro" -->