<script language=javascript>parent.action.location = "place<$g_exe>?ac=action&plc=<$place>&ID=<$ID>&T_showmusic=yes";</script>
<a href="javascript:jump('top place?plc=yesmate');" target=_self>
<img src="<$g_HTMLRoot>/places/nightclub/images/ym_vpod_icon2.jpg" border=0 alt="Enter the Yesmate vPod"></a><br>

