<MAP Name="imgmap">
	<AREA Shape="rect" coords = "0,200,124,225"  HREF="place<$g_exe>?plc=waterpark" target=_top ALT="Water Park">
	<AREA Shape="rect" coords = "125,200,250,225"  HREF="place<$g_exe>?plc=themepark" target=_top ALT="Theme Park">
  <AREA Shape="rect" coords = "420,170,530,220"  HREF="place<$g_exe>?plc=pool" target=_top ALT="Pool">
</MAP>