<!-- #ifdef variable="ID" value="0107000000000000" -->
<!-- #include virtual="<$g_Templates>mothership/action.tmpl" -->
<!-- #endif variable="ID" -->
<!-- #ifndef variable="ID" value="0107000000000000" -->
<!-- #include virtual="<$g_Templates>community/action2.tmpl" -->
<!-- #endif variable="ID" -->
