<html>
<head>
<title><$g_title></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<!-- community/colonies.tmpl --> 
<meta http-equiv="Content-Type" content="text/html">
<base target="_top">
</head>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<font face="Arial, Helvetica, sans-serif" size=-1> 

<table width="500" border="0" cellpadding="10" align="center">
  <tr align="center" valign="top"> 
    <td colspan="2" height="60"> 
      <div align=center> <img src="<$g_Images>/images/colonies.gif" border=0> 
        <br>
        <font face="Arial, Helvetica, sans-serif" size="2"> <a href="javascript:top.location.href='community?ID=0102000000000000'" target="top">Sci-fi</a> 
        | <a href="javascript:top.location.href='community?ID=0101000000000000'" target="top">Games</a> 
        | <a href="javascript:top.location.href='community?ID=0103000000000000'" target="top">VR 
        Worlds</a> | <a href="javascript:top.location.href='community?ID=0104000000000000'" target="top">Entertainment</a> 
        <br>
        <a href="javascript:top.location.href='community?ID=0105000000000000'" target="top">Inner 
        Realms</a> | <a href="javascript:top.location.href='community?ID=0106000000000000'" target="top">Teens</a> | <a href="javascript:top.location.href='community?ID=0107000000000000'" target="top">Mothership</a></font>
				| <a href="javascript:top.location.href='community?ID=0108000000000000'" target="top">Cyberhood</a></font><br>
        <hr size="1">
      </div>
    </td>
  </tr>
  <tr align="left" valign="top"> 
    <td colspan="2" height="155"> 
      <p>Your Cybertown home includes private chat and a message center, plus 
        you can decorate your 3D home with items from the Cybertown Mall. Follow 
        these easy step by step instructions and you'll be in your 3D home in 
        a few moments. </p>
      <p><b>Note:</b> If you are upgrading from your current Cybertown home please 
        read these <a href="<$g_HTMLRoot>/info/controlpanel/home/instructions.html">instructions</a> 
        first. </p>
      <p><b>Public Service Announcement:</b> In order to keep your homestead, 
        you need to show up in Cybertown on a regular basis. If you plan to be 
        away for more than a month, then <b>please</b> leave a note in your Block 
        Leader's inbox so they won't vaporize your home (seriously!). Block Leaders 
        vaporize abandoned buildings to create space for new residents. </p>
      <p><b>First:</b> Choose a Colony you'd like to live in from a link or image 
        below. </p>
      <hr>
    </td>
  </tr>
  <tr> 
    <td align="left" valign="top" width="224"><b><a href="<$g_HTMLRoot>/home/0102000000000000/find.html">Sci-fi 
      Colony</a></b>: UFOs, fantasy and the paranormal rule here. <br>
      <br>
      <a href="<$g_HTMLRoot>/home/0102000000000000/find.html"> <img src="<$g_HTMLRoot>/home/0102000000000000/icon.jpg" border="0" hspace="5" alt="Science Fiction Colony"></a></td>
    <td valign="top" width="230"><b><a href="<$g_HTMLRoot>/home/0101000000000000/find.html">Games 
      Colony</a></b>: For those into games and interactive adventure sites.<br>
      <br>
      <a href="<$g_HTMLRoot>/home/0101000000000000/find.html"> <img src="<$g_HTMLRoot>/home/0101000000000000/icon.jpg" hspace="5" alt="Games Colony" border="0"></a></td>
  </tr>
  <tr> 
    <td align="left" valign="top" height="46" width="224"> 
      <p><b><a href="<$g_HTMLRoot>/home/0103000000000000/find.html">VR Worlds Colony</a></b>: 
        Escape deeper into virtual reality. Ahhh.... ...escapism.<br>
        <br>
        <a href="<$g_HTMLRoot>/home/0103000000000000/find.html"> <img src="<$g_HTMLRoot>/home/0103000000000000/icon.jpg" hspace="5" alt="Virtual Worlds" border="0"></a> 
      </p>
    </td>
    <td height="46" align="left" valign="top" width="230"><b> <a href="<$g_HTMLRoot>/home/0104000000000000/find.html">Entertainment 
      Colony</a></b>: Home to TV junkies, movie fanatics and music lovers.<br>
      <br>
      <a href="<$g_HTMLRoot>/home/0104000000000000/find.html"> <img src="<$g_HTMLRoot>/home/0104000000000000/icon.jpg" hspace="5" alt="Entertainment Colony" border="0"></a></td>
  </tr>
  <tr> 
    <td align="left" valign="top" height="46" width="224">
      <p><b><a href="<$g_HTMLRoot>/home/0105000000000000/find.html">Inner Realms</a></b>: For 
        those seeking personal paths to spiritual awareness.<br>
        <br>
        <a href="<$g_HTMLRoot>/home/0105000000000000/find.html"> <img src="<$g_HTMLRoot>/home/0105000000000000/icon.jpg" hspace="5" alt="Inner Realms" border="0"></a> 
      </p>
    </td>
    <td height="46" align="left" valign="top" width="230">
      <p><a href="<$g_HTMLRoot>/home/0106000000000000/find.html"> <b>Teen Colony</b></a>: A 
        most excellent place for teens. </p>
      <p><a href="<$g_HTMLRoot>/home/0106000000000000/find.html">
<img src="<$g_HTMLRoot>/home/0106000000000000/icon2.jpg" width="208" height="90" hspace="5" alt="Teen Colony" border="0"></a></p>
    </td>
  </tr>
  <tr> 
    <td align="left" valign="top" height="46" width="224"> 
      <p><a href="<$g_HTMLRoot>/home/0107000000000000/find.html"><b>Mothership Colony</b></a>: 
        Centropolis sponsored Colony for the discriminating Sci-fi fan.</p>
      <p><a href="<$g_HTMLRoot>/home/0107000000000000/find.html"><img src="<$g_HTMLRoot>/home/0107000000000000/icon.jpg" hspace="5" alt="Mothership Colony" border="0"></a><br>
      </p>
    </td>
    <td height="46" align="left" valign="top" width="230">
      <p><a href="<$g_HTMLRoot>/home/0108000000000000/find.html"> <b>Cyberhood Colony</b></a>: The dark side of town where the Morphs and the rebels hang out.
  </p>
      <p><a href="<$g_HTMLRoot>/home/0108000000000000/find.html">
<img src="<$g_HTMLRoot>/home/0108000000000000/icon.jpg"  hspace="5" alt="Cyberhood Colony" border="0"></a></p>
    </td>
  </tr>
  <tr align="center"> 
    <td valign="top" height="2" colspan="2"> 
      <hr size="1">
      <a href="<$g_HTMLRoot>/info/controlpanel/index.html"><img src="<$g_HTMLRoot>/info/controlpanel/buttons/howdoi.gif" width="116" height="16" border="0" alt="How Do I? index"></a> 
      <center>
        <form>
          <input type="button" value="  BACK  " onClick="history.go(-1)" name="button">
        </form>
      </center>
    </td>
  </tr>
</table>
</font> 
</body>
</html>
