<!-- #ifdef variable="ID" value="0107000000000000" -->
<!-- #include virtual="<$g_Templates>mothership/index.tmpl" -->
<!-- #endif variable="ID" -->

<!-- #ifndef variable="ID" value="0107000000000000" -->
<!-- #include virtual="<$g_Templates>community/index2.tmpl" -->
<!-- #endif variable="ID" -->


