<!-- community/place.tmpl -->
<!-- #ifdef variable="ID" value="0107000000000000" -->
<!-- #include virtual="<$g_Templates>mothership/colony.tmpl" -->
<!-- #endif variable="ID" -->
<!-- #ifndef variable="ID" value="0107000000000000" -->
<!-- #include virtual="<$g_Templates>community/place2.tmpl" -->
<!-- #endif variable="ID" -->
