<html>
<head>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
</head>

<frameset cols="*,185" border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
	<frame name="place" src="community<$g_exe>?ac=place&ID=<$ID>" scrolling="auto" noresize>
	<frame name="actionfs" src="community<$g_exe>?ac=actionfs&ID=<$ID>" scrolling="auto" noresize>
</frameset>
</html>
