<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
</HEAD>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<div align=center>
<!-- #ifndef variable="isVisitor" -->
<small>Click a Neighborhood on the Colony map to get your home!</small><br>
<!-- #endif variable="isVisitor" -->
<!-- #ifdef variable="isVisitor" -->
<small>Become a member ('JOIN NOW') to get your own home, click 'MAP' to enter other places!!</small><br>
<!-- #endif variable="isVisitor" -->
</div>

<!-- #include virtual="<$g_Templates>common/placefooter.tmpl" -->

<BODY>
</HTML>
