<!-- community/present_hi-tek.tmpl -->
<div align=center>
<IMG SRC="<$g_HTMLRoot>/home/<$commid>/community.jpg" ALIGN="center" BORDER="0" USEMAP="#map">
</div>

<MAP Name="map">
<!-- row 1 -->
<!-- #ifdef variable="id0101" -->
<AREA Shape="rect" coords = "140,67,192,94" HREF="neighbor<$g_exe>?ID=<$id0101>" target=_top ALT="<$name0101>" onMouseOver="window.status='<$name0101>'; return true;" onMouseOut="window.status=''; return true;">
<!-- #endif variable="id0101" -->
<!-- #ifdef variable="id0102" -->
<AREA Shape="rect" coords = "196,73,238,95" HREF="neighbor<$g_exe>?ID=<$id0102>" target=_top ALT="<$name0102>" onMouseOver="window.status='<$name0102>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0102" -->
<!-- #ifdef variable="id0103" -->
<AREA Shape="rect" coords = "243,72,283,93" HREF="neighbor<$g_exe>?ID=<$id0103>" target=_top ALT="<$name0103>" onMouseOver="window.status='<$name0103>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0103" -->
<!-- #ifdef variable="id0104" -->
<AREA Shape="rect" coords = "287,71,328,94" HREF="neighbor<$g_exe>?ID=<$id0104>" target=_top ALT="<$name0104>" onMouseOver="window.status='<$name0104>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0104" -->
<!-- #ifdef variable="id0105" -->
<AREA Shape="rect" coords = "330,71,371,94" HREF="neighbor<$g_exe>?ID=<$id0105>" target=_top ALT="<$name0105>" onMouseOver="window.status='<$name0105>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0105" -->
<!-- #ifdef variable="id0106" -->
<AREA Shape="rect" coords = "376,74,413,94" HREF="neighbor<$g_exe>?ID=<$id0106>" target=_top ALT="<$name0106>" onMouseOver="window.status='<$name0106>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0106" -->
<!-- #ifdef variable="id0107" -->
<AREA Shape="rect" coords = "421,71,458,93" HREF="neighbor<$g_exe>?ID=<$id0107>" target=_top ALT="<$name0107>" onMouseOver="window.status='<$name0107>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0107" -->
<!-- #ifdef variable="id0108" -->
<AREA Shape="rect" coords = "465,70,505,96" HREF="neighbor<$g_exe>?ID=<$id0108>" target=_top ALT="<$name0108>" onMouseOver="window.status='<$name0108>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0108" -->

<!-- row 2 -->
<!-- #ifdef variable="id0201" -->
<AREA Shape="rect" coords = "135,97,183,120" HREF="neighbor<$g_exe>?ID=<$id0201>" target=_top ALT="<$name0201>" onMouseOver="window.status='<$name0201>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0201" -->
<!-- #ifdef variable="id0202" -->
<AREA Shape="rect" coords = "186,99,230,118" HREF="neighbor<$g_exe>?ID=<$id0202>" target=_top ALT="<$name0202>" onMouseOver="window.status='<$name0202>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0202" -->
<!-- #ifdef variable="id0203" -->
<AREA Shape="rect" coords = "237,97,277,118" HREF="neighbor<$g_exe>?ID=<$id0203>" target=_top ALT="<$name0203>" onMouseOver="window.status='<$name0203>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0203" -->
<!-- #ifdef variable="id0204" -->
<AREA Shape="rect" coords = "281,97,324,118" HREF="neighbor<$g_exe>?ID=<$id0204>" target=_top ALT="<$name0204>" onMouseOver="window.status='<$name0204>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0204" -->
<!-- #ifdef variable="id0205" -->
<AREA Shape="rect" coords = "334,96,372,118" HREF="neighbor<$g_exe>?ID=<$id0205>" target=_top ALT="<$name0205>" onMouseOver="window.status='<$name0205>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0205" -->
<!-- #ifdef variable="id0206" -->
<AREA Shape="rect" coords = "381,98,420,119" HREF="neighbor<$g_exe>?ID=<$id0206>" target=_top ALT="<$name0206>" onMouseOver="window.status='<$name0206>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0206" -->
<!-- #ifdef variable="id0207" -->
<AREA Shape="rect" coords = "428,95,472,117" HREF="neighbor<$g_exe>?ID=<$id0207>" target=_top ALT="<$name0207>" onMouseOver="window.status='<$name0207>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0207" -->
<!-- #ifdef variable="id0208" -->
<AREA Shape="rect" coords = "481,96,518,118" HREF="neighbor<$g_exe>?ID=<$id0208>" target=_top ALT="<$name0208>" onMouseOver="window.status='<$name0208>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0208" -->

<!-- row 3 -->
<!-- #ifdef variable="id0301" -->
<AREA Shape="rect" coords = "119,122,160,147" HREF="neighbor<$g_exe>?ID=<$id0301>" target=_top ALT="<$name0301>" onMouseOver="window.status='<$name0301>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0301" -->
<!-- #ifdef variable="id0302" -->
<AREA Shape="rect" coords = "166,122,222,147" HREF="neighbor<$g_exe>?ID=<$id0302>" target=_top ALT="<$name0302>" onMouseOver="window.status='<$name0302>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0302" -->
<!-- #ifdef variable="id0303" -->
<AREA Shape="rect" coords = "224,121,271,146" HREF="neighbor<$g_exe>?ID=<$id0303>" target=_top ALT="<$name0303>" onMouseOver="window.status='<$name0303>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0303" -->
<!-- #ifdef variable="id0304" -->
<AREA Shape="rect" coords = "277,123,323,150" HREF="neighbor<$g_exe>?ID=<$id0304>" target=_top ALT="<$name0304>" onMouseOver="window.status='<$name0304>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0304" -->
<!-- #ifdef variable="id0305" -->
<AREA Shape="rect" coords = "334,121,374,150" HREF="neighbor<$g_exe>?ID=<$id0305>" target=_top ALT="<$name0305>" onMouseOver="window.status='<$name0305>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0305" -->
<!-- #ifdef variable="id0306" -->
<AREA Shape="rect" coords = "384,119,433,149" HREF="neighbor<$g_exe>?ID=<$id0306>" target=_top ALT="<$name0306>" onMouseOver="window.status='<$name0306>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0306" -->
<!-- #ifdef variable="id0307" -->
<AREA Shape="rect" coords = "437,122,489,148" HREF="neighbor<$g_exe>?ID=<$id0307>" target=_top ALT="<$name0307>" onMouseOver="window.status='<$name0307>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0307" -->
<!-- #ifdef variable="id0308" -->
<AREA Shape="rect" coords = "493,122,550,150" HREF="neighbor<$g_exe>?ID=<$id0308>" target=_top ALT="<$name0308>" onMouseOver="window.status='<$name0308>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0308" -->

<!-- row 4 -->
<!-- #ifdef variable="id0401" -->
<AREA Shape="rect" coords = "80,151,146,185" HREF="neighbor<$g_exe>?ID=<$id0401>" target=_top ALT="<$name0401>" onMouseOver="window.status='<$name0401>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0401" -->
<!-- #ifdef variable="id0402" -->
<AREA Shape="rect" coords = "158,152,199,187" HREF="neighbor<$g_exe>?ID=<$id0402>" target=_top ALT="<$name0402>" onMouseOver="window.status='<$name0402>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0402" -->
<!-- #ifdef variable="id0403" -->
<AREA Shape="rect" coords = "214,151,265,187" HREF="neighbor<$g_exe>?ID=<$id0403>" target=_top ALT="<$name0403>" onMouseOver="window.status='<$name0403>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0403" -->
<!-- #ifdef variable="id0404" -->
<AREA Shape="rect" coords = "273,154,323,186" HREF="neighbor<$g_exe>?ID=<$id0404>" target=_top ALT="<$name0404>" onMouseOver="window.status='<$name0404>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0404" -->
<!-- #ifdef variable="id0405" -->
<AREA Shape="rect" coords = "331,154,385,187" HREF="neighbor<$g_exe>?ID=<$id0405>" target=_top ALT="<$name0405>" onMouseOver="window.status='<$name0405>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0405" -->
<!-- #ifdef variable="id0406" -->
<AREA Shape="rect" coords = "389,151,446,188" HREF="neighbor<$g_exe>?ID=<$id0406>" target=_top ALT="<$name0406>" onMouseOver="window.status='<$name0406>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0406" -->
<!-- #ifdef variable="id0407" -->
<AREA Shape="rect" coords = "450,152,510,188" HREF="neighbor<$g_exe>?ID=<$id0407>" target=_top ALT="<$name0407>" onMouseOver="window.status='<$name0407>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0407" -->
<!-- #ifdef variable="id0408" -->
<AREA Shape="rect" coords = "510,154,568,189" HREF="neighbor<$g_exe>?ID=<$id0408>" target=_top ALT="<$name0408>" onMouseOver="window.status='<$name0408>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0408" -->

<!-- row 5 -->
<!-- #ifdef variable="id0501" -->
<AREA Shape="rect" coords = "75,192,123,220" HREF="neighbor<$g_exe>?ID=<$id0501>" target=_top ALT="<$name0501>" onMouseOver="window.status='<$name0501>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0501" -->
<!-- #ifdef variable="id0502" -->
<AREA Shape="rect" coords = "133,193,190,223" HREF="neighbor<$g_exe>?ID=<$id0502>" target=_top ALT="<$name0502>" onMouseOver="window.status='<$name0502>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0502" -->
<!-- #ifdef variable="id0503" -->
<AREA Shape="rect" coords = "203,195,256,224" HREF="neighbor<$g_exe>?ID=<$id0503>" target=_top ALT="<$name0503>" onMouseOver="window.status='<$name0503>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0503" -->
<!-- #ifdef variable="id0504" -->
<AREA Shape="rect" coords = "267,195,322,226" HREF="neighbor<$g_exe>?ID=<$id0504>" target=_top ALT="<$name0504>" onMouseOver="window.status='<$name0504>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0504" -->
<!-- #ifdef variable="id0505" -->
<AREA Shape="rect" coords = "332,194,392,226" HREF="neighbor<$g_exe>?ID=<$id0505>" target=_top ALT="<$name0505>" onMouseOver="window.status='<$name0505>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0505" -->

<!-- CVN Link -->
<AREA Shape="rect" coords = "400,196,431,215" HREF="javascript:loadInfo('/places/news/magazine/dailynews/index.html')" target="_self" ALT="CVN">

<!-- My House Link -->
<AREA Shape="rect" coords = "447,195,473,222" HREF="property?ac=myhouse" ALT="My House" target="_top" >

<!-- Starport 3D Link -->
<AREA Shape="rect" coords = "489,197,587,217" HREF="place?ac=place&DTY=C&ID=0110000000000000&force=p" target="place" ALT="Starport (3D)" >


</MAP>


