<!-- community/present_campus.tmpl -->
<div align=center>
<IMG SRC="<$g_HTMLRoot>/home/<$commid>/community.jpg" ALIGN="center" BORDER="0" USEMAP="#map">
</div>

<MAP Name="map">
<!-- row 1 -->
<!-- #ifdef variable="id0101" -->
<AREA Shape="rect" coords = "124, 85, 168, 109" HREF="neighbor<$g_exe>?ID=<$id0101>" target=_top ALT="<$name0101>" onMouseOver="window.status='<$name0101>'; return true;" onMouseOut="window.status=''; return true;">
<!-- #endif variable="id0101" -->
<!-- #ifdef variable="id0102" -->
<AREA Shape="rect" coords = "171, 85, 213, 109" HREF="neighbor<$g_exe>?ID=<$id0102>" target=_top ALT="<$name0102>" onMouseOver="window.status='<$name0102>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0102" -->
<!-- #ifdef variable="id0103" -->
<AREA Shape="rect" coords = "214, 85, 258, 109" HREF="neighbor<$g_exe>?ID=<$id0103>" target=_top ALT="<$name0103>" onMouseOver="window.status='<$name0103>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0103" -->
<!-- #ifdef variable="id0104" -->
<AREA Shape="rect" coords = "259, 85, 304, 109" HREF="neighbor<$g_exe>?ID=<$id0104>" target=_top ALT="<$name0104>" onMouseOver="window.status='<$name0104>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0104" -->
<!-- #ifdef variable="id0105" -->
<AREA Shape="rect" coords = "305, 85, 349, 109" HREF="neighbor<$g_exe>?ID=<$id0105>" target=_top ALT="<$name0105>" onMouseOver="window.status='<$name0105>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0105" -->
<!-- #ifdef variable="id0106" -->
<AREA Shape="rect" coords = "350, 85, 387, 109" HREF="neighbor<$g_exe>?ID=<$id0106>" target=_top ALT="<$name0106>" onMouseOver="window.status='<$name0106>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0106" -->
<!-- #ifdef variable="id0107" -->
<AREA Shape="rect" coords = "388, 85, 423, 109" HREF="neighbor<$g_exe>?ID=<$id0107>" target=_top ALT="<$name0107>" onMouseOver="window.status='<$name0107>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0107" -->
<!-- #ifdef variable="id0108" -->
<AREA Shape="rect" coords = "424, 85, 463, 109" HREF="neighbor<$g_exe>?ID=<$id0108>" target=_top ALT="<$name0108>" onMouseOver="window.status='<$name0108>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0108" -->

<!-- row 2 -->
<!-- #ifdef variable="id0201" -->
<AREA Shape="rect" coords = "111, 108, 166, 135" HREF="neighbor<$g_exe>?ID=<$id0201>" target=_top ALT="<$name0201>" onMouseOver="window.status='<$name0201>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0201" -->
<!-- #ifdef variable="id0202" -->
<AREA Shape="rect" coords = "167, 108, 208, 135" HREF="neighbor<$g_exe>?ID=<$id0202>" target=_top ALT="<$name0202>" onMouseOver="window.status='<$name0202>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0202" -->
<!-- #ifdef variable="id0203" -->
<AREA Shape="rect" coords = "209, 108, 256, 135" HREF="neighbor<$g_exe>?ID=<$id0203>" target=_top ALT="<$name0203>" onMouseOver="window.status='<$name0203>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0203" -->
<!-- #ifdef variable="id0204" -->
<AREA Shape="rect" coords = "257, 108, 304, 135" HREF="neighbor<$g_exe>?ID=<$id0204>" target=_top ALT="<$name0204>" onMouseOver="window.status='<$name0204>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0204" -->
<!-- #ifdef variable="id0205" -->
<AREA Shape="rect" coords = "305, 108, 348, 135" HREF="neighbor<$g_exe>?ID=<$id0205>" target=_top ALT="<$name0205>" onMouseOver="window.status='<$name0205>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0205" -->
<!-- #ifdef variable="id0206" -->
<AREA Shape="rect" coords = "349, 108, 396, 135" HREF="neighbor<$g_exe>?ID=<$id0206>" target=_top ALT="<$name0206>" onMouseOver="window.status='<$name0206>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0206" -->
<!-- #ifdef variable="id0207" -->
<AREA Shape="rect" coords = "397, 108, 436, 135" HREF="neighbor<$g_exe>?ID=<$id0207>" target=_top ALT="<$name0207>" onMouseOver="window.status='<$name0207>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0207" -->
<!-- #ifdef variable="id0208" -->
<AREA Shape="rect" coords = "438, 108, 482, 135" HREF="neighbor<$g_exe>?ID=<$id0208>" target=_top ALT="<$name0208>" onMouseOver="window.status='<$name0208>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0208" -->

<!-- row 3 -->
<!-- #ifdef variable="id0301" -->
<AREA Shape="rect" coords = "87, 135, 143, 167" HREF="neighbor<$g_exe>?ID=<$id0301>" target=_top ALT="<$name0301>" onMouseOver="window.status='<$name0301>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0301" -->
<!-- #ifdef variable="id0302" -->
<AREA Shape="rect" coords = "144, 135, 195, 167" HREF="neighbor<$g_exe>?ID=<$id0302>" target=_top ALT="<$name0302>" onMouseOver="window.status='<$name0302>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0302" -->
<!-- #ifdef variable="id0303" -->
<AREA Shape="rect" coords = "196, 135, 250, 167" HREF="neighbor<$g_exe>?ID=<$id0303>" target=_top ALT="<$name0303>" onMouseOver="window.status='<$name0303>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0303" -->
<!-- #ifdef variable="id0304" -->
<AREA Shape="rect" coords = "251, 135, 304, 167" HREF="neighbor<$g_exe>?ID=<$id0304>" target=_top ALT="<$name0304>" onMouseOver="window.status='<$name0304>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0304" -->
<!-- #ifdef variable="id0305" -->
<AREA Shape="rect" coords = "305, 135, 354, 167" HREF="neighbor<$g_exe>?ID=<$id0305>" target=_top ALT="<$name0305>" onMouseOver="window.status='<$name0305>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0305" -->
<!-- #ifdef variable="id0306" -->
<AREA Shape="rect" coords = "355, 135, 404, 167" HREF="neighbor<$g_exe>?ID=<$id0306>" target=_top ALT="<$name0306>" onMouseOver="window.status='<$name0306>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0306" -->
<!-- #ifdef variable="id0307" -->
<AREA Shape="rect" coords = "405, 135, 454, 167" HREF="neighbor<$g_exe>?ID=<$id0307>" target=_top ALT="<$name0307>" onMouseOver="window.status='<$name0307>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0307" -->
<!-- #ifdef variable="id0308" -->
<AREA Shape="rect" coords = "455, 135, 506, 167" HREF="neighbor<$g_exe>?ID=<$id0308>" target=_top ALT="<$name0308>" onMouseOver="window.status='<$name0308>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0308" -->

<!-- row 4 -->
<!-- #ifdef variable="id0401" -->
<AREA Shape="rect" coords = "61, 168, 120, 207" HREF="neighbor<$g_exe>?ID=<$id0401>" target=_top ALT="<$name0401>" onMouseOver="window.status='<$name0401>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0401" -->
<!-- #ifdef variable="id0402" -->
<AREA Shape="rect" coords = "121, 168, 181, 207" HREF="neighbor<$g_exe>?ID=<$id0402>" target=_top ALT="<$name0402>" onMouseOver="window.status='<$name0402>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0402" -->
<!-- #ifdef variable="id0403" -->
<AREA Shape="rect" coords = "182, 168, 243, 207" HREF="neighbor<$g_exe>?ID=<$id0403>" target=_top ALT="<$name0403>" onMouseOver="window.status='<$name0403>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0403" -->
<!-- #ifdef variable="id0404" -->
<AREA Shape="rect" coords = "244, 168, 304, 207" HREF="neighbor<$g_exe>?ID=<$id0404>" target=_top ALT="<$name0404>" onMouseOver="window.status='<$name0404>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0404" -->
<!-- #ifdef variable="id0405" -->
<AREA Shape="rect" coords = "305, 168, 363, 207" HREF="neighbor<$g_exe>?ID=<$id0405>" target=_top ALT="<$name0405>" onMouseOver="window.status='<$name0405>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0405" -->
<!-- #ifdef variable="id0406" -->
<AREA Shape="rect" coords = "364, 168, 421, 207" HREF="neighbor<$g_exe>?ID=<$id0406>" target=_top ALT="<$name0406>" onMouseOver="window.status='<$name0406>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0406" -->
<!-- #ifdef variable="id0407" -->
<AREA Shape="rect" coords = "422, 168, 482, 207" HREF="neighbor<$g_exe>?ID=<$id0407>" target=_top ALT="<$name0407>" onMouseOver="window.status='<$name0407>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0407" -->
<!-- #ifdef variable="id0408" -->
<AREA Shape="rect" coords = "483, 168, 548, 207" HREF="neighbor<$g_exe>?ID=<$id0408>" target=_top ALT="<$name0408>" onMouseOver="window.status='<$name0408>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0408" -->

<!-- row 5 -->
<!-- #ifdef variable="id0501" -->
<AREA Shape="rect" coords = "38, 208, 97, 247" HREF="neighbor<$g_exe>?ID=<$id0501>" target=_top ALT="<$name0501>" onMouseOver="window.status='<$name0501>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0501" -->
<!-- #ifdef variable="id0502" -->
<AREA Shape="rect" coords = "98, 208, 166, 247" HREF="neighbor<$g_exe>?ID=<$id0502>" target=_top ALT="<$name0502>" onMouseOver="window.status='<$name0502>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0502" -->
<!-- #ifdef variable="id0503" -->
<AREA Shape="rect" coords = "167, 208, 230, 247" HREF="neighbor<$g_exe>?ID=<$id0503>" target=_top ALT="<$name0503>" onMouseOver="window.status='<$name0503>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0503" -->
<!-- #ifdef variable="id0504" -->
<AREA Shape="rect" coords = "231, 208, 296, 247" HREF="neighbor<$g_exe>?ID=<$id0504>" target=_top ALT="<$name0504>" onMouseOver="window.status='<$name0504>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0504" -->
<!-- #ifdef variable="id0505" -->
<AREA Shape="rect" coords = "298, 208, 361, 247" HREF="neighbor<$g_exe>?ID=<$id0505>" target=_top ALT="<$name0505>" onMouseOver="window.status='<$name0505>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0505" -->
<!-- #ifdef variable="id0506" -->
<AREA Shape="rect" coords = "362, 208, 425, 247" HREF="neighbor<$g_exe>?ID=<$id0506>" target=_top ALT="<$name0506>" onMouseOver="window.status='<$name0506>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0506" -->
<!-- #ifdef variable="id0507" -->
<AREA Shape="rect" coords = "426, 208, 489, 247" HREF="neighbor<$g_exe>?ID=<$id0507>" target=_top ALT="<$name0507>" onMouseOver="window.status='<$name0507>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0507" -->
<!-- #ifdef variable="id0508" -->
<AREA Shape="rect" coords = "490, 208, 553, 247" HREF="neighbor<$g_exe>?ID=<$id0508>" target=_top ALT="<$name0508>" onMouseOver="window.status='<$name0508>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0508" -->

<!-- 3D -->
<AREA Shape="rect" coords = "172, 14, 242, 36" HREF="place?ac=place&DTY=C&ID=0106000000000000&force=p" target="place" ALT="Go 3D" >

<!-- CVN -->
<AREA Shape="rect" coords = "377, 37, 446, 55" HREF="javascript:loadInfo('/places/news/magazine/dailynews/index.html')" target="_self" ALT="CVN" >

<!-- Messages -->
<AREA Shape="rect" coords = "172, 37, 241, 54" HREF="javascript:loadInfo('msb?DTY=C&KTY=ID&KEY=0106000000000000&MTY=m')" target="_self" ALT="Messages" >

<!-- My House -->
<AREA Shape="rect" coords = "376, 13, 438, 36" HREF="property?ac=myhouse" ALT="My House" target="_top" >

</MAP>



