
<div align=center>
<IMG SRC="<$g_HTMLRoot>/home/<$commid>/community.jpg" ALIGN="center" BORDER="0" USEMAP="#map">
</div>

<MAP Name="map">
<!-- row 1 -->
<!-- #ifdef variable="id0101" -->
<AREA Shape="rect" coords = "145,116,172,97" HREF="neighbor<$g_exe>?ID=<$id0101>" ALT="<$name0101>" onMouseOver="window.status='<$name0101>'; return true;" onMouseOut="window.status=''; return true;">
<!-- #endif variable="id0101" -->
<!-- #ifdef variable="id0102" -->
<AREA Shape="rect" coords = "188,117,217,98" HREF="neighbor<$g_exe>?ID=<$id0102>" ALT="<$name0102>" onMouseOver="window.status='<$name0102>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0102" -->
<!-- #ifdef variable="id0103" -->
<AREA Shape="rect" coords = "235,116,262,98" HREF="neighbor<$g_exe>?ID=<$id0103>" ALT="<$name0103>" onMouseOver="window.status='<$name0103>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0103" -->
<!-- #ifdef variable="id0104" -->
<AREA Shape="rect" coords = "275,118,307,96" HREF="neighbor<$g_exe>?ID=<$id0104>" ALT="<$name0104>" onMouseOver="window.status='<$name0104>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0104" -->
<!-- #ifdef variable="id0105" -->
<AREA Shape="rect" coords = "317,116,353,98" HREF="neighbor<$g_exe>?ID=<$id0105>" ALT="<$name0105>" onMouseOver="window.status='<$name0105>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0105" -->
<!-- #ifdef variable="id0106" -->
<AREA Shape="rect" coords = "360,117,397,99" HREF="neighbor<$g_exe>?ID=<$id0106>" ALT="<$name0106>" onMouseOver="window.status='<$name0106>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0106" -->
<!-- #ifdef variable="id0107" -->
<AREA Shape="rect" coords = "410,118,441,95" HREF="neighbor<$g_exe>?ID=<$id0107>" ALT="<$name0107>" onMouseOver="window.status='<$name0107>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0107" -->
<!-- #ifdef variable="id0108" -->
<AREA Shape="rect" coords = "455,117,481,98" HREF="neighbor<$g_exe>?ID=<$id0108>" ALT="<$name0108>" onMouseOver="window.status='<$name0108>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0108" -->

<!-- row 2 -->
<!-- #ifdef variable="id0201" -->
<AREA Shape="rect" coords = "122,139,161,122" HREF="neighbor<$g_exe>?ID=<$id0201>" ALT="<$name0201>" onMouseOver="window.status='<$name0201>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0201" -->
<!-- #ifdef variable="id0202" -->
<AREA Shape="rect" coords = "177,140,209,121" HREF="neighbor<$g_exe>?ID=<$id0202>" ALT="<$name0202>" onMouseOver="window.status='<$name0202>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0202" -->
<!-- #ifdef variable="id0203" -->
<AREA Shape="rect" coords = "226,137,256,121" HREF="neighbor<$g_exe>?ID=<$id0203>" ALT="<$name0203>" onMouseOver="window.status='<$name0203>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0203" -->
<!-- #ifdef variable="id0204" -->
<AREA Shape="rect" coords = "269,139,308,120" HREF="neighbor<$g_exe>?ID=<$id0204>" ALT="<$name0204>" onMouseOver="window.status='<$name0204>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0204" -->
<!-- #ifdef variable="id0205" -->
<AREA Shape="rect" coords = "327,139,357,123" HREF="neighbor<$g_exe>?ID=<$id0205>" ALT="<$name0205>" onMouseOver="window.status='<$name0205>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0205" -->
<!-- #ifdef variable="id0206" -->
<AREA Shape="rect" coords = "363,137,402,125" HREF="neighbor<$g_exe>?ID=<$id0206>" ALT="<$name0206>" onMouseOver="window.status='<$name0206>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0206" -->
<!-- #ifdef variable="id0207" -->
<AREA Shape="rect" coords = "419,139,453,122" HREF="neighbor<$g_exe>?ID=<$id0207>" ALT="<$name0207>" onMouseOver="window.status='<$name0207>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0207" -->
<!-- #ifdef variable="id0208" -->
<AREA Shape="rect" coords = "462,133,497,120" HREF="neighbor<$g_exe>?ID=<$id0208>" ALT="<$name0208>" onMouseOver="window.status='<$name0208>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0208" -->

<!-- row 3 -->
<!-- #ifdef variable="id0301" -->
<AREA Shape="rect" coords = "115,166,146,148" HREF="neighbor<$g_exe>?ID=<$id0301>" ALT="<$name0301>" onMouseOver="window.status='<$name0301>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0301" -->
<!-- #ifdef variable="id0302" -->
<AREA Shape="rect" coords = "165,169,197,149" HREF="neighbor<$g_exe>?ID=<$id0302>" ALT="<$name0302>" onMouseOver="window.status='<$name0302>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0302" -->
<!-- #ifdef variable="id0303" -->
<AREA Shape="rect" coords = "210,167,256,146" HREF="neighbor<$g_exe>?ID=<$id0303>" ALT="<$name0303>" onMouseOver="window.status='<$name0303>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0303" -->
<!-- #ifdef variable="id0304" -->
<AREA Shape="rect" coords = "269,166,304,145" HREF="neighbor<$g_exe>?ID=<$id0304>" ALT="<$name0304>" onMouseOver="window.status='<$name0304>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0304" -->
<!-- #ifdef variable="id0305" -->
<AREA Shape="rect" coords = "320,166,360,147" HREF="neighbor<$g_exe>?ID=<$id0305>" ALT="<$name0305>" onMouseOver="window.status='<$name0305>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0305" -->
<!-- #ifdef variable="id0306" -->
<AREA Shape="rect" coords = "367,165,412,144" HREF="neighbor<$g_exe>?ID=<$id0306>" ALT="<$name0306>" onMouseOver="window.status='<$name0306>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0306" -->
<!-- #ifdef variable="id0307" -->
<AREA Shape="rect" coords = "425,166,458,147" HREF="neighbor<$g_exe>?ID=<$id0307>" ALT="<$name0307>" onMouseOver="window.status='<$name0307>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0307" -->
<!-- #ifdef variable="id0308" -->
<AREA Shape="rect" coords = "475,167,515,143" HREF="neighbor<$g_exe>?ID=<$id0308>" ALT="<$name0308>" onMouseOver="window.status='<$name0308>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0308" -->

<!-- row 4 -->
<!-- #ifdef variable="id0401" -->
<AREA Shape="rect" coords = "94,204,128,170" HREF="neighbor<$g_exe>?ID=<$id0401>" ALT="<$name0401>" onMouseOver="window.status='<$name0401>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0401" -->
<!-- #ifdef variable="id0402" -->
<AREA Shape="rect" coords = "150,201,189,175" HREF="neighbor<$g_exe>?ID=<$id0402>" ALT="<$name0402>" onMouseOver="window.status='<$name0402>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0402" -->
<!-- #ifdef variable="id0403" -->
<AREA Shape="rect" coords = "207,204,248,171" HREF="neighbor<$g_exe>?ID=<$id0403>" ALT="<$name0403>" onMouseOver="window.status='<$name0403>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0403" -->
<!-- #ifdef variable="id0404" -->
<AREA Shape="rect" coords = "263,202,310,173" HREF="neighbor<$g_exe>?ID=<$id0404>" ALT="<$name0404>" onMouseOver="window.status='<$name0404>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0404" -->
<!-- #ifdef variable="id0405" -->
<AREA Shape="rect" coords = "317,205,365,171" HREF="neighbor<$g_exe>?ID=<$id0405>" ALT="<$name0405>" onMouseOver="window.status='<$name0405>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0405" -->
<!-- #ifdef variable="id0406" -->
<AREA Shape="rect" coords = "372,206,418,172" HREF="neighbor<$g_exe>?ID=<$id0406>" ALT="<$name0406>" onMouseOver="window.status='<$name0406>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0406" -->
<!-- #ifdef variable="id0407" -->
<AREA Shape="rect" coords = "429,204,481,171" HREF="neighbor<$g_exe>?ID=<$id0407>" ALT="<$name0407>" onMouseOver="window.status='<$name0407>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0407" -->
<!-- #ifdef variable="id0408" -->
<AREA Shape="rect" coords = "498,203,540,173" HREF="neighbor<$g_exe>?ID=<$id0408>" ALT="<$name0408>" onMouseOver="window.status='<$name0408>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0408" -->

<!-- row 5 -->
<!-- #ifdef variable="id0501" -->
<AREA Shape="rect" coords = "72,249,105,208" HREF="neighbor<$g_exe>?ID=<$id0501>" ALT="<$name0501>" onMouseOver="window.status='<$name0501>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0501" -->
<!-- #ifdef variable="id0502" -->
<AREA Shape="rect" coords = "128,246,173,214" HREF="neighbor<$g_exe>?ID=<$id0502>" ALT="<$name0502>" onMouseOver="window.status='<$name0502>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0502" -->
<!-- #ifdef variable="id0503" -->
<AREA Shape="rect" coords = "200,250,243,215" HREF="neighbor<$g_exe>?ID=<$id0503>" ALT="<$name0503>" onMouseOver="window.status='<$name0503>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0503" -->
<!-- #ifdef variable="id0504" -->
<AREA Shape="rect" coords = "257,250,309,210" HREF="neighbor<$g_exe>?ID=<$id0504>" ALT="<$name0504>" onMouseOver="window.status='<$name0504>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0504" -->
<!-- #ifdef variable="id0505" -->
<AREA Shape="rect" coords = "317,251,374,211" HREF="neighbor<$g_exe>?ID=<$id0505>" ALT="<$name0505>" onMouseOver="window.status='<$name0505>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0505" -->
<!-- #ifdef variable="id0506" -->
<AREA Shape="rect" coords = "384,252,436,211" HREF="neighbor<$g_exe>?ID=<$id0506>" ALT="<$name0506>" onMouseOver="window.status='<$name0506>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0506" -->
<!-- #ifdef variable="id0507" -->
<AREA Shape="rect" coords = "450,252,491,212" HREF="neighbor<$g_exe>?ID=<$id0507>" ALT="<$name0507>" onMouseOver="window.status='<$name0507>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0507" -->
<!-- #ifdef variable="id0508" -->
<AREA Shape="rect" coords = "509,250,566,212" HREF="neighbor<$g_exe>?ID=<$id0508>" ALT="<$name0508>" onMouseOver="window.status='<$name0508>'; return true;" onMouseOut="window.status=''; return true;" >
<!-- #endif variable="id0508" -->

</MAP>
