<!-- property/place.tmpl -->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
<!-- #include virtual="<$g_Templates>common/loadinfo.tmpl" -->
</head>

<!-- #ifndef variable="chatpro" -->
<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->
<!-- #include virtual="<$g_Templates>property/present.tmpl" -->
<center>
<!-- #define variable="isProperty" value="1" -->

<!-- #ifndef variable="chatno" -->
<!-- #include virtual="<$g_Templates>common/javachat.tmpl" -->
<!-- #endif variable="chatno" -->

<script language=javascript>
var neighborid = '<$ID>';
neighborid = neighborid.substring(0,8);
if (neighborid == '01020206') {document.write('<a href="javascript:loadInfo(\'http://www.seti.org\')" target=_self><IMG SRC="<$g_Images>/images/clubs/SETI/setimainban.gif" alt="SETI Institute Online" border=0></a><br>');}
</script>

<!-- #ifdef variable="NNM" value="Clean" -->
<table border=0 width=100% cellpadding=0 cellspacing=0><tr>
<!-- #include virtual="<$g_Templates>banners/tags/<$AD4>.tmpl" -->
</tr></table>
<!-- #endif variable="NNM" -->

<!-- #include virtual="<$g_Templates>common/placefooter.tmpl" -->
</center>
</body>
<!-- #endif variable="chatpro" -->

<!-- #ifdef variable="chatpro" -->
<!-- #include virtual="<$g_Templates>property/place3d.tmpl" -->
<!-- #endif variable="chatpro" -->
</html>
