<!-- Citizens that have been denined access to this home -->

<!-- #if variable="NNK" == variable="HBL1" -->
	<!-- #define variable="Hblock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="HBL2" -->
	<!-- #define variable="Hblock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="HBL3" -->
	<!-- #define variable="Hblock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="HBL4" -->
	<!-- #define variable="Hblock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="HBL5" -->
	<!-- #define variable="Hblock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="HBL6" -->
	<!-- #define variable="Hblock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="HBL7" -->
	<!-- #define variable="Hblock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="HBL8" -->
	<!-- #define variable="Hblock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="HBL9" -->
	<!-- #define variable="Hblock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="HBL10" -->
	<!-- #define variable="Hblock"  value="1" -->
<!-- #endif variable="NNK" -->
