<!-- property/place.tmpl -->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
<!-- #include virtual="<$g_Templates>common/loadinfo.tmpl" -->
</head>

<!-- #ifndef variable="chatpro" -->
<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->
<!-- #include virtual="<$g_Templates>property/present.tmpl" -->
<!-- #define variable="isProperty" value="1" -->

<!-- #define variable="CONTCONTROL"  value="0" -->
<!-- #include virtual="<$g_Templates>common/pgr/contentcontrolallow.tmpl" -->

[BACKGROUND]<$HBG>[/BACKGROUND]

<!-- #if variable="MEM_ID" == variable="HOID" -->
<table border=0 width=100%>
<tr><td>
<b>Object Storage Areas</b><br>
<!-- #if variable="STOID_0" == value="" -->
<a href="./print60<$g_exe>?CREID=00&TPL=object/storagecreate">Create</a>

<!-- #else variable="STOID_0" == value="" -->
<table border=0 width=100%><tr>
<!-- #for loopname="objectlist" loopvars="STOID_" -->
<td>
<a href="./print60<$g_exe>?HOID=<$HOID>&TPL=object/storagelist&ID=<$STOID_>"><$NAM_></a> (
<!-- #if variable="NOB_" != value="" -->
<$NOB_>
<!-- #else variable="NOB_" != value="" -->
0
<!-- #endif variable="NOB_" != value="" -->
objects)
</td>
<!-- #ifdef variable="ITER_3_" -->
</tr><tr>
<!-- #endif variable="ITER_3_" -->
<!-- #endfor loopname="objectlist"  -->
</tr></table>
<br><a href="./print60<$g_exe>?TPL=object/storageupdate">Edit</a>
<!-- #endif variable="STOID_0" == value="" -->
</td></tr></table>

<!-- #else variable="MEM_ID" == value="<$HOID>" -->
<!-- #if variable="STOID_0" != value="" -->
<!-- #if variable="WI1" == value="" -->

<table border=0 width=100%>
<tr><td>
<b>Object Storage Areas</b><br>
<table border=0 width=100%><tr>
<!-- #for loopname="objectlist" loopvars="STOID_" -->
<td>
<a href="./print60<$g_exe>?HOID=<$HOID>&TPL=object/storagelist&ID=<$STOID_>"><$NAM_></a> (
<!-- #if variable="NOB_" != value="" -->
<$NOB_>
<!-- #else variable="NOB_" != value="" -->
0
<!-- #endif variable="NOB_" != value="" -->
objects ) 
<br>

<!-- #ifdef variable="CONTCONTROL" value="1" -->
<a href="javascript:loadCustom('print60<$g_exe>?DTY=O&ID=<$STOID_>&TPL=common/pgr/pgrset',800,500)" target="_self">
<IMG SRC="<$g_Images>/images/buttons/bcontentcontrol.gif" BORDER=0 ALT="Content Control"></a><br>
<!-- #endif variable="CONTCONTROL" -->

</td>
<!-- #ifdef variable="ITER_3_" -->
</tr><tr>
<!-- #endif variable="ITER_3_" -->
<!-- #endfor loopname="objectlist"  -->
</tr></table>
</td></tr></table>

<!-- #endif variable="WI1" == value="" -->
<!-- #endif variable="STOID_0" == value="" -->
<!-- #endif variable="MEM_ID" == value="<$HOID>" -->

<!-- #if variable="citizenown" != value="" -->
<!-- #if variable="STOID_0" != value="" -->
<table border=0 align=left>
<tr><td>
<a href="./print60<$g_exe>?HOID=<$HOID>&TPL=object/storagedelete">Delete object store</a>
</td></tr></table>
<!-- #endif variable="STOID_0" != value="" -->
<!-- #endif variable="citizenown" != value="" -->

<p><center>
<!-- #ifndef variable="chatno" -->
<!-- #ifndef variable="Hblock" -->
<!-- #if variable="ID" == value="0103050601060604" -->
<!-- #include virtual="<$g_Templates>common/javachat.tmpl" -->
<!-- #else variable="ID" -->
<!-- #include virtual="<$g_Templates>common/javachat.tmpl" -->
<!-- #endif variable="ID" -->
<!-- #endif variable="Hblock" -->
<!-- #endif variable="chatno" -->
<!-- #ifdef variable="Hblock" -->
<br><center><b><font color="red"> Sorry you have been blocked from this home </font></b></center><br>
<!-- #endif variable="Hblock" -->

<script language=javascript>
var neighborid = '<$ID>';
neighborid = neighborid.substring(0,8);
if (neighborid == '01020206') {document.write('<a href="javascript:loadInfo(\'http://www.seti.org\')" target=_self><IMG SRC="<$g_Images>/images/clubs/SETI/setimainban.gif" alt="SETI Institute Online" border=0></a><br>');}
</script>

<table border=0 width=100% cellpadding=0 cellspacing=0><tr>
<!-- #include virtual="<$g_Templates>banners/tags/<$AD4>.tmpl" -->
</tr></table>

<!-- #include virtual="<$g_Templates>common/placefooter.tmpl" -->
</center>
</body>
<!-- #endif variable="chatpro" -->

<!-- #ifdef variable="chatpro" -->
<!-- #ifndef variable="Hblock" -->
<!-- #include virtual="<$g_Templates>property/place3d.tmpl" -->
<!-- #endif variable="Hblock" -->

<!-- #ifdef variable="Hblock" -->
<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->
<!-- #include virtual="<$g_Templates>property/present.tmpl" -->
<!-- #define variable="isProperty" value="1" -->

<!-- #if variable="MEM_ID" == variable="HOID" -->
<table border=0 width=100%>
<tr><td>
<b>Object Storage Areas</b><br>
<!-- #if variable="STOID_0" == value="" -->
<a href="./print60<$g_exe>?CREID=00&TPL=object/storagecreate">Create</a>

<!-- #else variable="STOID_0" == value="" -->
<table border=0 width=100%><tr>
<!-- #for loopname="objectlist" loopvars="STOID_" -->
<td>
<a href="./print60<$g_exe>?HOID=<$HOID>&TPL=object/storagelist&ID=<$STOID_>"><$NAM_></a> (
<!-- #if variable="NOB_" != value="" -->
<$NOB_>
<!-- #else variable="NOB_" != value="" -->
0
<!-- #endif variable="NOB_" != value="" -->
objects)
</td>
<!-- #ifdef variable="ITER_3_" -->
</tr><tr>
<!-- #endif variable="ITER_3_" -->
<!-- #endfor loopname="objectlist"  -->
</tr></table>
<br><a href="./print60<$g_exe>?TPL=object/storageupdate">Edit</a>
<!-- #endif variable="STOID_0" == value="" -->
</td></tr></table>

<!-- #else variable="MEM_ID" == value="<$HOID>" -->
<!-- #if variable="STOID_0" != value="" -->
<!-- #if variable="WI1" == value="" -->

<table border=0 width=100%>
<tr><td>
<b>Object Storage Areas</b><br>
<table border=0 width=100%><tr>
<!-- #for loopname="objectlist" loopvars="STOID_" -->
<td>
<a href="./print60<$g_exe>?HOID=<$HOID>&TPL=object/storagelist&ID=<$STOID_>"><$NAM_></a> (
<!-- #if variable="NOB_" != value="" -->
<$NOB_>
<!-- #else variable="NOB_" != value="" -->
0
<!-- #endif variable="NOB_" != value="" -->
objects)
</td>
<!-- #ifdef variable="ITER_3_" -->
</tr><tr>
<!-- #endif variable="ITER_3_" -->
<!-- #endfor loopname="objectlist"  -->
</tr></table>
</td></tr></table>

<!-- #endif variable="WI1" == value="" -->
<!-- #endif variable="STOID_0" == value="" -->
<!-- #endif variable="MEM_ID" == value="<$HOID>" -->

<!-- #if variable="citizenown" != value="" -->
<!-- #if variable="STOID_0" != value="" -->
<table border=0 align=left>
<tr><td>
<a href="./print60<$g_exe>?HOID=<$HOID>&TPL=object/storagedelete">Delete object store</a>
</td></tr></table>
<!-- #endif variable="STOID_0" != value="" -->
<!-- #endif variable="citizenown" != value="" -->

<p><center>
<!-- #ifndef variable="chatno" -->
<!-- #ifndef variable="Hblock" -->
<!-- #if variable="ID" == value="0103050601060604" -->
<!-- #include virtual="<$g_Templates>common/javachat2.tmpl" -->
<!-- #else variable="ID" -->
<!-- #include virtual="<$g_Templates>common/javachat.tmpl" -->
<!-- #endif variable="ID" -->
<!-- #endif variable="Hblock" -->
<!-- #endif variable="chatno" -->
<!-- #ifdef variable="Hblock" -->
<br><center><b><font color="red"> Sorry you have been blocked from this home </font></b></center><br>
<!-- #endif variable="Hblock" -->

<script language=javascript>
var neighborid = '<$ID>';
neighborid = neighborid.substring(0,8);
if (neighborid == '01020206') {document.write('<a href="javascript:loadInfo(\'http://www.seti.org\')" target=_self><IMG SRC="<$g_Images>/images/clubs/SETI/setimainban.gif" alt="SETI Institute Online" border=0></a><br>');}
</script>

<table border=0 width=100% cellpadding=0 cellspacing=0><tr>
<!-- #include virtual="<$g_Templates>banners/tags/<$AD4>.tmpl" -->
</tr></table>

<!-- #include virtual="<$g_Templates>common/placefooter.tmpl" -->
</center>
</body>
	
<!-- #endif variable="Hblock" -->
<!-- #endif variable="chatpro" -->
</html>
