<html>
<head>
  <title><$g_title_morph></title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta http-equiv="Cache-Policy" content="no-cache no-share">
  <meta http-equiv="Pragma" content="no-cache">
</head>

<body bgcolor="#000000" text="#CCCCCC" vlink="#66FF33" alink="#33FF33" link="#33FF33">
<div align="center">
  <p>&nbsp;</p>
  <p><b><font color="#68FF30" size="5">C</font><font color="#66FF33">YBERTOWN 
    <font size="5">E</font>MERGENCY <font size="5">B</font>ROADCAST <font size="5">S</font>YSTEM</font></b></p>
</div>
<div align="center">
  <table width="78%" border="0">
    <tr> 
      <td width="29%"><img src="<$g_HTMLRoot>/events/morph/alert_final2.gif" width="238" height="307"></td>
      <td width="71%">
        <p><blink><b><font color="#FF33FF">ALERT! THIS IS NOT A TEST!! </font></b></blink></p>
        <p>This is a message from the Cybertown Virtual Alert system.<font color="#FFFF99"> 
          <a href="<$g_HTMLRoot>/events/morph/Gloss.html#The Vivomorphs"><font color="#FFFFA4">Vivomorph</font></a></font> 
          hackers have penetrated the Cybertown <font color="#DBDBDB">Halls of Virt</font>
          and have stolen the <font color="#FFFF99">
          <a href="<$g_HTMLRoot>/events/morph/Gloss.html#The Cybertown Virtuator"><font color="#FFFF9D">Virtuator</font></a></font>. 
          REPEAT…The Virtuator has been stolen. Please remain calm! Do not panic 
          and stay envirt for further information. This is not a test! REPEAT! 
          This is not a test. Tune to the<a href="<$g_HTMLRoot>/events/morph/cvb1.html"> Cytonian Virtual 
          Broadcasting</a> (CVB) system for more details. </p>
        <p>&nbsp;</p>
      </td>
    </tr>
  </table>
  <table width="39%" border="0" height="55">
    <tr>
      <td height="87"> 
        <div align="center">
          <p><a href="<$g_cgiRoot>/place<$g_exe>?ac=print&NID=morph&tpl=event/morph/registered"
          target="_self"><img
          src="<$g_HTMLRoot>/events/morph/promis.jpg" width="69" height="80" border="0"></a></p>
        </div>
      </td>
    </tr>
    <tr>
      <td height="23"> 
        <p align="center"><a
          href="<$g_cgiRoot>/place<$g_exe>?ac=print&NID=morph&tpl=event/morph/registered"
          target="_self">Get Deputized - Join the Morph Hunt Now! Register Here.</a></p>
      </td>
    </tr>
  </table>
  <p><font color="#999999" size="1">Copyright (c) 1999 - blaxxun interactive. 
    All rights reserved</font></p>
</div>
</body>
</html>
