<html>
<head>
  <title><$g_title_morph></title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta http-equiv="Cache-Policy" content="no-cache no-share">
  <meta http-equiv="Pragma" content="no-cache">
</head>

<body bgcolor="#000000" text="#CCCCCC" link="#66FF66" vlink="#66FF66">
<p align="center"><img src="<$g_HTMLRoot>/events/morph/i-mina.jpg" width="170" height="217"></p>
<p align="center"><font color="#FFFFFF">"Congratulations on becoming a CG Deputy! 
  </font></p>
<p align="center"><font color="#FFFFFF"><a
  href="event?NID=morph">Go to Morph 
  Hunt Headquarters, and you will be briefed on your mission." </a></font></p>
<p align="center"><a href="event?NID=morph"><img
  src="<$g_HTMLRoot>/events/morph/headq.gif" width="100" height="65" border="0"></a></p>
<blockquote> 
  <blockquote> 
    <blockquote> 
      <blockquote> 
        <blockquote>
          <p align="center">&nbsp;</p>
          <p align="center"><font color="#FFFFFF"><a 
          href="javascript:top.location.href='<$g_cgiRoot>/place<$g_exe>?plc=post'" target="top">Want 
            your friends to join the adventure, too? <br>
            Click here to send a Postcard.</a></font></p>
          <p align="center"><a
            href="javascript:top.location.href='<$g_cgiRoot>/place<$g_exe>?plc=post'" target="top"><img
            src="<$g_HTMLRoot>/events/morph/logo3.jpg" width="174" height="98" border="0"></a></p>
          <p align="center">&nbsp;</p>
          <p align="center"><font color="#999999" size="1">Copyright (c) 1999 
            - blaxxun interactive. All rights reserved</font></p>
        </blockquote>
      </blockquote>
    </blockquote>
  </blockquote>
</blockquote>
</body>
</html>
