<!-- event/morph/foundbefore.tmpl -->
<!-- event item found successfully -->

<p align=center>
<!-- #ifdef variable="TYP" value="1"-->
... you've already captured the Morph <$EVENTITEMNAM> before.
<!-- #endif variable="TYP" -->
<!-- #ifdef variable="TYP" value="2" -->
... you've already recovered the <$EVENTITEMNAM> before.
<!-- #endif variable="TYP" -->
<!-- #ifdef variable="TYP" value="3" -->
... you've already recovered the <$EVENTITEMNAM> before.
<!-- #endif variable="TYP" -->
</p>
