<!-- event/morph/found.tmpl -->
<!-- event item found successfully -->

<p align=center>
<!-- #ifdef variable="TYP" value="1"-->
You've recovered the Morph <$EVENTITEMNAM>.<br>
<$TXT>
<!-- #endif variable="TYP" -->
<!-- #ifdef variable="TYP" value="2" -->
You've recovered the <$EVENTITEMNAM>.<br>
<$TXT>
<!-- #endif variable="TYP" -->
<!-- #ifdef variable="TYP" value="3" -->
You have recovered the <$EVENTITEMNAM> and it's your's to keep!!
<$TXT>
<!-- #endif variable="TYP" -->
</p>
