<!-- event/morph/getitem.tmpl -->
<!-- get event item -->
<html>
<head>
<title><$g_title> - <$EVENTNAM></title>
</head>

<body bgcolor="#000000" text="#CCCCCC" link="#33FF33" vlink="#33FF33">
<!-- include virtual="<$g_Templates>common/body2.tmpl" -->

<h2 align="center"><font color="#00FF00">CYBERTOWN - '<$EVENTNAM>'</font></h2>

<h3 align="center">You have finally got the <$EVENTITEMNAM>!</h3>

<!-- #include virtual="<$g_Templates>event/morph/headquarter.tmpl" -->

</body>
</html>

