<html>  
<head>  
  <title><$g_title_morph></title>  
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">  
  <meta http-equiv="Cache-Policy" content="no-cache no-share">  
  <meta http-equiv="Pragma" content="no-cache">  
</head>  
  
<div align="center">  
<body text="#CCCCCC" bgcolor="#000000" link="#00FF00" vlink="#00FF00" alink="#FF0000">

<center><img SRC="<$g_HTMLRoot>/events/morph/mhh3.jpg" height=274 width=396>
<p><font color="#33FF33"><font size=+2>W</font>EEKLY</font><font color="#000000">...</font><font color="#33FF33">
</font><font color="#00FF00"><font size=+2>B</font></font><font color="#33FF33">RIEFING</font></center>

<br>&nbsp;
<center><table CELLSPACING=10 CELLPADDING=10 WIDTH="90%" >
<tr>
<td ALIGN=CENTER VALIGN=TOP WIDTH="38%" HEIGHT="481"><img SRC="<$g_HTMLRoot>/events/morph/I-mina.jpg" height=217 width=170 align=TOP>
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<p><img SRC="<$g_HTMLRoot>/events/morph/virtuator.jpg" height=216 width=216></td>

<td WIDTH="62%" HEIGHT="481">"Great job Citizens! I am very pleased to
report that we have recovered the Virtuator and Captured General Thermidor!
<p>"Okay, okay. Settle down folks. Deputies, it is because of you that
Cybertown's Virtuator is back online and Cybertown has been saved from
destruction. You all owe yourselves a big Cybertown Cheer! Long live virt!
Long live virt!&nbsp;
<p>"We also owe a big thanks to Mayor Flyby. Thermidor took him hostage
and his life was in grave danger. Yet he was not concerned with his own
personal safety and risked his life to send a communication to the CG.
Locked up in the CVB Satellite truck, he was able to scramble the virt
signal causing interference over the virt broadcasting system. Luckily
Blox Rocks and other CVB personnel realized what was happening and were
able to get information out to Deputies. And Deputies, you in turn were
able to free the Mayor imprisoned in the truck. So I guess Blox is not
a total idiot after all.&nbsp;
<p>"The Mayor was then able to convey important information that he had
overheard, sending Deputies in the correct direction. That wimp, Thermidor
was captured trying to escape Cybertown on a raft off the coast of The
Isle. But you were too quick for him, Deputies.&nbsp;
<p>"There has been a lot of talk around town about whether the Morphs deserve
a trial or even a good defense. We all know these Morphs are guilty as
sin. They have all virtually confessed. However, I guess even the lowest
are entitled to their day in court. I know that all of you Deputies are
heroes, but I want you to be aware that the Morphs defense council will
likely try to call you as witnesses and discredit you. They will say you
planted evidence, that you have prejudice against the Morphs and even try
and accuse you of being Morphs yourselves. Do not let this lessen your
resolve to bring these terrorists to justice. This is just part of being
a CG Deputy.&nbsp;
<p>"Be sure to attend the Morph<font color="#0080FF"> Trial on Wednesday,
August 18 Earthtime - 7:00pm CT</font>. Each Citizen will be act as jury
while Morph prosecutors and the Morph Defense team make their cases to
you. You will cast your vote for Guilty or Innocent. Mayor Flyby will preside
as Judge.&nbsp;
<center>
<p><img SRC="<$g_HTMLRoot>/events/morph/scale_c.jpg" height=135 width=250></center>

<p>"At the end of the trial, Mayor Flyby will then announce all <font color="#0080FF">Grand
Reward </font>recipients. Be sure to be there and support your community.&nbsp;
<p>"And finally, let me tell you that it has been a great pleasure to work
with each of you and to convey the thanks of a grateful City. Once again,
Cybertown is a safe place to live."
<center>
<p><font color="#000000">............................................</font><font color="#0080FF">Mina</font></center>
</td>
</tr>
</table></center>


<center><table WIDTH="90%" HEIGHT="24" >
<tr>
<td WIDTH="80%" HEIGHT="19">
<p>&nbsp;</td>
</tr>
</table></center>
<p><font color="#FFFF00"><b>Click here to get <a href="edit?DTY=EM&KTY=ID&KEY=&KFT=ie0000001???????<$NNK>&ac=list&TPL=event/morph/myinfo&backurl=edit&T_NID=morph">My Morph</a> Statistics</b>!</font>  
</p>  
  
  <table width="81%" border="0" bordercolorlight="#6666FF">  
    <tr>   
      <td width="12%" height="25"><a href="<$g_HTMLRoot>/events/morph/reporter.html"><img  
        src="<$g_HTMLRoot>/events/morph/CVB_icon2.gif" width="50" height="50" border="0"></a></td>  
      <td width="40%" height="25">   
        <div align="center"><font size="2" color="#FFFF99">Cytonian Virtual Broadcasting   
          News</font></div>  
      </td>  
      <td width="14%" height="25"><a href="<$g_HTMLRoot>/events/morph/reward-hq.html"><img  
        src="<$g_HTMLRoot>/events/morph/reward.gif" width="50" height="50" border="0"></a></td>  
      <td width="34%" height="25">   
        <div align="center"><font size="2" color="#FFFF99">Find out what you can   
          win in this contest </font></div>  
      </td>  
    </tr>  
    <tr>   
      <td width="12%"><a href="<$g_HTMLRoot>/events/morph/history_page.html"><img  
        src="<$g_HTMLRoot>/events/morph/history_icon.gif" width="50" height="50" border="0"></a></td>  
      <td width="40%">   
        <div align="center"><font size="2" color="#FFFF99">Where do the Morphs   
          comes from? The Cybertown History.</font></div>  
      </td>  
      <td width="14%"><a href="<$g_HTMLRoot>/events/morph/cg_b.html"><img  
        src="<$g_HTMLRoot>/events/morph/cg_blotter_icon.gif" width="50" height="50" border="0"></a></td>  
      <td width="34%">   
        <div align="center"><font size="2" color="#FFFF99">Check-out the CG's   
          evidence here</font></div>  
      </td>  
    </tr>  
    <tr>   
      <td width="12%"><a href="<$g_HTMLRoot>/events/morph/Gloss.html"><img  
        src="<$g_HTMLRoot>/events/morph/glossary_icon.gif" width="50" height="50" border="0"></a></td>  
      <td width="40%">   
        <div align="center"><font color="#FFFF99" size="2">What's a Virtuator   
          or a Hexane? Find all the definitions here.</font></div>  
      </td>  
      <td width="14%"><a href="<$g_HTMLRoot>/events/morph/rules-hq_page.html"><img  
        src="<$g_HTMLRoot>/events/morph/rules_icon.gif" width="50" height="50" border="0"></a></td>  
      <td width="34%">   
        <div align="center"><font size="2" color="#FFFF99">In order to win, you   
          need to know how to play!</font></div>  
      </td>  
    </tr>  
  </table>  
  <!--p><a href="<$g_cgiRoot>/place<$g_exe>?plc=enter" target="top"><font color="#33FF33">Back   
    to Plaza</font></a></p-->  
  <p><font color="#999999" size="1">Copyright (c) 1999 - blaxxun interactive.   
    All rights reserved</font></p>  
</div>  
</body>  
</html>  
