#
# This file defines the attributes that are read or updated when using the template with the same name
#
*GET E NID <$NID> ID EVENTID NAM EVENTNAM CNT TYP=NUM EVENTCNT

*GET M NNM <$NNM> NNK NNK
*GET EM ID <$EVENTID><$NNK> ID EVENTMEMBERID
