<!-- event/morph/locked.tmpl -->
<!-- event item is locked -->

<p align=center>
<!-- #ifdef variable="TYP" value="1"-->
You have found a <b>Morph</b>, it's the <$EVENTITEMNAM>.
<!-- #endif variable="TYP" -->
<!-- #ifdef variable="TYP" value="2" -->
You have found a <b>Weekly Price</b> - a <$EVENTITEMNAM>.
<!-- #endif variable="TYP" -->
<!-- #ifdef variable="TYP" value="3" -->
You have found a price: a <$EVENTITEMNAM>!
<!-- #endif variable="TYP" -->
</p>
</p>
