<!-- event/morph/visitor.tmpl -->
<!-- alert information for visitors -->

<p align="center"><img src="<$g_HTMLRoot>/events/morph/morph.jpg" width="420" height="372"></p>
<p align="center"><font color="#00FF00" size="5">"THE GREAT MORPH HUNT" </font></p>
<p align="center"><font color="#FFFF99"><b>Cybertown Needs You!! </b></font></p>
<hr>
<h3><font color=red><a href="javascript:top.location.href='register<$g_exe>'" target="top">Join Cybertown</a> NOW (it's free!) and register for the Morph Hunt!</font></h3>
<a href="javascript:top.location.href='register<$g_exe>'" target="top"><img src="<$g_Images>/images/menu/join.gif" border=0></a>
<hr>
<b>
<p align="center">We're looking to recruit dedicated Citizens to fight to save 
  Cybertown. </p>
<p align="center">Rewards of thousands of dollars in valuable prizes will be bestowed 
  upon those chosen Citizens who successfully complete the mission. </p>
<p align="center">Come back to join us on this amazing Cybertown adventure.</p>
<p align="center">You can also find details around town in the City Plaza, The 
  Daily News, or VIRT. </p>
</b>
