<html>
<head>
<title>CYBERTOWN - Morph Hunt</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#000000" text="#CCCCCC" link="#33FF33" vlink="#33FF33">
<div align="center">
<p><img src="<$g_HTMLRoot>/events/morph/morph.jpg" width="420" height="372"></p>
<p><font color="#00FF00" size="5">"THE GREAT MORPH HUNT" </font></p>
<p><font color="#FFFF99"><b>Cybertown Needs You!! </b></font></p>
<hr>
<h3><font color=red><a href="javascript:top.location.href='register<$g_exe>'" target="top">Join Cybertown</a> NOW (it's free!) and register for the Morph Hunt!</font></h3>
<a href="javascript:top.location.href='register<$g_exe>'" target="top"><img src="<$g_Images>/images/menu/join.gif" border=0></a>
<hr>
<b>
<p">We're looking to recruit dedicated Citizens to fight to save 
  Cybertown. </p>
<p>Rewards of thousands of dollars in valuable prizes will be bestowed 
  upon those chosen Citizens who successfully complete the mission. </p>
<p>Come back to join us on this amazing Cybertown adventure.</p>
<p>You can also find details around town in the City Plaza, The 
  Daily News, or VIRT. </p>
</b>
</div>
</body>
</html>
