<html>
<head>
<title><$g_title> - Message Board</title>
</head>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<div align=center>
<h2>Message Board Information</h2>

<!-- #ifdef variable="msbinfo001" -->
<p>
Sending a message to a group may take some time. Please wait.
</p>
<!-- #endif variable="msbinfo001" -->

</body>
</html>

