<!-- object/storagecreate -->
<HTML>
<HEAD>
<!-- #include virtual="<$g_Templates>common/loadinfo.tmpl" -->
</HEAD>
</body>
<form name="bform" action="/cgi-bin/cybertown/msb" method="POST">
<input type="hidden" name="ac" value="listhdr">
<input type="hidden" name="TKT" value="<$TKT>">
<input type="hidden" name="DTY" value="<$DTY>">
<input type="hidden" name="KEY" value="<$KEY>">
<input type="hidden" name="KTY" value="ID"> 
<input type="hidden" name="TPL" value="msb/manage">
<input type="hidden" name="T_MANOK" value="<$deleteok>">
</form>
<script language=javascript>
document.bform.submit();
</script>

</html>
