<html>
<head>
<title><$g_title> - Message Board</title>
</head>

<!-- removemsb.tmpl -->

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<div align=center>
<h2>Message Board - Delete Messages?</h2>
<form method=post action="<$selfurl>">
<input type=hidden name="TKT" value="<$TKT>">
<INPUT type=hidden NAME="NAM" VALUE="<$NAM>">
<INPUT type=hidden NAME="URL" VALUE="<$URL>">
<INPUT type=hidden NAME="TXT" VALUE="<$TXT>">
<INPUT type=hidden name="HTM" VALUE="<$HTM>">
<input type=hidden name="DTY" value="<$DTY>">
<input type=hidden name="KTY" value="<$KTY>">
<input type=hidden name="KEY" value="<$KEY>">
<input type=hidden name="MTY" value="<$MTY>">
<input type=hidden name="TPL" value="msb/recreatemsb">
<input type=hidden name="ac"  value="delete">
<input type=submit name="delete" value="Yes">
<input type=submit name="Cancel" value="No">
<input type=hidden name="T_TYPE"  value="<$T_TYPE>">
</form>
</body>
</html>

