<center>
<A HREF="javascript:void(open('http://ctforums.ctcolonies.com/','3','scrollbars=yes,width=800,height=600'))"><p><img src="/images/feedback/forums.jpg" border="0"> </p></a>
</center>
<font face="arial" size=-2>
Cybertown reserves the right to remove anything from these message boards that are off-topic or that violate the 
<a href="http://www.cybertown.com/info/about/details/constitution.html" target=_top>Cybertown Constitution</a>. 
In addition, anything you post on a message board about a person that is false opens you up to prosecution for defamation just as 
anything false you say about a person in chat opens you up to prosecution for libel.
<br><br>
Because of the seriousness of misuse/abuse of the message boards (see the UBP), inflammatory or false and misleading message board posts have their own separate penalties as follows:

1) The posting is deleted immediately and without notice and the poster receives one warning
2) Any repetition results in temporary loss of posting privileges
3) If posting privileges are restored, and there is any further repetition the poster gets a 15 day ban and permanent loss of posting privileges.

