<!-- Cybertown Staff/Technicians... -->

<!-- #ifdef variable="NNK" value="wovencroft" -->
	<!-- #define variable="HTTT"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="thor" -->
<!-- #define variable="HTTT"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="mauvecat" -->
<!-- #define variable="HTTT"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="ablueyedbrunette" -->
<!-- #define variable="HTTT"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- Security Staff -->



<!-- #ifdef variable="NNK" value="greatgodbal" -->
	<!-- #define variable="HTTT"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="stone_98" -->
	<!-- #define variable="HTTT"  value="1" -->
<!-- #endif variable="NNK" -->

