

<!-- #ifdef variable="IDR" value="02" -->
	<!-- #define variable="DELACC"  value="1" -->
<!-- #endif variable="IDR" -->

<!-- #ifdef variable="IDR" value="03" -->
	<!-- #define variable="DELACC"  value="1" -->
<!-- #endif variable="IDR" -->

<!-- #ifdef variable="IDR" value="04" -->
	<!-- #define variable="DELACC"  value="1" -->
<!-- #endif variable="IDR" -->

<!-- #ifdef variable="IDR" value="0d" -->
	<!-- #define variable="DELACC"  value="1" -->
<!-- #endif variable="IDR" -->

<!-- #ifdef variable="IDR" value="5d" -->
	<!-- #define variable="DELACC"  value="1" -->
<!-- #endif variable="IDR" -->

<!-- #ifdef variable="IDR" value="27" -->
	<!-- #define variable="DELACC"  value="1" -->
<!-- #endif variable="IDR" -->

<!-- #ifdef variable="IDR" value="30" -->
	<!-- #define variable="DELACC"  value="1" -->
<!-- #endif variable="IDR" -->

<!-- #ifdef variable="IDR" value="50" -->
	<!-- #define variable="DELACC"  value="1" -->
<!-- #endif variable="IDR" -->


