<!-- message/IMlist.tmpl (msserver)-->
<!--#for loopname="i" loopvars="NNM_" -->
<!-- #if variable="HID_" != value="1" -->
<!-- #define variable="N" value="<$NNM_>" -->
<!-- #endif variable="HID_" -->
<!--#endfor loopname="i"  -->



