<!-- messages/list_homepage.tmpl -->

<HTML>

<HEAD>

<TITLE>Citizens Online</TITLE>

<BODY BGCOLOR="#000000" LINK="#00FF00" VLINK="#00FF00" TEXT="#D0DBF7">

<center>

<table width="100%" border="0" cellspacing="0" cellpadding="0" height="7">

    <tr valign="top"> 

      <td><img src="http://www.cybertown.com/images/top1.gif" width="100%" height="7"></td>

    </tr>

  </table>



  <table width="100%" border="0" cellspacing="0" cellpadding="0" height="29" bgcolor="#000066">

    <tr> 

      <td valign="bottom">&nbsp;&nbsp;&nbsp; <img src="http://www.cybertown.com/images/welcome_to.gif">&nbsp;&nbsp;&nbsp;

              <img src="http://www.cybertown.com/images/cyb.gif" width="283" height="28"></td>
	 <!--  <td> <img src="http://www.cybertown.com/ivnminiban3.gif" width="111" height="30"></td> -->
	      <td align=right><APPLET CODE='TickerTape.class' codebase='<$g_HTMLRoot>/java' WIDTH=260 HEIGHT=30>
<!-- #ifdef variable="NNO" -->
<PARAM NAME=count VALUE="<$NNO>">
<!--#for loopname="news" loopvars="NT" -->
<PARAM NAME="text<$index>" VALUE=" + <$NT> +">
<PARAM NAME="url<$index>"  VALUE="<$NU>">
<PARAM NAME="target<$index>"  VALUE="<$NG>">
<!--#endfor loopname="news" -->
<!-- #endif variable="NNO" -->

<!-- #ifndef variable="NNO" -->
<PARAM NAME=count VALUE=2><PARAM NAME=text0 VALUE="+ Pre-Register for Silhouette and get CT included at no cost! +"><PARAM NAME=url0  VALUE="news<$g_exe>"><PARAM NAME=text1 VALUE=" + No obligation, nothing to lose, lots to gain! +"><PARAM NAME=url1  VALUE="news<$g_exe>">
<!-- #endif variable="NNO" -->
<PARAM NAME=delay VALUE=40><PARAM NAME=step VALUE=2><PARAM NAME=font VALUE=Arial><PARAM NAME=fstyle VALUE=0><PARAM NAME=size  VALUE=20>
<!-- possible values are: 
black,blue,cyan,darkgrey,gray,green,lightgray,magenta,orange,pink,red,white,yellow -->
<PARAM NAME=fgcolor VALUE=green><PARAM NAME=bgcolor VALUE=black></APPLET> </td>

      </tr>

        </table>

        

  <table width="100%" border="0" cellspacing="0" cellpadding="0" height="1">

    <tr valign="top"> 

      <td><img src="http://www.cybertown.com/images/blueline.gif" width="100%" height="1"></td>

    </tr>

  </table>



  <table width="100%" border="0" cellspacing="0" cellpadding="0" height="15" background="http://www.cybertown.com/images/blu_black-line.gif">

    <tr valign="bottom"> 

      <td height="16" width="50%"> 

        <p align="left"><font color="000FF00" face="Arial, Helvetica, sans-serif" size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<$NUM> Citizens Online</font></p>

      </td>
			
			 
				
			 <td height="16" width="50%"> 

        <p align="right"><font color="#00FF00" face="Arial, Helvetica, sans-serif" size="2">The 

          Year is</font> <IMG align=bottom alt=2091 height=16 

hspace=4 src="<$g_HttpServer>/images/date2091.gif" width=45>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

      </td>

    </tr>

  </table></center>


</BODY>

</HTML>





