<!-- msserver/member.tmpl -->
<HTML>
<HEAD>
<TITLE>Security Alert</TITLE>
</HEAD>
<SCRIPT LANGUAGE="javascript">
function doClose()
{
  if ( navigator.userAgent.indexOf('MSIE 3') > 0 )
    alert("Please close the window by clicking on the X in the upper right corner.");
  else
    self.close();
}
</SCRIPT>

<SCRIPT LANGUAGE="JavaScript">

<!--



function onSubmit()

{

        document.MSG.TEXT.value = "SEC ALERT: "+document.MSG.TEXT.value;  

}

//-->

</SCRIPT>

<BODY onLoad="document.MSG.TEXT.focus();" BGCOLOR="#000000" LINK="#00FF00" VLINK="#00FF00" TEXT="#D0DBF7">
<H3>Security Alert</H3>

Please use this form ONLY in real security problem situations.
False reports will result in a fine of 1000 City Cash being deducted from your Cybertown account.
<P>
Please describe the nature of the offense and where the offender is currently located:
<FORM NAME=MSG METHOD=GET ACTION="<$g_cgiRoot>/message<$g_exe>" onSubmit="onSubmit()">
<INPUT TYPE=HIDDEN NAME="TPL" value="<$TPL>">
<INPUT TYPE=HIDDEN NAME="TKT" value="<$TKT>">
<INPUT TYPE=HIDDEN NAME="ac" value="postmessage">
<INPUT TYPE=HIDDEN NAME="ROL" value="SecurityRole">
<INPUT NAME="TEXT" VALUE="I have a security problem. Please contact me fast." MAXLENGTH=118 SIZE=52>
<INPUT TYPE=SUBMIT NAME=SUBMIT value=Send>
<INPUT TYPE=BUTTON NAME=Close VALUE=Close onClick="doClose()">
</FORM>
<!-- #ifdef variable="FOUND" -->
<CENTER>
<FONT size=-1>
<P>
<!-- #if variable="FOUND" == value="0" -->
There is no security online at this time. Please leave a message in the security in-box <A HREF="http://www.cybertown.com/cgi-bin/cybertown/msb?DTY=O&KTY=ID&KEY=0000000000000013&MTY=i" target="new">Security In-Box</A>
<!-- #endif variable="FOUND" -->
<!-- #if variable="FOUND" == value="1" -->
1 City Security guy reached.
<!-- #ifdef variable="FOUND" -->
<!-- #if variable="FOUND" >= value="2" -->
<$FOUND> City Security guys reached.
<!-- #ifdef variable="FOUND" -->
</FONT>
</CENTER>
<!-- #endif variable="FOUND" -->
</BODY>
</HTML>




