<a href="javascript:jump('top place?plc=movies')" target="_self">
<IMG SRC="<$g_HTMLRoot>/places/movies/images/vdricon.jpg" BORDER=0 ALT="vDrome"></a><br>
<a href="javascript:loadInfo('/places/ent_complex/rahelp.html')" target=_self>
<IMG SRC="/places/ent_complex/images/rahelp.gif" BORDER=0 ALT="RealPlayer Help"></a><br>
<a href="javascript:loadInfo('<$g_HTMLRoot>/places/vidnetvpod/nowshowing.html')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/nowshowing.gif" BORDER=0 ALT="Now Showing"></a><br>
<!-- #ifdef variable="readaccess" -->
<a href="/entcent2.html" target=place>
<IMG SRC="<$g_Images>/images/buttons/bportal.gif" BORDER=0 ALT="Portal"></a><br><br>
<!-- #endif variable="readaccess" -->

