<center>
<font size=2><b>JumpGate</b></font>
</center>
<br>
<!-- JUMP GATE2 -->
<div align="left">
<ul id="computers">
  <li>
    <font size=2><b>Colonies</b></font>
    <ul>
    <li>
<select name="jumpgate" size="1" onchange="jumpreset(this.options, this.options[this.selectedIndex].value)">

<option value="" selected>COLONIES:</option>

<option value="top community?ID=0102000000000000">Sci-fi</option>
 
<option value="top community?ID=0104000000000000">Entertainment</option>
 
<option value="top community?ID=0101000000000000">Games</option>
 
<option value="top community?ID=0103000000000000">Virtual Worlds</option>
 
<option value="top community?ID=0108000000000000">Cyberhood</option>
 
<option value="top community?ID=0105000000000000">Inner Realms</option>
 
<option value="top community?ID=0106000000000000">The Campus</option>
 
<option value="top community?ID=0107000000000000">9th Dimension</option>
 
<option value="top community?ID=0109000000000000">Adventure</option>
 
<option value="top community?ID=0110000000000000">Hi-Tek</option>
</select>
</li></ul></li> 

  <li>
    <font size=2><b>Places</b></font>
    <ul>
    <li>
<select name="jumpgate" size="1" onchange="jumpreset(this.options, this.options[this.selectedIndex].value)">

<option value="" selected>PLACES:</option>
<option value="top place?plc=enter">The Plaza</option>
 
<option value="top place?plc=ent_complex">ePlex</option>
 
<option value="top place?plc=parks">Parks District</option>
 
<option value="top place?plc=flyby">Flyby's Park</option>
 
<option value="top place?plc=clubsplaza">The Clubs</option>
 
<option value="info /citystore/store.html">Cybertown Store</option>
 
<option value="top place?plc=fleamarket">Flea Market</option>
 
<option value="top place?plc=blackmarket">Black Market</option>
 
<option value="top place?plc=shopping">The Mall</option>
 
<option value="top place?plc=deshomes">Designer Homes</option>
 
<option value="top place?plc=museum">Museum</option>
 
<option value="top place?plc=bank">Bank</option>
 
<option value="top place?plc=iwosmall">Homebuilder</option>
 
<option value="top place?plc=employment">Employment</option>
 
<option value="top place?plc=club&ID=CL00000000001b9b">Newcomers Club</option>
 
<option value="top place?plc=ne_game">Outlands</option>
 
<option value="top place?plc=cafe">Le Caf&eacute;</option>
 
<option value="top place?plc=library">Library</option>
 
<option value="top place?plc=beach">Sunset Beach</option>
 
<option value="top place?plc=funpark">Fun Park</option>
 
<option value="top place?plc=waterpark">Water Park</option>
 
<option value="top place?plc=themepark">Theme Park</option>
 
<option value="top place?plc=cityhall">City Hall</option>
 
<option value="top place?plc=theatre">Performing Arts</option>                                 
 
<option value="top place?plc=pool">The Pool</option>
 
<option value="top place?plc=stadium">The Stadium</option>     
 
<option value="top place?plc=suburbs&T_SUB=suburbs">The Suburbs</option>
 
<option value="top place?plc=post">Post Office</option>
 
<option value="place /info/portals.html">The Portals</option>
</select>
</li></ul></li>

  <li>
    <font size=2><b>Misc.</b></font>
    <ul>
    <li>
<select name="jumpgate" size="1" onchange="jumpreset(this.options, this.options[this.selectedIndex].value)">

<option value="" selected>MISC:</option>
 
<option value="info /cgi-bin/cybertown/edit?TPL=msb/feedback">Feedback</option>
 
<option value="info msb?DTY=O&KTY=ID&KEY=0000000000000004&MTY=i">Caretaker In-box</option>
 
<option value="info msb?DTY=O&KTY=ID&KEY=0000000000000012&MTY=m">City Council</option>
 
<option value="info msb?DTY=O&KTY=ID&KEY=0000000000000013&MTY=i">Security In-box</option>
 
<option value="info msb?DTY=O&KTY=ID&KEY=0000000000000039&MTY=i">C.E.R.B. In-box</option>
 
<option value="info msb?DTY=O&KTY=ID&KEY=0000000000000007&MTY=m">Guides Board</option>
 
<option value="poll /wallpaper/ctpaper.html">Free Wallpaper</option>
 
<option value="info citizen?ac=action">Citizens List</option>
 
<option value="info /info/controlpanel/index.html">How Do I?</option>
 
<option value="info /places/news/magazine/dailynews/index.html">Daily News</option>
 
<option value="info /places/news/magazine/index.html">Weekly News</option>
 
<option value="info /info/help/index.html">FAQ/Help</option>
 
<option value="info /info/VisitorCenter/VisitorCenter.html">Tourist Info</option>
 
<option value="info cal?DTY=O&KTY=ID&KEY=0000000000000001&MTY=c&plc=enter&LDT=O&LID=0000000000000012">Calendar</option>
 
<option value="poll /info/about/urge.html">Press Room</option>
 
<option value="">-----------------------</option>
 
<option value="poll /places/post/post.html">Send Postcard</option>
 
<option value="poll /friends/tellfriends.html">Win Prizes!</option>
 
<option value="top /index2.html">Old Town</option>
</select>

 </li></ul></li></ul>
</div>
