<HTML>  
<HEAD>  
</HEAD>  
<body BGCOLOR="#000000" >  

<OBJECT  CLASSID="CLSID:4B6E3013-6E45-11D0-9309-0020AFE05CC8" NAME=contact3D ID=contact3D WIDTH=100% HEIGHT=100%>
<PARAM NAME="VRML-DASHBOARD" VALUE="0" >
<EMBED name=contact3D SRC="<$g_HTMLRoot>/common/blank.bx3" TYPE="application/x-cc3d" WIDTH=100% HEIGHT=100% VRML-DASHBOARD="FALSE">
</OBJECT>   

</BODY>  
</HTML> 


