 
### blaxxun CCpro - place definition file  
### ------------------------------------------  
server                  cyber.cybertown.com  
port                    2000 
scene                   <$g_SceneServer><$g_cgiRoot>/place?ID=<$ID>&plc=<$plc>&ac=3D&IE=x.bxx Outlands
 
<!-- #ifndef variable="T_style" value="CKSM." -->
3dscene                 http://www.cybertown.com/places/ne_game/vrml/ne_game.wrl
<!-- #endif variable="T_style" -->  
<!-- #ifdef variable="T_style" value="CKSM." -->
3dscene                 http://www.cybertown.com/places/ne_game/vrml/ne_game_gm.wrl
<!-- #endif variable="T_style" -->
 sname                   Outlands  
message                 <$NNM>, you have entered Outlands.   

### Authentication  
authenticationid                <$M_ID>  
authenticationpw                <$COOKIE>  

nickname                        <$NNM>
prenickname                     <$NAM>  
postnickname                    <$EXP>

protectnickname         1

<!-- #ifdef variable="NNM" value="Clean" -->
<!-- #endif variable="NNM" -->  

<!-- #ifndef variable="NNM" value="Clean" -->
protectavatarurl        1
<!-- #endif variable="NNM" -->  
  
  
<!-- #ifdef variable="T_style" value="1" -->
vrmlmyavatar           http://www.cybertown.com/places/ne_game/vrml/avatars/redm.wrl
<!-- #endif variable="T_style" --> 

<!-- #ifdef variable="T_style" value="2" -->
vrmlmyavatar           http://www.cybertown.com/places/ne_game/vrml/avatars/redf.wrl
<!-- #endif variable="T_style" -->

<!-- #ifdef variable="T_style" value="3" -->
vrmlmyavatar           http://www.cybertown.com/places/ne_game/vrml/avatars/bluem.wrl
<!-- #endif variable="T_style" -->

<!-- #ifdef variable="T_style" value="4" -->
vrmlmyavatar           http://www.cybertown.com/places/ne_game/vrml/avatars/bluef.wrl
<!-- #endif variable="T_style" -->

<!-- #ifdef variable="T_style" value="CKSM." -->
vrmlmyavatar           http://www.cybertown.com/places/ne_game/vrml/avatars/gm.wrl
<!-- #endif variable="T_style" -->

<!-- #ifndef variable="T_style" value="1" -->
<!-- #ifndef variable="T_style" value="2" -->
<!-- #ifndef variable="T_style" value="3" -->
<!-- #ifndef variable="T_style" value="4" -->
<!-- #ifndef variable="T_style" value="CKSM." -->
vrmlmyavatar           http://www.cybertown.com/places/ne_game/vrml/avatars/redm.wrl
<!-- #endif variable="T_style" -->
<!-- #endif variable="T_style" -->
<!-- #endif variable="T_style" -->
<!-- #endif variable="T_style" -->
<!-- #endif variable="T_style" -->

<!-- #ifndef variable="T_style" -->
vrmlmyavatar           http://www.cybertown.com/places/ne_game/vrml/avatars/redm.wrl
<!-- #endif variable="T_style" -->



avatarhorizon     300
maxneighbourspp   15

### JoinMessage
joinmessage             0
 
### Voice  
voicesupport            1  
clientvoiceenable       1  
botvoiceenable          1  


### Diverse  
noblaxxunhelp           1
noblaxxunicon           0  
useversionserver        0 

<!-- #ifdef variable="isadmin" -->
listtabflag                             111111111  
settingslistflag                        1111111
<!-- #endif variable="isadmin" -->

<!-- #ifdef variable="NNM" value="Clean" -->
listtabflag                             111111111  
settingslistflag                        1111111
<!-- #endif variable="NNM" -->  

<!-- #ifndef variable="T_style" value="CKSM." -->
listtabflag                             111111111  
settingslistflag                        1111111
<!-- #endif variable="T_style" -->

<!-- #ifndef variable="T_style" value="CKSM." -->
<!-- #ifndef variable="isadmin" -->
<!-- #ifndef variable="NNM" value="Clean" -->
listtabflag                             100000000  
settingslistflag                        1011111
<!-- #endif variable="NNM" -->  
<!-- #endif variable="isadmin" -->  
<!-- #endif variable="T_style" -->

htmlframe                               HTML  
framesizes                              60  
uselastscene    0  
frameset                             http://www.cybertown.com/cgi-bin/cybertown/place?plc=ne_game
  
### Colors  
logcolor        0  
panelbackrgb            0,80,0  
paneltextrgb            0,223,0  
  
### Chat colors  
inputtextchatrgb        255,255,0  
systemtextchatrgb       0,255,220  
historytextchatrgb      250,250,250  
bottextchatrgb          0,195,255  
owntextchatrgb          255,255,0  
othertextchatrgb        255,160,0  
 
  
