<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
   <meta name="GENERATOR" content="Mozilla/4.72 [en] (Win98; U) [Netscape]">
   <meta name="Author" content="Christopher Raymond">
   <title>Cybertown</title>
<script LANGUAGE="JavaScript">  

function setStyle(v){
<!-- #ifdef variable="isVisitor" -->
 alert("Sorry, only Cybertown Citizens can enter Outlands");
<!-- #endif variable="isVisitor" -->
<!-- #ifndef variable="isVisitor" -->
 if(document.choose.T_pass.value != "" && document.choose.T_pass.value != null){
   if(v == 3){v = 1;}   if(v == 4){v = 2;}
   document.choose.T_style.value = v;
 }
 else{
   document.choose.T_style.value = v;
 }
 document.choose.submit();
<!-- #endif variable="isVisitor" -->
}




</script>
</head>
<body text="#E0E0E0" bgcolor="#000000" link="#66FFFF" vlink="#3366FF" alink="#FF0000">

<center><img SRC="/places/ne_game/html/outlands.jpg" >
<br><font face="Arial,Helvetica"><font size=-1>Cybertown citizens have
long held the belief that and violent conflict benefits no one.&nbsp; However,
when diplomacy fails, a means for arguing factions to settle their differences
is still occasionaly required.&nbsp;&nbsp; Outlands has been created
to help Cybertown citizens settle disputes,&nbsp; without descending to
the brutal devices of our ancestors, through honorable combat using non
lethal beam-out weapons.</font></font>
<p><font face="Arial,Helvetica"><font size=-1>All Citizens who enter this
zone are required to take sides and face the prospect of beam-out.&nbsp;
If you are new to Outlands take time to read the instructions below before
you enter the fray.</font></font>
<p><b><font face="Arial,Helvetica"><font size=-1>Select an avatar to enter
Outlands</font></font></b></center>
<form METHOD=POST ACTION="http://www.cybertown.com/cgi-bin/cybertown/edit" TARGET="place" NAME="choose"><input TYPE="hidden" NAME="plc" VALUE="ne_game"><input TYPE="hidden" NAME="ID" VALUE="0000000000000029"><input TYPE="hidden" NAME="force" VALUE="p"><input TYPE="hidden" NAME="T_style" VALUE="0"><input TYPE="hidden" NAME="tpl" VALUE="ne_game/place">
<center><table BORDER=0 CELLSPACING=0 CELLPADDING=0 COLS=2 WIDTH="95%" >
<tr>
<td ALIGN=CENTER VALIGN=CENTER><a href="javascript:setStyle(1);" target="_self"><img SRC="/places/ne_game/html/redm.jpg" ALT="Join the Red Team" BORDER=0 height=180 width=100></a><a href="javascript:setStyle(2);" target="_self"><img SRC="/places/ne_game/html/redf.jpg" ALT="Join the Red Team" BORDER=0 height=180 width=100></a></td>

<td ALIGN=CENTER VALIGN=CENTER><a href="javascript:setStyle(3);" target="_self"><img SRC="/places/ne_game/html/bluem.jpg" ALT="Join the Blue Team" BORDER=0 height=180 width=100></a><a href="javascript:setStyle(4);" target="_self"><img SRC="/places/ne_game/html/bluef.jpg" ALT="Join the Blue Team" BORDER=0 height=180 width=100></a></td>
</tr>
</table>



<BR>
<center>
<table cellspacing="0" cellpading="0" border="0" width="375">
<tr><td valign="center" align="right">
<font face="arial" size=-2 color="#00FFFF">If you have a scheduled match, enter your password here and select an avatar to enter</font>
</td>
<td align="center" valign="center">
<INPUT TYPE="textfield" NAME="T_pass" SIZE="10" VALUE="">
</td></tr>
</table>
</center>


</center>
</form>
<blockquote>
<center><b><font face="Arial,Helvetica"><font size=+1>Instructions</font></font></b>
<br>
<hr WIDTH="25%"></center>
</blockquote>

<center><table BORDER=0 CELLSPACING=0 CELLPADDING=0 COLS=1 WIDTH="85%" >
<tr>
<td ALIGN=LEFT VALIGN=CENTER><b><font face="Arial,Helvetica"><font color="#66FFFF">Entering
The Zone</font></font></b>
<br>
<hr ALIGN=LEFT WIDTH="25%">
<br><font face="Arial,Helvetica"><font size=-1>Select a special avatar
for the battle.&nbsp; After you have selected an avatar, you will be able
to enter Outlands and join the battle.</font></font>
<p><font face="Arial,Helvetica"><font size=-1><b><font color="#FF0000">WARNING</font></b>:&nbsp;<font color="#FF0000">
You must use one of the special avatars during the battle.&nbsp; Changing
your avatar will cause you to beam out.</font></font></font>
<br>&nbsp;
<p><b><font face="Arial,Helvetica"><font color="#66FFFF">Controls</font></font></b>
<br>
<hr ALIGN=LEFT WIDTH="25%">
<br><font face="Arial,Helvetica"><font size=-1>During the battle you will
navigate the battle field using the mouse or arrow keys, just like you
do anywhere in Virtual Space.&nbsp; You have several special keyboard controls
that will help you aim and fire your weapon.</font></font>
<p><font face="Arial,Helvetica"><font size=-1><b><font color="#FF0000">DO
NOT</font></b> use the Navigation Panel to navigate.&nbsp; Using the Navigation
Panel will disable the keyboard controls.&nbsp; If this happens, click
the 3D screen to re-enable the keyboard.</font></font>
<br>&nbsp;
<table BORDER=0 CELLSPACING=0 CELLPADDING=0 COLS=1 WIDTH="100%" >
<tr>
<td ALIGN=LEFT WIDTH="288"><img SRC="/places/ne_game/html/controls_notxt.jpg" BORDER=0 height=135 width=260></td>
</tr>

<tr>
<td>
<br><font face="Arial,Helvetica"><font size=-1>The<b><font color="#FF0000">D</font></b>
key fires your weapon</font></font>
<br><font face="Arial,Helvetica"><font size=-1>The <b><font color="#FFFF00">A</font></b>&nbsp;
key allows you to pan your view, and aim up hills</font></font>
<br><font face="Arial,Helvetica"><font size=-1>The <b><font color="#33FF33">W</font></b>
key will change your weapon</font></font></td>
</tr>
</table>




<p><b><font face="Arial,Helvetica"><font color="#66FFFF">Scoring</font></font></b>
<br>
<hr ALIGN=LEFT WIDTH="25%">
<ul>
<li>
<font face="Arial,Helvetica"><font size=-1>Scoring is team based.</font></font></li>

<li>
<font face="Arial,Helvetica"><font size=-1>Each beam-out will score one
point for your team.</font></font></li>

<li>
<font face="Arial,Helvetica"><font size=-1>During planned matches, the
team with the most beam-outs at the end of the scheduled battle time&nbsp;
will claim victory.</font></font></li>

<li>
<font face="Arial,Helvetica"><font size=-1>During Free Play periods, team
score will keep accumulating.</font></font></li>
</ul>

<center>
<p><br><font face="Arial,Helvetica"><font color="#FF0000"><font size=-1>Since
your beam to function is currently engaged to enable your weapon, using
beaming to another player will beam you out of the battle and score a point
for the opposition.</font></font></font></center>

<p><b><font face="Arial,Helvetica"><font color="#66FFFF">Beam-out Weapons</font></font></b>
<br>
<hr ALIGN=LEFT WIDTH="25%">
<br><b><font face="Arial,Helvetica"><font size=-1><a href="javascript:loadInfo('/places/ne_game/html/arms/beamer.html');" target="action">Beamer</a></font></font></b>
<blockquote><font face="Arial,Helvetica"><font size=-1>The beamer is a
line-of-sight weapon.&nbsp; It fires a ball of beam energy at your target.
If it hits, the target is beamed out.</font></font></blockquote>
<b><font face="Arial,Helvetica"><font size=-1><a href="javascript:loadInfo('/places/ne_game/html/arms/repulsor.html');" target="action">Repulsor</a></font></font></b>
<blockquote><font face="Arial,Helvetica"><font size=-1>The repulsor generates
a force wave by harnessing your beam energy.&nbsp; When fired, the force
wave generated by the repulsor sends all opponents in front of the shooter,
spinning away.</font></font></blockquote>
<b><font face="Arial,Helvetica"><font size=-1><a href="javascript:loadInfo('/places/ne_game/html/arms/aapd.html');" target="action">AaPD2000</a></font></font></b>
<blockquote><font face="Arial,Helvetica"><font size=-1>The AaPD2000 is
a stink bomb launcher. It explodes upon impact leaving a green gas cloud
in a 10 meter radius.&nbsp;&nbsp; The smell is so unbearable that anyone
standing within the perimeter at the moment of impact will be forced to
beam out.</font></font></blockquote>

<p><br><b><font face="Arial,Helvetica"><font color="#66FFFF">Ammunition</font></font></b>
<br>
<hr ALIGN=LEFT WIDTH="25%">
<br><font face="Arial,Helvetica"><font size=-1>All beam-out weapons carry
only a limited supply of ammunition.&nbsp; Once you use all of your ammunition,
you will need to return to a base and obtain more ammunition.</font></font>
<ul>
<li>
<font face="Arial,Helvetica"><font size=-1>Beamers carry 10 shots</font></font></li>

<li>
<font face="Arial,Helvetica"><font size=-1>Repulsors carry 7 shots</font></font></li>

<li>
<font face="Arial,Helvetica"><font size=-1>AaPD2000's carry 4 shots</font></font></li>
</ul>
<font face="Arial,Helvetica"><font size=-1>You will need to find the correct
ammo for the weapon you carry.&nbsp; To get ammo navigate over the proper
ammo and your weapon will be re-loaded.</font></font>
<br>&nbsp;
<center><table BORDER=0 CELLSPACING=0 CELLPADDING=0 COLS=3 WIDTH="100%" >
<tr>
<td ALIGN=CENTER><img SRC="/places/ne_game/html/beamer.jpg" height=100 width=46>
<br><b><font face="Arial,Helvetica">Beamer Ammo</font></b></td>

<td ALIGN=CENTER VALIGN=CENTER><img SRC="/places/ne_game/html/repulsor.jpg" BORDER=0 height=100 width=70>
<br><b><font face="Arial,Helvetica">Repulsor Ammo</font></b></td>

<td ALIGN=CENTER><img SRC="/places/ne_game/html/aapd.jpg" BORDER=0 height=100 width=82>
<br><b><font face="Arial,Helvetica">AaPD2000 ammo</font></b></td>
</tr>
</table></center>

<p><b><font face="Arial,Helvetica"><font color="#66FFFF">Bases</font></font></b>
<br>
<hr ALIGN=LEFT WIDTH="25%">
<br><font face="Arial,Helvetica"><font color="#CCCCCC"><font size=-1>Your
team' s base serves several functions.</font></font></font>
<p><b><font face="Arial,Helvetica"><font color="#66FFFF">Beamer Cannons</font></font></b>
<br>
<hr ALIGN=LEFT WIDTH="25%">
<center><table BORDER=0 CELLSPACING=0 CELLPADDING=0 COLS=2 WIDTH="100%" >
<tr>
<td><font face="Arial,Helvetica"><font color="#CCCCCC"><font size=-1>The
beamer cannons on your bases are Model BC355 Anti-Grav cannon pods.&nbsp;&nbsp;&nbsp;
The anti-gravity base allows great maneuverability during battle, but makes
the controls very sensitive.</font></font></font></td>

<td VALIGN=CENTER><img SRC="/places/ne_game/html/turret_noman.jpg" height=150 width=172></td>
</tr>
</table></center>

<p><font face="Arial,Helvetica"><font color="#CCCCCC"><font size=-1>To
enter a cannon, click the cannon and you will be placed in the cockpit.&nbsp;
To aim the cannon, click on the screen, and move your mouse to rotate the
cannon.</font></font></font>
<p><font face="Arial,Helvetica"><font size=-1><font color="#FFFF00">TIP:</font><font color="#CCCCCC">
Controlling the beamer cannon can be a little tricky.&nbsp; Try to use
small mouse movements to control, and use the stabilizer key frequently
to keep your aim on target.</font></font></font>
<p><font face="Arial,Helvetica"><font color="#CCCCCC"><font size=-1>You
can fire and stabilize the cannon with the keyboard:</font></font></font>
<br>&nbsp;
<table BORDER=0 CELLSPACING=0 CELLPADDING=0 COLS=1 WIDTH="100%" >
<tr>
<td ALIGN=LEFT WIDTH="288"><img SRC="/places/ne_game/html/controls_notxt.jpg" BORDER=0 height=135 width=260></td>
</tr>

<tr>
<td>
<br><font face="Arial,Helvetica"><font size=-1>The<b><font color="#FF0000">D</font></b>
key fires the cannon</font></font>
<br><font face="Arial,Helvetica"><font size=-1>The <b><font color="#FFFF00">A</font></b>&nbsp;
key engages the stabilizer.</font></font>
<br><font face="Arial,Helvetica"><font size=-1>(Use this if you lose control
of the cannon)</font></font>
<br><font face="Arial,Helvetica"><font size=-1>The <b><font color="#33FF33">W</font></b>
key is disabled when you control a cannon.</font></font></td>
</tr>
</table>

<p>&nbsp;</td>
</tr>
</table></center>

<br>&nbsp;
</body>
</html>
