<html>
<head>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
<!-- #include virtual="<$g_Templates>message/imsg.tmpl" -->
</head>
<frameset rows="70,100%,*,*" border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
  <frame name="top" src="place<$g_exe>?ac=menu&plc=ne_game&ID=0000000000000029&home=1" scrolling="auto" noresize border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
  <frameset cols="*,185" border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
    <frame name="place" src="edit?tpl=ne_game/enter" scrolling="auto" noresize border=0>
    <frameset rows="54,*" border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
      <frame name="date" src="<$g_HTMLRoot>/blank.html" scrolling="no" noresize border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
      <frame name="action" src="place<$g_exe>?ac=action&plc=ne_game&DTY=<$DTY>&ID=0000000000000029" scrolling="auto" noresize>
    </frameset>
  </frameset>
 <!-- #include virtual="<$g_Templates>common/hiddenframes.tmpl" -->
</frameset>

</html>
