### blaxxun CCpro - place definition file
### ------------------------------------------
server 		        	<$cserver>
port 		        	<$csport>
scene                           <$g_SceneServer><$g_cgiRoot>/place?ID=<$ID>&plc=<$plc>&ac=3D&IE=x.bxx
3dscene 				<$g_HttpServer><$g_HTMLRoot>/<$3Dscene>
avatarworld         	<$g_HttpServer><$g_HTMLRoot>/avatars/pro_vrml.htm
sname               	<$scenename>
message  Welcome to the Stadium.  Please read the instructions to learn about the different parts of the Stadium, and how to play V-Soccer
<!-- #ifndef variable="chatwriteaccess" -->
protectpublicinput	1
<!-- #endif variable="chatwriteaccess" -->

### Authentication
authenticationid		<$MID>
authenticationpw		<$COOKIE>
nickname	    		<$NNM>
protectnickname		1

<!-- #ifdef variable="isMember" -->
<!-- #if variable="AVU" != "" -->
vrmlmyavatar		<$AVU>
<!-- #endif variable="AVU" -->
<!-- #if variable="INT" != "" -->
interests		<$INT>
<!-- #endif variable="INT" -->
<!-- #endif variable="isMember" -->

<!-- #ifdef variable="isVisitor" -->
vrmlmyavatar		http://www.blaxxun.com/bxx/vrml/avatars/default.wrl
settingslistflag		101110
<!-- #endif variable="isVisitor" -->

<!-- #ifndef variable="isVisitor" -->
settingslistflag		111111
<!-- #endif variable="isVisitor" -->

### Roles
prenickname			<$NAM>
postnickname 		<$EXP>


### Joinmessage
joinmessage		0


### Voice
voicesupport		1
clientvoiceenable	1
botvoiceenable		1


### Diverse
noblaxxunhelp		1
useversionserver	0
listtabflag                             110010100
##listtabflag                           <$list_flag>
###frameset				<$g_HttpServer><$g_cgiRoot>/<$frameset>
htmlframe				HTML
framesizes				60
uselastscene    0

### Colors
logcolor	0
panelbackrgb          	0,80,0
paneltextrgb          	0,223,0

### Chat colors
inputtextchatrgb       	255,255,0
systemtextchatrgb      	0,255,220
historytextchatrgb  	250,250,250
bottextchatrgb         	0,195,255
owntextchatrgb         	255,255,0
othertextchatrgb       	255,160,0
