<html>    
  
<head>    
  
<title>Cybertown | BOB Registration Form</title>    
  
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">    
  
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">    
  
<meta name="GENERATOR" content="Mozilla/4.5 [en] (Win95; I) [Netscape]">    
  
<SCRIPT LANGUAGE="JavaScript">    
  
    
  
<!-- Begin    
  
function formHandler(form){    
  
var URL = document.form.site.options[document.form.site.selectedIndex].value;    
  
window.location.href = URL;    
  
}    
  
// End -->    
  
</SCRIPT>    
  
</head>    
  
    
  
<body bgcolor="#000000" text="#cccccc" link="#00FF00" vlink="#00CC00" alink="#FF0000">    
  
<center>    
  
 <table width="560" border="0" cellpadding="10" align="center">    
  
    <tr valign="top">   
      <td>   
        <center>  
          <p><font color="#00ff00" size="+2">Cybertown's<br>  
            <img src="http://www.cybertown.com/bob2000/band1.gif" width="468" height="60"><br>  
            </font><font color="#00FF00"><font size=+2>Music and </font><font color="#00FF00"><font size=+2>Musician   
            Avatar</font></font><font size=+2> Registration Form</font></font>   
          </p>  
          <p>  
          <center>  
            <table>  
              <TR>   
                <TD>   
                  <form name="form">  
                    <select name="site" size=1 onChange="javascript:formHandler()">  
                      <option value="">Jump to....   
                      <option value="http://www.cybertown.com/">Cybertown Home   
                      <option value="/cgi-bin/cybertown/register?backurl=/index.html">Cybertown   
                      Registration   
                      <option value="http://www.cybertown.com/bob2000/rules1.html">Rules,   
                      Regulations, Prizes   
                      <option value="http://www.cybertown.com/bob2000/callfor.html">Call   
                      for Participation   
                      <option value="http://www.cybertown.com/bob2000/real.html#basic">Basic   
                      Event Software   
                      <option value="http://www.cybertown.com/bob2000/real.html">Real   
                      Audio Info   
                      <option value="/info/about/details/constitution.html">Cybertown   
                      Constitution   
                      <option value="/notices/privacystate.html">Privacy   
                      Statement   
                    </select>  
                  </form>  
                </TD>  
              </TR>  
            </Table>  
            (Please use your Browser Back Button for navigation when necessary)   
          </center>  
          <p>If you are new to these types of events please read:<br>  
            <font color="#00ff00"><a href="http://www.cybertown.com/bob2000/real.html">How   
            to be a Real Player in Cybertown Virtual Concerts or Events</a></font>   
          <p><b><font color="#00FF00"><font size=+2>Instructions</font></font></b>   
          <hr width="100%">  
        </center>  
        <ol>  
          <li> Read the <a href="http://www.cybertown.com/bob2000/rules1.html">Rules   
            and Regulations on the prior page</a>.</li>  
          <ul>  
            <li> Only registered citizens/members of Cybertown may participate.   
              Membership is free so if you are not a citizen you should <a href="/cgi-bin/cybertown/register?backurl=/index.html">register   
              now</a>! After registering, come back to this page.</li>  
          </ul>  
          <ul>  
            <li> If you are a registered citizen of Cybertown, but have not logged   
              into Cybertown before accessing this page, please <a href="/cgi-bin/cybertown/place?ac=member&backurl=/index.html&imm=1">login   
              now</a> to access the registration form. After login, come back   
              to this page. </li>  
          </ul>  
          <li> Fill in the Registration Form.</li>  
          <li> Choose the Musician Avatar that will represent you during your   
            performance.</li>  
          <li> Submit the registration form.</li>  
          <li> Watch your e-mail.</li>  
          <ul>  
            <li> All music will be screened for suitability in Cybertown's family   
              atmosphere.</li>  
            <li> An email will be sent to confirm acceptance. <font color="#00FF00">This   
              e-mail will contain detailed instructions on what to do the day   
              of your performance, when and where in Cybertown it will happen,   
              plus the URL and instructions for your Musician Avatar</font></li>  
          </ul>  
          <li> Knock them dead!   
        </ol>  
        <center>  
          <p><br>  
        </center>  
        <p align="center"><b><font color="#00FF00"><font size=+2>Registration   
          Form</font></font></b></p>  
        <center>  
        </center>  
        <center>  
          <p>   
          <hr width="100%">  
        </center>  
        <form action=mailto:battle2000@blaxxun.com href="mailto:battle2000@blaxxun.com" method="POST" name="bob_reg">  
          <p></p>  
          <table cellspacing=0 cellpadding=10 width="100%" >  
            <tr>   
              <td width="200"><b>Your Cybertown Alias:</b></td>  
              <td align=LEFT valign=CENTER>   
                <input type="text" size=45 name="name2" value="" >  
              </td>  
            </tr>  
            <tr>   
              <td><b>Contact Email: </b></td>  
              <td align=LEFT valign=CENTER>   
                <input type="text" size=45 name="email2" value="">  
              </td>  
            </tr>  
            <tr>   
              <td colspan="2">   
                <center>  
                  <p><i><font color="#00FF00">We must be able to send you a confirmation   
                    of your submission. <br>  
                    Regrettably, any submission with an invalid email will not   
                    be considered for performance at this event.</font></i></p>  
                </center>  
              </td>  
            </tr>  
            <tr>   
              <td>   
                <p><b>Song Titles (limit 3):</b></p>  
              </td>  
              <td align=LEFT valign=CENTER>   
                <input type="text" size=45 name="title12" value="">  
                <br>  
                <input type="text" size=45 name="title22" value="">  
                <br>  
                <input type="text" size=45 name="title32" value="">  
              </td>  
            </tr>  
            <tr>   
              <td><b>Band Name and Comments:</b></td>  
              <td>   
                <input type="text" size=45 name="description2" value="">  
                <i><font color="#00FF00">(25 words or less)</font></i> </td>  
            </tr>  
            <tr>   
              <td>   
                <p><b>Select one music genre to compete in:</b></p>  
              </td>  
              <td>   
                <select name="select" size="2">  
                  <option value="Rock">Rock</option>  
                  <option value="Jazz">Jazz</option>  
                  <option value="Blues">Blues</option>  
                  <option value="Pop">Pop</option>  
                  <option value="Alternative">Alternative</option>  
                  <option value="Heavy Metal">Heavy Metal</option>  
                  <option value="Techno">Techno</option>  
                  <option value="R&amp;B">R&amp;B</option>  
                  <option value="HipHop">HipHop</option>  
                  <option value="Rap">Rap</option>  
                  <option value="New Wave">New Wave</option>  
                  <option value="Gothic">Gothic</option>  
                  <option value="International">International</option>  
                  <option value="Latin">Latin</option>  
                  <option value="Country">Country</option>  
                  <option value="Spritual">Spritual</option>  
                  <option value="Classical">Classical</option>  
                  <option value="Other">Other</option>  
                </select>  
              </td>  
            </tr>  
          </table>  
          <center>  
            <p><b><font color="#00FF00"><font size=+2>Choose Your Musician Avatar</font></font></b><br>  
              (Check only One)</p>  
          </center>  
          <p>   
          <hr width="100%">  
          <p></p>  
          <table cellspacing=0 cellpadding=10 width="100%" >  
            <tr>   
              <td align=CENTER valign=top width="20%">   
                <input type="radio" name="avatar" value="/events/worldcon/avatar/music/paul.wrl">  
                <br>  
                <img src="/events/worldcon/avatar/music/paul.gif" height=140 width=150><br>  
                <font color="#FFFF00">Created by <br>  
                Dennis McKenzie</font><br>  
                <font color="#FFFF00">at Geometrik</font> </td>  
              <td align=CENTER valign=top width="32%">   
                <input type="radio" name="avatar" value="/events/worldcon/avatar/music/len.wrl">  
                <br>  
                <img src="/events/worldcon/avatar/music/len.gif" height=140 width=150><font color="#FFFF00"><br>  
                Created by <br>  
                Dennis McKenzie</font><br>  
                <font color="#FFFF00">at Geometrik</font> </td>  
              <td align=CENTER valign=top width="21%">   
                <input type="radio" name="avatar" value="/events/worldcon/avatar/music/george.wrl">  
                <br>  
                <img src="/events/worldcon/avatar/music/george.gif" height=140 width=150><br>  
                <font color="#FFFF00">Created by <br>  
                Dennis McKenzie</font><br>  
                <font color="#FFFF00">at Geometrik</font> </td>  
              <td align=CENTER valign=top width="21%">   
                <input type="radio" name="avatar" value="/events/worldcon/avatar/music/drummer.wrl">  
                <img src="/places/suburbs/MusicAvatars/drummer.gif" height=140 width=150><br>  
                <font color="#FFFF00">Created by <br>  
                Dennis McKenzie</font><br>  
                <font color="#FFFF00">at Geometrik</font> </td>  
            </tr>  
            <tr>   
              <td width="20%" align="center" valign="top">   
                <hr>  
              </td>  
              <td align=CENTER valign=top width="32%">   
                <hr>  
              </td>  
              <td align=CENTER valign=top width="21%">   
                <hr>  
              </td>  
              <td align=CENTER valign=top width="21%">   
                <hr>  
              </td>  
            </tr>  
            <tr>   
              <td width="20%" align="center" valign="top">   
                <input type="radio" name="avatar" value="/places/suburbs/MusicAvatars/alien_music_xylo.wrl">  
                <br>  
                <img src="/places/suburbs/MusicAvatars/alien_xylo.jpg" height=170 width=150><br>  
                <font color="#FFFF00">Alien Xylophone <br>  
                Created by <br>  
                Mr. Phillip</font><br>  
              </td>  
              <td align=CENTER valign=top width="32%">   
                <input type="radio" name="avatar" value="/places/suburbs/MusicAvatars/alien_music.wrl    
  
">  
                <br>  
                <img src="/places/suburbs/MusicAvatars/alien.jpg" height=170 width=130><br>  
                <font color="#FFFF00">Alien Musician <br>  
                </font><font color="#FFFF00">Created by <br>  
                Mr. Phillip</font></td>  
              <td align=CENTER valign=top width="21%">   
                <input type="radio" name="avatar" value="http://207.36.91.90/mr_phillip/classic_guitar.wrl">  
                <img src="http://www.cybertown.com/bob2000/classical.jpg" height=170 width=150><br>  
                <font color="#FFFF00">Classical Guitarist<br>  
                </font><font color="#FFFF00">Created by <br>  
                Mr. Phillip</font></td>  
              <td align=CENTER valign=top width="21%">   
                <input type="radio" name="avatar" value="http://www.cybertown.com/bob2000/avatars/musician1.wrl">  
                <br>  
                <img src="http://www.cybertown.com/bob2000/music1.jpg" height=170 width=100><br>  
                <font color="#FFFF00">Musician Warrior 1<br>  
                </font><font color="#FFFF00">Created with<br>  
                blaxxun Avatar Studio</font></td>  
            </tr>  
            <tr>   
              <td width="20%" align="center" valign="top">   
                <hr>  
              </td>  
              <td align=CENTER valign=top width="32%">   
                <hr>  
              </td>  
              <td align=CENTER valign=top width="21%">   
                <hr>  
              </td>  
              <td align=CENTER valign=top width="21%">   
                <hr>  
              </td>  
            </tr>  
            <tr>   
              <td width="20%" align="center" valign="top">   
                <p>   
                  <input type="radio" name="avatar" value="http://www.cybertown.com/bob2000/avatars/musician2.wrl">  
                  <br>  
                  <img src="http://www.cybertown.com/bob2000/music2.jpg" height=180 width=100><br>  
                  <font color="#FFFF00">Musician Warrior 2<br>  
                  </font><font color="#FFFF00">Created with<br>  
                  blaxxun Avatar Studio</font> </p>  
              </td>  
              <td align=CENTER valign=top width="32%">   
                <input type="radio" name="avatar" value="http://www.cybertown.com/bob2000/avatars/musician3.wrl">  
                <br>  
                <img src="http://www.cybertown.com/bob2000/music3.jpg" height=180 width=100><br>  
                <font color="#FFFF00">Musician Warrior 3<br>  
                </font><font color="#FFFF00">Created with<br>  
                blaxxun Avatar Studio</font></td>  
              <td align=CENTER valign=top width="21%">   
                <input type="radio" name="avatar" value="http://www.cybertown.com/bob2000/avatars/musician4.wrl">  
                <br>  
                <img src="http://www.cybertown.com/bob2000/music4.jpg" height=180 width=100><br>  
                <font color="#FFFF00">Musician Warrior 4<br>  
                </font><font color="#FFFF00">Created with<br>  
                blaxxun Avatar Studio</font><br>  
                <br>  
              </td>  
              <td align=CENTER valign=top width="21%">   
                <input type="radio" name="avatar" value="http://www.cybertown.com/bob2000/avatars/musician5.wrl">  
                <br>  
                <img src="http://www.cybertown.com/bob2000/music5.jpg" height=180 width=100><br>  
                <font color="#FFFF00">Musician Warrior 5<br>  
                </font><font color="#FFFF00">Created with<br>  
                blaxxun Avatar Studio</font></td>  
            </tr>  
            <tr>   
              <td width="20%" align="center" valign="top">   
                <hr>  
              </td>  
              <td align=CENTER valign=top width="32%">   
                <hr>  
              </td>  
              <td align=CENTER valign=top width="21%">   
                <hr>  
              </td>  
              <td align=CENTER valign=top width="21%">   
                <hr>  
              </td>  
            </tr>  
            <tr>   
              <td width="20%" align="center" valign="top">   
                <input type="radio" name="avatar" value="http://www.cybertown.com/bob2000/avatars/musician6.wrl">  
                <br>  
                <img src="http://www.cybertown.com/bob2000/music6.jpg" height=170 width=100><br>  
                <font color="#FFFF00">Musician Warrior 6<br>  
                </font><font color="#FFFF00">Created with<br>  
                blaxxun Avatar Studio</font> </td>  
              <td align=CENTER valign=top width="32%">   
                <input type="radio" name="avatar" value="http://207.36.91.90/mr_phillip/lead_guitar.wrl">  
                <img src="http://www.cybertown.com/bob2000/lead.gif" height=170 width=150><br>  
                <font color="#FFFF00">Lead Guitarist<br>  
                </font><font color="#FFFF00">Created by <br>  
                Mr. Phillip</font> </td>  
              <td align=CENTER valign=top width="21%">&nbsp; </td>  
              <td align=CENTER valign=top width="21%">&nbsp; </td>  
            </tr>  
            <tr>   
              <td align=CENTER valign=CENTER colspan="4">   
                <hr>  
              </td>  
            </tr>  
            <tr>   
              <td align=CENTER valign=CENTER colspan="4">   
                <center>  
                  <p><b><font color="#FFFF00"><br>  
                    </font></b><font size=-1><font color="#00FF00">These avatars   
                    look great in the 3D world. The ones from Geometrik are animated   
                    and constantly playing their instruments.<br>  
                    The avatars by Mr. Phillip will play their instruments when   
                    you click a leg or foot.<br>  
                    </font></font><font size=-1><font color="#00FF00"> The avatars   
                    created with blaxxun Avatar Studio use the default Cybertown   
                    gestures. </font></font></p>  
                </center>  
              </td>  
            </tr>  
            <tr>   
              <td align=CENTER valign=CENTER width="20%">   
                <center>  
                  <p><b><font size=+1>Put the URL to your music file here </font></b></p>  
                </center>  
              </td>  
              <td align=CENTER valign=CENTER colspan="3">   
                <input type="text" size=65 name="music2" value="" >  
              </td>  
              <td width="2%"></td>  
              <td width="4%"></td>  
            </tr>  
          </table>  
          <center>  
            <p><font color="#FF0000">This URL must be the full URL of a streaming   
              audio file on the WWW.</font> <br>  
              <font color="#FF0000">A hypothetical example is: http://www.myServer.com/thisIsMySong.ram</font>   
              <br>  
              <font color="#FF0000">It must point to a .ram file (notice that   
              the example ends with .ram), not<br>  
              </font><font color="#FF0000">to a web page (.html) or any other   
              type of content (.ra .rm .mid).</font> <br>  
              <font color="#FF0000">This must be the exact URL of the poetry or   
              story telling your avatar will play.<br>  
              </font><font color="#FF0000">If it points to anything but a .ram   
              file,</font> <font color="#FF0000">you avatar WILL NOT WORK.</font>   
            <p> <i><font color="#00FF00">The best streaming RealAudio format will   
              be optimized for play at 56.6k or 28k.</font></i>   
            <p><i><font color="#FFFF00">Find out more about how to make RealAudio   
              files <a href="http://www.cybertown.com/bob2000/real.html#q&amp;a">here</a></font></i>   
              <center>  
              </center>  
            <center>  
              <p>   
              <hr width="100%">  
              <font size=-1><font> </font></font>   
            </center>  
            <font size=-1><font>   
            <center>  
              <p><b><font color="#00FF00"><font size=+2>Submit your Form</font></font></b></p>  
            </center>  
            <center>  
              <p>   
              <hr width="100%">  
              <p></p>  
            </center>  
            <center>  
              <p>LEGAL NOTICE REGARDING SUBMISSION OF THIS FORM: </p>  
            </center>  
            </font></font>   
          </center>  
          <font size="-1">1) Performer/contestant shall not upload, post or otherwise   
          make available on Cybertown.com any material protected by copyright,   
          trademark or other proprietary right without the express permission   
          of the owner of the copyright, trademark or other proprietary right   
          and the burden of determining that any material is not protected by   
          copyright rests with performer/contestant. Performer/contestant shall   
          be solely liable for any damage resulting from any infringement of copyrights,   
          proprietary rights, or any other harm resulting from such a submission.   
          By submitting material to any public area of Cybertown.com, performer/contestant   
          automatically grants, or warrants that the owner of such material has   
          expressly granted Cybertown.com the royalty-free, perpetual, irrevocable,   
          non-exclusive right and license to use and make available for public   
          broadcasting such material (in whole or in part) worldwide and for the   
          time period designated for the event involved. Performer/contestant   
          hereby grants Cybertown the right to publically broadcast any material   
          made available on Cybertown.com by performer/contestant. </font><br>  
          <p><font size=-1>2) <font size="-1">Performer/contestant submission   
            of this form acknowledges acceptance of all the rules and regulations   
            contained within the contents of this form and any listed rules and   
            regulations for this particular contest.</font><font><br>  
            </font></font><font size=-1></font> </p>  
          <center>  
            <font size=-1><font>   
            <center>  
              <p>   
                <input type="submit" value="Submit Your Form" name="submit2">  
              </p>  
            </center>  
            </font></font>   
          </center>  
        </form>  
      </td>    
  
    </tr>    
  
  </table>    
  
  <p>&nbsp;</p>    
  
  
  
  
  
</center>    
  
</body>    
  
</html>    
  
  
  
  
  

