<HTML>

<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
<BASE target="place">
</HEAD>

<BODY BACKGROUND="<$g_HTMLRoot>/home/<$pathneigh>neighbor/<$imgneigh>.gif"
BGCOLOR="#000000" LINK="#00FF00" VLINK="#00FF00" ALINK="#FFFFFF" TEXT="#D0DBF7">

<table width=510 border=0 cellpadding=0 cellspacing=0>

<tr> <!-- ********************************* house line 1-->
<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0101>&ID=<$id0101>">
<$name0101> (@)</a>
</td> <!-- position 1 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0102>&ID=<$id0102>">
<$name0102> (@)</a>
</td> <!-- position 2 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0103>&ID=<$id0103>">
<$name0103> (@)</a>
</td> <!-- position 3 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0104>&ID=<$id0104>">
<$name0104> (@)</a>
</td> <!-- position 4 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0105>&ID=<$id0105>">
<$name0105> (@)</a>
</td> <!-- position 5 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0106>&ID=<$id0106>">
<$name0106> (@)</a>
</td> <!-- position 6 -->
</tr>


<tr> <!-- ********************************* house line 2-->
<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0201>&ID=<$id0201>">
<$name0201> (@)</a>
</td> <!-- position 1 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0202>&ID=<$id0202>">
<$name0202> (@)</a>
</td> <!-- position 2 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0203>&ID=<$id0203>">
<$name0203> (@)</a>
</td> <!-- position 3 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0204>&ID=<$id0204>">
<$name0204> (@)</a>
</td> <!-- position 4 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0205>&ID=<$id0205>">
<$name0205> (@)</a>
</td> <!-- position 5 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0206>&ID=<$id0206>">
<$name0206> (@)</a>
</td> <!-- position 6 -->
</tr> 


<tr> <!-- ********************************* house line 3-->
<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0301>&ID=<$id0301>">
<$name0301> (@)</a>
</td> <!-- position 1 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0302>&ID=<$id0302>">
<$name0302> (@)</a>
</td> <!-- position 2 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0303>&ID=<$id0303>">
<$name0303> (@)</a>
</td> <!-- position 3 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0304>&ID=<$id0304>">
<$name0304> (@)</a>
</td> <!-- position 4 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0305>&ID=<$id0305>">
<$name0305> (@)</a>
</td> <!-- position 5 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0306>&ID=<$id0306>">
<$name0306> (@)</a>
</td> <!-- position 6 -->
</tr> 

<tr> <!-- ********************************* house line 4-->
<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0401>&ID=<$id0401>">
<$name0401> (@)</a>
</td> <!-- position 1 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0402>&ID=<$id0402>">
<$name0402> (@)</a>
</td> <!-- position 2 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0403>&ID=<$id0403>">
<$name0403> (@)</a>
</td> <!-- position 3 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0404>&ID=<$id0404>">
<$name0404> (@)</a>
</td> <!-- position 4 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0405>&ID=<$id0405>">
<$name0405> (@)</a>
</td> <!-- position 5 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0406>&ID=<$id0406>">
<$name0406> (@)</a>
</td> <!-- position 6 -->
</tr>


<tr> <!-- ********************************* house line 5-->
<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0501>&ID=<$id0501>">
<$name0501> (@)</a>
</td> <!-- position 1 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0502>&ID=<$id0502>">
<$name0502> (@)</a>
</td> <!-- position 2 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0503>&ID=<$id0503>">
<$name0503> (@)</a>
</td> <!-- position 3 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0504>&ID=<$id0504>">
<$name0504> (@)</a>
</td> <!-- position 4 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0505>&ID=<$id0505>">
<$name0505> (@)</a>
</td> <!-- position 5 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0506>&ID=<$id0506>">
<$name0506> (@)</a>
</td> <!-- position 6 -->
</tr> 

</table>

</BODY>
</HTML>
