<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
<base target="_top">
</HEAD>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<p align=center>
<b>Update Wizard for <$ENM> '<$NAM>'</b>
</p>

<p align=center><small>
Click the <b><$BNM></b> you want to update.<br>
Change the 
<a href="neighbor<$g_exe>?ac=wizardimage&ID=<$ID>" target="place">background image</a>
for this <b><$ENM></b>.
<small></p>

<!-- #include virtual="<$g_Templates>common/placefooter.tmpl" -->

<BODY>
</HTML>
