<HTML>

<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
<BASE target="place">
</HEAD>

<BODY BACKGROUND="<$g_HTMLRoot>/home/<$pathneigh>neighbor/<$imgneigh>.gif"
BGCOLOR="#000000" LINK="#00FF00" VLINK="#00FF00" ALINK="#FFFFFF" TEXT="#D0DBF7">

<table width=510 border=0 cellpadding=0 cellspacing=0>

<tr> <!-- ********************************* house line 1-->
<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0101>&ID=<$id0101>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0101>.gif" width=70 height=50 border=0 ALT="<$name0101>"></a>
</td> <!-- position 1 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0102>&ID=<$id0102>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0102>.gif" width=70 height=50 border=0 ALT="<$name0102>"></a>
</td> <!-- position 2 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0103>&ID=<$id0103>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0103>.gif" width=70 height=50 border=0 ALT="<$name0103>"></a>
</td> <!-- position 3 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0104>&ID=<$id0104>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0104>.gif" width=70 height=50 border=0 ALT="<$name0104>"></a>
</td> <!-- position 4 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0105>&ID=<$id0105>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0105>.gif" width=70 height=50 border=0 ALT="<$name0105>"></a>
</td> <!-- position 5 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0106>&ID=<$id0106>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0106>.gif" width=70 height=50 border=0 ALT="<$name0106>"></a>
</td> <!-- position 6 -->
</tr>


<tr> <!-- ********************************* house line 2-->
<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0201>&ID=<$id0201>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0201>.gif" width=70 height=50 border=0 ALT="<$name0201>"></a>
</td> <!-- position 1 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0202>&ID=<$id0202>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0202>.gif" width=70 height=50 border=0 ALT="<$name0202>"></a>
</td> <!-- position 2 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0203>&ID=<$id0203>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0203>.gif" width=70 height=50 border=0 ALT="<$name0203>"></a>
</td> <!-- position 3 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0204>&ID=<$id0204>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0204>.gif" width=70 height=50 border=0 ALT="<$name0204>"></a>
</td> <!-- position 4 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0205>&ID=<$id0205>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0205>.gif" width=70 height=50 border=0 ALT="<$name0205>"></a>
</td> <!-- position 5 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0206>&ID=<$id0206>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0206>.gif" width=70 height=50 border=0 ALT="<$name0206>"></a>
</td> <!-- position 6 -->
</tr> 


<tr> <!-- ********************************* house line 3-->
<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0301>&ID=<$id0301>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0301>.gif" width=70 height=50 border=0 ALT="<$name0301>"></a>
</td> <!-- position 1 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0302>&ID=<$id0302>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0302>.gif" width=70 height=50 border=0 ALT="<$name0302>"></a>
</td> <!-- position 2 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0303>&ID=<$id0303>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0303>.gif" width=70 height=50 border=0 ALT="<$name0303>"></a>
</td> <!-- position 3 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0304>&ID=<$id0304>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0304>.gif" width=70 height=50 border=0 ALT="<$name0304>"></a>
</td> <!-- position 4 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0305>&ID=<$id0305>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0305>.gif" width=70 height=50 border=0 ALT="<$name0305>"></a>
</td> <!-- position 5 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0306>&ID=<$id0306>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0306>.gif" width=70 height=50 border=0 ALT="<$name0306>"></a>
</td> <!-- position 6 -->
</tr> 

<tr> <!-- ********************************* house line 4-->
<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0401>&ID=<$id0401>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0401>.gif" width=70 height=50 border=0 ALT="<$name0401>"></a>
</td> <!-- position 1 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0402>&ID=<$id0402>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0402>.gif" width=70 height=50 border=0 ALT="<$name0402>"></a>
</td> <!-- position 2 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0403>&ID=<$id0403>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0403>.gif" width=70 height=50 border=0 ALT="<$name0403>"></a>
</td> <!-- position 3 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0404>&ID=<$id0404>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0404>.gif" width=70 height=50 border=0 ALT="<$name0404>"></a>
</td> <!-- position 4 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0405>&ID=<$id0405>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0405>.gif" width=70 height=50 border=0 ALT="<$name0405>"></a>
</td> <!-- position 5 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0406>&ID=<$id0406>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0406>.gif" width=70 height=50 border=0 ALT="<$name0406>"></a>
</td> <!-- position 6 -->
</tr>


<tr> <!-- ********************************* house line 5-->
<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0501>&ID=<$id0501>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0501>.gif" width=70 height=50 border=0 ALT="<$name0501>"></a>
</td> <!-- position 1 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0502>&ID=<$id0502>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0502>.gif" width=70 height=50 border=0 ALT="<$name0502>"></a>
</td> <!-- position 2 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0503>&ID=<$id0503>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0503>.gif" width=70 height=50 border=0 ALT="<$name0503>"></a>
</td> <!-- position 3 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0504>&ID=<$id0504>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0504>.gif" width=70 height=50 border=0 ALT="<$name0504>"></a>
</td> <!-- position 4 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0505>&ID=<$id0505>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0505>.gif" width=70 height=50 border=0 ALT="<$name0505>"></a>
</td> <!-- position 5 -->

<td width=85 height=54 align=center>
<a href="neighbor<$g_exe>?ac=wizard&mode=<$mode0506>&ID=<$id0506>">
<img src="<$g_HTMLRoot>/home/<$path>neighbor/<$img0506>.gif" width=70 height=50 border=0 ALT="<$name0506>"></a>
</td> <!-- position 6 -->
</tr> 

</table>

</BODY>
</HTML>
