<!-- jail/ac_middle.tmpl -->
<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
<br><a href="javascript:loadInfo('msb<$g_exe>?DTY=O&KTY=ID&KEY=0000000000000013&MTY=i')" target=_self>
<IMG SRC="<$g_Images>/places/jail/images/secinbox.gif" BORDER=0 ALT="Security Inbox"></a><br>
<a href="javascript:loadInfo('msb<$g_exe>?DTY=O&KTY=ID&KEY=0000000000000039&MTY=i')" target=_self>
<IMG SRC="<$g_Images>/places/jail/images/cerbinbox.gif" BORDER=0 ALT="C.E.R.B. Inbox"></a><br>
</BODY>
</HTML>
