<!-- jail/action.tmpl -->
<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
<script language="JavaScript">
function moderate() 
{window.open('place<$g_exe>?ac=moderate&plc=<$place>&TKT=<$TKT>','Moderator', 'toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=no,resizable=yes,copyhistory=no,width=800,height=600');}</script>
<!-- #include virtual="<$g_Templates>common/loadinfo.tmpl" -->
<!-- #include virtual="<$g_Templates><$plc>/ac_head.tmpl" -->
</HEAD>

<!-- #include virtual="<$g_Templates>common/body1.tmpl" -->
<font face="Arial" size=-2>                                 
<form name="navbar">
<center>
<a href="place<$g_exe>?plc=<$place>&ac=place&ID=<$ID>" target="place">
<b><i><font face="Arial" size=+0 color="#00FF00"><$NAM></font></b></i></a><br>

<!-- #include virtual="<$g_Templates><$plc>/ac_top.tmpl" -->
<!-- #ifdef variable="chataccess" -->
<a href="place<$g_exe>?plc=<$place>&ac=place&ID=<$ID>&force=s" target="place">
<IMG SRC="<$g_Images>/images/buttons/b2dchat.gif" BORDER=0 ALT="2D Chat"></a>
<a href="place<$g_exe>?plc=<$place>&ac=place&ID=<$ID>&force=p" target="place">
<IMG SRC="<$g_Images>/images/buttons/b3dchat.gif" BORDER=0 ALT="3D Chat"></a><br>
<!-- #endif variable="chataccess" -->


<A HREF="javascript:loadCustom('<$g_cgiRoot>/message<$g_exe>?TPL=message/security&ac=postmessage&TKT=<$TKT>&TIME=<$CT_STR>',550,240)">
  <IMG BORDER=0 SRC="http://www.cybertown.com/images/buttons/secalert.gif" ></A><IMG SRC="<$g_Images>/images/finalcontx.gif" BORDER="0" USEMAP="#controlmap" ALT="Cybertown Control Panel">
<!-- #include virtual="<$g_Templates>common/jumpgate.tmpl" -->

<!-- Begin Help Flags -->
<br>
<a href="javascript:loadInfo('<$g_HTMLRoot>/info/help/german/index.html')" target="_self"><img src="/info/help/german/images/germanysm.gif" border="0" alt=" Deutsche Hilfe Seiten"></a>&nbsp;&nbsp;&nbsp;
<a href="javascript:loadInfo('<$g_HTMLRoot>/info/about/details/const_russian.html')" target="_self"><img src="/info/help/russian/images/russianysm.gif" border="0" alt=" Russian Help"></a>&nbsp;&nbsp;&nbsp;
<a href="javascript:loadInfo('<$g_HTMLRoot>/info/help/spanish/faqs.html')" target="_self"><img src="/info/help/spanish/images/spainsm.gif" border="0" alt="FAQs en Espanol"></a>

<!-- #include virtual="<$g_Templates>common/event_buttons.tmpl" -->
<!-- #include virtual="<$g_Templates><$plc>/ac_event.tmpl" -->

<!-- hide info/messages/indox for shops in mall -- these are linked to main mall info/messages/inbox -->
<!-- #ifndef variable="plc" value="shop" -->
<a href="javascript:loadInfo('place<$g_exe>?plc=<$place>&ac=info&ID=<$ID>')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/binfo.gif" BORDER=0 ALT="Info"></a><br>

<!-- #ifdef variable="readaccess" -->
<a href="javascript:loadInfo('msb<$g_exe>?DTY=O&KTY=ID&KEY=<$ID>&MTY=i')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/binbox.gif" BORDER=0 ALT="Inbox"></a><br>
<a href="javascript:loadInfo('msb<$g_exe>?DTY=O&KTY=ID&KEY=<$ID>&MTY=m')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/bmesa.gif" BORDER=0 ALT="Messages"></a><br>
<!-- #endif variable="readaccess" -->
<!-- #endif variable="plc" -->

<!-- #ifdef variable="writeaccess" -->
<a href="javascript:loadInfo('vote<$g_exe>?ac=list&TPL=vote/list&PLC=<$ID>&TYP=a')" target="_self">
<IMG SRC="<$g_Images>/images/buttons/bvote.gif" BORDER=0 ALT="Vote"></a><br>
<!-- #endif variable="writeaccess" -->

<!-- #include virtual="<$g_Templates><$plc>/ac_middle.tmpl" -->

<!-- #ifdef variable="owneraccess" -->
<a href="javascript:moderate()" target=_self>
<IMG SRC="<$g_Images>/images/buttons/bmoderate.gif" BORDER=0 ALT="Moderate Chat"></a>

<!-- #ifdef variable="owneraccess" -->
<br>
<a href="http://www.cybertown.com/cgi-bin/cybertown/place?ac=list&tpl=memberdir/jailchatmembers&T_NAM=Jail&PLC=http%3a%2f%2fwww%2ecybertown%2ecom%2fcgi%2dbin%2fcybertown%2fplace%3fID%3d0000000000000033%26plc%3djail%26ac%3d3D%26IE%3dx%2ebxx" target="_New">
<IMG SRC="<$g_Images>/places/jail/images/bjgtools.gif" BORDER=0 ALT="Jail Guard Tools">
</a><br>
<a href="edit<$g_exe>?KEY=<$ID>&TPL=place/updateinfo&backurl=edit" target="place">
<IMG SRC="<$g_Images>/images/buttons/bupdate.gif" BORDER=0 ALT="Update"></a><br>
<a href="javascript:loadCustom('print?DTY=O&ID=<$ID>&TPL=fundbox/phase0',612,490)" target=_self>
<IMG SRC="<$g_Images>/images/buttons/bfundbox.gif" BORDER=0 ALT="Fund Box"></a><br>
<!-- #endif variable="owneraccess" -->

<!-- #ifdef variable="rightsaccess" -->
<a href="edit<$g_exe>?DTY=O&KTY=ID&KEY=<$ID>&plc=<$place>&TPL=common/rights&ac=readrole" target="place">
<IMG SRC="<$g_Images>/images/buttons/baccess.gif" BORDER=0 ALT="Access Rights"></a><br>
<!-- #endif variable="rightsaccess" -->

<!-- #include virtual="<$g_Templates><$plc>/ac_bottom.tmpl" -->
<!-- #include virtual="<$g_Templates>common/controlend.tmpl" -->
</center>
</BODY>
</HTML>
