<!-- #ifdef variable="readaccess" -->
<a href="http://www.cybertown.com/townhall2.html" target=place>
<IMG SRC="<$g_Images>/images/buttons/bportal.gif" BORDER=0 ALT="Town Hall"></a><br>
<a href="place<$g_exe>?plc=employment" target="_top">
<IMG SRC="<$g_Images>/images/buttons/bjobs.gif" BORDER=0 ALT="Employment Office"></a><br>
<!-- #endif variable="readaccess" -->

<!-- #ifdef variable="owneraccess" -->
  <br>
  <a href="place<$g_exe>?plc=ccoffice" target="_top">
  <IMG SRC="<$g_Images>/images/buttons/councilbut.gif" BORDER=0 ALT="City Council Office"></a><br>
  <a href="place<$g_exe>?plc=seoffice" target="_top">
  <IMG SRC="<$g_Images>/images/buttons/securebut.gif" BORDER=0 ALT="Security Office"></a><br>
  <a href="place<$g_exe>?plc=cerboffice" target="_top">
  <IMG SRC="<$g_Images>/images/buttons/cerbbut.gif" BORDER=0 ALT="C.E.R.B. Office"></a><br>
  <a href="place<$g_exe>?plc=sponoffice" target="_top">
  <IMG SRC="<$g_Images>/images/buttons/sponbut.gif" BORDER=0 ALT="Sponsors Office"></a><br>
<!-- #endif variable="owneraccess" -->