<!-- cityhall/controlend.tmpl -->
<!-- included in action.tmpl, table starts in control.tmpl -->
</div>
<MAP Name="controlmap">
    <AREA Shape="rect" coords = "40,156,109,188"  HREF="javascript:loadInfo('/cgi-bin/cybertown/place?ac=list&tpl=cityhall/display')" ALT="Change Room" target=_self>
    <AREA Shape="rect" coords = "45,198,101,226"  HREF="javascript:loadInfo('<$g_HTMLRoot>/places/cityhall/auditorium/eventinfo.html')" ALT="Event Info" target=_self>
    <AREA Shape="rect" coords = "47,231,96,281"  HREF="javascript:loadMap('place<$g_exe>?ac=print&tpl=enter/mapcity')" ALT="City Map" target=_self>
</MAP>
</form>
<!-- end of include controlend.tmpl -->
