<!-- Cybertown Staff/Technicians -->

<!-- #ifdef variable="NNK" value="hawk" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="vialle" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="crashdummy" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->
 
<!-- #ifdef variable="NNK" value="thor" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->
 
<!-- #ifdef variable="NNK" value="psshark" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="stasis" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="jeetkunedo" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="aBlueyedbrunette" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="oxygenbe" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="wovencroft" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="stone_98" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->


<!-- Security Staff -->
  