<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
<!-- #include virtual="<$g_Templates>common/loadinfo.tmpl" -->
</HEAD>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<div align=center>

<!-- #if variable="TXT" != value="" -->
<$TXT>
<!-- #else variable="TXT" -->
<small>Click a block on the Neighborhood map above to go to the homes</small><br>
<!-- #endif variable="TXT" -->
<!-- #if variable="CHAT" != value="" -->
<!-- #define variable="height" value="170" -->
<!-- #define variable="MID" value="<$MEM_ID>" -->
<!-- #define variable="port" value="<$g_CSPort>" -->
<!-- #define variable="plc" value="neighbor" -->
<!-- #include virtual="<$g_Templates>common/javachat.tmpl" -->
<!-- #endif variable="CHAT" -->


<!-- #ifdef variable="ID" value="0102020600000000" -->
<a href="javascript:loadInfo('http://www.seti.org')" target=_self><IMG SRC="<$g_Images>/images/clubs/SETI/setimainban.gif" alt="SETI Institute Online" border=0></a>
<!-- #endif variable="ID" -->

<!-- #ifndef variable="ID" value="0102020600000000" -->
<table border=0 width=100% cellpadding=0 cellspacing=0><tr>
<!-- #include virtual="<$g_Templates>banners/tags/<$AD4>.tmpl" -->
</tr></table>
<!-- #endif variable="ID" -->

</div>
<!-- #include virtual="<$g_Templates>common/placefooter.tmpl" -->

<BODY>
</HTML>
