<HTML>
<head>
<META HTTP-EQUIV="refresh" CONTENT="5; URL=/cgi-bin/cybertown/edit?tpl=banners/banner_control">
</head>
<body>
The banners have been set to emergency status: <$T_emergency>
<br><br>
was: <$E_BANNER>
</body>
</html>



