<HTML>
<head>
<META HTTP-EQUIV="refresh" CONTENT="5; URL=/cgi-bin/cybertown/edit?tpl=banners/banner_control">
</head>
<body>
The banner for place ID: <$ID>
<br><br>
has been updated to: <$BANNER>
<br><br>
emergency status is: <$E_BANNER>
</body>
</html>



