<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<script>

function set_banner1(){
 for(i=0; i < document.banner_form.choice1.length; i++){
  if(document.banner_form.choice1[i].checked){ banner = document.banner_form.choice1[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom1.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000001";
 document.banner_form.submit();
}

function set_banner2(){
 for(i=0; i < document.banner_form.choice2.length; i++){
  if(document.banner_form.choice2[i].checked){ banner = document.banner_form.choice2[i].value; }
 } 
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom2.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000035";
 document.banner_form.submit();
}

function set_banner3(){
 for(i=0; i < document.banner_form.choice3.length; i++){
  if(document.banner_form.choice3[i].checked){ banner = document.banner_form.choice3[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom3.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000019";
 document.banner_form.submit();
}

function set_banner4(){
 for(i=0; i < document.banner_form.choice4.length; i++){
  if(document.banner_form.choice4[i].checked){ banner = document.banner_form.choice4[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom4.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "000000000000001c";
 document.banner_form.submit();
}

function set_banner5(){
 for(i=0; i < document.banner_form.choice5.length; i++){
  if(document.banner_form.choice5[i].checked){ banner = document.banner_form.choice5[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom5.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000034";
 document.banner_form.submit();
}

function set_banner6(){
 for(i=0; i < document.banner_form.choice6.length; i++){
  if(document.banner_form.choice6[i].checked){ banner = document.banner_form.choice6[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom6.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000006";
 document.banner_form.submit();
}

function set_banner7(){
 for(i=0; i < document.banner_form.choice7.length; i++){
  if(document.banner_form.choice7[i].checked){ banner = document.banner_form.choice7[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom7.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000018";
 document.banner_form.submit();
}

function set_banner8(){
 for(i=0; i < document.banner_form.choice8.length; i++){
  if(document.banner_form.choice8[i].checked){ banner = document.banner_form.choice8[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom8.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000012";
 document.banner_form.submit();
}

function set_banner9(){
 for(i=0; i < document.banner_form.choice9.length; i++){
  if(document.banner_form.choice9[i].checked){ banner = document.banner_form.choice9[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom9.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000002";
 document.banner_form.submit();
}

function set_banner10(){
 for(i=0; i < document.banner_form.choice10.length; i++){
  if(document.banner_form.choice10[i].checked){ banner = document.banner_form.choice10[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom10.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "000000000000000e";
 document.banner_form.submit();
}


function set_banner11(){
 for(i=0; i < document.banner_form.choice11.length; i++){
  if(document.banner_form.choice11[i].checked){ banner = document.banner_form.choice11[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom11.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "000000000000000e";
 document.banner_form.submit();
}

function set_banner12(){
 for(i=0; i < document.banner_form.choice12.length; i++){
  if(document.banner_form.choice12[i].checked){ banner = document.banner_form.choice12[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom12.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "000000000000000c";
 document.banner_form.submit();
}

function set_banner13(){
 for(i=0; i < document.banner_form.choice13.length; i++){
  if(document.banner_form.choice13[i].checked){ banner = document.banner_form.choice13[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom13.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000016";
 document.banner_form.submit();
}

function set_banner14(){
 for(i=0; i < document.banner_form.choice14.length; i++){
  if(document.banner_form.choice14[i].checked){ banner = document.banner_form.choice14[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom14.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "00000000000009ef";
 document.banner_form.submit();
}

function set_banner15(){
 for(i=0; i < document.banner_form.choice15.length; i++){
  if(document.banner_form.choice15[i].checked){ banner = document.banner_form.choice15[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom15.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "000000000000000a";
 document.banner_form.submit();
}

function set_banner16(){
 for(i=0; i < document.banner_form.choice16.length; i++){
  if(document.banner_form.choice16[i].checked){ banner = document.banner_form.choice16[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom16.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "000000000000001a";
 document.banner_form.submit();
}

function set_banner17(){
 for(i=0; i < document.banner_form.choice17.length; i++){
  if(document.banner_form.choice17[i].checked){ banner = document.banner_form.choice17[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom17.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000033";
 document.banner_form.submit();
}

function set_banner18(){
 for(i=0; i < document.banner_form.choice18.length; i++){
  if(document.banner_form.choice18[i].checked){ banner = document.banner_form.choice18[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom18.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000005";
 document.banner_form.submit();
}

function set_banner19(){
 for(i=0; i < document.banner_form.choice19.length; i++){
  if(document.banner_form.choice19[i].checked){ banner = document.banner_form.choice19[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom19.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000009";
 document.banner_form.submit();
}

</script>
</head>


<body bgcolor="#000000" text="#00FF00" link="#FFFF00" vlink="#FFFF00" alink="#FFFF00">
<div align="center">
  <p><font face="Arial, Helvetica, sans-serif"><b><font color="#FF0000">Banner 
    Adminisrtation</font></b></font></p>

<FORM METHOD="POST" ACTION="/cgi-bin/cybertown/edit" NAME="emergency_form">
<input type="hidden" name="ID" value="0000000000000000">
<input type="hidden" name="tpl" value="banners/banner_emergency">
<input type="radio"  name="T_emergency" value="emergency"> EMERGENCY
<input type="radio"  name="T_emergency" value="nonemergency"> NONEMERGENCY
<br><br>
STATUS: <$E_BANNER>
<br><br>
<input type="submit" name="submit" value="UPDATE">
</FORM>

  <p align="left"><b>TABLE OF CONTENTS:</b></p>
  <p align="left"><a href="#main">MAIN PLACES</a><br>
    <a href="/cgi-bin/cybertown/edit?tpl=banners/banner_control3">COLONIES</a> 
    <br>
    <a href="#puba_m">PUBLIC PLACES A-M</a><br>
    <a href="/cgi-bin/cybertown/edit?tpl=banners/banner_control2">PUBLIC 
    PLACES N-Z</a><br>
  </p>
  <FORM METHOD="POST" ACTION="/cgi-bin/cybertown/edit" NAME="banner_form">
<input type="hidden" name="ID" value="">
<input type="hidden" name="BANNER" value="">
<input type="hidden" name="tpl" value="banners/banner_update">
    <br>
    <a name="main"></a> 
    <table width="90%" border="0" cellspacing="0" cellpadding="0">
      <tr> 
        <td width="18%">MAIN PLACES</td>
        <td width="82%">BANNER TYPE</td>
      </tr>
    </table>
    <table width="80%" border="0" cellspacing="0" cellpadding="0">
      <tr> 
        <td width="18%"> 
          <div align="left"></div>
        </td>
        <td width="67%"> 
          <div align="left"></div>
        </td>
      </tr>
      <tr> 
        <td colspan="2"> 
          <hr>
        </td>
      </tr>
      <tr> 
        <td width="18%">Plaza</td>
        <td width="67%"> 
          <input type="radio"     name="choice1" value="L90">
          L90 
          <input type="radio"     name="choice1" value="Internal">
          Internal 
          <input type="radio"     name="choice1" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom1" value="<$T_BANNER1>">
        </td>
        <td width="15%"> 
          <input type="button" name="s1" value="UPDATE" onClick="set_banner1();">
        </td>
      </tr>
      <tr> 
        <td width="18%">&nbsp;</td>
        <td width="67%">&nbsp;</td>
        <td width="15%">&nbsp;</td>
      </tr>
    </table>

    <p>&nbsp;</p><center>
    </center>
<table width="90%" border="0" cellspacing="0" cellpadding="0">
      <tr> 
        <td width="24%"><a name="puba_m"></a>PUBLIC PLACES A-M</td>
        <td width="76%">BANNER TYPE</td>
      </tr>
    </table>
    <table width="80%" border="0" cellspacing="0" cellpadding="0">
      <tr> 
        <td colspan="2" rowspan="2"> 
          <div align="left"></div>
          <div align="left"></div>
          <hr>
        </td>
      </tr>
      <tr> </tr>
      <tr> 
        <td width="18%" height="20">&nbsp;</td>
        <td width="67%" height="20">&nbsp;</td>
        <td width="15%" height="20">&nbsp;</td>
      </tr>
      <tr> 
        <td width="18%">Amphitheatre</td>
        <td width="67%"> 
          <input type="radio"     name="choice2" value="L90">
          L90 
          <input type="radio"     name="choice2" value="Internal">
          Internal 
          <input type="radio"     name="choice2" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom2" value="<$T_BANNER2>">
        </td>
        <td width="15%"> 
          <input type="button" name="s2" value="UPDATE" onClick="set_banner2();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Arcade</td>
        <td width="67%"> 
          <input type="radio"     name="choice3" value="L90">
          L90 
          <input type="radio"     name="choice3" value="Internal">
          Internal 
          <input type="radio"     name="choice3" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom3" value="<$T_BANNER3>">
        </td>
        <td width="15%"> 
          <input type="button" name="s3" value="UPDATE" onClick="set_banner3();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Black Sun Club</td>
        <td width="67%"> 
          <input type="radio"     name="choice4" value="L90">
          L90 
          <input type="radio"     name="choice4" value="Internal">
          Internal 
          <input type="radio"     name="choice4" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom4" value="<$T_BANNER4>">
        </td>
        <td width="15%"> 
          <input type="button" name="s4" value="UPDATE" onClick="set_banner4();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Blackmarket</td>
        <td width="67%"> 
          <input type="radio"     name="choice5" value="L90">
          L90 
          <input type="radio"     name="choice5" value="Internal">
          Internal 
          <input type="radio"     name="choice5" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom5" value="<$T_BANNER5>">
        </td>
        <td width="15%"> 
          <input type="button" name="s5" value="UPDATE" onClick="set_banner5();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Cafe</td>
        <td width="67%"> 
          <input type="radio"     name="choice6" value="L90">
          L90 
          <input type="radio"     name="choice6" value="Internal">
          Internal 
          <input type="radio"     name="choice6" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom6" value="<$T_BANNER6>">
        </td>
        <td width="15%"> 
          <input type="button" name="s6" value="UPDATE" onClick="set_banner6();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Casino</td>
        <td width="67%"> 
          <input type="radio"     name="choice7" value="L90">
          L90 
          <input type="radio"     name="choice7" value="Internal">
          Internal 
          <input type="radio"     name="choice7" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom7" value="<$T_BANNER7>">
        </td>
        <td width="15%"> 
          <input type="button" name="s7" value="UPDATE" onClick="set_banner7();">
        </td>
      </tr>
      <tr> 
        <td width="18%">City Council Office</td>
        <td width="67%"> 
          <input type="radio"     name="choice8" value="L90">
          L90 
          <input type="radio"     name="choice8" value="Internal">
          Internal 
          <input type="radio"     name="choice8" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom8" value="<$T_BANNER8>">
        </td>
        <td width="15%"> 
          <input type="button" name="s8" value="UPDATE" onClick="set_banner8();">
        </td>
      </tr>
      <tr> 
        <td width="18%">City Hall</td>
        <td width="67%"> 
          <input type="radio"     name="choice9" value="L90">
          L90 
          <input type="radio"     name="choice9" value="Internal">
          Internal 
          <input type="radio"     name="choice9" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom9" value="<$T_BANNER9>">
        </td>
        <td width="15%"> 
          <input type="button" name="s9" value="UPDATE" onClick="set_banner9();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Clubs</td>
        <td width="67%"> 
          <input type="radio"     name="choice10" value="L90">
          L90 
          <input type="radio"     name="choice10" value="Internal">
          Internal 
          <input type="radio"     name="choice10" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom10" value="<$T_BANNER10>">
        </td>
        <td width="15%"> 
          <input type="button" name="s10" value="UPDATE" onClick="set_banner10();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Clubs Directory</td>
        <td width="67%"> 
          <input type="radio"     name="choice11" value="L90">
          L90 
          <input type="radio"     name="choice11" value="Internal">
          Internal 
          <input type="radio"     name="choice11" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom11" value="<$T_BANNER11>">
        </td>
        <td width="15%"> 
          <input type="button" name="s11" value="UPDATE" onClick="set_banner11();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Employment</td>
        <td width="67%"> 
          <input type="radio"     name="choice12" value="L90">
          L90 
          <input type="radio"     name="choice12" value="Internal">
          Internal 
          <input type="radio"     name="choice12" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom12" value="<$T_BANNER12>">
        </td>
        <td width="15%"> 
          <input type="button" name="s12" value="UPDATE" onClick="set_banner12();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Fleamarket</td>
        <td width="67%"> 
          <input type="radio"     name="choice13" value="L90">
          L90 
          <input type="radio"     name="choice13" value="Internal">
          Internal 
          <input type="radio"     name="choice13" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom13" value="<$T_BANNER13>">
        </td>
        <td width="15%"> 
          <input type="button" name="s13" value="UPDATE" onClick="set_banner13();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Founders Office</td>
        <td width="67%"> 
          <input type="radio"     name="choice14" value="L90">
          L90 
          <input type="radio"     name="choice14" value="Internal">
          Internal 
          <input type="radio"     name="choice14" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom14" value="<$T_BANNER14>">
        </td>
        <td width="15%"> 
          <input type="button" name="s14" value="UPDATE" onClick="set_banner14();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Funpark</td>
        <td width="67%"> 
          <input type="radio"     name="choice15" value="L90">
          L90 
          <input type="radio"     name="choice15" value="Internal">
          Internal 
          <input type="radio"     name="choice15" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom15" value="<$T_BANNER15>">
        </td>
        <td width="15%"> 
          <input type="button" name="s15" value="UPDATE" onClick="set_banner15();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Galley</td>
        <td width="67%"> 
          <input type="radio"     name="choice16" value="L90">
          L90 
          <input type="radio"     name="choice16" value="Internal">
          Internal 
          <input type="radio"     name="choice16" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom16" value="<$T_BANNER16>">
        </td>
        <td width="15%"> 
          <input type="button" name="s16" value="UPDATE" onClick="set_banner16();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Jail</td>
        <td width="67%"> 
          <input type="radio"     name="choice17" value="L90">
          L90 
          <input type="radio"     name="choice17" value="Internal">
          Internal 
          <input type="radio"     name="choice17" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom17" value="<$T_BANNER17>">
        </td>
        <td width="15%"> 
          <input type="button" name="s17" value="UPDATE" onClick="set_banner17();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Library</td>
        <td width="67%"> 
          <input type="radio"     name="choice18" value="L90">
          L90 
          <input type="radio"     name="choice18" value="Internal">
          Internal 
          <input type="radio"     name="choice18" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom18" value="<$T_BANNER18>">
        </td>
        <td width="15%"> 
          <input type="button" name="s18" value="UPDATE" onClick="set_banner18();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Mall</td>
        <td width="67%"> 
          <input type="radio"     name="choice19" value="L90">
          L90 
          <input type="radio"     name="choice19" value="Internal">
          Internal 
          <input type="radio"     name="choice19" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom19" value="<$T_BANNER19>">
        </td>
        <td width="15%"> 
          <input type="button" name="s19" value="UPDATE" onClick="set_banner19();">
        </td>
      </tr>

    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </form>

</div>
</body></html>


