<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<script>


function set_banner19(){
 for(i=0; i < document.banner_form.choice19.length; i++){
  if(document.banner_form.choice19[i].checked){ banner = document.banner_form.choice19[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom19.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000009";
 document.banner_form.submit();
}

function set_banner20(){
 for(i=0; i < document.banner_form.choice20.length; i++){
  if(document.banner_form.choice20[i].checked){ banner = document.banner_form.choice20[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom20.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000029";
 document.banner_form.submit();
}

function set_banner21(){
 for(i=0; i < document.banner_form.choice21.length; i++){
  if(document.banner_form.choice21[i].checked){ banner = document.banner_form.choice21[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom21.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000008";
 document.banner_form.submit();
}

function set_banner22(){
 for(i=0; i < document.banner_form.choice22.length; i++){
  if(document.banner_form.choice22[i].checked){ banner = document.banner_form.choice22[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom22.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "00000000000009f1";
 document.banner_form.submit();
}

function set_banner23(){
 for(i=0; i < document.banner_form.choice23.length; i++){
  if(document.banner_form.choice23[i].checked){ banner = document.banner_form.choice23[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom23.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "000000000000000b";
 document.banner_form.submit();
}

function set_banner24(){
 for(i=0; i < document.banner_form.choice24.length; i++){
  if(document.banner_form.choice24[i].checked){ banner = document.banner_form.choice24[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom24.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000010";
 document.banner_form.submit();
}

function set_banner25(){
 for(i=0; i < document.banner_form.choice25.length; i++){
  if(document.banner_form.choice25[i].checked){ banner = document.banner_form.choice25[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom25.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000024";
 document.banner_form.submit();
}

function set_banner26(){
 for(i=0; i < document.banner_form.choice26.length; i++){
  if(document.banner_form.choice26[i].checked){ banner = document.banner_form.choice26[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom26.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000013";
 document.banner_form.submit();
}

function set_banner27(){
 for(i=0; i < document.banner_form.choice27.length; i++){
  if(document.banner_form.choice27[i].checked){ banner = document.banner_form.choice27[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom27.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "000000000000000d";
 document.banner_form.submit();
}

function set_banner28(){
 for(i=0; i < document.banner_form.choice28.length; i++){
  if(document.banner_form.choice28[i].checked){ banner = document.banner_form.choice28[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom28.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "000000000000000f";
 document.banner_form.submit();
}
function set_banner29(){
 for(i=0; i < document.banner_form.choice29.length; i++){
  if(document.banner_form.choice29[i].checked){ banner = document.banner_form.choice29[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom29.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000031";
 document.banner_form.submit();
}



function set_banner30(){
 for(i=0; i < document.banner_form.choice30.length; i++){
  if(document.banner_form.choice30[i].checked){ banner = document.banner_form.choice30[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom30.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000015";
 document.banner_form.submit();
}

function set_banner31(){
 for(i=0; i < document.banner_form.choice31.length; i++){
  if(document.banner_form.choice31[i].checked){ banner = document.banner_form.choice31[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom31.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "000000000000001b";
 document.banner_form.submit();
}

function set_banner32(){
 for(i=0; i < document.banner_form.choice32.length; i++){
  if(document.banner_form.choice32[i].checked){ banner = document.banner_form.choice32[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom32.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000025";
 document.banner_form.submit();
}


function set_banner33(){
 for(i=0; i < document.banner_form.choice33.length; i++){
  if(document.banner_form.choice33[i].checked){ banner = document.banner_form.choice33[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom33.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000036";
 document.banner_form.submit();
}


function set_banner34(){
 for(i=0; i < document.banner_form.choice34.length; i++){
  if(document.banner_form.choice34[i].checked){ banner = document.banner_form.choice34[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom34.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000030";
 document.banner_form.submit();
}


function set_banner35(){
 for(i=0; i < document.banner_form.choice35.length; i++){
  if(document.banner_form.choice35[i].checked){ banner = document.banner_form.choice35[i].value; }
 }
 if(banner == "Custom"){document.banner_form.BANNER.value = document.banner_form.custom35.value;}
 else{document.banner_form.BANNER.value = banner;}
 document.banner_form.ID.value = "0000000000000014";
 document.banner_form.submit();
}



</script>
</head>


<body bgcolor="#000000" text="#00FF00" link="#FFFF00" vlink="#FFFF00" alink="#FFFF00">
<div align="center">
  <p><font face="Arial, Helvetica, sans-serif"><b><font color="#FF0000">Banner 
    Administration</font></b></font></p>



  <p align="left"><br>
    <b>TABLE OF CONTENTS:</b></p>
  <p align="left"><a href="#main">MAIN PLACES</a><br>
    <a href="/cgi-bin/cybertown/edit?tpl=banners/banner_control3">COLONIES</a> 
    <br>
    <a href="/cgi-bin/cybertown/edit?tpl=banners/banner_control">PUBLIC 
    PLACES A-M</a><br>
    PUBLIC PLACES N-Z<br>
    <br>
  </p>
  <FORM METHOD="POST" ACTION="/cgi-bin/cybertown/edit" NAME="banner_form">
    <p>
      <input type="hidden" name="ID" value="">
      <input type="hidden" name="BANNER" value="">
      <input type="hidden" name="tpl" value="banners/banner_update2">
    </p>
    <p>Public Places N-Z<br>
    </p>
    <table width="90%" border="0" cellspacing="0" cellpadding="0">
      <tr> 
        <td width="22%"><a name="colonies"></a>PUBLIC PLACES</td>
        <td width="78%">BANNER TYPE</td>
      </tr>
    </table>
    <table width="80%" border="0" cellspacing="0" cellpadding="0">
      <tr> 
        <td colspan="2" rowspan="2"> 
          <div align="left"></div>
          <div align="left"></div>
          <hr>
        </td>
      </tr>
      <tr> </tr>
      <tr> 
        <td width="18%" height="20">&nbsp;</td>
        <td width="67%" height="20">&nbsp;</td>
        <td width="15%" height="20">&nbsp;</td>
      </tr>

      <tr> 
        <td width="18%">Outlands</td>
        <td width="67%"> 
          <input type="radio"     name="choice20" value="L90">
          L90 
          <input type="radio"     name="choice20" value="Internal">
          Internal 
          <input type="radio"     name="choice20" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom20" value="<$T_BANNER20>">
        </td>
        <td width="15%"> 
          <input type="button" name="s20" value="UPDATE" onClick="set_banner20();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Performing Arts Center</td>
        <td width="67%"> 
          <input type="radio"     name="choice21" value="L90">
          L90 
          <input type="radio"     name="choice21" value="Internal">
          Internal 
          <input type="radio"     name="choice21" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom21" value="<$T_BANNER21>">
        </td>
        <td width="15%"> 
          <input type="button" name="s21" value="UPDATE" onClick="set_banner21();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Personal Home Builder</td>
        <td width="67%"> 
          <input type="radio"     name="choice22" value="L90">
          L90 
          <input type="radio"     name="choice22" value="Internal">
          Internal 
          <input type="radio"     name="choice22" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom22" value="<$T_BANNER22>">
        </td>
        <td width="15%"> 
          <input type="button" name="s22" value="UPDATE" onClick="set_banner22();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Pool</td>
        <td width="67%"> 
          <input type="radio"     name="choice23" value="L90">
          L90 
          <input type="radio"     name="choice23" value="Internal">
          Internal 
          <input type="radio"     name="choice23" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom23" value="<$T_BANNER23>">
        </td>
        <td width="15%"> 
          <input type="button" name="s23" value="UPDATE" onClick="set_banner23();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Post Office</td>
        <td width="67%"> 
          <input type="radio"     name="choice24" value="L90">
          L90 
          <input type="radio"     name="choice24" value="Internal">
          Internal 
          <input type="radio"     name="choice24" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom24" value="<$T_BANNER24>">
        </td>
        <td width="15%"> 
          <input type="button" name="s24" value="UPDATE" onClick="set_banner24();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Reading Room</td>
        <td width="67%"> 
          <input type="radio"     name="choice25" value="L90">
          L90 
          <input type="radio"     name="choice25" value="Internal">
          Internal 
          <input type="radio"     name="choice25" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom25" value="<$T_BANNER25>">
        </td>
        <td width="15%"> 
          <input type="button" name="s25" value="UPDATE" onClick="set_banner25();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Security Office</td>
        <td width="67%"> 
          <input type="radio"     name="choice26" value="L90">
          L90 
          <input type="radio"     name="choice26" value="Internal">
          Internal 
          <input type="radio"     name="choice26" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom26" value="<$T_BANNER26>">
        </td>
        <td width="15%"> 
          <input type="button" name="s26" value="UPDATE" onClick="set_banner26();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Staduim</td>
        <td width="67%"> 
          <input type="radio"     name="choice27" value="L90">
          L90 
          <input type="radio"     name="choice27" value="Internal">
          Internal 
          <input type="radio"     name="choice27" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom27" value="<$T_BANNER27>">
        </td>
        <td width="15%"> 
          <input type="button" name="s27" value="UPDATE" onClick="set_banner27();">
        </td>
      </tr>
			
		
			 <tr> 
        <td width="18%">Suburbs</td>
        <td width="67%"> 
          <input type="radio"     name="choice28" value="L90">
          L90 
          <input type="radio"     name="choice28" value="Internal">
          Internal 
          <input type="radio" name="choice28" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom28" value="<$T_BANNER28>">
        </td>
        <td width="15%"> 
          <input type="button" name="s28" value="UPDATE" onClick="set_banner28();">
        </td>
      </tr>









      <tr> 
        <td width="18%">Sunset Beach</td>
        <td width="67%"> 
          <input type="radio"     name="choice29" value="L90">
          L90 
          <input type="radio"     name="choice29" value="Internal">
          Internal 
          <input type="radio"     name="choice29" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom29" value="<$T_BANNER29>">
        </td>
        <td width="15%"> 
          <input type="button" name="s29" value="UPDATE" onClick="set_banner29();">
        </td>
      </tr>
      <tr> 
        <td width="18%">Themepark</td>
        <td width="67%"> 
          <input type="radio"     name="choice30" value="L90">
          L90 
          <input type="radio"     name="choice30" value="Internal">
          Internal 
          <input type="radio"     name="choice30" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom30" value="<$T_BANNER30>">
        </td>
        <td width="15%"> 
          <input type="button" name="s30" value="UPDATE" onClick="set_banner30();">
        </td>
      </tr>
      <tr> 
        <td width="18%">vDrome</td>
        <td width="67%"> 
          <input type="radio"     name="choice31" value="L90">
          L90 
          <input type="radio"     name="choice31" value="Internal">
          Internal 
          <input type="radio"     name="choice31" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom31" value="<$T_BANNER31>">
        </td>
        <td width="15%"> 
          <input type="button" name="s31" value="UPDATE" onClick="set_banner31();">
        </td>
      </tr>
      <tr>
        <td width="18%">vPod- Hen</td>
        <td width="67%"> 
          <input type="radio"     name="choice32" value="L90">
          L90 
          <input type="radio"     name="choice32" value="Internal">
          Internal 
          <input type="radio"     name="choice32" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom32" value="<$T_BANNER32>">
        </td>
        <td width="15%"> 
          <input type="button" name="s32" value="UPDATE" onClick="set_banner32();">
        </td>
      </tr>
      <tr>
        <td width="18%">vPod- Incanta</td>
        <td width="67%"> 
          <input type="radio"     name="choice33" value="L90">
          L90 
          <input type="radio"     name="choice33" value="Internal">
          Internal 
          <input type="radio"     name="choice33" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom33" value="<$T_BANNER33>">
        </td>
        <td width="15%"> 
          <input type="button" name="s33" value="UPDATE" onClick="set_banner33();">
        </td>
      </tr>
      <tr>
        <td width="18%">vPod- Vidnet</td>
        <td width="67%"> 
          <input type="radio"     name="choice34" value="L90">
          L90 
          <input type="radio"     name="choice34" value="Internal">
          Internal 
          <input type="radio"     name="choice34" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom34" value="<$T_BANNER34>">
        </td>
        <td width="15%"> 
          <input type="button" name="s34" value="UPDATE" onClick="set_banner34();">
        </td>
      </tr>
      <tr>
        <td width="18%">Waterpark</td>
        <td width="67%"> 
          <input type="radio"     name="choice35" value="L90">
          L90 
          <input type="radio"     name="choice35" value="Internal">
          Internal 
          <input type="radio"     name="choice35" value="Custom" CHECKED>
          Custom Value 
          <input type="textfield" name="custom35" value="<$T_BANNER35>">
        </td>
        <td width="15%"> 
          <input type="button" name="s35" value="UPDATE" onClick="set_banner35();">
        </td>
      </tr>

    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </form>

</div>
</body></html>

