<!-- banner/internalbanner.tmpl -->
<!-- called from banners/banner.tmpl for menu banners -->

<td align=center><a href="/cgi-bin/cybertown/place?pl=employment" target="_top">
<img src="<$_HTMLRoot>/banners/images/sni1.gif" border="0"></a></td>


