<!--#for loopname="roleids" loopvars="M_ROLID" -->
<!-- #if variable="M_ROLID" == value="5f" -->
	<!-- #define variable="CONTCONTROL"  value="1" -->
<!-- #endif variable="M_ROLID" -->
<!-- #if variable="M_ROLID" == value="07" -->
	<!-- #define variable="CONTCONTROL"  value="2" -->
<!-- #endif variable="M_ROLID" -->
<!-- #if variable="M_ROLID" == value="3d" -->
	<!-- #define variable="CONTCONTROL"  value="1" -->
<!-- #endif variable="M_ROLID" -->
<!-- #if variable="M_ROLID" == value="21" -->
	<!-- #define variable="CONTCONTROL"  value="1" -->
<!-- #endif variable="M_ROLID" -->
<!-- #if variable="M_ROLID" == value="04" -->
	<!-- #define variable="CONTCONTROL"  value="1" -->
<!-- #endif variable="M_ROLID" -->
<!-- #if variable="M_ROLID" == value="22" -->
	<!-- #define variable="CONTCONTROL"  value="1" -->
<!-- #endif variable="M_ROLID" -->
<!-- #if variable="M_ROLID" == value="35" -->
	<!-- #define variable="CONTCONTROL"  value="1" -->
<!-- #endif variable="M_ROLID" -->
<!-- #if variable="M_ROLID" == value="0a" -->
	<!-- #define variable="CONTCONTROL"  value="1" -->
<!-- #endif variable="M_ROLID" -->
<!-- #if variable="M_ROLID" == value="02" -->
	<!-- #define variable="CONTCONTROL"  value="1" -->
<!-- #endif variable="M_ROLID" -->
<!-- #if variable="M_ROLID" == value="03" -->
	<!-- #define variable="CONTCONTROL"  value="1" -->
<!-- #endif variable="M_ROLID" -->
<!-- #if variable="M_ROLID" == value="0d" -->
	<!-- #define variable="CONTCONTROL"  value="1" -->
<!-- #endif variable="M_ROLID" -->
<!-- #if variable="M_ROLID" == value="27" -->
	<!-- #define variable="CONTCONTROL"  value="1" -->
<!-- #endif variable="M_ROLID" -->
<!-- #if variable="M_ROLID" == value="70" -->
	<!-- #define variable="CONTCONTROL"  value="1" -->
<!-- #endif variable="M_ROLID" -->
<!-- #if variable="M_ROLID" == value="79" -->
	<!-- #define variable="CONTCONTROL"  value="1" -->
<!-- #endif variable="M_ROLID" -->
<!-- #if variable="M_ROLID" == value="5d" -->
	<!-- #define variable="CONTCONTROL"  value="1" -->
<!-- #endif variable="M_ROLID" -->
<!--#endfor loopname="roleids"  -->