<!-- common/pgr/noaccess_under18.tmpl -->

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<center>
<br><br><br><br><br><br>
<IMG SRC="/images/pgr/parental_lock.jpg">
<p>

<b><font color="red"> Sorry <$NNM>, you are not permitted to access this area of Cybertown.</font></b>


<p><input type=button name="no" value="Back to Cybertown" onClick="history.back()">

