<!-- common/pgr/pgrset2 -->
<HTML>
<HEAD>
<!-- #include virtual="<$g_Templates>common/loadinfo.tmpl" -->
</HEAD>
</body>
<form name="bform" action="/cgi-bin/cybertown/print60" method="POST">
<input type="hidden" name="TKT" value="<$TKT>"> 
<input type="hidden" name="TPL" value="common/pgr/pgrset">
<input type=hidden name="DTY" value="<$DTY>">
<input type=hidden name="ID" value="<$ID>">
</form>
<script language=javascript>
document.bform.submit();
</script>

<$NNM> <$plc> <$AGE>

</html>
