<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
</HEAD>

<form method=post action="edit<$g_exe>" target="place">
<input type="hidden" name="TKT" value="<$TKT>">

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<p><$TXT></p>
<!-- #include virtual="<$g_Templates>common/inforoles.tmpl" -->

</BODY>
</HTML>
