<html>
<head>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
</head>

<frameset cols="*,185" border=0>
	<frame name="place" src="<$g_HTMLRoot>/places/suburbs/map.html" scrolling="auto" noresize border=0>
	<frame name="action" src="place<$g_exe>?ac=actionfs&plc=<$place>&ID=<$ID>" scrolling="auto" noresize>
</frameset>
</html>
