<BODY BGCOLOR=#000000 LINK=#FFFF00 VLINK=#FFFF00 ALINK=#FFFFFF TEXT=#D0DBF7>

Data updated successfully. Loading page...
  <script language=javascript>
  parent.location.href='./neighbor<$g_exe>?ac=place&ID=<$ID>';
  </script>
</body>

