<!-- object/storagecreate -->
<HTML>
<HEAD>
</HEAD>
<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

Storage area created.
<br>
<script language=javascript>
location.replace("./property?ac=place&ID=<$HOMID>");
</script>
</body>
</html>
