#
# This file contains the entries to be read from database
# before displaying the template.
#

[DTY]  CL
[KTY]  ID

ID	r
NAM	r
OWN	r	->	M	ID	NNM
STC rw
ST1 rw
ST2 rw
ST3 rw
STM rw
STA rw
CLP r
GP1 r
GP2 r
GP3 r
MRP r
ARP r
