#
# This file contains the entries to be read from database
# before displaying the template. All entries starting with r_
#
*GET M NNM <$NNM> ID M_ID
*GET CL ID CL000000000007d0 NAM SETI_NAM OWN SETI_OWN CK1 SETI_CK1 CK2 SETI_CK2 CK3 SETI_CK3 CNT SETI_CNT CDA SETI_CDA
*GET CM ID CL000000000007d0cm<$M_ID> STT SETI_MEM
*GET M ID <$SETI_OWN> NNM SETI_OWN_NNM

[LIST]	15

ID	r
NAM	r
CK1	r
CK2	r
CK3	r
CDA r 14 DATE
CNT r 8  NUM
OWN r -> M ID NNM
CLP r
STC r