<html>
<!-- clubdir/place.tmpl -->
<!-- entrypoint for the club directory-->
<head>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
</head>

<script language=javascript>
location.href="club<$g_exe>?ac=directory";
</script>
</html>
