<!-- object/storagecreate -->
<HTML>
<HEAD>
<script language=javascript>
var ids = new Array();
var i = -1;
<!-- #for loopname="objectlist" loopvars="NUM_" -->
ids[++i] = '<$NUM_>';
<!-- #endfor loopname="objectlist"  -->
function create()
{
<!-- Coolkama Fixed so as fills in "gaps" when storage removed -->
	var i=0
	var ko=0
	while( i < (ids.length) )
  	{
  		var n = parseInt(ids[i], 10);
  		
  		if( i == n ) 
  		{
  			i++;
  		}
  		else
  		{
  			var s = (i<10?'0':'')+i;
  			ko = 1;
  			i=ids.length;
  		}
  	}
	
		if ( ko == 0 )
			{
			var s = (ids.length<10?'0':'')+ids.length;
			}
  location.href = './print60<$g_exe>?CREID='+s+'&TPL=storage/storagecreate';
}
function check()
{
  for(i=0 ; i < 100 ; i++ )
  {
    var f = eval('document.uform.UNAM'+i);
    if( f == null )
      break;
    if( f.value == '' )
    {
      alert('Please specify a name');
      f.focus();
      return false;
    }
  }
  return true;
}
</script>
</HEAD>
<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->
<!-- #define variable="T_NOHTML" value="1"-->
<!-- #ifndef variable="msballowhtm" -->
<h2>
Update storage area names of <$NNM>
</h2>
<!-- #if variable="doit" != value="" -->
Names updated 
<script language=javascript>
location.replace("./print60?ID=<$HOMID>&TPL=storage/list");
</script>
<!-- #endif variable="doit" -->

<br><br>
<form name="uform" action="<$selfurl>" method="POST" onsubmit="return check()">
<input type="hidden" name="TKT" value="<$TKT>">
<input type="hidden" name="doit" value="1">
<input type="hidden" name="TPL" value="storage/storageupdate">
<!-- #for loopname="objectlist" loopvars="STOID_" -->
<input type=text name=UNAM<$loopindex> value="<$NAM_>"> (
<!-- #if variable="NOB_" != value="" -->
<$NOB_>
<!-- #else variable="NOB_" != value="" -->
0
<!-- #endif variable="NOB_" != value="" -->
objects)<br>
<!-- #endfor loopname="objectlist"  -->
<input type=submit name=Update value=Update>
</form>
<!-- #endif variable="msballowhtm" -->
<!-- #if variable="MAXITER" < value="15" -->
<a href="javascript:create()">Create new area</a><br>
<!-- #endif variable="MAXITER" < value="15" -->
<a href="./print60?ID=<$ID>&TPL=storage/storageaccess">Change object access</a>

</body>
</html>



