<!-- object/storagecreate -->
<HTML>
<HEAD>
</HEAD>
<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

Storage area deleted.
<br>
<script language=javascript>
location.replace("./print60?ID=<$HOMID>&TPL=storage/list");
</script>

</body>
</html>

