<!-- admin/block_map.tmpl -->
<!-- administrate the block maps -->
<html>
<head>
<title><$g_title></title>
</head>

<!-- #include virtual="<$g_Templates>common/loadinfo.tmpl" -->

<!-- #include virtual="<$g_Templates>admin/body_inc.tmpl" -->

<div align=center>
<h2><$BNM_CITY> Maps <font color=#80ff00><$CNM_CITY> ID: <$parent></font></h2>

<!-- #include virtual="<$g_Templates>admin/errormsg_inc.tmpl" -->
<form method=post target=_self action="<$selfurl>">

    <input type="hidden" name="TKT" value="<$TKT>">
    <input type="hidden" name="FIRSTKEY" value="<$FIRSTKEY>">
    <input type="hidden" name="LASTKEY" value="<$LASTKEY>">
    <input type="hidden" name="FIRSTID" value="<$FIRSTID>">
    <input type="hidden" name="LASTID" value="<$LASTID>">

    <input type="hidden" name="ac" value="list">
    <input type="hidden" name="DTY" value="<$DTY>">
    <input type="hidden" name="KTY" value="<$KTY>">
    <input type="hidden" name="KFT" value="<$KFT>">
    <input type="hidden" name="TPL" value="<$TPL>">

    <input type="hidden" name="parent" value="<$parent>">

    <table>
        <tr>
            <td><INPUT NAME="list" TYPE="Image" SRC="<$g_Images>/images/buttons/btop.gif" align="middle" border=0></INPUT></td>

            <!--#ifdef variable="[PREV]" -->
                <td><INPUT NAME="prev" TYPE="Image" SRC="<$g_Images>/images/buttons/bpageup.gif" align="middle" border=0></INPUT><br>
            <!--#endif variable="[PREV]" -->
            <!--#ifndef variable="[PREV]" -->
                <td>
            <!--#endif variable="[PREV]" -->
            <!--#ifdef variable="[NEXT]" -->
                <INPUT NAME="next" TYPE="Image" SRC="<$g_Images>/images/buttons/bpagedown.gif" align="middle" border=0></INPUT>
            <!--#endif variable="[NEXT]" -->
            </td>
        </tr>
    </table>
</form>
<br>
<form enctype="multipart/form-data" name="updateForm" method=post action="<$selfurl>">

    <input type="hidden" name="TKT" value="<$TKT>">
    <input type="hidden" name="FIRSTKEY" value="<$FIRSTKEY>">
    <input type="hidden" name="LASTKEY" value="<$LASTKEY>">
    <input type="hidden" name="FIRSTID" value="<$FIRSTID>">
    <input type="hidden" name="LASTID" value="<$LASTID>">

    <input type=hidden name="DTY" value="<$DTY>">
    <input type=hidden name="KTY" value="<$KTY>">
    <input type=hidden name="KFT" value="<$KFT>">
    <input type=hidden name="TPL" value="<$TPL>">

    <input type=hidden name="ac" value="edit">
    <input type=hidden name="KEY" value="<$KEY>">

    <input type="hidden" name="parent" value="<$parent>">

    <table border=0>
        <!--#for loopname="mainloop" loopvars="ID_" -->
        <tr>
            <td align=center>
                <a href="admin<$g_exe>?DTY=U&KTY=ID&KEY=<$ID_>&TPL=admin/media_obj&ac=read&parent_tpl=<$TPL>" target=_self>
                    <img src="<$g_HTMLRoot>/home/<$parent>/block/Pimg2D<$ID_MASK_>.gif" border=0 alt="Map Index: <$ID_MASK_>"></a>
            </td>
            <td align=right>
                Index:&nbsp;&nbsp;<br><br>
                Name:&nbsp;&nbsp;
            </td>
            <td>
                <$ID_MASK_><br><br>
                <$NAM_>
            </td>
        </tr>
        <tr><td colspan=2><hr></td></tr>
        <!--#endfor loopname="mainloop" -->
    </table>
</form>

<form enctype="multipart/form-data" name="createForm" method=post action="<$selfurl>">

    <input type=hidden name="TKT" value="<$TKT>">
    <input type=hidden name="DTY" value="<$DTY>">
    <input type=hidden name="KTY" value="<$KTY>">
    <input type=hidden name="KFT" value="<$KFT>">
    <input type=hidden name="KEY" value="<$KEY>">
    <input type=hidden name="TPL" value="<$TPL>">

    <input type=hidden name="ac" value="create">
    <input type=hidden name="parent" value="<$parent>">

    <table>
        <tr>
            <td colspan=2 align=center>
                <b>
                   Note if you specifie a number of objects,
                   the same Image File will be used for all!<br><br>
                   You can change the map by copying a new one to:<br>
                   <$g_Htdocs><$g_HTMLRoot>/home/<$parent>/block/Pimg2D<i>&lt;Map Index&gt;</i>.gif<br><br>
                </b>
            </td>
        </tr>
        <tr>
            <td align=right>Name:&nbsp;&nbsp;</td>
            <td><input type="text" name="NAM" value="2D Image, Place" size=24></td>
        </tr>
        <tr>
            <td align=right>No. of Objects:&nbsp;&nbsp;</td>
            <td><input type="text" name="NOB" value="1" size=4 maxlength=4></td>
        </tr>
        <tr>
            <td align=right>Image File:&nbsp;&nbsp;</td>
            <td><input type="file" name="FILE" maxlength="255" size=24></td>
       </tr>
    </table>
<br>
    <input type=submit name="insert" value="Create" width=100>
    <input type=button name="back" value="Back" onClick="history.back()" width=100>
</form>

</body>
</html>
