<!-- admin/body_inc.tmpl -->
<!-- e.g. used for most templates -->

<!-- #ifndef variable="CLB" -->
<BODY BGCOLOR="#000000" LINK="#00FF00" VLINK="#00FF00" ALINK="#FFFFFF" TEXT="#D0DBF7">
<!-- #endif variable="CLB" -->
<!-- #ifdef variable="CLB" value="" -->
<BODY BGCOLOR="#000000" LINK="#00FF00" VLINK="#00FF00" ALINK="#FFFFFF" TEXT="#D0DBF7">
<!-- #endif variable="CLB" -->
<!-- #ifdef variable="CLB" -->
<BODY BGCOLOR="<$CLB>" LINK="<$CLL>" VLINK="<$CLV>" ALINK="<$CLA>" TEXT="<$CLT>">
<!-- #endif variable="CLB" -->
<FONT face="Arial, Helvetica, sans-serif" size=-1>

<!-- end of include body_inc.tmpl -->
