#
# This file contains the entries to be read from database
#
[LIST]    10

ID   r  :  [m:]  ->  I  ID ID  :  [i:]  ->  I  ID ID  :  [l:]  ->  I  ID ID  :  [c:]  ->  I  ID ID  :  [h:]  ->  I  ID ID
NAM  r
CNT  r  8   NUM
GID  r   ->  G  ID NNM

*GET  CL  ID   CL00000000000000   UDD TYPE=DATE UDD TCN TYPE=NUM TCN
