<!-- admin/district_info.tmpl -->
<!-- shows info about further work -->
<html>
<head>
<title><$g_title></title>
</head>


<!-- #include virtual="<$g_Templates>admin/body_inc.tmpl" -->

<h2><$CNM_CITY> <i><$NAM></i> succesfully created <font color=#80ff00>ID: <$ID></font></h2>

The CGI-Script has create the necessary database objects for the new <$CNM_CITY>.<br>
<br>
<center>
The icon and map files for <$ENM_CITY>, <$BNM_CITY> and <$PNM_CITY> are located in the directory<br>
<i><$g_Htdocs><$g_HTMLRoot>/home/<$ID></i>
</center>
<br>
<div align=center>
<a href="admin<$g_exe>?DTY=<$DTY>&KTY=ID&KEY=<$KEY>&TPL=<$TPL>&ac=read" target=_self>Edit <$CNM_CITY> Object</a>

</body>
</html>

