<!-- admin/eventmems.tmpl -->
<!-- list events -->
<html>
<head>
<title><$g_title></title>
</head>
<SCRIPT LANGUAGE="JavaScript">
<!--

function onSubmit()
{
    if( document.FilterForm.KFT.value.substring( document.FilterForm.KFT.value.length-1, document.FilterForm.KFT.value.length )!='*' )
        document.FilterForm.KFT.value = document.FilterForm.KFT.value+"*";
}

//-->
</SCRIPT>

<!-- #include virtual="<$g_Templates>admin/body_inc.tmpl" -->

<div align=center>
<h2>Event Members defined in Database</h2>

<!-- #include virtual="<$g_Templates>admin/errormsg_inc.tmpl" -->

<form method=post target=_self name="FilterForm" action="<$selfurl>"  onSubmit="onSubmit()"> 

<input type="hidden" name="TKT" value="<$TKT>">
    <input type="hidden" name="ac" value="list">
    <input type="hidden" name="DTY" value="<$DTY>">
    <input type="hidden" name="TPL" value="<$TPL>">

    Filter:&nbsp;&nbsp;
    <select name="KTY">
        <option value="ID"
        <!--#ifdef variable="KTY" value="ID"-->
            SELECTED
        <!--#endif variable="KTY" -->
        >ID</option>
        <option value="CDA"
        <!--#ifdef variable="KTY" value="CDA"-->
            SELECTED
        <!--#endif variable="KTY" -->
        >Date</option>
        <option value="CNT"
        <!--#ifdef variable="KTY" value="CNT"-->
            SELECTED
        <!--#endif variable="KTY" -->
        >Count</option>
    </select>

    <INPUT type="text" name="KFT" value="<$KFT>">
</form>

<form method=post target=_self action="<$selfurl>">

<input type="hidden" name="TKT" value="<$TKT>">
    <input type="hidden" name="FIRSTKEY" value="<$FIRSTKEY>">
    <input type="hidden" name="LASTKEY" value="<$LASTKEY>">
    <input type="hidden" name="FIRSTID" value="<$FIRSTID>">
    <input type="hidden" name="LASTID" value="<$LASTID>">

    <input type="hidden" name="ac" value="list">
    <input type="hidden" name="DTY" value="<$DTY>">
    <input type="hidden" name="KTY" value="<$KTY>">
    <input type="hidden" name="KFT" value="<$KFT>">
    <input type="hidden" name="TPL" value="<$TPL>">

    <table>
    <tr>

        <td><INPUT NAME="list" TYPE="Image" SRC="<$g_Images>/images/buttons/btop.gif" align="middle" border=0></INPUT></td>

        <!--#ifdef variable="[PREV]" -->
            <td><INPUT NAME="prev" TYPE="Image" SRC="<$g_Images>/images/buttons/bpageup.gif" align="middle" border=0></INPUT>
        <!--#endif variable="[PREV]" -->
        <!--#ifndef variable="[PREV]" -->
            <td>
        <!--#endif variable="[PREV]" -->
        <!--#ifdef variable="[NEXT]" -->
            <INPUT NAME="next" TYPE="Image" SRC="<$g_Images>/images/buttons/bpagedown.gif" align="middle" border=0></INPUT>
        <!--#endif variable="[NEXT]" -->
        </td>
    </tr>
    </table>
</form>

<table border=1>
<tr>
    <th><font color=#80ff00>ID</th>
    <th width=80><font color=#80ff00>Creation Date</th>
    <th><font color=#80ff00>Count</th>
</tr>
<!--#for loopname="eventmems" loopvars="ID_" -->
    <tr>
        <td>&nbsp;&nbsp;
            <A HREF="admin<$g_exe>?DTY=<$DTY>&KTY=ID&KEY=<$ID_>&ac=read&TPL=admin/eventmem" target=_self><$ID_></A>
            &nbsp;&nbsp;
        </td>
        <td>
            <$CDA_>
        </td>
        <td>
            <$CNT_>
        </td>
<!--#endfor loopname="eventmems" -->
</table>
<br>
<a href="admin<$g_exe>?DTY=<$DTY>&KTY=ID&TPL=admin/eventmem&ac=showcreate&KLEN=24" target=_self>Create new Event Member</a>

</body>
</html>
