<!-- admin/groups.tmpl -->
<!-- list groups -->
<html>
<head>
<title><$g_title></title>
</head>

<SCRIPT LANGUAGE="JavaScript">
<!--

function onSubmit()
{
    if( document.FilterForm.KFT.value.substring( document.FilterForm.KFT.value.length-1, document.FilterForm.KFT.value.length )!='*' )
        document.FilterForm.KFT.value = document.FilterForm.KFT.value+"*";
}

//-->
</SCRIPT>

<!-- #include virtual="<$g_Templates>admin/body_inc.tmpl" -->

<div align=center>
<h2>Groups defined in Database</h2>

<!-- #include virtual="<$g_Templates>admin/errormsg_inc.tmpl" -->

<form method=post target=_self name="FilterForm" action="<$selfurl>"  onSubmit="onSubmit()"> 

    <input type="hidden" name="TKT" value="<$TKT>">
    <input type="hidden" name="ac" value="list">
    <input type="hidden" name="DTY" value="<$DTY>">
    <input type="hidden" name="KTY" value="<$KTY>">
    <input type="hidden" name="TPL" value="<$TPL>">

    Filter for <$KTY>:&nbsp;&nbsp;
    <INPUT type="text" name="KFT" value="<$KFT>">
</form>

<form method=post target=_self action="<$selfurl>">
<table>

    <input type="hidden" name="TKT" value="<$TKT>">
	<input type="hidden" name="FIRSTKEY" value="<$FIRSTKEY>">
	<input type="hidden" name="LASTKEY" value="<$LASTKEY>">
	<input type="hidden" name="FIRSTID" value="<$FIRSTID>">
	<input type="hidden" name="LASTID" value="<$LASTID>">
	<input type="hidden" name="SORTORDER" value="<$SORTORDER>">
	<!--input type="hidden" name="SORT" value="<$SORT>"-->

	<input type="hidden" name="ac" value="list">
	<input type="hidden" name="DTY" value="<$DTY>">
	<input type="hidden" name="KTY" value="<$KTY>">
	<input type="hidden" name="KFT" value="<$KFT>">
	<input type="hidden" name="TPL" value="<$TPL>">
<tr>
	<td><INPUT NAME="list" TYPE="Image" SRC="<$g_Images>/images/buttons/btop.gif" align="middle" border=0></INPUT></td>

	<!--#ifdef variable="[PREV]" -->
		<td><INPUT NAME="prev" TYPE="Image" SRC="<$g_Images>/images/buttons/bpageup.gif" align="middle" border=0></INPUT><br>
	<!--#endif variable="[PREV]" -->
	<!--#ifndef variable="[PREV]" -->
		<td>
	<!--#endif variable="[PREV]" -->
	<!--#ifdef variable="[NEXT]" -->
		<INPUT NAME="next" TYPE="Image" SRC="<$g_Images>/images/buttons/bpagedown.gif" align="middle" border=0></INPUT>
	<!--#endif variable="[NEXT]" -->
	</td>
</tr>
</table>
</form>

<table border=1>
<tr>
	<th><font color=#80ff00>ID</th>
	<th><font color=#80ff00>Group name</th>
</tr>

<!--#for loopname="groups" loopvars="ID_" -->
<tr>
	<td><A HREF="admin<$g_exe>?DTY=G&KTY=ID&KEY=<$ID_>&TPL=admin/group&ac=read" target=_self><$ID_></A>
    </td>
	<td><$NNM_></td>
</tr>
<!--#endfor loopname="groups" -->
</table>

<br>
<i><b>At the moment the groups are only used with clubs.</b></i>

</body>
</html>

