<!-- admin/groupmems.tmpl -->
<!-- list group members -->
<html>
<head>
<title><$g_title></title>
</head>

<!-- #include virtual="<$g_Templates>admin/body_inc.tmpl" -->

<div align=center>
<h2><font color=#80ff00>Groups defined in Database</font></h2>

<!-- #include virtual="<$g_Templates>admin/errormsg_inc.tmpl" -->

<form method=post target=_self action="<$selfurl>">

    <input type="hidden" name="TKT" value="<$TKT>">
    <input type="hidden" name="FIRSTKEY" value="<$FIRSTKEY>">
    <input type="hidden" name="LASTKEY" value="<$LASTKEY>">
    <input type="hidden" name="FIRSTID" value="<$FIRSTID>">
    <input type="hidden" name="LASTID" value="<$LASTID>">

    <input type="hidden" name="ac" value="list">
    <input type="hidden" name="DTY" value="<$DTY>">
    <input type="hidden" name="KTY" value="<$KTY>">
    <input type="hidden" name="KFT" value="<$KFT>">
    <input type="hidden" name="TPL" value="<$TPL>">

<table>
<tr>
    <td><INPUT NAME="list" TYPE="Image" SRC="<$g_Images>/images/buttons/btop.gif" align="middle" border=0></INPUT></td>

    <!--#ifdef variable="[PREV]" -->
        <td><INPUT NAME="prev" TYPE="Image" SRC="<$g_Images>/images/buttons/bpageup.gif" align="middle" border=0></INPUT><br>
    <!--#endif variable="[PREV]" -->
    <!--#ifndef variable="[PREV]" -->
        <td>
    <!--#endif variable="[PREV]" -->
    <!--#ifdef variable="[NEXT]" -->
        <INPUT NAME="next" TYPE="Image" SRC="<$g_Images>/images/buttons/bpagedown.gif" align="middle" border=0></INPUT>
    <!--#endif variable="[NEXT]" -->
    </td>
</tr>
</table>
</form>
<br>
<table border=1>
    <tr>
        <th><font color=#80ff00>ID</th>
        <th><font color=#80ff00>Name</th>
    </tr>
    <!--#for loopname="object" loopvars="ID_" -->
        <tr>
            <td><$ID_></td>

            <!--#ifdef variable="ID_NNM_" -->
              <td><$ID_NNM_>&nbsp;</td>
            <!--#endif variable="ID_NNM_" -->
            <!--#ifndef variable="ID_NNM_" -->
              <td>&nbsp;</td>
            <!--#endif variable="ID_NNM_" -->
        </tr>
    <!--#endfor loopname="object" -->
</table>

</body>
</html>

