<!-- admin/nhood.tmpl -->
<!-- update neighborhood attributes -->
<html>
<head>
<title><$g_title></title>
</head>

<SCRIPT LANGUAGE="JavaScript">
<!--

function onLoadFunction()
{
<!-- #ifdef variable="create" -->
    document.updateForm.OWR.selectedIndex = 29;

    document.updateForm.ASR.selectedIndex = 53;

<!-- #endif variable="create" -->
}

function onSubmit()
{
<!-- #ifdef variable="create" -->
    document.updateForm.OWN_NNK.value 
     = document.updateForm.OWN_NNK.value.toLowerCase();
<!-- #endif variable="create" -->
}

function confirmDelete()
{
    if( confirm( 'Are you sure to delete this object from Database?' ) )
    {
        document.updateForm.ac.value = 'delete';
        document.updateForm.submit();
    }
    else
        return false;
}

//-->
</SCRIPT>

<!-- #include virtual="<$g_Templates>admin/bodyload_inc.tmpl" -->

<div align=center>
<!-- #ifndef variable="create" -->
    <h2>Change Attributes for <$ENM_CITY> <font color=#80ff00>ID: <$ID></font></h2>
<!-- #endif variable="create" -->
<!-- #ifdef variable="create" -->
    <h2>Create new <$ENM_CITY></h2>
<!-- #endif variable="create" -->

<!-- #include virtual="<$g_Templates>admin/errormsg_inc.tmpl" -->

<form method=post name="updateForm" action="<$selfurl>" onSubmit="onSubmit()">

    <input type=hidden name="TKT" value="<$TKT>">
    <input type=hidden name="DTY" value="<$DTY>">
    <input type=hidden name="KTY" value="<$KTY>">
    <input type=hidden name="KEY" value="<$KEY>">
    <input type=hidden name="TPL" value="<$TPL>">

    <input type=hidden name="obj" value="<$obj>">
    <input type=hidden name="ac" value="<$ac>">

    <table border=0>
        <!-- #ifdef variable="create" -->
            <tr>
                <td align=right>ID:&nbsp;&nbsp;</td>
                <td><INPUT NAME="ID" VALUE="<$ID>" MAXLENGTH=16 SIZE=16></td>
            </tr>
        <!-- #endif variable="create" -->
        <tr>
            <td align=right>Name:&nbsp;&nbsp;</td>
            <td colspan=5><INPUT NAME="NAM" VALUE="<$NAM>" MAXLENGTH=32 SIZE=32></td>
        </tr>
        <tr><td colspan=6><font size=-2>&nbsp;</font></td></tr>
        <tr>
            <td align=right>Owner:&nbsp;&nbsp;</td>
            <td colspan=5>
                <!-- #ifndef variable="create" -->
                    <A HREF="edit<$g_exe>?DTY=<$DTY>&KTY=ID&KEY=<$ID>&TPL=common/rights&ac=readrole">&nbsp;<$OWN_2NNM>&nbsp;</A><br>
                <!-- #endif variable="create" -->
                <!-- #ifdef variable="create" -->
                    <INPUT NAME="OWN_NNK" VALUE="<$OWN_NNK>" MAXLENGTH=16 SIZE=16>
                <!-- #endif variable="create" -->
            </td>
        </tr>
        <tr><td colspan=6><font size=-2>&nbsp;</font></td></tr>
        <tr>
            <td align=right>Owner Job:&nbsp;&nbsp;</td>
            <td>
                <!-- #ifndef variable="create" -->
                    <font color=#80ff00><$OWR_NAM></font>
                <!-- #endif variable="create" -->
                <!-- #ifdef variable="create" -->
                    <select name="OWR">
                        <option value=""></option>
                        <!--#for loopname="owrRoles" loopvars="ROL_ITER_" -->
                            <option value="<$ROL_BIT_ID_W_>"><$ROL_BIT_NAM_></option>
                        <!--#endfor loopname="owrRoles" -->
                    </select>
                <!-- #endif variable="create" -->
            </td>
            <td align=right>Assistant Job:&nbsp;&nbsp;</td>
            <td colspan=3>
                <!-- #ifndef variable="create" -->
                    <font color=#80ff00><$ASR_NAM></font>
                <!-- #endif variable="create" -->
                <!-- #ifdef variable="create" -->
                    <select name="ASR">
                        <option value=""></option>
                        <!--#for loopname="asrRoles" loopvars="ROL_ITER_" -->
                            <option value="<$ROL_BIT_ID_W_>"><$ROL_BIT_NAM_></option>
                        <!--#endfor loopname="asrRoles" -->
                    </select>
                <!-- #endif variable="create" -->
            </td>
        </tr>
        <tr><td colspan=6><font size=-2>&nbsp;</font></td></tr>
        <tr>
            <td align=right>Neighborhood Map:&nbsp;&nbsp;</td>
            <td colspan=5>
                <select name="IM2">
                    <!--#for loopname="imageLoop" loopvars="NHM_INDEX_" -->
                        <option value="<$NHM_INDEX_>" <$NHM_SEL_>><$NHM_INDEX_></option>
                    <!--#endfor loopname="imageLoop" -->
                </select>
            </td>
        </tr>
        <tr><td colspan=6><font size=-2>&nbsp;</font></td></tr>
        <tr>
            <td align=right valign=top>Description:&nbsp;&nbsp;</td>
            <td colspan=5>
                <TEXTAREA NAME="TXT" ROWS="4" COLS="60"><$TXT></TEXTAREA>
            </td>
        </tr>

    <!-- #ifdef variable="create" -->
        <!-- #include virtual="<$g_Templates>admin/infoobj_inc.tmpl" -->
    <!-- #endif variable="create" -->

    </table>

    <input type=hidden name="PU2" value="<$PU2>">
    <input type=hidden name="PRC" value="<$PRC>">
    <input type=hidden name="CST" value="<$CST>">
    <input type=hidden name="MON" value="<$MON>">
    <input type=hidden name="CMX" value="<$CMX>">

<!-- #ifndef variable="create" -->
<br>
    <A HREF="edit<$g_exe>?DTY=<$DTY>&KTY=ID&KEY=<$ID>&TPL=common/rights&ac=readrole">Access Rights...</A><br>
<!-- #endif variable="create" -->
<br>
    <!-- #ifndef variable="create" -->
        <input type=submit name="edit" value="Update" width=100>
        <input type=button name="delete" value="Delete" onClick="confirmDelete()" width=100>
    <!-- #endif variable="create" -->
    <!-- #ifdef variable="create" -->
        <input type=submit name="insert" value="Create" width=100>
    <!-- #endif variable="create" -->
    <input type=button name="back" value="Back" onClick="history.back()" width=100>
</form>

</body>
</html>

