<html>
<head>
<title><$g_title> - Virtual Pets</title>
</head>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<div align=center>
<h2>Virtual Pet Access Error</h2>

<font color="red">

<!--#ifdef variable="VP_NOTALLOW_ERROR" -->
Sorry <$NNM>,
<P>  you do not have access to this information.</P>
<!--#endif variable="VP_NOTALLOW_ERROR" -->

</font>

</body>
</html>
