<!-- banners/tags/genentertain.tmpl -->
<td width=10>

<a href="http://www.qksrv.net/click-691146-1110575"target=_new>
<img src="http://www.qksrv.net/image-691146-1110575" width="120" height="60" alt="Spun.com -- The Entertainment Exchange" border="0"></a>

</td>
<!-- end banners/tags/genentertain.tmpl -->