<!-- banners/tags/aff1.tmpl -->
<td width=10><IMG SRC="http://www.cybertown.com/images/menu/tinyimage.gif" BORDER=0 width=10></td><td align=right width=63><a href="javascript:loadInfo('/places/news/magazine/dailynews/index.html')" target=_self><IMG SRC="http://www.cybertown.com/images/menu/aff1.gif" BORDER=0></a></td><td width=10><IMG SRC="http://www.cybertown.com/images/menu/tinyimage.gif" BORDER=0 width=10></td>
<!-- end banners/tags/aff1.tmpl -->