<!-- banners/tags/gentech.tmpl -->
<td width=10>

<a href="http://click.linksynergy.com/fs-bin/click?id=tReacpRC9UI&offerid=26223.10000094&type=4&subid=0"><IMG alt="Banner 10000094" border=0 src="http://banners.winfire.com/linkshare/120x60/banner2_120x90.gif"></a><IMG border=0 width=1 height=1 src="http://ad.linksynergy.com/fs-bin/show?id=tReacpRC9UI&bids=26223.10000094&type=4&subid=0">

</td>
<!-- end banners/tags/gentech.tmpl -->