<!-- banners/tags/aff_main_merlite.tmpl -->
<td align=center>

<a href="http://click.linksynergy.com/fs-bin/click?id=tReacpRC9UI&offerid=9497.10000037&type=4&subid=0"target=_new><img alt="A complete line of jewelry at discount prices!" border=0 src="http://www.merlite.com/art/merlban9.gif" width="468" height="60"></a>

</td>
<!-- end banners/tags/make a name.tmpl -->