

<!-- banners/tags/aff_main_genentertain.tmpl -->
<td align=center>

<a href="http://click.linksynergy.com/fs-bin/click?id=tReacpRC9UI&offerid=25353.10000007&subid=0&type=4"target=_new,widt
h=640,height=580
><IMG border=0 alt="columbiahouseplugin468" width=468 height=60 src="http://ad.linksynergy.com/fs-bin/show?id=tReacpRC9UI&bids=25353.10000007&subid=0&type=4"></a>

</td>
<!-- end banners/tags/aff_main_genentertain.tmpl -->