<!-- banners/tags/aff_main_gencomp.tmpl -->
<td align=center>

<a href="javascript:loadCustom('/affiliates/index.html',680,480)" target="action"><IMG border=0 alt="Cool Stuff" width=120 height=60 src="/affiliates/banners/affilianim.gif" ></a>


</td>
<!-- end banners/tags/aff_main_gencomp.tmpl -->


