<!-- banners/tags/aff_main_findwhosellsit.tmpl -->
<td align=center>
<form method=post action="http://www.findwhosellsit.com/results25.asp?ref=27"target=_new>
<table cellspacing=0 cellpadding=0 border=0 width="468">
<tr>
<td colspan=4><img src="http://www.findwhosellsit.com/images/topbanner1.gif" width=468 height=13 alt="Find Who Sells It"></td>
</tr>
<tr>
<td bgcolor="#ffffff" width=149>
<img src="http://www.findwhosellsit.com/images/leftlarge.gif" width=149 height=42 border=0></td>
<td align="left" valign="middle" width=165 height=42 bgcolor=#ffcc00>
<input type="text" size=17 name="search" value="golf clubs"> 
<input type=image src="http://www.findwhosellsit.com/images/gobutton.gif" align="absmiddle" width=23 height=23 name="search" Title="Find Who Sells It!" border=0></td>
<td bgcolor="#ffffff" width=17>
<img src="http://www.findwhosellsit.com/images/middlelarge.gif" width=17 height=42 border=0></td>
<td bgcolor="#ffffff" width=137>
<a href="http://www.findwhosellsit.com/track.asp?ref=27"><img src="http://www.findwhosellsit.com/images/rightlarge.gif" width=137 height=42 border=0></a></td>
</tr>
<tr>
<td colspan=4><img src="http://www.findwhosellsit.com/images/botbanner1b.gif" width=468 height=15 alt="Find Who Sells It"></td>
</tr>
</table>
</form>
   

</td>
<!-- end banners/tags/aff_main_findwhosellsit.tmpl -->