<!-- banners/tags/aff_main_gengames.tmpl -->
<td align=center>

<a href="http://www.qksrv.net/click-691146-307523" target="_blank" onmouseover="window.status='http://www.compuexpert.com';return true;" onmouseout="window.status=' ';return true;">
<img src="http://www.qksrv.net/image-691146-307523" width="468" height="60" alt="www.compuexpert.com home of 48 Hour Madness!!" border="0"></a>

</td>
<!-- end banners/tags/aff_main_gengames.tmpl -->