<!-- banners/tags/aff_small_talkpositive.tmpl -->
<td width=10>

<a href="http://click.linksynergy.com/fs-bin/click?id=tReacpRC9UI&offerid=20897.10000017&type=4&subid=0"target=_new><IMG alt="Banner 10000017" border=0 src="http://www.talkpositive.com/ads/mom120x60a.gif"></a><IMG border=0 width=1 height=1 src="http://ad.linksynergy.com/fs-bin/show?id=tReacpRC9UI&bids=20897.10000017&type=4&subid=0">

</td>
<!-- end banners/tags/aff_small_talkpositive.tmpl -->