<!-- banners/tags/aff_main_gencomp.tmpl -->
<td align=center>

<a href="http://www.qksrv.net/click-691146-1458635" onMouseOver="window.status='http://www.idt.net" onMouseOut="window.status=' ';return true;"target=_blank> 
    </a><a href="http://www.qksrv.net/click-691146-1458635"target=_new onMouseOver="window.status='http://www.idt.net';return true;" onMouseOut="window.status=' ';return true;"> 
    <img src="http://www.qksrv.net/image-691146-1458635" width="468" height="60" alt="Click here for 5 cents a minute long distance!" border="0"></a>



</td>
<!-- end banners/tags/aff_main_gencomp.tmpl -->


