<!-- banners/tags/aff_main_ticketsnow.tmpl -->
<td align=center>

<a href="http://www.ticketsnow2.com/b.asp?id=2002"target=_new> <img src="http://www.ticketsnow2.com/showban.asp?id=2002&img=banner1.gif" border=0></a>

</td>
<!-- end banners/tags/make a name.tmpl -->