<!-- banners/tags/ap_main_tech.tmpl -->
<td align=center>
<SCRIPT language="JavaScript1.1">
var ord = Math.round(Math.random() * 1000000000000000000);
document.writeln("<IFRAME SRC='http://ad.doubleclick.net/adi/US-cybertown.com/US-technology;sz=468x60;ord=" + ord + "a?' name='frame1' width='468' height='60' frameborder='no' border='0' MARGINWIDTH='0' MARGINHEIGHT='0' SCROLLING='no'>");
document.writeln("<SCRIPT language='JavaScript1.1' SRC='http://ad.doubleclick.net/adj/US-cybertown.com/US-technology;abr=!ie;sz=468x60;ord=" + ord + "a?'></" + "" + "SCRIPT>");
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ad.doubleclick.net/jump/US-cybertown.com/US-technology;abr=!ie;sz=468x60;ord=6648650561324859?"><IMG SRC="http://ad.doubleclick.net/ad/US-cybertown.com/US-technology;abr=!ie;sz=468x60;ord=6648650561324859?" border=0 height="60" width="468"></A>
</NOSCRIPT>
</IFRAME>
</td>
<!-- end banners/tags/ap_main_tech.tmpl -->