<!-- banners/tags/ap_large_1.tmpl -->
<td align=center><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=468 HEIGHT=60 MARGINWIDTH="0" MARGINHEIGHT="0" SCROLLING="NO" SRC="">ADPEPPER</IFRAME></td>
<!-- end banners/tags/ap_large_1.tmpl -->