<!-- banners/tags/bxx_banner_1.tmpl -->
<td align=center><a href="http://www.blaxxun.com" target="external"><IMG SRC="<$g_HTMLRoot>/ad/ad468.gif" ALIGN="center" BORDER="0"></a></td>
<!-- end banners/tags/bxx_banner_1.tmpl -->