<!-- banners/tags/club_banner.tmpl -->
<td align=center><a href="/cgi-bin/cybertown/place?plc=clubdir" target="external"><IMG SRC="<$g_HTMLRoot>/ad/clubban.gif" BORDER=0></a></td>
<!-- end banners/tags/club_banner.tmpl -->