<!-- This is the template banners/tags/com_cafe_election.tmpl -->
<td align=center>
<script language="javascript" src="http://www.cybertown.com/banners/bannerutil.js"></script>
<script language="javascript">
RandomBanner(new Array(
 "<img src='http://www.cybertown.com/events/2001/elections/banners/rs_wk6b1.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/z7_10.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/mj_b6.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/mj_everyday.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/mayorbanner5.jpg' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/rs_wk4b2.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/mj_ban.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/mayorbanner2.jpg' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/jjliz_wk4b1.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/mj_ban1.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/mj_ban3.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/mayorbanner2.jpg' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/jjliz_history1.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/z7_generic.jpg' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/mayorbanner5.jpg' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/jjliz_bridge.jpg' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/mayorbanner3.jpg' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/mj-jor.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/jjliz_wk5b1.jpg' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/rs_wk4b3.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/jk2.jpg' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/rs_wk6b2.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/kj4.jpg' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/z7_23.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/kj6.jpg' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/rs_wk6b3.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/jjliz_wk4b2.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/jjliz_wk4b3.gif' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/mayorbanner4.jpg' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/kj1.jpg' width=468 height=60>",
 "<img src='http://www.cybertown.com/events/2001/elections/banners/rs_wk6b4.gif' width=468 height=60>",
 "<a href='http://www.cybertown.com/places/news/magazine/dailynews/index.html' target='_new'><img src='http://www.cybertown.com/events/2001/elections/banners/election.gif' width=468 height=60 border=0></a>"
));
</script> 
</td>
<!-- end banners/tags/com_cafe_election.tmpl -->