<!-- banners/tags/emergencybanner_main.tmpl -->
<td align=center>
<!-- <a href="http://sfc.me.uk/survey/mall1.php"><IMG border=0 src="/places/flyby/images/mall01.jpg"></a> -->
<!-- <a href="register"><IMG border=0 src="/places/flyby/images/ctMinaBanner2.gif"></a>-->
 <a href="javascript:loadInfo('http://www.cybertown.com/friends/tellfriends.html')" target="_self"><IMG border=0 src="/comtech/tellfriends.jpg"></a>
</td>
<!-- end banners/tags/emergencybanner_main.tmpl -->