<!-- banners/tags/emergencybanner_main.tmpl -->
<!-- #include virtual="<$g_Templates>place/banners.tmpl" -->
<body onLoad="window.setTimeout('cycle();',15000);">

<td align=center>
<a href="http://www.cybertown.com/cgi-bin/cybertown/register" onclick="this.href=urlswitch()">
<img width="468" height="60" border="0" src="http://www.cybertown.com/comtech/ctMinaBanner2.gif" name="banner1"></a>
</td>
<!-- end banners/tags/emergencybanner_main.tmpl -->