<!-- This is the template banners/tags/hi-tek_opening.tmpl -->
<td align=center>
<a href="javascript:top.location.href='community?ID=0110000000000000'" target="_self"><img src='/places/hi-tek/images/htlaunch.jpg' width="468" height="60" border="0" alt="Enter Hi-Tek Colony"></a>

</td>
<!-- end banners/tags/hi-tek_opening.tmpl -->