<!-- banners/tags/redcross.tmpl -->
<div align=center>
<a href="http://www.coffeecup.com/attack/donate/" target="_top"><img src="http://www.coffeecup.com/wtc_support1.gif" width="468" height="60" border="1" alt="Donate to the American Red Cross"></a><br>
<a href="http://www.coffeecup.com/attack/donate/" target="_top"><font face=arial size=1>Click Here to Donate to the American Red Cross</font></a>
</div>
<!-- end banners/tags/redcross.tmpl -->