<html>
<head>
<title><$g_title> - Inbox</title>
</head>

<!-- config.tmpl -->
<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<div align=center>
<h2>Inbox - Configuration</h2>

<form method=post action="<$selfurl>">
<input type="hidden" name="TKT" value="<$TKT>">

<table border=0>
<tr>
<td>The title for your inbox:</td>
</tr>
<tr>
<td><INPUT NAME="NAM" VALUE="<$NAM>" MAXLENGTH=32 SIZE=60></td>
</tr>
<tr>
<td>The background image of your inbox:</td>
</tr>
<tr>
<td><INPUT NAME="URL" VALUE="<$URL>" MAXLENGTH=128 SIZE=60></td>
</tr>
<tr>
<td>The introduction text of your inbox.</td>
</tr>
<tr>
<td><TEXTAREA NAME="TXT" ROWS=15 COLS=60><$TXT></TEXTAREA></td>
</tr>
</table>
<P>
The introduction text you specified above can contain HTML tags,
like &lt;FONT&gt; etc,
<br>
please make sure you do not create any
syntax errors.
<br>
It is <U>YOUR inbox <$NNM></U>.
<P>
<P>
Should posting of HTML tags be allowed in messages of your inbox?
<SELECT  name = "HTM">
<OPTION <$htmnoselected> value = "no">no&nbsp;
<OPTION <$htmyesselected> value = "yes">yes&nbsp;
</SELECT>
<p>

<input type=hidden name="DTY" value="<$DTY>">
<input type=hidden name="KTY" value="<$KTY>">
<input type=hidden name="KEY" value="<$KEY>">
<input type=hidden name="MTY" value="<$MTY>">
<input type=hidden name="ac"  value="setconf">
<input type=submit name="Submit" value="Post">
<input type=submit name="Cancel" value="Cancel">
</form>

<!-- #ifdef variable="msbmsg001" -->
The values have been set.
<!-- #endif variable="msbmsg001" -->

<font color="red">

<!-- #ifdef variable="msbseterror001" -->
Sorry <$NNM>, the lengths of the values you wanted to set are too big.
<!-- #endif variable="msbseterror001" -->
</font>

</body>
</html>

