<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>


<body bgcolor="#000000" text="#00FF00" link="#FFFF00" vlink="#FFFF00" alink="#FFFF00">
<center>
<font face="Arial, Helvetica, sans-serif">
<b>The banner for place:<br> <$NAM> <$T_ID><br>Has been updated</b>
<br><br>

<TABLE  border="1" cellspacing="3" cellpadding="3" width="250">
<tr> 
<td><font face="Arial, Helvetica, sans-serif">Menu Main</td>
<td><font face="Arial, Helvetica, sans-serif"><$AD1></td>
</tr>
<tr> 
<tr> 
<td><font face="Arial, Helvetica, sans-serif">Menu Small</td>
<td><font face="Arial, Helvetica, sans-serif"><$AD2></td>
</tr>
<tr> 
<tr> 
<td><font face="Arial, Helvetica, sans-serif">Menu Affiliate</td>
<td><font face="Arial, Helvetica, sans-serif"><$AD3></td>
</tr>
<tr> 
<tr> 
<td><font face="Arial, Helvetica, sans-serif">Place</td>
<td><font face="Arial, Helvetica, sans-serif"><$AD4></td>
</tr>
<tr> 
</table>
<br><br>

<br><br>
<a href="/cgi-bin/cybertown/edit?TPL=banners/banner_control">BACK TO CONTROL</a>
</center>
</body>
</html>



