<!-- banner ads -->

<!-- colonies -->
<!-- end of colonies -->
<!-- #ifndef variable="listmsg" -->
<!-- <center>
<a href="javascript:top.location.href='place?plc=cityhall'" target="_self"><img src='/comtech/hawkmeeting.jpg' width="468" height="60" border="0" alt="Enter City Hall"></a>
</center> -->
<br>
<!-- #endif variable="listmsg" -->
<!-- clubdir -->
<!-- end of clubdir -->


<!-- end of banner ads -->


