<!-- banner/specialbanner.tmpl -->
<!-- called from banners/banner.tmpl for menu banners -->

<td><a href="/cgi-bin/cybertown/place?pl=library" target="_top"><img src="<$_HTMLRoot>/banners/images/starwars.jpg" border="0"></a></td>


