<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</head>


<body bgcolor="#000000" text="#00FF00" link="#FFFF00" vlink="#FFFF00" alink="#FFFF00">
<center>
<font face="Arial, Helvetica, sans-serif">
<b>The Emergency Banner has been set to: <$EBN></b>

<br><br>
<a href="/cgi-bin/cybertown/edit?TPL=banners/banner_control">BACK TO CONTROL</a>
</center>
</body>
</html>



