<html>
<head>
<title><$g_title> - Library</title>
</head>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<h2>Library - Destroy</h2>

Hello <$NNM>,

<!-- #ifndef variable="destroyed" -->
<form method=post action="<$selfurl>">
<input type="hidden" name="TKT" value="<$TKT>">
<P>
Do you really want to completely delete the library and
all its topics and links?

<p>
<input type=hidden name="DTY" value="<$DTY>">
<input type=hidden name="KEY" value="<$KEY>">
<input type=hidden name="ac"  value="destroy">
<input type=submit name="Ok"  value="Ok">
<input type=submit name="Cancel"  value="Cancel">
</p>
</form>
<!-- #endif variable="destroyed" -->

<!-- #ifdef variable="destroyed" -->
<P>
The library has been destroyed.
<!-- #endif variable="destroyed" -->

</body>
</html>

