<html>
<head>
<title><$g_title> - Library</title>
</head>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<div align=center>
<h2>Library Link</h2>

<form method=post action="<$selfurl>">
<input type="hidden" name="TKT" value="<$TKT>">
<input type=hidden name="DTY" value="<$DTY>">
<input type=hidden name="KEY" value="<$KEY>">
<input type=hidden name="TOP" value="<$TOP>">
<input type=hidden name="TYP" value="<$TYP>">
<input type=hidden name="NUM" value="<$NUM>">
<input type=hidden name="update" value="<$update>">
<input type=hidden name="ac"     value="createlink">

<table border=0>
<tr>
<td>Title:</td>
<td><INPUT NAME="sub" VALUE="<$sub>" MAXLENGTH=60 SIZE=60></td>
</tr>
<tr>
<tr>
<td>URL:</td>
<td><INPUT NAME="url" VALUE="<$url>" MAXLENGTH=255 SIZE=60></td>
</tr>
<tr>
<td>Text:</td>
<td><TEXTAREA NAME="txt" ROWS=15 COLS=60><$txt></TEXTAREA></td>
</tr>
</table>
<p>
<input type=submit name="Submit" value="Post">
<input type=submit name="Cancel" value="Cancel">
</p>
</form>

<!-- #ifdef variable="linkallowdelete" -->

<a href=
 "<$selfurl>?ac=deletelink&NUM=<$NUM>&TYP=<$TYP>&TOP=<$TOP>&DTY=<$DTY>&KEY=<$KEY>&TKT=<$TKT>"
 >Delete the Link</a>

<!-- #endif variable="linkallowdelete" -->

<!-- #ifdef variable="linkallowconfirm" -->

<a href=
 "<$selfurl>?ac=confirmlink&NUM=<$NUM>&TYP=<$TYP>&TOP=<$TOP>&DTY=<$DTY>&KEY=<$KEY>&TKT=<$TKT>"
 >Confirm the Link</a>

<!-- #endif variable="linkallowconfirm" -->

<!-- #ifdef variable="hllallowhtm" -->
<P>
Post of HTML tags is required on this library.<br>
Please put at least "&lt;P&gt;" tags if you want to start new
paragraphs in your post.
<P>
<!-- #endif variable="hllallowhtm" -->

<!-- #ifndef variable="hllallowhtm" -->
<P>
Post of HTML tags is not allowed on this board.<br>
Please do not post any HTML tags like "&lt;P&gt;", etc.
<P>
<!-- #endif variable="hllallowhtm" -->

<!-- #ifdef variable="hllmsg001" -->
The link has been created.
<!-- #endif variable="hllmsg001" -->

<font color="red">
<!-- #ifdef variable="hllerror001" -->
Sorry <$NNM>, you do not have permission to create a topic.
<!-- #endif variable="hllerror001" -->

<!-- #ifdef variable="hllerror002" -->
Sorry <$NNM>, the length of the input you gave is too big.
<!-- #endif variable="hllerror002" -->

<!-- #ifdef variable="hllerror003" -->
Sorry <$NNM>, the update of the topic in the database failed.
<!-- #endif variable="hllerror003" -->

</font>

</body>
</html>

