<html>
<head>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
</head>

<frameset rows="305,*" border=0 marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
	<frameset cols="*,540,*" >
		<frame name="dummy1" src="<$g_HTMLRoot>/blank.html" scrolling="no" noresize>
		<frame name="presentation" src="neighbor<$g_exe>?ac=wizardpresent&ID=<$ID>" scrolling="no" noresize marginwidth=10 marginheight=18>
		<frame name="dummy2" src="<$g_HTMLRoot>/blank.html" scrolling="no" noresize>
	</frameset>
	<frame name="wizardinfo" src="neighbor<$g_exe>?ac=wizardinfo&ID=<$ID>" scrolling="auto" noresize marginheight=0 marginwidth=0 frameborder=0 framespacing=0>
</frameset>
</html>
