<!--<$plc>/place.tmpl-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
<!-- #include virtual="<$g_Templates>common/loadinfo.tmpl" -->
<!-- #include virtual="<$g_Templates>banners/bannerscript_common.tmpl" -->
<script language="javascript">
<!-- #ifdef variable="T_aud" value="" -->
var audit = "audit";
<!-- #endif variable="T_aud" -->
<!-- #ifndef variable="T_aud" value="" -->
var audit = "<$T_aud>";
<!-- #endif variable="T_aud" -->

function set_action(){
 u = "place<$g_exe>?ac=action&plc=<$place>&DTY=<$DTY>&ID=<$ID>&T_aud=" + audit + "&T_spawn=<$T_spawn>&T_pass=<$T_pass>&T_mode=2D";
 parent.action.document.location.href = u;
}
</script>
</head>

<!-- #ifdef variable="T_spawn" value="" -->
<!-- #ifndef variable="T_3d" value="true" -->

<body  bgcolor="#000000" text="#ffffff" link="#00ffff" vlink="#00ffff" alink="#00ffff">

<center>

<font face="arial, helvetica">
  <img src="http://www.cybertown.com/places/amp/images/amphifinal2.jpg" width="499" height="184"> 
  <br><br><font face="arial, helvetica" size=-1><b><i>PROUD TO PRESENT OUR LATEST LIVE AVATAR CONCERT</i></b></font>
  <br>

<table  width="85%" border="0" cellspacing="0" cellpadding="0">
<tr>

<td>
<center> 
<a href="http://www.thehippos.com" target="_new"><img src="http://www.cybertown.com/places/amp/images/hippos.jpg" border=0></a><br>
<br><font face="arial, helvetica" size=-1><b>Appearing at 9pm Cybertown Time Today!</b></font>
</center>
</td>

</tr></table>
<table  width="85%" border="0" cellspacing="0" cellpadding="0">
<tr>

<td align="middle"> 

<font face="arial, helvetica">
<br>
Featuring their latest music, The Hippos will perform live on board of our exclusive, floating <b>SKYBOXES</b>!!
All Skyboxes have the best view of the event, high above Downtown Cybertown, on the roof of the e-Plex.
<br><br>

To start partying, click <a href="javascript:loadInfo('/cgi-bin/cybertown/place?ac=list&tpl=amp/display')" target="action">HERE</a>. 
Find a SKYBOX that has less then 20 people then click the <b>ENTER</b> link for that skybox. <b><u>THE ONLY WAY TO ENTER THE EVENT IS TO PICK A ROOM</u></b>. 
Or if you gotta hook up your buds, click <a href="place?plc=amp&ac=place&ID=0000000000000035&force=p&T_aud=&T_spawn=&T_3d=true&T_pass=" target="_self">HERE</a> to go on the Lobby.</font>

</td></tr>
<tr><td width="5%">&nbsp;</td></tr>
</table>

<table  width="85%" border="0" cellspacing="0" cellpadding="0">
<tr>

<td>
<center>
<font face="arial, helvetica" size=-1>
This Concert also brought to you by: 
<a href="http://www.fanscape.com" target="_new"><img src="http://www.cybertown.com/places/amp/images/fanscape.jpg" border=0 align="middle"> Fanscape</a> and 
<a href="http://www.interscope.com" target="_new"><img src="http://www.cybertown.com/places/amp/images/interscope.jpg" border=0 align="middle">Interscope Records </a><br>
</center>
</td>

</tr></table>
<br>

<table  width="85%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td align="center">
<font face="arial, helvetica">
This event requires that you have the latest version of <b><a href="javascript:loadInfo('http://www.cybertown.com/info/download/index.html')">blaxxun Contact</a></b>, as well as <b><a href="javascript:loadInfo('http://www.real.com')">Real Player G2</a></b> 
installed in your system. If you need help, either talk to the friendly cybertown guide inside 
<br><a href="place?plc=amp&ac=place&ID=0000000000000035&force=p&T_aud=&T_spawn=&T_3d=true&T_pass=" target="_self">The Lobby</a>
or go <a href="javascript:loadInfo('/places/amp/html/help.html')" target="action">here</a>.</font> 

</td>
</tr>
</table>

</center>

</body>

<!-- #endif variable="T_3d" -->
<!-- #ifdef variable="T_3d" value="true" -->
<!-- #include virtual="<$g_Templates><$plc>/world.tmpl" -->
<!-- #endif variable="T_3d" -->
<!-- #endif variable="T_spawn" -->

<!-- #ifndef variable="T_spawn" value="" -->
<!-- #include virtual="<$g_Templates><$plc>/world.tmpl" -->
<!-- #endif variable="T_spawn" value="" -->

</html>









