<a href="http://www.cybertown.com/entcent2.html" target=place>
<IMG SRC="<$g_Images>/images/buttons/bportal.gif" BORDER=0 ALT="Portal"></a><br>

<!-- #ifdef variable="isAdmin" -->
<a href="javascript:loadInfo('/cgi-bin/games2/ec/cgames.pl')" target="_self">Add Games</a><br>
<!-- #endif variable="isAdmin" -->

