<HTML>
<HEAD>
<!-- #include virtual="<$g_Templates>common/loadinfo.tmpl" -->
</HEAD>
</body>
<form name="bform" action="/cgi-bin/cybertown/property" method="POST">
<input type="hidden" name="ac" value="myhouse"> 
</form>
<script language=javascript>
document.bform.submit();
</script>

</html>