<HTML>  
<HEAD>  
<meta http-equiv="Content-Type" content="text/html">  
<title><$g_title></title>  
</HEAD>

<BODY BGCOLOR="#000000" LINK="#00FF00" VLINK="#00FF00" ALINK="#FFFFFF" TEXT="##D0DBF7">  

<DIV align=center>

<table BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="160">

<tr>
<td VALIGN="TOP">

<a href="http://www.mothership.com" target="_top"><img SRC="<$g_HTMLRoot>/places/mothership/images/action/mothershipcornerlogo.gif" border="0"></a>
<br><img SRC="<$g_HTMLRoot>/places/mothership/images/action/cybertownlogo.gif" height=20 width=155>

</td>
</tr> 

</table>

</DIV>

</BODY>
</HTML>
