<HTML><BODY BGCOLOR=#000000 LINK=#E6E6E6 VLINK=#E6E6E6 ALINK=#FFFFFF TEXT=#E6E6E6>
<TABLE WIDTH=156 CELLSPACING=0 CELLPADDING=0 BORDER=0>
<TR><TD BGCOLOR=#000000><A HREF="javascript:confirmLink('http://www.mothership.com')" target="action"><IMG SRC="<$g_HTMLRoot>/places/mothership/images/action/mothershipcornerlogo.gif" WIDTH="156" HEIGHT="75" BORDER="0"></A></TD></TR>
<TR><TD ALIGN="CENTER" BGCOLOR="#003040">
<A HREF="http://www.cybertown.com" target="_new"><IMG SRC="<$g_HTMLRoot>/places/mothership/images/action/cybertownlogo.gif" WIDTH="156" HEIGHT="20" BORDER="0"></A><BR>
<IMG SRC="<$g_HTMLRoot>/places/mothership/images/action/X.gif" HEIGHT="7" BORDER="0"><BR>
<FONT SIZE="1" FACE="arial,sans-serif">
City Time
<BR>
<A HREF="javascript:parent.list('<$g_cgiRoot>/message<$g_exe>?TPL=message/list&ac=list&TIME=<$CT_STR>')">Citizens Online</A>
<BR><IMG SRC="<$g_HTMLRoot>/places/mothership/images/action/X.gif" HEIGHT="7" BORDER="0"><BR>
</FONT></TD></TR>
</TABLE>
</body></html>
