<!-- mothership/blue.tmpl -->
<HTML>  
<HEAD>  
<meta http-equiv="Content-Type" content="text/html">  
<title>blaxxun ColonyCity</title>  
</HEAD>  
<BODY BGCOLOR="#004354">  

<BR>
<CENTER>

<SCRIPT LANGUAGE="JavaScript">
<!-- Hide from old browsers
OPERA = (navigator.userAgent.indexOf('Opera') != -1);
NAV3 = (((navigator.appName.indexOf('Netscape') != -1) && (navigator.appVersion.substring(0,1) == 3) && !OPERA));
NAV4 = ((navigator.appName.indexOf('Netscape') != -1) && (navigator.appVersion.substring(0,1) == 4)); 
NAV6 = ((navigator.appName.indexOf('Netscape') != -1) && (navigator.appVersion.substring(0,1) >= 5)); 
IE = ((navigator.userAgent.indexOf('MSIE') != -1) || (navigator.userAgent == ""));
WEBTV = (navigator.appName.indexOf('WebTV') != -1);

now = new Date();
random = now.getTime();

// Modify to reflect site specifics
site = "http://ads.scifi.com";
target = "/SITE=MOTHERSHIP/AREA=COLONY/AAMSZ=468X60/ACC_RANDOM=";

if (IE || WEBTV || NAV6){
        document.write('<IFRAME SRC="' + site + '/hserver' + target + random + '?"'); 
        document.write(' NORESIZE SCROLLING=NO HSPACE=0 VSPACE=0 FRAMEBORDER=0 MARGINHEIGHT=0 MARGINWIDTH=0 WIDTH=468 HEIGHT=60></IFRAME>');
} else if (NAV4){
        document.write('<SCR' + 'IPT LANGUAGE="JavaScript1.1" SRC=' + site + '/jserver' + target + random + '">');
        document.write('</SCR' + 'IPT>');
} else if (OPERA || NAV3){
        document.write('<A HREF="' + site + '/accipiter/adclick.exe' + target + random + '?">');
        document.write('<IMG SRC="' + site + '/accipiter/nserver.exe' + target + random + '?"></A>');
}
// End Hide -->
</SCRIPT>

<BR>

<!-- #ifdef variable="isVisitor" -->
<a href="<$g_HTMLRoot>/places/mothership/immigrate/register.html" target="_top"><img src="<$g_HTMLRoot>/places/mothership/images/buttons/join.jpg" border=0></a>
<!-- #endif variable="isVisitor" -->  
<a href="javascript:loadInfo('<$g_HTMLRoot>/places/news/magazine/dailynews/index.html')" target="action"><img src="<$g_HTMLRoot>/places/mothership/images/buttons/dailynews.jpg" border=0></a>
</CENTER>

</BODY>  
</HTML>  
