<!-- #ifdef variable="readaccess" -->
<a href="javascript:loadInfo('msb<$g_exe>?DTY=O&KTY=ID&KEY=000000000001000c&MTY=m')" target=_self>
<IMG SRC="<$g_HTMLRoot>/places/employment/images/joboffers.gif" BORDER=0 ALT="Job Offers"></a><br>
<a href="javascript:loadInfo('msb<$g_exe>?DTY=O&KTY=ID&KEY=000000000002000c&MTY=m')" target=_self>
<IMG SRC="<$g_HTMLRoot>/places/employment/images/jobrequests.gif" BORDER=0 ALT="Job Requests"></a><br>
<!-- #endif variable="readaccess" -->


