<SCRIPT LANGUAGE="JavaScript">
var banners = new Array(5);    
banners[0] = '<center><a href="javascript:loadCustom(\'http://www.cybertown.com/citystore/store.html\',\'640\',\'480\')" target=_self><img src="/images/banners/storeb3.gif" alt="Buy CT Merchandise!" height=60 width=468 border=0></a></center>'; 
banners[1] = '<center><a href="javascript:loadCustom(\'http://philliphansel.com/buildersguild/become.html\',\'640\',\'480\')" target=_self><img src="/images/banners/wbg_2.jpg" alt="Join the World Builders Guild" height=60 width=468 border=0></a></center>'; 
banners[2] = '<center><a href="javascript:loadCustom(\'http://www.cybertown.com/contest/lostcivilizations.html\',\'800\',\'600\')" target=_self><img src="http://www.cybertown.com/comtech/LostCivs.jpg" alt="Lost Civilizations 3D Contest" height=60 width=468 border=0></a></center>';
banners[3] = '<center><a href="javascript:loadCustom(\'http://www.cybertown.com/places/news/magazine/dailynews/index.html\',\'640\',\'480\')" target=_self><img src="http://www.cybertown.com/DailyNews/daily_news.jpg" alt="Read the Daily News!" height=60 width=468 border=0></a></center>';
banners[2] = '<center><a href="javascript:loadCustom(\'http://www.cybertown.com/contest/lostcivilizations.html\',\'800\',\'600\')" target=_self><img src="http://www.cybertown.com/comtech/LostCivs.jpg" alt="Lost Civilizations 3D Contest" height=60 width=468 border=0></a></center>';
banners[4] = '<center><a href="http://www1.cybertown.com/cgi-bin/cybertown/place?plc=vidnetvpod" target="_top"><img src="http://www.cybertown.com/red5/images2001/vidnetbanner.jpg" alt="Click 2 visit the Vidnet vPod" height=60 width=468 border=0></a></center>';

function getrandom() { 
var random = Math.floor((Math.random() * 5)); 
return random;  
}  
function showbanner() {  
var bannernumber = getrandom();  
document.write(banners[bannernumber]);  
}  
</SCRIPT> 