<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title>Cybertown - the Sci-fi Community of the Future</title>
<base target="top">
</HEAD>
        
<!-- PASCAL
<BODY BGCOLOR="#000000" LINK="#66FF33" VLINK="#00FF00" ALINK="#FFFFFF" TEXT="#00CCFF" background="cocimap6.jpg">
-->
<!-- MUNICH -->
<BODY BGCOLOR="#000000" LINK="#66FF33" VLINK="#00FF00" ALINK="#FFFFFF" TEXT="#00CCFF" background="<$g_Images>/images/mapcity.jpg">

<table cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td width="36" height="5" valign="top"></td>
    <td width="6" height="5" valign="top"></td>
    <td width="15" height="5" valign="top"></td>
    <td width="8" height="5" valign="top"></td>
    <td width="44" height="5" valign="top"></td>
    <td width="20" height="5" valign="top"></td>
    <td width="1" height="5" valign="top"></td>
    <td width="1" height="5" valign="top"></td>
    <td width="3" height="5" valign="top"></td>
    <td width="16" height="5" valign="top"></td>
    <td width="85" height="17" colspan="9" rowspan="2" valign="top"><P><FONT color=#99ff33 size=1><A 
href="javascript:top.location.href='place?plc=funpark'">FUN PARK</A></FONT> 
</P></td>
    <td width="4" height="5" valign="top"></td>
    <td width="1" height="5" valign="top"></td>
    <td width="3" height="5" valign="top"></td>
    <td width="7" height="5" valign="top"></td>
    <td width="25" height="5" valign="top"></td>
    <td width="10" height="5" valign="top"></td>
    <td width="11" height="5" valign="top"></td>
    <td width="13" height="5" valign="top"></td>
    <td width="22" height="5" valign="top"></td>
    <td width="5" height="5" valign="top"></td>
    <td width="32" height="5" valign="top"></td>
    <td width="13" height="5" valign="top"></td>
    <td width="11" height="5" valign="top"></td>
    <td width="30" height="5" valign="top"></td>
    <td width="13" height="5" valign="top"></td>
    <td width="8" height="5" valign="top"></td>
    <td width="22" height="5" valign="top"></td>
    <td width="29" height="5" valign="top"></td>
    <td width="21" height="5" valign="top"></td>
    <td width="26" height="5" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="12" valign="top"></td>
    <td width="6" height="12" valign="top"></td>
    <td width="15" height="12" valign="top"></td>
    <td width="8" height="12" valign="top"></td>
    <td width="44" height="12" valign="top"></td>
    <td width="20" height="12" valign="top"></td>
    <td width="1" height="12" valign="top"></td>
    <td width="1" height="12" valign="top"></td>
    <td width="3" height="12" valign="top"></td>
    <td width="16" height="12" valign="top"></td>
    <td width="4" height="12" valign="top"></td>
    <td width="1" height="12" valign="top"></td>
    <td width="3" height="12" valign="top"></td>
    <td width="7" height="12" valign="top"></td>
    <td width="25" height="12" valign="top"></td>
    <td width="10" height="12" valign="top"></td>
    <td width="11" height="12" valign="top"></td>
    <td width="13" height="12" valign="top"></td>
    <td width="22" height="12" valign="top"></td>
    <td width="5" height="12" valign="top"></td>
    <td width="32" height="12" valign="top"></td>
    <td width="97" height="12" colspan="6" valign="top"><FONT color=#ffffcc 
size=1><FONT color=#99ff33><A 
href="javascript:top.location.href='place?plc=cityhall'">CITY 
HALL</A></FONT></FONT></td>
    <td width="29" height="12" valign="top"></td>
    <td width="21" height="12" valign="top"></td>
    <td width="26" height="12" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="6" valign="top"></td>
    <td width="6" height="6" valign="top"></td>
    <td width="15" height="6" valign="top"></td>
    <td width="8" height="6" valign="top"></td>
    <td width="44" height="6" valign="top"></td>
    <td width="20" height="6" valign="top"></td>
    <td width="1" height="6" valign="top"></td>
    <td width="1" height="6" valign="top"></td>
    <td width="3" height="6" valign="top"></td>
    <td width="16" height="6" valign="top"></td>
    <td width="15" height="6" valign="top"></td>
    <td width="10" height="6" valign="top"></td>
    <td width="7" height="6" valign="top"></td>
    <td width="58" height="16" colspan="8" rowspan="2" valign="top"><FONT size=1><A 
href="javascript:top.location.href='place?plc=pool'">CITY POOL 
</A></FONT></td>
    <td width="3" height="6" valign="top"></td>
    <td width="7" height="6" valign="top"></td>
    <td width="25" height="6" valign="top"></td>
    <td width="10" height="6" valign="top"></td>
    <td width="11" height="6" valign="top"></td>
    <td width="13" height="6" valign="top"></td>
    <td width="22" height="6" valign="top"></td>
    <td width="5" height="6" valign="top"></td>
    <td width="32" height="6" valign="top"></td>
    <td width="13" height="6" valign="top"></td>
    <td width="11" height="6" valign="top"></td>
    <td width="30" height="6" valign="top"></td>
    <td width="13" height="6" valign="top"></td>
    <td width="8" height="6" valign="top"></td>
    <td width="22" height="6" valign="top"></td>
    <td width="29" height="6" valign="top"></td>
    <td width="21" height="6" valign="top"></td>
    <td width="26" height="6" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="10" valign="top"></td>
    <td width="6" height="10" valign="top"></td>
    <td width="15" height="10" valign="top"></td>
    <td width="8" height="10" valign="top"></td>
    <td width="44" height="10" valign="top"></td>
    <td width="20" height="10" valign="top"></td>
    <td width="1" height="10" valign="top"></td>
    <td width="1" height="10" valign="top"></td>
    <td width="3" height="10" valign="top"></td>
    <td width="16" height="10" valign="top"></td>
    <td width="15" height="10" valign="top"></td>
    <td width="10" height="10" valign="top"></td>
    <td width="7" height="10" valign="top"></td>
    <td width="3" height="10" valign="top"></td>
    <td width="7" height="10" valign="top"></td>
    <td width="46" height="13" colspan="3" rowspan="2" valign="top"><FONT color=#66ff33 
size=1><A 
href="javascript:top.location.href='place?plc=library'">LIBRARY</A></FONT></td>
    <td width="13" height="10" valign="top"></td>
    <td width="22" height="10" valign="top"></td>
    <td width="5" height="10" valign="top"></td>
    <td width="32" height="10" valign="top"></td>
    <td width="13" height="10" valign="top"></td>
    <td width="11" height="10" valign="top"></td>
    <td width="30" height="10" valign="top"></td>
    <td width="13" height="10" valign="top"></td>
    <td width="8" height="10" valign="top"></td>
    <td width="22" height="10" valign="top"></td>
    <td width="29" height="10" valign="top"></td>
    <td width="21" height="10" valign="top"></td>
    <td width="26" height="10" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="3" valign="top"></td>
    <td width="6" height="3" valign="top"></td>
    <td width="15" height="3" valign="top"></td>
    <td width="8" height="3" valign="top"></td>
    <td width="44" height="3" valign="top"></td>
    <td width="20" height="3" valign="top"></td>
    <td width="1" height="3" valign="top"></td>
    <td width="1" height="3" valign="top"></td>
    <td width="3" height="3" valign="top"></td>
    <td width="16" height="3" valign="top"></td>
    <td width="15" height="3" valign="top"></td>
    <td width="10" height="3" valign="top"></td>
    <td width="7" height="3" valign="top"></td>
    <td width="6" height="3" valign="top"></td>
    <td width="55" height="20" colspan="8" rowspan="2" valign="top"><FONT color=#99ff33 
size=1><A 
href="javascript:top.location.href='place?plc=theatre'">THEATER</A></FONT></td>
    <td width="7" height="3" valign="top"></td>
    <td width="13" height="3" valign="top"></td>
    <td width="22" height="3" valign="top"></td>
    <td width="5" height="3" valign="top"></td>
    <td width="32" height="3" valign="top"></td>
    <td width="13" height="3" valign="top"></td>
    <td width="11" height="3" valign="top"></td>
    <td width="30" height="3" valign="top"></td>
    <td width="13" height="3" valign="top"></td>
    <td width="8" height="3" valign="top"></td>
    <td width="22" height="3" valign="top"></td>
    <td width="29" height="3" valign="top"></td>
    <td width="21" height="3" valign="top"></td>
    <td width="26" height="3" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="17" valign="top"></td>
    <td width="6" height="17" valign="top"></td>
    <td width="133" height="17" colspan="10" valign="top"><FONT color=#99ff33 
size=1><A 
href="javascript:top.location.href='community?ID=0108000000000000'">THE CYBERHOOD </a></FONT></td>
    <td width="7" height="17" valign="top"></td>
    <td width="6" height="17" valign="top"></td>
    <td width="7" height="17" valign="top"></td>
    <td width="25" height="17" valign="top"></td>
    <td width="10" height="17" valign="top"></td>
    <td width="11" height="17" valign="top"></td>
    <td width="13" height="17" valign="top"></td>
    <td width="22" height="17" valign="top"></td>
    <td width="5" height="17" valign="top"></td>
    <td width="32" height="17" valign="top"></td>
    <td width="13" height="17" valign="top"></td>
    <td width="11" height="17" valign="top"></td>
    <td width="30" height="17" valign="top"></td>
    <td width="13" height="17" valign="top"></td>
    <td width="8" height="17" valign="top"></td>
    <td width="22" height="17" valign="top"></td>
    <td width="29" height="17" valign="top"></td>
    <td width="21" height="17" valign="top"></td>
    <td width="26" height="17" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="11" valign="top"></td>
    <td width="6" height="11" valign="top"></td>
    <td width="15" height="11" valign="top"></td>
    <td width="8" height="11" valign="top"></td>
    <td width="44" height="11" valign="top"></td>
    <td width="20" height="11" valign="top"></td>
    <td width="1" height="11" valign="top"></td>
    <td width="1" height="11" valign="top"></td>
    <td width="3" height="11" valign="top"></td>
    <td width="16" height="11" valign="top"></td>
    <td width="15" height="11" valign="top"></td>
    <td width="10" height="11" valign="top"></td>
    <td width="7" height="11" valign="top"></td>
    <td width="6" height="11" valign="top"></td>
    <td width="14" height="11" valign="top"></td>
    <td width="16" height="11" valign="top"></td>
    <td width="15" height="11" valign="top"></td>
    <td width="1" height="11" valign="top"></td>
    <td width="102" height="22" colspan="11" rowspan="2" valign="top"><FONT color=#99ff33 size=1><A 
href="javascript:top.location.href='place?plc=ent_complex'"><font color="#00FF00">EPLEX</font> </A></FONT></td>
    <td width="32" height="11" valign="top"></td>
    <td width="13" height="11" valign="top"></td>
    <td width="11" height="11" valign="top"></td>
    <td width="30" height="11" valign="top"></td>
    <td width="13" height="11" valign="top"></td>
    <td width="8" height="11" valign="top"></td>
    <td width="22" height="11" valign="top"></td>
    <td width="29" height="11" valign="top"></td>
    <td width="21" height="11" valign="top"></td>
    <td width="26" height="11" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="11" valign="top"></td>
    <td width="6" height="11" valign="top"></td>
    <td width="15" height="11" valign="top"></td>
    <td width="8" height="11" valign="top"></td>
    <td width="44" height="11" valign="top"></td>
    <td width="20" height="11" valign="top"></td>
    <td width="73" height="34" colspan="9" rowspan="4" valign="top"><DIV align=center><FONT color=#33ff33 size=1><A 
href="javascript:top.location.href='place?plc=employment'"><FONT 
color=#00ff00>EMPLOYMENT OFFICE </FONT></A></FONT></DIV></td>
    <td width="16" height="11" valign="top"></td>
    <td width="15" height="11" valign="top"></td>
    <td width="1" height="11" valign="top"></td>
    <td width="32" height="11" valign="top"></td>
    <td width="13" height="11" valign="top"></td>
    <td width="11" height="11" valign="top"></td>
    <td width="30" height="11" valign="top"></td>
    <td width="13" height="11" valign="top"></td>
    <td width="8" height="11" valign="top"></td>
    <td width="22" height="11" valign="top"></td>
    <td width="29" height="11" valign="top"></td>
    <td width="21" height="11" valign="top"></td>
    <td width="26" height="11" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="4" valign="top"></td>
    <td width="6" height="4" valign="top"></td>
    <td width="15" height="4" valign="top"></td>
    <td width="8" height="4" valign="top"></td>
    <td width="44" height="4" valign="top"></td>
    <td width="20" height="4" valign="top"></td>
    <td width="16" height="4" valign="top"></td>
    <td width="15" height="4" valign="top"></td>
    <td width="1" height="4" valign="top"></td>
    <td width="1" height="4" valign="top"></td>
    <td width="4" height="4" valign="top"></td>
    <td width="1" height="4" valign="top"></td>
    <td width="3" height="4" valign="top"></td>
    <td width="7" height="4" valign="top"></td>
    <td width="25" height="4" valign="top"></td>
    <td width="10" height="4" valign="top"></td>
    <td width="11" height="4" valign="top"></td>
    <td width="13" height="4" valign="top"></td>
    <td width="22" height="4" valign="top"></td>
    <td width="5" height="4" valign="top"></td>
    <td width="32" height="4" valign="top"></td>
    <td width="13" height="4" valign="top"></td>
    <td width="11" height="4" valign="top"></td>
    <td width="30" height="4" valign="top"></td>
    <td width="13" height="4" valign="top"></td>
    <td width="106" height="23" colspan="5" rowspan="3" valign="top"><FONT color=#99ff33 
size=1><A href="javascript:top.location.href='place?plc=shopping'">THE 
MALL </A></FONT></td>
  </tr>
  <tr>
    <td width="36" height="4" valign="top"></td>
    <td width="73" height="19" colspan="4" rowspan="2" valign="top"><FONT color=#ffcc00 
size=1>THE CAMPUS </FONT></td>
    <td width="20" height="4" valign="top"></td>
    <td width="16" height="4" valign="top"></td>
    <td width="15" height="4" valign="top"></td>
    <td width="1" height="4" valign="top"></td>
    <td width="1" height="4" valign="top"></td>
    <td width="4" height="4" valign="top"></td>
    <td width="1" height="4" valign="top"></td>
    <td width="3" height="4" valign="top"></td>
    <td width="7" height="4" valign="top"></td>
    <td width="25" height="4" valign="top"></td>
    <td width="10" height="4" valign="top"></td>
    <td width="11" height="4" valign="top"></td>
    <td width="13" height="4" valign="top"></td>
    <td width="22" height="4" valign="top"></td>
    <td width="5" height="4" valign="top"></td>
    <td width="32" height="4" valign="top"></td>
    <td width="13" height="4" valign="top"></td>
    <td width="11" height="4" valign="top"></td>
    <td width="30" height="4" valign="top"></td>
    <td width="13" height="4" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="15" valign="top"></td>
    <td width="20" height="15" valign="top"></td>
    <td width="16" height="15" valign="top"></td>
    <td width="15" height="15" valign="top"></td>
    <td width="1" height="15" valign="top"></td>
    <td width="1" height="15" valign="top"></td>
    <td width="4" height="15" valign="top"></td>
    <td width="1" height="15" valign="top"></td>
    <td width="3" height="15" valign="top"></td>
    <td width="7" height="15" valign="top"></td>
    <td width="25" height="15" valign="top"></td>
    <td width="10" height="15" valign="top"></td>
    <td width="137" height="15" colspan="8" valign="top"><FONT color=#99ff33 size=1><A 
href="javascript:top.location.href='place?plc=enter'"><font color="#00FF00">THE 
  PLAZA</font> </A></FONT></td>
    <td width="13" height="15" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="7" valign="top"></td>
    <td width="6" height="7" valign="top"></td>
    <td width="15" height="7" valign="top"></td>
    <td width="8" height="7" valign="top"></td>
    <td width="66" height="62" colspan="4" rowspan="3" valign="top"> 
  <div align="center"><font color="#00FF00" size="1">
  <a href="javascript:top.location.href='place?plc=post'">POST OFFICE</a></font></div>
</td>
    <td width="3" height="7" valign="top"></td>
    <td width="16" height="7" valign="top"></td>
    <td width="15" height="7" valign="top"></td>
    <td width="10" height="7" valign="top"></td>
    <td width="7" height="7" valign="top"></td>
    <td width="6" height="7" valign="top"></td>
    <td width="14" height="7" valign="top"></td>
    <td width="16" height="7" valign="top"></td>
    <td width="15" height="7" valign="top"></td>
    <td width="1" height="7" valign="top"></td>
    <td width="1" height="7" valign="top"></td>
    <td width="4" height="7" valign="top"></td>
    <td width="1" height="7" valign="top"></td>
    <td width="3" height="7" valign="top"></td>
    <td width="7" height="7" valign="top"></td>
    <td width="25" height="7" valign="top"></td>
    <td width="10" height="7" valign="top"></td>
    <td width="11" height="7" valign="top"></td>
    <td width="13" height="7" valign="top"></td>
    <td width="22" height="7" valign="top"></td>
    <td width="5" height="7" valign="top"></td>
    <td width="32" height="7" valign="top"></td>
    <td width="13" height="7" valign="top"></td>
    <td width="11" height="7" valign="top"></td>
    <td width="30" height="7" valign="top"></td>
    <td width="13" height="7" valign="top"></td>
    <td width="8" height="7" valign="top"></td>
    <td width="22" height="7" valign="top"></td>
    <td width="29" height="7" valign="top"></td>
    <td width="21" height="7" valign="top"></td>
    <td width="26" height="7" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="8" valign="top"></td>
    <td width="6" height="8" valign="top"></td>
    <td width="15" height="8" valign="top"></td>
    <td width="8" height="8" valign="top"></td>
    <td width="3" height="8" valign="top"></td>
    <td width="84" height="55" colspan="7" rowspan="2" valign="top"><FONT color=#33ff33 
size=1><A href="http://www.cybertown.com/index2.html" target=external><FONT 
color=#00ff00>OLD TOWN</FONT></A></FONT></td>
    <td width="15" height="8" valign="top"></td>
    <td width="1" height="8" valign="top"></td>
    <td width="1" height="8" valign="top"></td>
    <td width="4" height="8" valign="top"></td>
    <td width="1" height="8" valign="top"></td>
    <td width="3" height="8" valign="top"></td>
    <td width="7" height="8" valign="top"></td>
    <td width="25" height="8" valign="top"></td>
    <td width="10" height="8" valign="top"></td>
    <td width="11" height="8" valign="top"></td>
    <td width="13" height="8" valign="top"></td>
    <td width="22" height="8" valign="top"></td>
    <td width="5" height="8" valign="top"></td>
    <td width="32" height="8" valign="top"></td>
    <td width="13" height="8" valign="top"></td>
    <td width="11" height="8" valign="top"></td>
    <td width="30" height="8" valign="top"></td>
    <td width="13" height="8" valign="top"></td>
    <td width="8" height="8" valign="top"></td>
    <td width="22" height="8" valign="top"></td>
    <td width="29" height="8" valign="top"></td>
    <td width="21" height="8" valign="top"></td>
    <td width="26" height="8" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="47" valign="top"></td>
    <td width="6" height="47" valign="top"></td>
    <td width="15" height="47" valign="top"></td>
    <td width="8" height="47" valign="top"></td>
    <td width="3" height="47" valign="top"></td>
    <td width="15" height="47" valign="top"></td>
    <td width="1" height="47" valign="top"></td>
    <td width="1" height="47" valign="top"></td>
    <td width="4" height="47" valign="top"></td>
    <td width="1" height="47" valign="top"></td>
    <td width="3" height="47" valign="top"></td>
    <td width="7" height="47" valign="top"></td>
    <td width="25" height="47" valign="top"></td>
    <td width="10" height="47" valign="top"></td>
    <td width="11" height="47" valign="top"></td>
    <td width="13" height="47" valign="top"></td>
    <td width="22" height="47" valign="top"></td>
    <td width="5" height="47" valign="top"></td>
    <td width="32" height="47" valign="top"></td>
    <td width="13" height="47" valign="top"></td>
    <td width="11" height="47" valign="top"></td>
    <td width="102" height="47" colspan="5" valign="top"><FONT color=#99ff33 size=1><A 
href="javascript:top.location.href='place?plc=stadium'"><FONT 
color=#66ff33>CITY STADIUM </FONT></A></FONT></td>
    <td width="21" height="47" valign="top"></td>
    <td width="26" height="47" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="31" valign="top"></td>
    <td width="6" height="31" valign="top"></td>
    <td width="15" height="31" valign="top"></td>
    <td width="8" height="31" valign="top"></td>
    <td width="44" height="31" valign="top"></td>
    <td width="20" height="31" valign="top"></td>
    <td width="1" height="31" valign="top"></td>
    <td width="1" height="31" valign="top"></td>
    <td width="3" height="31" valign="top"></td>
    <td width="16" height="31" valign="top"></td>
    <td width="15" height="31" valign="top"></td>
    <td width="10" height="31" valign="top"></td>
    <td width="7" height="31" valign="top"></td>
    <td width="6" height="31" valign="top"></td>
    <td width="14" height="31" valign="top"></td>
    <td width="16" height="31" valign="top"></td>
    <td width="15" height="31" valign="top"></td>
    <td width="1" height="31" valign="top"></td>
    <td width="1" height="31" valign="top"></td>
    <td width="4" height="31" valign="top"></td>
    <td width="1" height="31" valign="top"></td>
    <td width="3" height="31" valign="top"></td>
    <td width="7" height="31" valign="top"></td>
    <td width="25" height="31" valign="top"></td>
    <td width="56" height="31" colspan="4" valign="top">
  <DIV align=center><FONT color=#ffcc33 size=1><A 
href="javascript:top.location.href='place?plc=news'"><font color="#00FF00">NEWS 
    CENTER </font></A></FONT></DIV>
</td>
    <td width="5" height="31" valign="top"></td>
    <td width="32" height="31" valign="top"></td>
    <td width="13" height="31" valign="top"></td>
    <td width="11" height="31" valign="top"></td>
    <td width="30" height="31" valign="top"></td>
    <td width="13" height="31" valign="top"></td>
    <td width="8" height="31" valign="top"></td>
    <td width="22" height="31" valign="top"></td>
    <td width="29" height="31" valign="top"></td>
    <td width="21" height="31" valign="top"></td>
    <td width="26" height="31" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="2" valign="top"></td>
    <td width="6" height="2" valign="top"></td>
    <td width="15" height="2" valign="top"></td>
    <td width="8" height="2" valign="top"></td>
    <td width="44" height="2" valign="top"></td>
    <td width="20" height="2" valign="top"></td>
    <td width="1" height="2" valign="top"></td>
    <td width="109" height="22" colspan="13" rowspan="2" valign="top"><FONT color=#33ff33><A 
href="javascript:top.location.href='place?plc=suburbs&T_SUB=suburbs'"><FONT color=#00ff00 size=1>THE SUBURBS</FONT></A></FONT></td>
    <td width="1" height="2" valign="top"></td>
    <td width="3" height="2" valign="top"></td>
    <td width="7" height="2" valign="top"></td>
    <td width="25" height="2" valign="top"></td>
    <td width="10" height="2" valign="top"></td>
    <td width="11" height="2" valign="top"></td>
    <td width="13" height="2" valign="top"></td>
    <td width="22" height="2" valign="top"></td>
    <td width="5" height="2" valign="top"></td>
    <td width="32" height="2" valign="top"></td>
    <td width="13" height="2" valign="top"></td>
    <td width="11" height="2" valign="top"></td>
    <td width="30" height="2" valign="top"></td>
    <td width="13" height="2" valign="top"></td>
    <td width="8" height="2" valign="top"></td>
    <td width="22" height="2" valign="top"></td>
    <td width="29" height="2" valign="top"></td>
    <td width="21" height="2" valign="top"></td>
    <td width="26" height="2" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="20" valign="top"></td>
    <td width="6" height="20" valign="top"></td>
    <td width="15" height="20" valign="top"></td>
    <td width="8" height="20" valign="top"></td>
    <td width="44" height="20" valign="top"></td>
    <td width="20" height="20" valign="top"></td>
    <td width="1" height="20" valign="top"></td>
    <td width="1" height="20" valign="top"></td>
    <td width="3" height="20" valign="top"></td>
    <td width="7" height="20" valign="top"></td>
    <td width="25" height="20" valign="top"></td>
    <td width="10" height="20" valign="top"></td>
    <td width="11" height="20" valign="top"></td>
    <td width="13" height="20" valign="top"></td>
    <td width="22" height="20" valign="top"></td>
    <td width="5" height="20" valign="top"></td>
    <td width="32" height="20" valign="top"></td>
    <td width="13" height="20" valign="top"></td>
    <td width="134" height="20" colspan="7" valign="top"><FONT color=#ffcc33 
size=1>BUSINESS DISTRICT </FONT></td>
    <td width="26" height="20" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="9" valign="top"></td>
    <td width="6" height="9" valign="top"></td>
    <td width="15" height="9" valign="top"></td>
    <td width="8" height="9" valign="top"></td>
    <td width="44" height="9" valign="top"></td>
    <td width="20" height="9" valign="top"></td>
    <td width="1" height="9" valign="top"></td>
    <td width="1" height="9" valign="top"></td>
    <td width="3" height="9" valign="top"></td>
    <td width="16" height="9" valign="top"></td>
    <td width="15" height="9" valign="top"></td>
    <td width="10" height="9" valign="top"></td>
    <td width="7" height="9" valign="top"></td>
    <td width="6" height="9" valign="top"></td>
    <td width="14" height="9" valign="top"></td>
    <td width="16" height="9" valign="top"></td>
    <td width="15" height="9" valign="top"></td>
    <td width="76" height="30" colspan="10" rowspan="2" valign="top"><P><FONT color=#ffcc33 size=1>SPACE PORT</FONT></P></td>
    <td width="22" height="9" valign="top"></td>
    <td width="5" height="9" valign="top"></td>
    <td width="32" height="9" valign="top"></td>
    <td width="13" height="9" valign="top"></td>
    <td width="11" height="9" valign="top"></td>
    <td width="30" height="9" valign="top"></td>
    <td width="13" height="9" valign="top"></td>
    <td width="8" height="9" valign="top"></td>
    <td width="22" height="9" valign="top"></td>
    <td width="29" height="9" valign="top"></td>
    <td width="21" height="9" valign="top"></td>
    <td width="26" height="9" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="21" valign="top"></td>
    <td width="6" height="21" valign="top"></td>
    <td width="15" height="21" valign="top"></td>
    <td width="108" height="21" colspan="8" valign="top"><FONT color=#ffcc33 size=1>BEYOND 
CYBERTOWN </FONT></td>
    <td width="10" height="21" valign="top"></td>
    <td width="7" height="21" valign="top"></td>
    <td width="6" height="21" valign="top"></td>
    <td width="14" height="21" valign="top"></td>
    <td width="16" height="21" valign="top"></td>
    <td width="15" height="21" valign="top"></td>
    <td width="22" height="21" valign="top"></td>
    <td width="5" height="21" valign="top"></td>
    <td width="32" height="21" valign="top"></td>
    <td width="13" height="21" valign="top"></td>
    <td width="11" height="21" valign="top"></td>
    <td width="30" height="21" valign="top"></td>
    <td width="13" height="21" valign="top"></td>
    <td width="8" height="21" valign="top"></td>
    <td width="22" height="21" valign="top"></td>
    <td width="29" height="21" valign="top"></td>
    <td width="21" height="21" valign="top"></td>
    <td width="26" height="21" valign="top"></td>
  </tr>
  <tr>
    <td width="36" height="12" valign="top"></td>
    <td width="6" height="12" valign="top"></td>
    <td width="15" height="12" valign="top"></td>
    <td width="8" height="12" valign="top"></td>
    <td width="44" height="12" valign="top"></td>
    <td width="20" height="12" valign="top"></td>
    <td width="1" height="12" valign="top"></td>
    <td width="1" height="12" valign="top"></td>
    <td width="3" height="12" valign="top"></td>
    <td width="16" height="12" valign="top"></td>
    <td width="15" height="12" valign="top"></td>
    <td width="10" height="12" valign="top"></td>
    <td width="7" height="12" valign="top"></td>
    <td width="6" height="12" valign="top"></td>
    <td width="14" height="12" valign="top"></td>
    <td width="16" height="12" valign="top"></td>
    <td width="15" height="12" valign="top"></td>
    <td width="1" height="12" valign="top"></td>
    <td width="1" height="12" valign="top"></td>
    <td width="4" height="12" valign="top"></td>
    <td width="1" height="12" valign="top"></td>
    <td width="3" height="12" valign="top"></td>
    <td width="7" height="12" valign="top"></td>
    <td width="25" height="12" valign="top"></td>
    <td width="10" height="12" valign="top"></td>
    <td width="11" height="12" valign="top"></td>
    <td width="13" height="12" valign="top"></td>
    <td width="22" height="12" valign="top"></td>
    <td width="5" height="12" valign="top"></td>
    <td width="107" height="12" colspan="6" valign="top"><FONT color=#99ff33 size=1><A 
href="javascript:top.location.href='place?plc=cafe'"><FONT 
color=#00ff00>LE CAFE</FONT></A></FONT></td>
    <td width="22" height="12" valign="top"></td>
    <td width="29" height="12" valign="top"></td>
    <td width="21" height="12" valign="top"></td>
    <td width="26" height="12" valign="top"></td>
  </tr>
</table>
<p align=center><b>THE CYBERTOWN MAP</b></p>

<!-- MUNICH -->
<p align=center><img src="<$g_Images>/images/townmap_legend.gif" width="119" height="45"></p>

<!-- PASCAL
<p align=center><img src="legend.gif" width="119" height="45"></p>

-->
<center><!-- These tags should be placed in all categories in the 468x60 size space (Placement: 1) -->
<IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=468 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1001|1|iframe|C|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1001|1|jscript|C|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1001|1|image2|C|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1001|1|image2|C|||" BORDER=0 WIDTH=468 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME>
<!-- End of adMonitor v3.0 rich content tags --></center>
</body>
</html>
