<!-- common/body3.tmpl -->
<!-- e.g. used for information, e.g. message boards -->

<!-- #ifndef variable="CLB" -->
<BODY BACKGROUND="<$URL>" BGCOLOR="#000000" LINK="#00FF00" VLINK="#00FF00" ALINK="#FFFFFF" TEXT="#D0DBF7">
<!-- #endif variable="CLB" -->
<!-- #ifdef variable="CLB" -->
<BODY BACKGROUND="<$URL>" BGCOLOR="<$CLB>" LINK="<$CLL>" VLINK="<$CLL>" ALINK="<$CLL>" TEXT="<$CLT>">
<!-- #endif variable="CLB" -->
<FONT face="Arial, Helvetica, sans-serif" size=-1>

<!-- end of include body3.tmpl -->
