<!-- common/body4.tmpl -->
<!-- e.g. used for  message boards -->


<BODY BACKGROUND="<$URL>" BGCOLOR="#000000" LINK="#00FF00" VLINK="#FFFF00" ALINK="#FFFFFF" TEXT="#D0DBF7">
<FONT face="Arial, Helvetica, sans-serif" size=-1>

<!-- end of include body3.tmpl -->
