<!-- common/chatthemes.tmpl -->
<!-- #include virtual="<$g_Templates>common/colonies/themeoverride.tmpl" -->
<!-- #ifndef variable="ID" value="0110000000000000" -->
<!-- #ifndef variable="ID" value="0106000000000000" -->
<!-- #ifndef variable="ID" value="0101000000000000" -->
<!-- #ifdef variable="TCS" value="" -->
<!-- CT Default Style -->

    <param name = appbgcolor        value = 00009200>
    <param name = myavfgcolor       value = 00FFFF00>
    <param name = myavfontstyle     value = PLAIN>
    <param name = sysmessfgcolor    value = 00FFFFFF>
    <param name = sysmessfontstyle  value = BOLD>
    <param name = historyfgcolor    value = 00FFFFFF>
    <param name = historyfontstyle  value = ITALIC>
    <param name = whisperfgcolor    value = 0000C3FF>
    <param name = whisperfontstyle  value = PLAIN>
    <param name = chatbgcolor       value = 00004d00>
    <param name = chatfgcolor       value = 0000df00>
    <param name = ctlbgcolor        value = 00004d00>
    <param name = ctlfgcolor        value = 0000df00>
    <param name = cntl.rbg          value = 00004d00>
    <param name = cntl.rfg          value = 00ffff00>
    
<!-- #endif variable="TCS" -->

<!-- #ifdef variable="TCS" value="0" -->
<!-- CT Default Style -->

    <param name = appbgcolor        value = 00009200>
    <param name = myavfgcolor       value = 00FFFF00>
    <param name = myavfontstyle     value = PLAIN>
    <param name = sysmessfgcolor    value = 00FFFFFF>
    <param name = sysmessfontstyle  value = BOLD>
    <param name = historyfgcolor    value = 00FFFFFF>
    <param name = historyfontstyle  value = ITALIC>
    <param name = whisperfgcolor    value = 0000C3FF>
    <param name = whisperfontstyle  value = PLAIN>
    <param name = chatbgcolor       value = 00004d00>
    <param name = chatfgcolor       value = 0000df00>
    <param name = ctlbgcolor        value = 00004d00>
    <param name = ctlfgcolor        value = 0000df00>
    <param name = cntl.rbg          value = 00004d00>
    <param name = cntl.rfg          value = 00ffff00>
    
<!-- #endif variable="TCS" -->

<!-- #endif variable="ID" -->
<!-- #endif variable="ID" -->
<!-- #endif variable="ID" -->

<!-- #ifdef variable="TCS" value="1" -->
<!-- Hi-Tek Style -->
    <param name = appbgcolor        value = 00333333>
    <param name = myavfgcolor       value = 00ffcc99>
    <param name = myavfontstyle     value = PLAIN>
    <param name = sysmessfgcolor    value = 00FFFFFF>
    <param name = sysmessfontstyle  value = BOLD>
    <param name = historyfgcolor    value = 00FFFFFF>
    <param name = historyfontstyle  value = ITALIC>
    <param name = whisperfgcolor    value = 00fff2f2>
    <param name = whisperfontstyle  value = PLAIN>
    <param name = chatbgcolor       value = 00000000>
    <param name = chatfgcolor       value = 00FFFF00>
    <param name = ctlbgcolor        value = 00000000>
    <param name = ctlfgcolor        value = 00FFFFFF>
    <param name = cntl.rbg          value = 00000000>
    <param name = cntl.rfg          value = 00FFFFFF>
    <param name = linkfgcolor       value = 00FF5000>
<!-- #endif variable="TCS" -->

<!-- #ifdef variable="TCS" value="2" -->
<!-- Games Style -->

    <param name = appbgcolor        value = 00603B81>
    <param name = myavfgcolor       value = 00ffcc99>
    <param name = myavfontstyle     value = PLAIN>
    <param name = sysmessfgcolor    value = 00FFFFFF>
    <param name = sysmessfontstyle  value = BOLD>
    <param name = historyfgcolor    value = 00FFFFFF>
    <param name = historyfontstyle  value = ITALIC>
    <param name = whisperfgcolor    value = 00fff2f2>
    <param name = whisperfontstyle  value = PLAIN>
    <param name = chatbgcolor       value = 0065538D>
    <param name = chatfgcolor       value = 00FFFF00>
    <param name = ctlbgcolor        value = 0065538D>
    <param name = ctlfgcolor        value = 00FFFFFF>
    <param name = cntl.rbg          value = 0065538D>
    <param name = cntl.rfg          value = 00FFFFFF>
    <param name = linkfgcolor       value = 00FF5000>
<!-- #endif variable="TCS" -->

<!-- #ifdef variable="TCS" value="3" -->
<!-- Campus Style -->
    
    <param name = appbgcolor        value = 00D60000>
    <param name = myavfgcolor       value = 00FFFFFF>
    <param name = myavfontstyle     value = PLAIN>
    <param name = sysmessfgcolor    value = 00FFFFFF>
    <param name = sysmessfontstyle  value = BOLD>
    <param name = historyfgcolor    value = 00E0E0E0>
    <param name = historyfontstyle  value = ITALIC>
    <param name = whisperfgcolor    value = 00BFBFBF>
    <param name = whisperfontstyle  value = PLAIN>
    <param name = chatbgcolor       value = 00630000>
    <param name = chatfgcolor       value = 00FF6666>
    <param name = ctlbgcolor        value = 00630000>
    <param name = ctlfgcolor        value = 00FFFFFF>
    <param name = cntl.rbg          value = 00630000>
    <param name = cntl.rfg          value = 00FFFFFF>
    <param name = linkfgcolor       value = 00FF5000>
    
<!-- #endif variable="TCS" -->

<!-- new colors added 12/09/07 -->

<!-- #ifdef variable="TCS" value="4" -->
<!-- black on white -->
    
    <param name = appbgcolor        value = 00666666>
    <param name = myavfgcolor       value = 00000000>
    <param name = myavfontstyle     value = PLAIN>
    <param name = sysmessfgcolor    value = 00663300>
    <param name = sysmessfontstyle  value = BOLD>
    <param name = historyfgcolor    value = 00663300>
    <param name = historyfontstyle  value = ITALIC>
    <param name = whisperfgcolor    value = 00006600>
    <param name = whisperfontstyle  value = PLAIN>
    <param name = chatbgcolor       value = 00FFFFFF>
    <param name = chatfgcolor       value = 00000000>
    <param name = ctlbgcolor        value = 00FFFFFF>
    <param name = ctlfgcolor        value = 00000000>
    <param name = cntl.rbg          value = 00FFFFFF>
    <param name = cntl.rfg          value = 000000C0>
    <param name = linkfgcolor       value = 00C00000>
    
<!-- #endif variable="TCS" -->

<!-- #ifdef variable="TCS" value="5" -->
<!-- red style -->
    
    <param name = appbgcolor        value = 00FF0000>
    <param name = myavfgcolor       value = 00FFCC88>
    <param name = myavfontstyle     value = PLAIN>
    <param name = sysmessfgcolor    value = 00FFFFFF>
    <param name = sysmessfontstyle  value = BOLD>
    <param name = historyfgcolor    value = 00FFFFFF>
    <param name = historyfontstyle  value = ITALIC>
    <param name = whisperfgcolor    value = 00FF80FF>
    <param name = whisperfontstyle  value = PLAIN>
    <param name = chatbgcolor       value = 00B30000>
    <param name = chatfgcolor       value = 00FFBFBF>
    <param name = ctlbgcolor        value = 00B30000>
    <param name = ctlfgcolor        value = 00FFBFBF>
    <param name = cntl.rbg          value = 00B30000>
    <param name = cntl.rfg          value = 00FFCC88>
    <param name = linkfgcolor       value = 00FF8000>
    
<!-- #endif variable="TCS" -->

<!-- #ifdef variable="TCS" value="6" -->
<!-- Harvest style -->
    
    <param name = appbgcolor        value = 00CCFF00>
    <param name = myavfgcolor       value = 0066FF66>
    <param name = myavfontstyle     value = PLAIN>
    <param name = sysmessfgcolor    value = 00FFFFFF>
    <param name = sysmessfontstyle  value = BOLD>
    <param name = historyfgcolor    value = 00FFFFFF>
    <param name = historyfontstyle  value = ITALIC>
    <param name = whisperfgcolor    value = 00FFE066>
    <param name = whisperfontstyle  value = PLAIN>
    <param name = chatbgcolor       value = 00475800>
    <param name = chatfgcolor       value = 00E6FF80>
    <param name = ctlbgcolor        value = 00475800>
    <param name = ctlfgcolor        value = 00E6FF80>
    <param name = cntl.rbg          value = 00475800>
    <param name = cntl.rfg          value = 0066FF66>
    <param name = linkfgcolor       value = 00FFCC00>
    
<!-- #endif variable="TCS" -->

<!-- #ifdef variable="TCS" value="7" -->
<!-- blue style -->
    
    <param name = appbgcolor        value = 001E5277>
    <param name = myavfgcolor       value = 00F2DF91>
    <param name = myavfontstyle     value = PLAIN>
    <param name = sysmessfgcolor    value = 00FFFFFF>
    <param name = sysmessfontstyle  value = BOLD>
    <param name = historyfgcolor    value = 00FFFFFF>
    <param name = historyfontstyle  value = ITALIC>
    <param name = whisperfgcolor    value = 00809FFF>
    <param name = whisperfontstyle  value = PLAIN>
    <param name = chatbgcolor       value = 00092D46>
    <param name = chatfgcolor       value = 00FDFEFF>
    <param name = ctlbgcolor        value = 00092D46>
    <param name = ctlfgcolor        value = 00FDFEFF>
    <param name = cntl.rbg          value = 00092D46>
    <param name = cntl.rfg          value = 00F3F9FD>
    <param name = linkfgcolor       value = 00AC9164>
    
<!-- #endif variable="TCS" -->

<!-- #ifdef variable="TCS" value="8" -->
<!-- teal style -->
    
    <param name = appbgcolor        value = 00009999>
    <param name = myavfgcolor       value = 00B0B0FF>
    <param name = myavfontstyle     value = PLAIN>
    <param name = sysmessfgcolor    value = 00FFFFFF>
    <param name = sysmessfontstyle  value = BOLD>
    <param name = historyfgcolor    value = 00FFFFFF>
    <param name = historyfontstyle  value = ITALIC>
    <param name = whisperfgcolor    value = 00CCFFBF>
    <param name = whisperfontstyle  value = PLAIN>
    <param name = chatbgcolor       value = 00005555>
    <param name = chatfgcolor       value = 00BFFFFF>
    <param name = ctlbgcolor        value = 00005555>
    <param name = ctlfgcolor        value = 00BFFFFF>
    <param name = cntl.rbg          value = 00005555>
    <param name = cntl.rfg          value = 009191FF>
    <param name = linkfgcolor       value = 0033FF00>
    
<!-- #endif variable="TCS" -->

<!-- #ifdef variable="TCS" value="9" -->
<!-- Brown style -->
    
    <param name = appbgcolor        value = 00552A00>
    <param name = myavfgcolor       value = 00FFAA55>
    <param name = myavfontstyle     value = PLAIN>
    <param name = sysmessfgcolor    value = 00C8C8FF>
    <param name = sysmessfontstyle  value = BOLD>
    <param name = historyfgcolor    value = 00C8C8FF>
    <param name = historyfontstyle  value = ITALIC>
    <param name = whisperfgcolor    value = 0080C9FF>
    <param name = whisperfontstyle  value = PLAIN>
    <param name = chatbgcolor       value = 00552A00>
    <param name = chatfgcolor       value = 00C08040>
    <param name = ctlbgcolor        value = 00552A00>
    <param name = ctlfgcolor        value = 00C08040>
    <param name = cntl.rbg          value = 00552A00>
    <param name = cntl.rfg          value = 00C8C8FF>
    <param name = linkfgcolor       value = 00FFCC33>
    
<!-- #endif variable="TCS" -->