<!-- common/event_buttons.tmpl -->
<!-- Begin Flyby -->
<A HREF="http://www.cybertown.com/cgi-bin/cybertown/place?plc=flyby"  target="_top"><IMG SRC="/places/flyby/images/flybypark.jpg" ALT="Flyby's Park" border=0></A>
<!-- End Flyby -->
<!-- Begin CityCash -->
<A HREF="javascript:loadInfo('/cgi-bin/cybertown/event?NID=citycash3&ac=reglottery')"  target="_self"><IMG SRC="/images/buttons/chance.jpg" ALT="CityCash" border=0></A>
<!-- End CityCash -->

<!-- Begin Live Event
<A HREF="http://www.cybertown.com/cgi-bin/cybertown/place?plc=amp"  target="_top"><IMG SRC="/images/buttons/live_event.gif" ALT="Live Event" border=0></A>
End Live Event -->

<!-- Begin Morph Aftermath
<A HREF="javascript:loadInfo('/places/gamemaster/saga/html/saga.html')"  target="_self"><IMG SRC="/events/morph2/html/images/morph_games.jpg" ALT="Morph Games" border=0></A> 
End Morph Aftermath -->

<!-- Begin Outlands
<A HREF="/cgi-bin/cybertown/place?plc=ne_game"  target="_top"><IMG SRC="/images/outlandico.jpg" ALT="Outlands" border=0></A> 
End Outlands -->

