<!-- common/event_buttons.tmpl -->
<!-- Begin CityCash
<A HREF="javascript:loadInfo('/cgi-bin/cybertown/event?NID=citycash2&ac=reglottery')"  target="_self"><IMG SRC="/images/buttons/chance.jpg" ALT="CityCash" border=0></A>
End CityCash -->

<!-- Begin Live Event
<A HREF="http://www.cybertown.com/cgi-bin/cybertown/place?plc=amp"  target="_top"><IMG SRC="/images/buttons/live_event.gif" ALT="Live Event" border=0></A>
End Live Event -->

<!-- Begin Morph Aftermath
<A HREF="javascript:loadInfo('/places/gamemaster/saga/html/saga.html')"  target="_self"><IMG SRC="/events/morph2/html/images/morph_games.jpg" ALT="Morph Games" border=0></A> 
End Morph Aftermath -->

<!-- Begin live event vdrome
<A HREF="/cgi-bin/cybertown/place?plc=movies"  target="_top"><IMG SRC="/images/buttons/live_event.gif" ALT="Live Event" border=0></A> 
End city vdrome -->

<!-- Begin live event city hall
<A HREF="/cgi-bin/cybertown/place?plc=cityhall"  target="_top"><IMG SRC="/images/buttons/town_meeting.gif" ALT="Live Event" border=0></A> 
 End city hall -->

<!-- Begin live event city hall -->
<A HREF="/cgi-bin/cybertown/place?plc=pool"  target="_top"><IMG SRC="/images/buttons/live_event.gif" ALT="Live Event" border=0></A> 
<!-- End city hall -->

<!-- Begin live event BSC 
<A HREF="/cgi-bin/cybertown/place?plc=nightclub"  target="_top"><IMG SRC="/images/buttons/live_event.gif" ALT="Live Event" border=0></A> 
End city vdrome -->

<!-- Begin live event PAC 
<A HREF="/cgi-bin/cybertown/place?plc=theatre"  target="_top"><IMG SRC="/images/buttons/live_event.gif" ALT="Live Event" border=0></A> 
End city vdrome -->

<!-- Begin live event plaza 
<A HREF="/cgi-bin/cybertown/place?plc=enter"  target="_top"><IMG SRC="/images/buttons/live_event.gif" ALT="Live Event" border=0></A> 
End city vdrome -->

<!-- Begin live event fun park 
<A HREF="/cgi-bin/cybertown/place?plc=funpark"  target="_top"><IMG SRC="/images/buttons/live_event.gif" ALT="Live Event at Fun park! 4pm CyT" border=0></A> 
 End city vdrome -->