<!-- JUMP GATE -->
<select name="jumpgate" size="1" onchange="jumpreset(this.options, this.options[this.selectedIndex].value)">
<option value="" selected>JUMP GATE</option>
<option value=""></option>  
<option value="">COLONIES:</option>
<option value="top community<$g_exe>?ID=0102000000000000">Sci-fi</option>
<option value="top community<$g_exe>?ID=0104000000000000">Entertainment</option>
<option value="top community<$g_exe>?ID=0101000000000000">Games</option>
<option value="top community<$g_exe>?ID=0103000000000000">Virtual Worlds</option>
<option value="top community<$g_exe>?ID=0108000000000000">Cyberhood</option>
<option value="top community<$g_exe>?ID=0105000000000000">Inner Realms</option>
<option value="top community<$g_exe>?ID=0106000000000000">Teens</option>
<option value="top community<$g_exe>?ID=0107000000000000">9th Dimension</option>
<option value="top community<$g_exe>?ID=0109000000000000">Adventure</option>
<option value="top community<$g_exe>?ID=0110000000000000">Hi-Tek</option>
<option value="">-----------------------</option>
<option value="top place<$g_exe>?plc=enter">The Plaza</option>
<option value="top place<$g_exe>?plc=ent_complex">ePlex</option>
<option value="top place<$g_exe>?plc=clubdir&T_level=top">The Clubs</option>
<option value="info <$g_HTMLRoot>/citystore/store.html">Cybertown Store</option>
<option value="top place<$g_exe>?plc=fleamarket">Flea Market</option>
<option value="top place<$g_exe>?plc=blackmarket">Black Market</option>
<option value="top place<$g_exe>?plc=shopping">The Mall</option>
<option value="top place<$g_exe>?plc=iwosmall">Homebuilder</option>
<option value="top place<$g_exe>?plc=employment">Employment</option>
<option value="top place<$g_exe>?plc=club&ID=CL00000000001b9b">Newcomers Club</option>
<option value="top place<$g_exe>?plc=ne_game">Outlands</option>
<option value="top place<$g_exe>?plc=cafe">Le Caf&eacute;</option>
<option value="top place<$g_exe>?plc=library">Library</option>
<option value="top place<$g_exe>?plc=jail">Jail</option>
<option value="top place<$g_exe>?plc=beach">Sunset Beach</option>
<option value="top place<$g_exe>?plc=funpark">Fun Park</option>
<option value="top place<$g_exe>?plc=waterpark">Water Park</option>
<option value="top place<$g_exe>?plc=themepark">Theme Park</option>
<option value="top place<$g_exe>?plc=cityhall">City Hall</option>
<option value="top place<$g_exe>?plc=theatre">Performing Arts</option>                                 
<option value="top place<$g_exe>?plc=pool">The Pool</option>
<option value="top place<$g_exe>?plc=stadium">The Stadium</option>     
<option value="top place<$g_exe>?plc=suburbs&T_SUB=suburbs">The Suburbs</option>
<option value="top place<$g_exe>?plc=post">Post Office</option>
<option value="place <$g_HTMLRoot>/info/portals.html">The Portals</option>
<option value="">-----------------------</option>
<option value="info /cgi-bin/cybertown/edit?TPL=msb/feedback">Feedback</option>
<option value="info msb<$g_exe>?DTY=O&KTY=ID&KEY=0000000000000004&MTY=i">Caretaker In-box</option>
<option value="info msb<$g_exe>?DTY=O&KTY=ID&KEY=0000000000000012&MTY=m">City Council</option>
<option value="info msb<$g_exe>?DTY=O&KTY=ID&KEY=0000000000000013&MTY=i">Security In-box</option>
<option value="info msb<$g_exe>?DTY=O&KTY=ID&KEY=0000000000000039&MTY=i">C.E.R.B. In-box</option>
<option value="info msb<$g_exe>?DTY=O&KTY=ID&KEY=0000000000000007&MTY=m">Guides Board</option>
<option value="poll /wallpaper/ctpaper.html">Free Wallpaper</option>
<option value="info citizen<$g_exe>?ac=action">Citizens List</option>
<option value="info <$g_HTMLRoot>/info/controlpanel/index.html">How Do I?</option>
<option value="info <$g_HTMLRoot>/places/news/magazine/dailynews/index.html">Daily News</option>
<option value="info <$g_HTMLRoot>/places/news/magazine/index.html">Weekly News</option>
<option value="info <$g_HTMLRoot>/info/help/index.html">FAQ/Help</option>
<option value="info <$g_HTMLRoot>/info/VisitorCenter/VisitorCenter.html">Tourist Info</option>
<!-- #ifndef variable="T_LDT" -->
<option value="info cal<$g_exe>?DTY=O&KTY=ID&KEY=0000000000000001&MTY=c&plc=enter&LDT=O&LID=<$ID>">Calendar</option>
<!-- #endif variable="T_LDT" -->
<!-- #ifdef variable="T_LDT" -->
<option value="info cal<$g_exe>?DTY=O&KTY=ID&KEY=0000000000000001&MTY=c&LDT=<$T_LDT>&LID=<$ID>">Calendar</option>
<!-- #endif variable="T_LDT" -->
<option value="poll <$g_HTMLRoot>/info/about/urge.html">Press Room</option>
<option value="">-----------------------</option>
<option value="poll <$g_HTMLRoot>/places/post/post.html">Send Postcard</option>
<option value="poll /friends/tellfriends.html">Win Prizes!</option>
<option value="top /index2.html">Old Town</option>
</select>
