<!-- common/menuright.tmpl -->
<!-- included in menu.tmpl to show common parts, RIGHT aligned!!! -->

<!-- enclose it all in a little table to keep it grouped right -->
<td align=right>
<table align=right border=0 cellspacing=0 cellpadding=0>
<tr>


<!-- show the news icon -->
<td width=10><IMG SRC="<$g_Images>/images/menu/tinyimage.gif" BORDER=0 width=10></td><td align=right width=63><a href="javascript:loadInfo('<$g_HTMLRoot>/places/news/magazine/dailynews/index.html')" target=_self><IMG SRC="<$g_Images>/images/menu/news.gif" BORDER=0></a></td><td width=10><IMG SRC="<$g_Images>/images/menu/tinyimage.gif" BORDER=0 width=10></td>
<!-- end of news icon -->



<!-- colony ads -->
<!-- #ifdef variable="DTY" value="C" -->
<!-- #ifdef variable="ID" value="0101000000000000" -->
<!-- These tags should be placed in the games category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2523|||_admonitor|"><SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2523|||_admonitor|"></SCRIPT><NOSCRIPT><A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2523|||" TARGET=_admonitor><IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2523|||" BORDER=0 WIDTH=150 HEIGHT=60></A></NOSCRIPT></IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->

<!-- #ifdef variable="ID" value="0102000000000000" -->
<!-- These tags should be placed in the sci-fi category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2522|||_admonitor|"><SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2522|||_admonitor|"></SCRIPT><NOSCRIPT><A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2522|||" TARGET=_admonitor><IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2522|||" BORDER=0 WIDTH=150 HEIGHT=60></A></NOSCRIPT></IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->

<!-- #ifdef variable="ID" value="0103000000000000" -->
<!-- These tags should be placed in the places-real&virtual category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2526|||_admonitor|"><SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2526|||_admonitor|"></SCRIPT><NOSCRIPT><A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2526|||" TARGET=_admonitor><IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2526|||" BORDER=0 WIDTH=150 HEIGHT=60></A></NOSCRIPT></IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->

<!-- #ifdef variable="ID" value="0104000000000000" -->
<!-- These tags should be placed in the entertainment category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2524|||_admonitor|"><SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2524|||_admonitor|"></SCRIPT><NOSCRIPT><A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2524|||" TARGET=_admonitor><IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2524|||" BORDER=0 WIDTH=150 HEIGHT=60></A></NOSCRIPT></IFRAME></td>

<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->

<!-- #ifdef variable="ID" value="0105000000000000" -->
<!-- These tags should be placed in the new-age category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2525|||_admonitor|"><SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2525|||_admonitor|"></SCRIPT><NOSCRIPT><A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2525|||" TARGET=_admonitor><IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2525|||" BORDER=0 WIDTH=150 HEIGHT=60></A></NOSCRIPT></IFRAME></td>

<!-- End of adMonitor v3.0 rich content tags -->

<!-- #endif variable="ID" -->

<!-- #ifdef variable="ID" value="0106000000000000" -->
<!-- These tags should be placed in the teens category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2528|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2528|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2528|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2528|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->

<!-- #endif variable="DTY" -->

<!-- end of colony ads -->





<!-- homes ads -->

<!-- #ifdef variable="DTY" value="P" -->




<!-- #ifdef variable="T_CID" value="0101000000000000"-->
<!-- These tags should be placed in the games category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2523|||_admonitor|"><SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2523|||_admonitor|"></SCRIPT><NOSCRIPT><A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2523|||" TARGET=_admonitor><IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2523|||" BORDER=0 WIDTH=150 HEIGHT=60></A></NOSCRIPT></IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->





<!-- #ifdef variable="T_CID" value="0102000000000000"-->
<!-- These tags should be placed in the sci-fi category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2522|||_admonitor|"><SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2522|||_admonitor|"></SCRIPT><NOSCRIPT><A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2522|||" TARGET=_admonitor><IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2522|||" BORDER=0 WIDTH=150 HEIGHT=60></A></NOSCRIPT></IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->



<!-- #ifdef variable="T_CID" value="0103000000000000"-->
<!-- These tags should be placed in the places-real&virtual category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2526|||_admonitor|"><SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2526|||_admonitor|"></SCRIPT><NOSCRIPT><A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2526|||" TARGET=_admonitor><IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2526|||" BORDER=0 WIDTH=150 HEIGHT=60></A></NOSCRIPT></IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->




<!-- #ifdef variable="T_CID" value="0104000000000000"-->
<!-- These tags should be placed in the entertainment category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2524|||_admonitor|"><SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2524|||_admonitor|"></SCRIPT><NOSCRIPT><A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2524|||" TARGET=_admonitor><IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2524|||" BORDER=0 WIDTH=150 HEIGHT=60></A></NOSCRIPT></IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->





<!-- #ifdef variable="T_CID" value="0105000000000000"-->
<!-- These tags should be placed in the new-age category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2525|||_admonitor|"><SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2525|||_admonitor|"></SCRIPT><NOSCRIPT><A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2525|||" TARGET=_admonitor><IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2525|||" BORDER=0 WIDTH=150 HEIGHT=60></A></NOSCRIPT></IFRAME></td>

<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->

<!-- #ifdef variable="T_CID" value="0106000000000000" -->
<!-- These tags should be placed in the teens category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0" MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2528|||_admonitor|"><SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2528|||_admonitor|"></SCRIPT><NOSCRIPT><A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2528|||" TARGET=_admonitor><IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2528|||" BORDER=0 WIDTH=150 HEIGHT=60></A></NOSCRIPT></IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->

<!-- #endif variable="DTY" -->

<!-- end  homes ads -->






<!-- neighborhoods -->

<!-- #ifdef variable="DTY" value="N" -->

<!-- #ifdef variable="T_CID" value="0101000000000000"-->
<!-- These tags should be placed in the games category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2523|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2523|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2523|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2523|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->





<!-- #ifdef variable="T_CID" value="0102000000000000"-->
<!-- These tags should be placed in the sci-fi category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2522|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2522|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2522|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2522|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->



<!-- #ifdef variable="T_CID" value="0103000000000000"-->
<!-- These tags should be placed in the places-real&virtual category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2526|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2526|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2526|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2526|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->




<!-- #ifdef variable="T_CID" value="0104000000000000"-->
<!-- These tags should be placed in the entertainment category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2524|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2524|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2524|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2524|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->





<!-- #ifdef variable="T_CID" value="0105000000000000"-->
<!-- These tags should be placed in the new-age category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2525|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2525|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2525|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2525|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->


<!-- #ifdef variable="T_CID" value="0106000000000000"-->
<!-- These tags should be placed in the teens category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2528|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2528|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2528|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2528|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->
<!-- #endif variable="DTY" -->

<!-- end of neighborhoods -->





<!-- blocks -->

<!-- #ifdef variable="DTY" value="B" -->

<!-- #ifdef variable="T_CID" value="0101000000000000"-->
<!-- These tags should be placed in the games category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2523|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2523|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2523|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2523|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->





<!-- #ifdef variable="T_CID" value="0102000000000000"-->
<!-- These tags should be placed in the sci-fi category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2522|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2522|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2522|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2522|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->



<!-- #ifdef variable="T_CID" value="0103000000000000"-->
<!-- These tags should be placed in the places-real&virtual category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2526|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2526|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2526|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2526|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->




<!-- #ifdef variable="T_CID" value="0104000000000000"-->
<!-- These tags should be placed in the entertainment category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2524|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2524|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2524|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2524|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->





<!-- #ifdef variable="T_CID" value="0105000000000000"-->
<!-- These tags should be placed in the new-age category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2525|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2525|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2525|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2525|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->

<!-- #ifdef variable="T_CID" value="0106000000000000"-->
<!-- These tags should be placed in the teens category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2528|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2528|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2528|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2528|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="T_CID" -->



<!-- #endif variable="DTY" -->

<!-- end of blocks -->

















<!-- right side ads for various places -->

<!-- #ifndef variable="DTY" -->


<!-- mall -->

<!-- #ifdef variable="ID" value="0000000000000009" -->
<!-- These tags should be placed in the meeting  places category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2527|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2527|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2527|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2527|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->


<!-- #ifdef variable="ID" value="0000000000000901" -->
<!-- These tags should be placed in the teens category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2528|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2528|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2528|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2528|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->


<!-- #ifdef variable="ID" value="0000000000000902" -->
<!-- These tags should be placed in the teens category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2528|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2528|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2528|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2528|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->


<!-- #ifdef variable="ID" value="0000000000000903" -->
<!-- These tags should be placed in the teens category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2528|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2528|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2528|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2528|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->


<!-- #ifdef variable="ID" value="0000000000000904" -->
<!-- These tags should be placed in the teens category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2528|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2528|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2528|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2528|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->


<!-- #ifdef variable="ID" value="0000000000000905" -->
<!-- These tags should be placed in the teens category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2528|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2528|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2528|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2528|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->


<!-- #ifdef variable="ID" value="0000000000000906" -->
<!-- These tags should be placed in the teens category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2528|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2528|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2528|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2528|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->


<!-- #ifdef variable="ID" value="0000000000000907" -->
<!-- These tags should be placed in the teens category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2528|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2528|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2528|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2528|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->


<!-- #ifdef variable="ID" value="0000000000000908" -->
<!-- These tags should be placed in the teens category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2528|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2528|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2528|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2528|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->


<!-- #ifdef variable="ID" value="0000000000000909" -->
<!-- These tags should be placed in the teens category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2528|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2528|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2528|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2528|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->

<!-- end of mall -->





<!-- flea market -->
<!-- #ifdef variable="ID" value="0000000000000016" -->
<!-- These tags should be placed in the 3d category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2531|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2531|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2531|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2531|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of flea market -->


<!-- employment office -->
<!-- #ifdef variable="ID" value="000000000000000c" -->
<!-- These tags should be placed in the meeting  places category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2527|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2527|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2527|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2527|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of employment office -->


<!-- cafe -->
<!-- #ifdef variable="ID" value="0000000000000006" -->
<!-- These tags should be placed in the meeting  places category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2527|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2527|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2527|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2527|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of cafe -->



<!-- FunPark -->
<!-- #ifdef variable="ID" value="000000000000000a" -->
<!-- These tags should be placed in the meeting  places category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2527|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2527|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2527|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2527|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of Fun Park -->



<!-- WaterPark -->
<!-- #ifdef variable="ID" value="0000000000000014" -->
<!-- These tags should be placed in the meeting  places category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2527|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2527|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2527|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2527|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of WaterPark -->



<!-- Theme Park -->
<!-- #ifdef variable="ID" value="0000000000000015" -->
<!-- These tags should be placed in the meeting  places category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2527|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2527|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2527|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2527|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of Theme Park -->



<!-- City Hall -->
<!-- #ifdef variable="ID" value="0000000000000002" -->
<!-- These tags should be placed in the meeting  places category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2527|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2527|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2527|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2527|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of City Hall -->




<!-- pool -->
<!-- #ifdef variable="ID" value="000000000000000b" -->
<!-- These tags should be placed in the meeting  places category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2527|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2527|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2527|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2527|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of pool -->




<!-- clubdir -->
<!-- #ifdef variable="ID" value="000000000000000e" -->
<!-- These tags should be placed in the meeting  places category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2527|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2527|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2527|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2527|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of clubdir -->






<!-- stadium -->
<!-- #ifdef variable="ID" value="000000000000000d" -->
<!-- These tags should be placed in the meeting  places category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2527|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2527|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2527|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2527|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of stadium -->



<!-- theater -->
<!-- #ifdef variable="ID" value="0000000000000008" -->
<!-- These tags should be placed in the entertainment category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2524|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2524|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2524|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2524|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of theater -->


<!-- ePlex -->
<!-- #ifdef variable="ID" value="0000000000000017"-->
<!-- These tags should be placed in the entertainment category in the 150x60 size space (Placement: 1) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|iframe|C2524|||_admonitor|"><SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|jscript|C2524|||_admonitor|"></SCRIPT><NOSCRIPT><A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|1|image2|C2524|||" TARGET=_admonitor><IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|1|image2|C2524|||" BORDER=0 WIDTH=150 HEIGHT=60></A></NOSCRIPT></IFRAME></td>

<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of ePlex -->




<!-- casino -->
<!-- #ifdef variable="ID" value="0000000000000018"-->
<!-- These tags should be placed in the entertainment category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2524|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2524|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2524|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2524|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of casino -->



<!-- arcade -->
<!-- #ifdef variable="ID" value="0000000000000019"-->
<!-- These tags should be placed in the entertainment category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2524|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2524|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2524|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2524|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of arcade -->


<!-- gallery -->
<!-- #ifdef variable="ID" value="000000000000001a"-->
<!-- These tags should be placed in the entertainment category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2524|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2524|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2524|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2524|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of gallery -->



<!-- movies -->
<!-- #ifdef variable="ID" value="000000000000001b"-->
<!-- These tags should be placed in the entertainment category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2524|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2524|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2524|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2524|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of movies -->


<!-- nightclub -->
<!-- #ifdef variable="ID" value="000000000000001c"-->
<!-- These tags should be placed in the entertainment category in the 150x60 size space (Placement: 2) -->
<td width=160 align=right><IFRAME NORESIZE="NORESIZE" FRAMEBORDER="0" WIDTH=150 HEIGHT=60 MARGINWIDTH="0"
MARGINHEIGHT="0" SCROLLING="NO" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|iframe|C2524|||_admonitor|">
<SCRIPT LANGUAGE="JavaScript" SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|jscript|C2524|||_admonitor|">
</SCRIPT>
<NOSCRIPT>
<A HREF="http://ads.admonitor.net/clicktrack.cgi?F240|1044|2|image2|C2524|||" TARGET=_admonitor>
<IMG SRC="http://ads.admonitor.net/adengine.cgi?F240|1044|2|image2|C2524|||" BORDER=0 WIDTH=150 HEIGHT=60></A>
</NOSCRIPT>
</IFRAME></td>
<!-- End of adMonitor v3.0 rich content tags -->
<!-- #endif variable="ID" -->
<!-- end of nightclub -->







<!-- #ifdef variable="ID" value="000000000000000f" -->
<td><a href="/survey/survey5.html" target="external"><IMG SRC="<$g_HTMLRoot>/ad/wints.gif" BORDER=0></a></td>
<!-- #endif variable="ID" -->

<!-- #endif variable="DTY" -->





<!-- end misc. rightside ads -->









<!-- don't modify menuright.tmpl past here -->
</tr>
</table>
</td>

<SCRIPT  language="JavaScript">  
<!--

var reload = 0;
var lastID = "";

function send_place(id,loadURL){

 if("<$ID>" != id && reload < 1){
  parent.place.location.href = loadURL;
  reload++;
 }

 if(reload > 0){
  parent.place.World.document.CC3D.setNodeEventIn('place_script','set_place','<$ID>');
 } 
   
}
//-->   
</SCRIPT>


<!-- end of include menuright.tmpl -->



