<!-- common/news.tmpl -->
<!-- included in menu.tmpl to show common news -->
<td width=10>&nbsp;</td>
<td width=100 height=55><a href="javascript:loadInfo('<$g_HTMLRoot>/places/news/magazine/dailynews/index.html')" target=_self><IMG SRC="<$g_Images>/images/menu/news.gif" BORDER=0></a></td>
<!-- end of include news.tmpl -->
