<!-- common/noaccess_member.tmpl -->

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<center>
<br><br><br><br><br><br><br><br>
<IMG SRC="/images/feedback/nomembers.jpg">
<p>

<b><font color="red"> Sorry <$NNM>, you are not permitted to access this area of Cybertown.</font></b>

<p><a href="javascript:window.close();">Close Window</a>

