<!-- common/placefooter.tmpl -->
<!-- included in place.tmpl -->
<center>
<font color="#0066FF" face="arial" size="-2">&copy; 2004
<a href="http://www.integratedvirtualnetworks.com/index1.php?is_ct=1" target="external"><font color="#33FFFF" face="arial" size="-2">IVN/Cybertown Inc.</font></a> - All Rights Reserved</font>
</center>
<!-- end of include placefooter.tmpl -->
