<!-- common/placefooter.tmpl -->
<!-- included in place.tmpl -->
<center>
<font color="#0066FF" face="arial" size="-2">&copy; 1999
<a href="http://www.blaxxun.com" target="external"><font color="#33FFFF" face="arial" size="-2">blaxxun interactive</font></a> - All Rights Reserved</font>
</center>
<!-- end of include placefooter.tmpl -->
