<!-- common/postbutton.tmpl -->
<!-- included as link on top of large forms -->
<center>
<font size=-1>Note: <I>Use the <a href=#submitbutton target=_self>post button</a> to submit the form.</I></font>
</center>
<BR>
<!-- end of include common/postbutton.tmpl -->
