<!-- place/index2 -->
<HTML>
<HEAD>
<!-- #include virtual="<$g_Templates>common/loadinfo.tmpl" -->
</HEAD>
</body>
<form name="bform" action="/cgi-bin/cybertown/place" method="POST">
<input type="hidden" name="TKT" value="<$TKT>"> 
<input type="hidden" name="plc" value="<$place>">
</form>
<script language=javascript>
document.bform.submit();
</script>

<$NNM> <$plc> <$AGE>

</html>
