<!-- common/updateok.tmpl -->
<!-- #ifdef variable="updateok" -->
<div align=center><font color=red>Data successfully updated.</font><br>
<a href="javascript:history.go(-2)"><img src="<$g_Images>/images/buttons/bback.gif" border=0></a>
</div>
<!-- #endif variable="updateok" -->
<!-- end of include common/updateok.tmpl -->
