<!-- #ifdef variable="readaccess" -->
<a href="javascript:loadInfo('<$g_HTMLRoot>/help/objects.html')" target="_self">
<IMG SRC="<$g_Images>/images/buttons/bobjects.gif" BORDER=0 ALT="Shopping + Objects"></a><br>
<!-- #endif variable="readaccess" -->
<a href="javascript:loadInfo('object<$g_exe>?&ac=uppre')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/bupload.gif" BORDER=0 ALT="Upload"></a><br><br>


