<!-- #ifndef variable="HUPL_STATUS" value="OFF" -->
<a href="javascript:loadInfo('/cgi-bin/cybertown2/object<$g_exe>?&ac=uppre&TPL=object/deshomes/upload')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/bupload.gif" BORDER=0 ALT="Upload"></a><br>
<!-- #endif variable="HUPL_STATUS" -->

<br>