<!-- deshomes/middle.tmpl -->
<font face="arial" size=-1>Please select the store you would like to visit from the Directory below.</font><br>
<form name="navbar">
<select name="jumpgate" size="1" onchange="jumpreset(this.options, this.options[this.selectedIndex].value)">
<option value="" selected>Store Directory</option> 
<option value="">-----------------------</option>
<option value="top place<$g_exe>?ID=00000000000044ef&plc=deshomeshop&ac=index2d">Storage Hall</option>
<option value="top place<$g_exe>?ID=00000000000044fe&plc=deshomeshop">Warehouse</option>
<option value="top place<$g_exe>?ID=0000000000004401&plc=deshomeshop&ac=index2d">Aquatic</option>
<option value="top place<$g_exe>?ID=0000000000004402&plc=deshomeshop&ac=index2d">Fantasy</option>
<option value="top place<$g_exe>?ID=0000000000004403&plc=deshomeshop&ac=index2d">Futuristic</option>
<option value="top place<$g_exe>?ID=0000000000004404&plc=deshomeshop&ac=index2d">Landscapes</option>
<option value="top place<$g_exe>?ID=0000000000004405&plc=deshomeshop&ac=index2d">Starter Homes</option>
<option value="">-----------------------</option>
</select>
</form>
<font face="arial" size=-1>How to <a href="javascript:loadInfo('<$g_HTMLRoot>/help/objects.html')" target=_self>Buy and Use</a> the <b>Homes</b> ...</font>
<br>
