<!-- clubsplaza/action -->
<!-- this loads the main clubdir action frame for clubsplaza -->
<HTML>
<form name="bform" action="/cgi-bin/cybertown/place?ac=action&plc=clubdir&ID=000000000000000e" method="POST">
</form>
<script language=javascript>
document.bform.submit();
</script>
</html>