<script language="JavaScript">
function moviewin() {
 myMovieWin=window.open('<$g_HTMLRoot>/places/movies/nocache/movie.html','movie','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no,width=400,height=470');
 myMovieWin.focus();
}
</script>

