<!-- #ifdef variable="readaccess" -->
<a href="http://www.cybertown.com/entcent2.html" target=place>
<IMG SRC="<$g_Images>/images/buttons/bportal.gif" BORDER=0 ALT="Portal"></a><br>
<!-- #endif variable="readaccess" -->

<!-- #ifdef variable="isAdmin" -->
<br>
<!-- <a href="javascript:loadInfo('/cgi-bin/games2/ec/movie.pl')" target="_self">Edit Movies</a><br> -->
<!-- #endif variable="isAdmin" -->

