<!-- shop/middle.tmpl -->
<font face="arial" size=-1><a href="/cgi-bin/cybertown/place?plc=shopping" target="_top">Return To Mall</a></font><br>
<!-- #include virtual="<$g_Templates>shopping/middle.tmpl" -->
