
<HTML>
<head>
<META HTTP-EQUIV="refresh" CONTENT="1; URL=<$ID>">
        <title><$g_title></title>
</head>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<div align=center>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<h3><$g_CityDefName></h3>
<h4> Loading <$ID></h4>
</div>

<BODY>
</HTML>
