<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
<!-- cityhall/action.tmpl -->
<BASE TARGET="place">
<!-- #include virtual="<$g_Templates>place/timehead.tmpl" -->
<!-- #include virtual="<$g_Templates>common/loadinfo.tmpl" -->

<!-- moderation -->
<script language="JavaScript">
function moderate() {
window.open('place<$g_exe>?ac=moderate&plc=ccoffice&TKT=<$TKT>','Moderator', 'toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=no,resizable=yes,copyhistory=no,width=800,height=600');
 }
</script>
<!-- end moderation -->

<script language="JavaScript">
<!-- #ifdef variable="T_mode" -->
var mode = "<$T_mode>";
<!-- #endif variable="T_mode" -->
<!-- #ifndef variable="T_mode" -->
var mode = "2D";
<!-- #endif variable="T_mode" -->

<!-- #ifdef variable="T_aud" value="" -->
var audit = "audit";
<!-- #endif variable="T_aud" -->
<!-- #ifndef variable="T_aud" value="" -->
var audit = "<$T_aud>";
<!-- #endif variable="T_aud" -->

function set_chatZone(chatZone){

if(mode == "3D"){
  bxx = "/cgi-bin/cybertown/place?plc=ccoffice&DTY=<$DTY>&ID=<$ID>&ac=3D&T_aud=" + audit + "&&T_spawn=" + chatZone + "&T_refresh=false&T_pass=<$T_pass>&IE=x.bxx";
  parent.place.World.document.CC3D.setNodeEventIn('change','set_scene',bxx);
  u = "/cgi-bin/cybertown/place<$g_exe>?ac=action&plc=ccoffice&DTY=<$DTY>&ID=<$ID>&T_aud=" + audit + "&&T_spawn=" + chatZone + "&T_pass=<$T_pass>&T_mode=3D";
  self.location.href = u;
}else{
  parent.place.document.location.href = "place<$g_exe>?plc=ccoffice&ac=place&ID=<$ID>&force=s&T_aud=<$T_aud>&T_spawn=" + chatZone;
} 

}
function set_mode(v){
 mode = v;
}

function goLobby(){
 //opener.parent.place.document.href= "/cgi-bin/cybertown/place?plc=ccoffice&ac=place&ID=0000000000000002&force=p&T_aud=audit&T_spawn=&T_3d=true&T_pass=";
 parent.place.document.location.href= "/cgi-bin/cybertown/place?plc=ccoffice&ac=place&ID=0000000000000002&force=s&T_aud=audit&T_spawn=&T_pass=";
}

</script>
</HEAD>

<!-- #include virtual="<$g_Templates>common/body1.tmpl" -->
<!-- #include virtual="<$g_Templates>place/timebody.tmpl" -->

<!-- #include virtual="<$g_Templates>common/controlbegin.tmpl" -->
<div align=center>

<b><i><font face="Arial" size=+0 color="#00FF00"><$NAM>
<!-- #ifndef variable="T_spawn" value="" -->
 Room <$T_spawn>
<!-- #endif variable="T_spawn" -->
<!-- #ifdef variable="T_spawn" value="" -->
 Lobby
<!-- #endif variable="T_spawn" -->

</font></b></i><br>

<!-- #ifdef variable="chataccess" -->
<img src="/places/cityhall/images/auditorium/console.gif" BORDER="0" USEMAP="#consolemap"><br><br>
<!-- #endif variable="chataccess" -->

<!-- #include virtual="<$g_Templates>common/control.tmpl" -->

<!-- hide info/messages/indox for shops in mall -- these are linked to main mall info/messages/inbox -->
<!-- #ifndef variable="plc" value="shop" -->
<a href="javascript:loadInfo('place<$g_exe>?plc=ccoffice&ac=info&ID=<$ID>')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/binfo.gif" BORDER=0 ALT="Info"></a><br>

<!-- #ifdef variable="readaccess" -->
<a href="javascript:loadInfo('msb<$g_exe>?DTY=O&KTY=ID&KEY=<$ID>&MTY=i')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/binbox.gif" BORDER=0 ALT="Inbox"></a><br>
<a href="javascript:loadInfo('msb<$g_exe>?DTY=O&KTY=ID&KEY=<$ID>&MTY=m')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/bmesa.gif" BORDER=0 ALT="Messages"></a><br>
<!-- #endif variable="readaccess" -->
<!-- #endif variable="plc" -->

<!-- #ifdef variable="writeaccess" -->
<a href="javascript:loadInfo('vote<$g_exe>?ac=list&TPL=vote/list&PLC=<$ID>&TYP=a')" target="_self">
<IMG SRC="<$g_Images>/images/buttons/bvote.gif" BORDER=0 ALT="Vote"></a><br>
<!-- #endif variable="writeaccess" -->

<!-- #include virtual="<$g_Templates><$plc>/ac_middle.tmpl" -->

<!-- #ifdef variable="owneraccess" -->
<br>
<a href="edit<$g_exe>?KEY=<$ID>&TPL=place/updateinfo&backurl=edit" target="place">
<IMG SRC="<$g_Images>/images/buttons/bupdate.gif" BORDER=0 ALT="Update"></a><br>
<a href="javascript:moderate()" target=_self>
<IMG SRC="<$g_Images>/images/buttons/bmoderate.gif" BORDER=0 ALT="Moderate Chat"></a>
<!-- #endif variable="owneraccess" -->

<!-- #ifdef variable="rightsaccess" -->
<a href="edit<$g_exe>?DTY=O&KTY=ID&KEY=<$ID>&plc=ccoffice&TPL=common/rights&ac=readrole" target="place">
<IMG SRC="<$g_Images>/images/buttons/baccess.gif" BORDER=0 ALT="Access Rights"></a><br>
<!-- #endif variable="rightsaccess" -->

<!-- #include virtual="<$g_Templates><$plc>/ac_bottom.tmpl" -->
<!-- #include virtual="<$g_Templates>common/controlend.tmpl" -->
<!-- #include virtual="<$g_Templates>ccoffice/controlend.tmpl" -->

</div>
</BODY>
</HTML>
