<!-- ccoffice/controlend.tmpl -->
<!-- included in action.tmpl, table starts in control.tmpl -->
</div>
<MAP Name="consolemap">
    <AREA Shape="rect" coords = "13,10,59,43"  HREF="place<$g_exe>?plc=ccoffice&ac=place&ID=<$ID>&force=s&T_aud=<$T_aud>&T_spawn=<$T_spawn>&T_pass=<$T_pass>" ALT="2D Chat">
    <AREA Shape="rect" coords = "70,10,117,43"  HREF="place<$g_exe>?plc=ccoffice&ac=place&ID=<$ID>&force=p&T_aud=<$T_aud>&T_spawn=<$T_spawn>&T_3d=true&T_pass=<$T_pass>" onClick="javascript:set_mode('3D');" ALT="3D Chat">
    <AREA Shape="rect" coords = "10,57,120,77"  HREF="javascript:loadInfo('/cgi-bin/cybertown/place?ac=list&tpl=ccoffice/display')" ALT="Enter Event" target=_self>
</MAP>
</form>
<!-- end of include controlend.tmpl -->
