<!-- common/javachatparams.tmpl -->
<!-- included in all javachat.tmpl's to define colors etc. and to activate image posting -->
    <param name = scList2NewRoom        value = true>
    <param name = roomListEntries       value = 300>
    <param name = nameListEntries       value = 300>
    <param name = objListEntries        value = 100>
    <param name = publicListEntries     value = 1200>
    <param name = privateListEntries    value = 300>

    <param name = appbgcolor        value = 00009200>
    <param name = myavfgcolor       value = 00FFFF00>
    <param name = myavfontstyle     value = PLAIN>
    <param name = sysmessfgcolor    value = 00FFFFFF>
    <param name = sysmessfontstyle  value = BOLD>
    <param name = historyfgcolor    value = 00FFFFFF>
    <param name = historyfontstyle  value = ITALIC>
    <param name = whisperfgcolor    value = 0000C3FF>
    <param name = whisperfontstyle  value = PLAIN>
    <param name = chatbgcolor       value = 00004d00>
    <param name = chatfgcolor       value = 0000df00>
    <param name = ctlbgcolor        value = 00004d00>
    <param name = ctlfgcolor        value = 0000df00>
    <param name = cntl.rbg          value = 00004d00>
    <param name = cntl.rfg          value = 00ffff00>

    <param name = redImageUrl       value = "images/redball.gif">
    <param name = scdefImageUrl     value = "images/sc_def.gif">
    <param name = scmeImageUrl      value = "images/sc_me.gif">
    <param name = objImageUrl       value = "images/obj_def.gif">
    <param name = ignoreImageUrl    value = "images/av_mute.gif">
    <param name = meImageUrl        value = "images/av_me.gif">
    <param name = CCproImageUrl     value = "images/av_def.gif">
    <param name = CCstd1ImageUrl    value = "images/av_invis.gif">
    <param name = CCstd2ImageUrl    value = "images/av_invis.gif">
    <param name = CCstd3ImageUrl    value = "images/av_invis.gif">
    <param name = CSbotsImageUrl    value = "images/av_bot.gif">
    <param name = CSliteImageUrl    value = "images/av_invis.gif">

    <param name = chatColor1        value = "00ff5000">
    <param name = chatColor1Name    value = "/orange">
    <param name = chatColor2        value = "00ff0000">
    <param name = chatColor2Name    value = "/red">
    <param name = chatColor3        value = "0000c3ff">
    <param name = chatColor3Name    value = "/blue">
    <param name = chatColor4        value = "00000000">
    <param name = chatColor4Name    value = "/black">
    <param name = chatColor5        value = "00ffff00">
    <param name = chatColor5Name    value = "/yellow">
    <param name = chatColor6        value = "00ffffff">
    <param name = chatColor6Name    value = "/white">
    <param name = chatColor7        value = "0000ff00">
    <param name = chatColor7Name    value = "/green">
    <param name = chatColor8        value = "00c00080">
    <param name = chatColor8Name    value = "/purple">

    <param name = displayLinks      value = true>
    <param name = linkTerm          value = ", ;:?!<*>">
    <param name = linkfgcolor       value = 00FF5000>
    <param name = maxFontsize       value = 22>
    <param name = setFontsize       value = "/+">
    <param name = viewOptions       value = "/options">
    <param name = viewOptionsUrl    value = "<$g_HTMLRoot>/java/contact/chatimg/options.html">

    <param name = chatImage1        value = "chatimg/smile.gif">
    <param name = chatImage1Name    value = "smile">
    <param name = chatImage2        value = "chatimg/abomb.gif">
    <param name = chatImage2Name    value = "/abomb">
    <param name = chatImage3        value = "chatimg/bomb.gif">
    <param name = chatImage3Name    value = "/bomb">
    <param name = chatImage4        value = "chatimg/boy.gif">
    <param name = chatImage4Name    value = "/boy">
    <param name = chatImage5        value = "chatimg/call.gif">
    <param name = chatImage5Name    value = "/call">
    <param name = chatImage6        value = "chatimg/cat.gif">
    <param name = chatImage6Name    value = "/cat">
    <param name = chatImage7        value = "chatimg/chicken.gif">
    <param name = chatImage7Name    value = "/chicken">
    <param name = chatImage8        value = "chatimg/city.gif">
    <param name = chatImage8Name    value = "/city">
    <param name = chatImage9        value = "chatimg/cut.gif">
    <param name = chatImage9Name    value = "/cut">
    <param name = chatImage10       value = "chatimg/disk1.gif">
    <param name = chatImage10Name   value = "/disk1">
    <param name = chatImage11       value = "chatimg/drink.gif">
    <param name = chatImage11Name   value = "/drink">
    <param name = chatImage12       value = "chatimg/drive.gif">
    <param name = chatImage12Name   value = "/drive">
    <param name = chatImage13       value = "chatimg/eat.gif">
    <param name = chatImage13Name   value = "/eat">
    <param name = chatImage14       value = "chatimg/email.gif">
    <param name = chatImage14Name   value = "/email">
    <param name = chatImage15       value = "chatimg/female.gif">
    <param name = chatImage15Name   value = "/female">
    <param name = chatImage16       value = "chatimg/fish.gif">
    <param name = chatImage16Name   value = "/fish">
    <param name = chatImage17       value = "chatimg/fly.gif">
    <param name = chatImage17Name   value = "/fly">
    <param name = chatImage18       value = "chatimg/frown.gif">
    <param name = chatImage18Name   value = "/frown">
    <param name = chatImage19       value = "chatimg/girl.gif">
    <param name = chatImage19Name   value = "/girl">
    <param name = chatImage20       value = "chatimg/goto.gif">
    <param name = chatImage20Name   value = "/goto">
    <param name = chatImage21       value = "chatimg/handicap.gif">
    <param name = chatImage21Name   value = "/handicap">
    <param name = chatImage22       value = "chatimg/kill.gif">
    <param name = chatImage22Name   value = "/kill">
    <param name = chatImage23       value = "chatimg/male.gif">
    <param name = chatImage23Name   value = "/male">
    <param name = chatImage24       value = "chatimg/no.gif">
    <param name = chatImage24Name   value = "/no">
    <param name = chatImage25       value = "chatimg/nuke.gif">
    <param name = chatImage25Name   value = "/nuke">
    <param name = chatImage26       value = "chatimg/peace.gif">
    <param name = chatImage26Name   value = "/peace">
    <param name = chatImage27       value = "chatimg/pig.gif">
    <param name = chatImage27Name   value = "/pig">
    <param name = chatImage28       value = "chatimg/snows.gif">
    <param name = chatImage28Name   value = "/snows">
    <param name = chatImage29       value = "chatimg/world.gif">
    <param name = chatImage29Name   value = "/world">

    <param name = chatImage30       value = "chatimg/angry.gif">
    <param name = chatImage30Name   value = "/angry">
    <param name = chatImage31       value = "chatimg/computer.gif">
    <param name = chatImage31Name   value = "/computer">
    <param name = chatImage32       value = "chatimg/disk.gif">
    <param name = chatImage32Name   value = "/disk">
    <param name = chatImage33       value = "chatimg/down.gif">
    <param name = chatImage33Name   value = "/down">
    <param name = chatImage34       value = "chatimg/eyes.gif">
    <param name = chatImage34Name   value = "/eyes">
    <param name = chatImage35       value = "chatimg/ftp.gif">
    <param name = chatImage35Name   value = "/ftp">
    <param name = chatImage36       value = "chatimg/idea.gif">
    <param name = chatImage36Name   value = "/idea">
    <param name = chatImage37       value = "chatimg/look.gif">
    <param name = chatImage37Name   value = "/look">
    <param name = chatImage38       value = "chatimg/mail.gif">
    <param name = chatImage38Name   value = "/mail">
    <param name = chatImage39       value = "chatimg/microsoft.gif">
    <param name = chatImage39Name   value = "/microsoft">
    <param name = chatImage40       value = "chatimg/movie1.gif">
    <param name = chatImage40Name   value = "/movie1">
    <param name = chatImage41       value = "chatimg/music.gif">
    <param name = chatImage41Name   value = "/music">
    <param name = chatImage42       value = "chatimg/news.gif">
    <param name = chatImage42Name   value = "/news">
    <param name = chatImage43       value = "chatimg/sad.gif">
    <param name = chatImage43Name   value = "/sad">
    <param name = chatImage44       value = "chatimg/sound.gif">
    <param name = chatImage44Name   value = "/sound">
    <param name = chatImage45       value = "chatimg/text.gif">
    <param name = chatImage45Name   value = "/text">
    <param name = chatImage46       value = "chatimg/tv.gif">
    <param name = chatImage46Name   value = "/tv">
    <param name = chatImage47       value = "chatimg/vr.gif">
    <param name = chatImage47Name   value = "/vr">
    <param name = chatImage48       value = "chatimg/work.gif">
    <param name = chatImage48Name   value = "/work">
    <param name = chatImage49       value = "chatimg/yuk.gif">
    <param name = chatImage49Name   value = "/yuk">

    <param name = chatImage50       value = "chatimg/attach.gif">
    <param name = chatImage50Name   value = "/attach">
    <param name = chatImage51       value = "chatimg/audio.gif">
    <param name = chatImage51Name   value = "/audio">
    <param name = chatImage52       value = "chatimg/banana.gif">
    <param name = chatImage52Name   value = "/banana">
    <param name = chatImage53       value = "chatimg/binoccular.gif">
    <param name = chatImage53Name   value = "/binoccular">
    <param name = chatImage54       value = "chatimg/book.gif">
    <param name = chatImage54Name   value = "/book">
    <param name = chatImage55       value = "chatimg/caution.gif">
    <param name = chatImage55Name   value = "/caution">
    <param name = chatImage56       value = "chatimg/clock.gif">
    <param name = chatImage56Name   value = "/clock">
    <param name = chatImage57       value = "chatimg/coffee.gif">
    <param name = chatImage57Name   value = "/coffee">
    <param name = chatImage58       value = "chatimg/earth.gif">
    <param name = chatImage58Name   value = "/earth">
    <param name = chatImage59       value = "chatimg/file.gif">
    <param name = chatImage59Name   value = "/file">
    <param name = chatImage60       value = "chatimg/form.gif">
    <param name = chatImage60Name   value = "/form">
    <param name = chatImage61       value = "chatimg/heart.gif">
    <param name = chatImage61Name   value = "/heart">
    <param name = chatImage62       value = "chatimg/up.gif">
    <param name = chatImage62Name   value = "/up">
    <param name = chatImage63       value = "chatimg/key.gif">
    <param name = chatImage63Name   value = "/key">
    <param name = chatImage64       value = "chatimg/left.gif">
    <param name = chatImage64Name   value = "/left">
    <param name = chatImage65       value = "chatimg/lock.gif">
    <param name = chatImage65Name   value = "/lock">
    <param name = chatImage66       value = "chatimg/money.gif">
    <param name = chatImage66Name   value = "/money">
    <param name = chatImage67       value = "chatimg/monitor.gif">
    <param name = chatImage67Name   value = "/monitor">
    <param name = chatImage68       value = "chatimg/netscape.gif">
    <param name = chatImage68Name   value = "/netscape">
    <param name = chatImage69       value = "chatimg/ok.gif">
    <param name = chatImage69Name   value = "/ok">
    <param name = chatImage70       value = "chatimg/paint.gif">
    <param name = chatImage70Name   value = "/paint">
    <param name = chatImage71       value = "chatimg/phone.gif">
    <param name = chatImage71Name   value = "/phone">
    <param name = chatImage72       value = "chatimg/print.gif">
    <param name = chatImage72Name   value = "/print">
    <param name = chatImage73       value = "chatimg/question.gif">
    <param name = chatImage73Name   value = "/question">
    <param name = chatImage74       value = "chatimg/search.gif">
    <param name = chatImage74Name   value = "/search">
    <param name = chatImage75       value = "chatimg/snow.gif">
    <param name = chatImage75Name   value = "/snow">
    <param name = chatImage76       value = "chatimg/stop.gif">
    <param name = chatImage76Name   value = "/stop">
    <param name = chatImage77       value = "chatimg/sun.gif">
    <param name = chatImage77Name   value = "/sun">
    <param name = chatImage78       value = "chatimg/time.gif">
    <param name = chatImage78Name   value = "/time">
    <param name = chatImage79       value = "chatimg/toilet.gif">
    <param name = chatImage79Name   value = "/toilet">
    <param name = chatImage80       value = "chatimg/tools.gif">
    <param name = chatImage80Name   value = "/tools">
    <param name = chatImage81       value = "chatimg/trash.gif">
    <param name = chatImage81Name   value = "/trash">
<!-- END OF common/javachatparams.tmpl -->
