<html>
<!-- event/notinit.tmpl -->
<head>
<title>Cybertown - CityCash Game of Chance</title>
</head>

<body bgcolor="#000000" text="#CCCCCC" link="#00FF00" vlink="#00FF00">

<h2 align="center">CityCash Game of Chance</h2>

<!-- #ifdef variable="errnolottery" -->
<center>
  <font color="#FFFF99" size="+2">C O M I N G &nbsp;&nbsp;&nbsp; S O O N ! </font>
</center>
<!-- #endif variable="errnolottery" -->

<table border="0" cellpadding="0" cellspacing="0">
<tr>
  <td align="center">
    <img src="<$g_Images>/images/events/citycash/citycash.jpg" alt="CityCash Game of Chance" height=180 border="0">
  </td>
  <td>
    <blockquote><b>
      Welcome to the Cybertown CityCash Game of Chance. All you have to do is enter 
      your Cybertown nickname below and you will be automatically entered with a 
      chance to win the weekly pool of CityCash created by everyone's entries!<br>
    </b></blockquote>
  </td>
</tr>
</table>

<blockquote>
<b>
<br>
Each week you can enter and your account is debited 50 cc and those 50 cc are 
added to the pool and once a week the Cybertown Central Computer will randomly 
choose 3 winners one of whom gets 60% of the pool, one of whom gets 30% and one 
of whom gets 10%. Then the pool starts again.<br>
<br>
You can only enter 10 times a week in any one week.<br>
Also, like the Morph Hunt, those who enter 6 out of the 8 weeks that the
CityCash Game of Chance runs get a chance to be chosen as the winner of a 
grand prize. See the <a href="">Rules</a> here.<br>
<br>

<center>
  <font color="#FFFF99" size="+2">C O M I N G &nbsp;&nbsp;&nbsp; S O O N ! </font><br><br>
</center>

</b>
</blockquote>

</body>
</html>
