<HTML>
<!-- uploadavt/studio.tmpl -->
<!-- upload template for avatars from the blaxxun avatar studio-->
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title> - Upload Avatar</title>
</HEAD>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<br><br>

<h2 align=center>Upload Avatar</h2>

<!-- #include virtual="<$g_Templates>uploadavt/error.tmpl" -->

</BODY>
</HTML>
