<html>
<head>
<title><$g_title> - Voting</title>
<!-- vote/weight.tmpl -->
</head>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->
<center>
<h2>Personal voting data for <$NAM></h2>

<p>
Data successfully updated.
<br>
<a href=javascript:history.go(-2)>Go back</a>
</center>
</body>
</html>
