<!-- #ifdef variable="readaccess" -->
<a href="http://www.cybertown.com/entcent2.html" target=place>
<IMG SRC="<$g_Images>/images/buttons/bportal.gif" BORDER=0 ALT="Portal"></a><br>
<!-- #endif variable="readaccess" -->

<!-- #ifdef variable="isAdmin" -->
<a href="javascript:loadInfo('<$g_HTMLRoot>/places/gallery/admin/')" target="_self">Edit Gallery</a><br>
<!-- #endif variable="isAdmin" -->

