<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title> - Neighborhood</title>
</HEAD>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<H3 align=center>Welcome to the <$ENM> '<$NAM>'.</H3>

<p>
Welcome to the <$ENM> '<$NAM>' ...
</p>

<script language=javascript>
 var neighborid = '<$ID>';
 neighborid = neighborid.substring(0,8);
 if (neighborid == '01020503') {
  document.write('<p><a href="http://www.liquidwww.com" target=_blank><IMG src="<$gHTMLRoot>/home/0102000000000000/generations/buttonlogo.jpg" alt="Visit our Sponsor" border=0></a><br>Sponsored by TechiWarehouse<br><br>');
 }
</script>

<!-- #include virtual="<$g_Templates>common/inforoles.tmpl" -->
<br>
<b>Blocks:</b>
<table>
<tr>
<td>
<form name="roles" method=post action="edit<$g_exe>?KEY=&KFM=RRCCCRNNNR*&KFT=32<$ID>&TPL=neighbor/rolem&ac=list">
<input type="hidden" name="TKT" value="<$TKT>">
<input type=hidden name="ROLNAM" value="32">
<input type=hidden name="NNAM" value="<$NAM>">
<input type=hidden name="NID" value="<$ID>">
<input type=submit name="list" value="List">
Block Leaders 
</form>
<td>
<form name="deps" method=post action="edit<$g_exe>?KEY=&KFM=RRCCCRNNNR*&KFT=52<$ID>&TPL=neighbor/rolem&ac=list">
<input type="hidden" name="TKT" value="<$TKT>">
<input type=hidden name="ROLNAM" value="52">
<input type=hidden name="NNAM" value="<$NAM>">
<input type=hidden name="NID" value="<$ID>">
<input type=submit name="list" value="List">
Block Deputies 
</form>
</table>

</BODY>
</HTML>
