<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>

<!-- neighbor/present.tmpl -->

<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
<BASE target="_top">
<script language="JavaScript">
<!--
  function bName(n) {
    if ( n==101 ) {
        window.status="<$name0101>"; return;
    }
    if ( n==102 ) {
        window.status="<$name0102>"; return;
    }
    if ( n==103 ) {
        window.status="<$name0103>"; return;
    }
    if ( n==104 ) {
        window.status="<$name0104>"; return;
    }
    if ( n==105 ) {
        window.status="<$name0105>"; return;
    }
    if ( n==106 ) {
        window.status="<$name0106>"; return;
    }
    if ( n==201 ) {
        window.status="<$name0201>"; return;
    }
    if ( n==202 ) {
        window.status="<$name0202>"; return;
    }
    if ( n==203 ) {
        window.status="<$name0203>"; return;
    }
    if ( n==204 ) {
        window.status="<$name0204>"; return;
    }
    if ( n==205 ) {
        window.status="<$name0205>"; return;
    }
    if ( n==206 ) {
        window.status="<$name0206>"; return;
    }
    if ( n==301 ) {
        window.status="<$name0301>"; return;
    }
    if ( n==302 ) {
        window.status="<$name0302>"; return;
    }
    if ( n==303 ) {
        window.status="<$name0303>"; return;
    }
    if ( n==304 ) {
        window.status="<$name0304>"; return;
    }
    if ( n==305 ) {
        window.status="<$name0305>"; return;
    }
    if ( n==306 ) {
        window.status="<$name0306>"; return;
    }
    if ( n==401 ) {
        window.status="<$name0401>"; return;
    }
    if ( n==402 ) {
        window.status="<$name0402>"; return;
    }
    if ( n==403 ) {
        window.status="<$name0403>"; return;
    }
    if ( n==404 ) {
        window.status="<$name0404>"; return;
    }
    if ( n==405 ) {
        window.status="<$name0405>"; return;
    }
    if ( n==406 ) {
        window.status="<$name0406>"; return;
    }
    if ( n==501 ) {
        window.status="<$name0501>"; return;
    }
    if ( n==502 ) {
        window.status="<$name0502>"; return;
    }
    if ( n==503 ) {
        window.status="<$name0503>"; return;
    }
    if ( n==504 ) {
        window.status="<$name0504>"; return;
    }
    if ( n==505 ) {
        window.status="<$name0505>"; return;
    }
    if ( n==506 ) {
        window.status="<$name0506>"; return;
    }
    if ( n==601 ) {
        window.status="<$name0601>"; return;
    }
    if ( n==602 ) {
        window.status="<$name0602>"; return;
    }
    if ( n==603 ) {
        window.status="<$name0603>"; return;
    }
    if ( n==604 ) {
        window.status="<$name0604>"; return;
    }
    if ( n==605 ) {
        window.status="<$name0605>"; return;
    }
    if ( n==606 ) {
        window.status="<$name0606>"; return;
    }
  }
//-->
</script>
</HEAD>

<!-- #if variable="COL" != value="" -->
<!-- #define variable="CLMAP" value="<$COL>" -->
<!-- #endif variable="COL" -->
<!-- #if variable="TXT2" != value="" -->
<$TXT2>
<!-- #else variable="TXT2" -->
<!-- #ifndef variable="CLB" -->
<BODY BACKGROUND="<$g_HTMLRoot>/home/<$pathneigh>neighbor/<$imgneigh>.gif"
  BGCOLOR="#000000" LINK="#00FF00" VLINK="#00FF00" ALINK="#FFFFFF" TEXT="#D0DBF7">
<!-- #endif variable="CLB" -->
<!-- #ifdef variable="CLB" -->
<BODY BACKGROUND="<$g_HTMLRoot>/home/<$pathneigh>neighbor/<$imgneigh>.gif"
  BGCOLOR="<$CLB>" LINK="<$CLL>" VLINK="<$CLV>" ALINK="<$CLA>" TEXT="<$CLT>">
<!-- #endif variable="CLB" -->
<!-- #endif variable="TXT2" -->

<table width=512 height=272 border=0 cellpadding=0 cellspacing=0 align=center>

<!-- ********************************* line 0-->
<!--
<td width=10 height=5 align=center>
<img src="<$g_HTMLRoot>/home/neighbor/dummytop.gif" width=10 height=5 border=0>
</tr>
-->

<tr> <!-- ********************************* block line 1-->
<!-- #ifdef variable="id0101" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0101>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0101>" onMouseOver="bName(101); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0101></font></a>
<!-- #endif variable="id0101" -->
<!-- #ifndef variable="id0101" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0101" -->
</td> <!-- position 1 -->

<!-- #ifdef variable="id0102" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0102>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0102>" onMouseOver="bName(102); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0102></font></a>
<!-- #endif variable="id0102" -->
<!-- #ifndef variable="id0102" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0102" -->
</td> <!-- position 2 -->

<!-- #ifdef variable="id0103" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0103>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0103>" onMouseOver="bName(103); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0103></font></a>
<!-- #endif variable="id0103" -->
<!-- #ifndef variable="id0103" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0103" -->
</td> <!-- position 3 -->

<!-- #ifdef variable="id0104" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0104>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0104>" onMouseOver="bName(104); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0104></font></a>
<!-- #endif variable="id0104" -->
<!-- #ifndef variable="id0104" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0104" -->
</td> <!-- position 4 -->

<!-- #ifdef variable="id0105" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0105>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0105>" onMouseOver="bName(105); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0105></font></a>
<!-- #endif variable="id0105" -->
<!-- #ifndef variable="id0105" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0105" -->
</td> <!-- position 5 -->

<!-- #ifdef variable="id0106" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0106>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0106>" onMouseOver="bName(106); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0106></font></a>
<!-- #endif variable="id0106" -->
<!-- #ifndef variable="id0106" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0106" -->
</td> <!-- position 6 -->
</tr>


<tr> <!-- ********************************* block line 2-->
<!-- #ifdef variable="id0201" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0201>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0201>" onMouseOver="bName(201); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0201></font></a>
<!-- #endif variable="id0201" -->
<!-- #ifndef variable="id0201" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0201" -->
</td> <!-- position 1 -->

<!-- #ifdef variable="id0202" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0202>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0202>" onMouseOver="bName(202); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0202></font></a>
<!-- #endif variable="id0202" -->
<!-- #ifndef variable="id0202" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0202" -->
</td> <!-- position 2 -->

<!-- #ifdef variable="id0203" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0203>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0203>" onMouseOver="bName(203); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0203></font></a>
<!-- #endif variable="id0203" -->
<!-- #ifndef variable="id0203" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0203" -->
</td> <!-- position 3 -->

<!-- #ifdef variable="id0204" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0204>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0204>" onMouseOver="bName(204); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0204></font></a>
<!-- #endif variable="id0204" -->
<!-- #ifndef variable="id0204" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0204" -->
</td> <!-- position 4 -->

<!-- #ifdef variable="id0205" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0205>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0205>" onMouseOver="bName(205); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0205></font></a>
<!-- #endif variable="id0205" -->
<!-- #ifndef variable="id0205" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0205" -->
</td> <!-- position 5 -->

<!-- #ifdef variable="id0206" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0206>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0206>" onMouseOver="bName(206); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0206></font></a>
<!-- #endif variable="id0206" -->
<!-- #ifndef variable="id0206" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0206" -->
</td> <!-- position 6 -->
</tr> 


<tr> <!-- ********************************* block line 3-->
<!-- #ifdef variable="id0301" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0301>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0301>" onMouseOver="bName(301); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0301></font></a>
<!-- #endif variable="id0301" -->
<!-- #ifndef variable="id0301" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0301" -->
</td> <!-- position 1 -->

<!-- #ifdef variable="id0302" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0302>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0302>" onMouseOver="bName(302); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0302></font></a>
<!-- #endif variable="id0302" -->
<!-- #ifndef variable="id0302" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0302" -->
</td> <!-- position 2 -->

<!-- #ifdef variable="id0303" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0303>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0303>" onMouseOver="bName(303); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0303></font></a>
<!-- #endif variable="id0303" -->
<!-- #ifndef variable="id0303" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0303" -->
</td> <!-- position 3 -->

<!-- #ifdef variable="id0304" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0304>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0304>" onMouseOver="bName(304); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0304></font></a>
<!-- #endif variable="id0304" -->
<!-- #ifndef variable="id0304" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0304" -->
</td> <!-- position 4 -->

<!-- #ifdef variable="id0305" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0305>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0305>" onMouseOver="bName(305); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0305></font></a>
<!-- #endif variable="id0305" -->
<!-- #ifndef variable="id0305" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0305" -->
</td> <!-- position 5 -->

<!-- #ifdef variable="id0306" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0306>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0306>" onMouseOver="bName(306); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0306></font></a>
<!-- #endif variable="id0306" -->
<!-- #ifndef variable="id0306" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0306" -->
</td> <!-- position 6 -->
</tr> 

<tr> <!-- ********************************* block line 4-->
<!-- #ifdef variable="id0401" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0401>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0401>" onMouseOver="bName(401); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0401></font></a>
<!-- #endif variable="id0401" -->
<!-- #ifndef variable="id0401" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0401" -->
</td> <!-- position 1 -->

<!-- #ifdef variable="id0402" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0402>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0402>" onMouseOver="bName(402); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0402></font></a>
<!-- #endif variable="id0402" -->
<!-- #ifndef variable="id0402" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0402" -->
</td> <!-- position 2 -->

<!-- #ifdef variable="id0403" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0403>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0403>" onMouseOver="bName(403); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0403></font></a>
<!-- #endif variable="id0403" -->
<!-- #ifndef variable="id0403" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0403" -->
</td> <!-- position 3 -->

<!-- #ifdef variable="id0404" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0404>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0404>" onMouseOver="bName(404); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0404></font></a>
<!-- #endif variable="id0404" -->
<!-- #ifndef variable="id0404" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0404" -->
</td> <!-- position 4 -->

<!-- #ifdef variable="id0405" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0405>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0405>" onMouseOver="bName(405); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0405></font></a>
<!-- #endif variable="id0405" -->
<!-- #ifndef variable="id0405" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0405" -->
</td> <!-- position 5 -->

<!-- #ifdef variable="id0406" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0406>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0406>" onMouseOver="bName(406); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0406></font></a>
<!-- #endif variable="id0406" -->
<!-- #ifndef variable="id0406" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0406" -->
</td> <!-- position 6 -->
</tr>


<tr> <!-- ********************************* block line 5-->
<!-- #ifdef variable="id0501" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0501>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0501>" onMouseOver="bName(501); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0501></font></a>
<!-- #endif variable="id0501" -->
<!-- #ifndef variable="id0501" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0501" -->
</td> <!-- position 1 -->

<!-- #ifdef variable="id0502" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0502>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0502>" onMouseOver="bName(502); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0502></font></a>
<!-- #endif variable="id0502" -->
<!-- #ifndef variable="id0502" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0502" -->
</td> <!-- position 2 -->

<!-- #ifdef variable="id0503" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0503>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0503>" onMouseOver="bName(503); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0503></font></a>
<!-- #endif variable="id0503" -->
<!-- #ifndef variable="id0503" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0503" -->
</td> <!-- position 3 -->

<!-- #ifdef variable="id0504" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0504>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0504>" onMouseOver="bName(504); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0504></font></a>
<!-- #endif variable="id0504" -->
<!-- #ifndef variable="id0504" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0504" -->
</td> <!-- position 4 -->

<!-- #ifdef variable="id0505" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0505>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0505>" onMouseOver="bName(505); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0505></font></a>
<!-- #endif variable="id0505" -->
<!-- #ifndef variable="id0505" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0505" -->
</td> <!-- position 5 -->

<!-- #ifdef variable="id0506" -->
  <td width=83 height=52 align=center valign=center
    background="<$g_HTMLRoot>/home/<$path>neighbor/<$img0506>.gif" border="0" width="70" height="50"><a
    href="block<$g_exe>?ID=<$id0506>" onMouseOver="bName(506); return true;"
    onMouseOut="window.status=''; return true;"><font color=<$CLMAP>><$name0506></font></a>
<!-- #endif variable="id0506" -->
<!-- #ifndef variable="id0506" -->
  <td width=83 height=52 align=center valign=center>
<!-- #endif variable="id0506" -->
</td> <!-- position 6 -->
</tr> 

</table>
<!--/div-->

</BODY>
</HTML>
