#VRML V2.0 utf8

# Produced by 3D Studio MAX VRML97 exporter, Version 3, Revision 1,31
# MAX File: iwoshouse4.max, Date: Mon Oct 25 14:39:39 1999

EXTERNPROTO SharedObject [
exposedField SFVec3f translation
exposedField SFRotation rotation
exposedField MFNode children
exposedField SFString name
exposedField SFString id
eventIn SFBool startMove
eventOut SFBool isOver
eventOut SFTime touchTime
eventOut SFVec3f newPosition
eventOut SFRotation newRotation
] "http://www.blaxxun.com/bxx/vrml/protos/shared.wrl#SharedObject"


DEF KameraRaum1 Viewpoint {
  position 1.3 11.47 -33
  orientation 0.0006064 1 0.0002323 -0.732
  fieldOfView 0.6024
  description "room 1"
}
DEF KameraRaum2 Viewpoint {
  position -66.94 2.896 -80.02
  orientation 0 -1 0 -4.311
  fieldOfView 0.6024
  description "room 2"
}
DEF KameraRaum3 Viewpoint {
  position 72.14 2.896 -76.97
  orientation 0 -1 0 -1.319
  fieldOfView 0.6024
  description "room 3"
}
DEF KameraRaum4 Viewpoint {
  position -35.6 2.896 -104.3
  orientation 0 -1 0 -4.103
  fieldOfView 0.6024
  description "room 4"
}
DEF KameraGarden Viewpoint {
  position -52.52 1.576 -37.01
  orientation 0 1 0 -1.136
  fieldOfView 0.6024
  description "Gardenparty"
}
DEF LichtRaum1 PointLight {
location -11.31 4.701 -96.98
  radius 753.1
}
DEF LichtRaum2 PointLight {
location -60.37 4.701 -79.15
  radius 753.1
}
DEF LichtRaum3 PointLight {
location 67.96 4.701 -77.29
  radius 753.1
}
DEF LichtZentrum PointLight {
location .8781 17.43 -39.99
  radius 20
  attenuation 0 1 0
}

EXTERNPROTO HouseProto [
  exposedField SFColor floor1Color
  exposedField SFColor floor2Color
  exposedField SFColor floor3Color
  exposedField SFColor floor4Color

  exposedField SFColor wall1Color
  exposedField SFColor wall2Color
  exposedField SFColor wall3Color
  exposedField SFColor wall4Color

  exposedField SFColor window1Color
  exposedField SFColor window2Color
  exposedField SFColor window3Color
  exposedField SFColor window4Color

  exposedField MFString floor1Texture
  exposedField MFString floor2Texture
  exposedField MFString floor3Texture
  exposedField MFString floor4Texture

  exposedField MFString wall1Texture
  exposedField MFString wall2Texture
  exposedField MFString wall3Texture
  exposedField MFString wall4Texture

  exposedField MFString window1Texture
  exposedField MFString window2Texture
  exposedField MFString window3Texture
  exposedField MFString window4Texture

  exposedField SFInt32 floor1Choice
  exposedField SFInt32 floor2Choice
  exposedField SFInt32 floor3Choice
  exposedField SFInt32 floor4Choice

  exposedField SFInt32 wall1Choice
  exposedField SFInt32 wall2Choice
  exposedField SFInt32 wall3Choice
  exposedField SFInt32 wall4Choice

  exposedField SFInt32 window1Choice
  exposedField SFInt32 window2Choice
  exposedField SFInt32 window3Choice
  exposedField SFInt32 window4Choice
]"<$g_HttpServer><$g_HTMLRoot>/home/0101000000000000/property/vrml/<$WR3>/house_proto.wrl#HouseProto"

<!-- #ifdef variable="isOwner" -->
  EXTERNPROTO ConfiguratorProto [
    exposedField SFVec3f position
    exposedField SFRotation rotation
    exposedField SFVec3f scale

    exposedField MFString configCall
  ] "<$g_HttpServer><$g_HTMLRoot>/home/0101000000000000/property/vrml/<$WR3>/configurator.wrl#ConfiguratorProto"
<!-- #endif variable="isOwner" -->

Group {
  children [
    DEF House HouseProto {
    <!-- #if variable="CF0" != value="" -->
      floor1Choice   1
      floor1Color   <$CF0>
    <!-- #endif variable="CF0" -->
    <!-- #if variable="CF1" != value="" -->
      floor2Choice   1
      floor2Color   <$CF1>
    <!-- #endif variable="CF1" -->
    <!-- #if variable="CF2" != value="" -->
      floor3Choice   1
      floor3Color   <$CF2>
    <!-- #endif variable="CF2" -->
    <!-- #if variable="CF3" != value="" -->
      floor4Choice   1
      floor4Color   <$CF3>
    <!-- #endif variable="CF3" -->

    <!-- #if variable="CW0" != value="" -->
      wall1Choice   1
      wall1Color    <$CW0>
    <!-- #endif variable="CW0" -->
    <!-- #if variable="CW1" != value="" -->
      wall2Choice   1
      wall2Color    <$CW1>
    <!-- #endif variable="CW1" -->
    <!-- #if variable="CW2" != value="" -->
      wall3Choice   1
      wall3Color    <$CW2>
    <!-- #endif variable="CW2" -->
    <!-- #if variable="CW3" != value="" -->
      wall4Choice   1
      wall4Color    <$CW3>
    <!-- #endif variable="CW3" -->

    <!-- #if variable="CD0" != value="" -->
      window1Choice   1
      window1Color  <$CD0>
    <!-- #endif variable="CD0" -->
    <!-- #if variable="CD1" != value="" -->
      window2Choice   1
      window2Color  <$CD1>
    <!-- #endif variable="CD1" -->
    <!-- #if variable="CD2" != value="" -->
      window3Choice   1
      window3Color  <$CD2>
    <!-- #endif variable="CD2" -->
    <!-- #if variable="CD3" != value="" -->
      window4Choice   1
      window4Color  <$CD3>
    <!-- #endif variable="CD3" -->

    <!-- #if variable="TF0" != value="" -->
      <!-- #if variable="floor0" == value="" -->
        floor1Choice   0
        floor1Texture  [ "<$g_HttpServer><$g_HTMLRoot>/home/0101000000000000/property/vrml/<$WR3>/images/texture<$TF0>.jpg" ]
      <!-- #endif variable="floor0" -->
    <!-- #endif variable="TF0" -->
    <!-- #if variable="TF1" != value="" -->
      <!-- #if variable="floor1" == value="" -->
        floor2Choice   0
        floor2Texture  [ "<$g_HttpServer><$g_HTMLRoot>/home/0101000000000000/property/vrml/<$WR3>/images/texture<$TF1>.jpg" ]
      <!-- #endif variable="floor1" -->
    <!-- #endif variable="TF1" -->
    <!-- #if variable="TF2" != value="" -->
      <!-- #if variable="floor2" == value="" -->
        floor3Choice   0
        floor3Texture  [ "<$g_HttpServer><$g_HTMLRoot>/home/0101000000000000/property/vrml/<$WR3>/images/texture<$TF2>.jpg" ]
      <!-- #endif variable="floor2" -->
    <!-- #endif variable="TF2" -->
    <!-- #if variable="TF3" != value="" -->
      <!-- #if variable="floor3" == value="" -->
        floor4Choice   0
        floor4Texture  [ "<$g_HttpServer><$g_HTMLRoot>/home/0101000000000000/property/vrml/<$WR3>/images/texture<$TF3>.jpg" ]
      <!-- #endif variable="floor3" -->
    <!-- #endif variable="TF3" -->

    <!-- #if variable="floor0" != value="" -->
      floor1Choice  0
      floor1Texture [ "<$g_HttpServer><$g_HTMLRoot><$texturePath><$floor0>" ]
    <!-- #endif variable="floor0" -->
    <!-- #if variable="floor1" != value="" -->
      floor2Choice  0
      floor2Texture [ "<$g_HttpServer><$g_HTMLRoot><$texturePath><$floor1>" ]
    <!-- #endif variable="floor1" -->
    <!-- #if variable="floor2" != value="" -->
      floor3Choice  0
      floor3Texture [ "<$g_HttpServer><$g_HTMLRoot><$texturePath><$floor2>" ]
    <!-- #endif variable="floor2" -->
    <!-- #if variable="floor3" != value="" -->
      floor4Choice  0
      floor4Texture [ "<$g_HttpServer><$g_HTMLRoot><$texturePath><$floor3>" ]
    <!-- #endif variable="floor3" -->

    <!-- #if variable="TW0" != value="" -->
      <!-- #if variable="wall0" == value="" -->
        wall1Choice    0
        wall1Texture   [ "<$g_HttpServer><$g_HTMLRoot>/home/0101000000000000/property/vrml/<$WR3>/images/texture<$TW0>.jpg" ]
      <!-- #endif variable="wall0" -->
    <!-- #endif variable="TW0" -->
    <!-- #if variable="TW1" != value="" -->
      <!-- #if variable="wall1" == value="" -->
        wall2Choice    0
        wall2Texture   [ "<$g_HttpServer><$g_HTMLRoot>/home/0101000000000000/property/vrml/<$WR3>/images/texture<$TW1>.jpg" ]
      <!-- #endif variable="wall1" -->
    <!-- #endif variable="TW1" -->
    <!-- #if variable="TW2" != value="" -->
      <!-- #if variable="wall2" == value="" -->
        wall3Choice    0
        wall3Texture   [ "<$g_HttpServer><$g_HTMLRoot>/home/0101000000000000/property/vrml/<$WR3>/images/texture<$TW2>.jpg" ]
      <!-- #endif variable="wall2" -->
    <!-- #endif variable="TW2" -->
    <!-- #if variable="TW3" != value="" -->
      <!-- #if variable="wall3" == value="" -->
        wall4Choice    0
        wall4Texture   [ "<$g_HttpServer><$g_HTMLRoot>/home/0101000000000000/property/vrml/<$WR3>/images/texture<$TW3>.jpg" ]
      <!-- #endif variable="wall3" -->
    <!-- #endif variable="TW3" -->

    <!-- #if variable="wall0" != value="" -->
      wall1Choice  0
      wall1Texture [ "<$g_HttpServer><$g_HTMLRoot><$texturePath><$wall0>" ]
    <!-- #endif variable="wall0" -->
    <!-- #if variable="wall1" != value="" -->
      wall2Choice  0
      wall2Texture [ "<$g_HttpServer><$g_HTMLRoot><$texturePath><$wall1>" ]
    <!-- #endif variable="wall1" -->
    <!-- #if variable="wall2" != value="" -->
      wall3Choice  0
      wall3Texture [ "<$g_HttpServer><$g_HTMLRoot><$texturePath><$wall2>" ]
    <!-- #endif variable="wall2" -->
    <!-- #if variable="wall3" != value="" -->
      wall4Choice  0
      wall4Texture [ "<$g_HttpServer><$g_HTMLRoot><$texturePath><$wall3>" ]
    <!-- #endif variable="wall3" -->

    <!-- #if variable="TD0" != value="" -->
      <!-- #if variable="window0" == value="" -->
        window1Choice  0
        window1Texture [ "<$g_HttpServer><$g_HTMLRoot>/home/0101000000000000/property/vrml/<$WR3>/images/texture<$TD0>.jpg" ]
      <!-- #endif variable="window0" -->
    <!-- #endif variable="TD0" -->
    <!-- #if variable="TD1" != value="" -->
      <!-- #if variable="window1" == value="" -->
        window2Choice  0
        window2Texture [ "<$g_HttpServer><$g_HTMLRoot>/home/0101000000000000/property/vrml/<$WR3>/images/texture<$TD1>.jpg" ]
      <!-- #endif variable="window1" -->
    <!-- #endif variable="TD1" -->
    <!-- #if variable="TD2" != value="" -->
      <!-- #if variable="window2" == value="" -->
        window3Choice  0
        window3Texture [ "<$g_HttpServer><$g_HTMLRoot>/home/0101000000000000/property/vrml/<$WR3>/images/texture<$TD2>.jpg" ]
      <!-- #endif variable="window2" -->
    <!-- #endif variable="TD2" -->
    <!-- #if variable="TD3" != value="" -->
      <!-- #if variable="window3" == value="" -->
        window4Choice  0
        window4Texture [ "<$g_HttpServer><$g_HTMLRoot>/home/0101000000000000/property/vrml/<$WR3>/images/texture<$TD3>.jpg" ]
      <!-- #endif variable="window3" -->
    <!-- #endif variable="TD3" -->

    <!-- #if variable="window0" != value="" -->
      window1Choice  0
      window1Texture [ "<$g_HttpServer><$g_HTMLRoot><$texturePath><$window0>" ]
    <!-- #endif variable="window0" -->
    <!-- #if variable="window1" != value="" -->
      window2Choice  0
      window2Texture [ "<$g_HttpServer><$g_HTMLRoot><$texturePath><$window1>" ]
    <!-- #endif variable="window1" -->
    <!-- #if variable="window2" != value="" -->
      window3Choice  0
      window3Texture [ "<$g_HttpServer><$g_HTMLRoot><$texturePath><$window2>" ]
    <!-- #endif variable="window2" -->
    <!-- #if variable="window3" != value="" -->
      window4Choice  0
      window4Texture [ "<$g_HttpServer><$g_HTMLRoot><$texturePath><$window3>" ]
    <!-- #endif variable="window3" -->
    }
    <!-- #ifdef variable="isOwner" -->
      DEF Configurator ConfiguratorProto{
        position 7 8.8 -56
        configCall [ "<$g_cgiRoot>/edit<$g_exe>?KEY=<$ID>&TPL=property/iwosupdate" ]
      }
    <!-- #endif variable="isOwner" -->
  ]
}
