<!-- place/updateinfo.tmpl -->
<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
<BASE target="_self">
</HEAD>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<p align=center>
<b>Update the Information for <$NAM></b>
</p>
<font color=#ff0000>
<!-- #ifdef variable="editerror003" -->
	Insufficient access rights.
<!-- #endif variable="editerror003" -->
</font>

<form method=post action="<$selfurl>">
<input type="hidden" name="TKT" value="<$TKT>">
<!-- #include virtual="<$g_Templates>common/updbutton.tmpl" -->
<h3>Information<br>
<textarea name="TXT" cols="50" rows="12"><$TXT></textarea>
</h3>
<p>


<h4>Contest Information<br>
<textarea name="TXT2" cols="50" rows="12"><$TXT2></textarea>
</h4>


<input type=hidden name="KEY" value="<$KEY>">
<input type=hidden name="TPL" value="arcade/updateinfo">
<input type=hidden name="ac" value="read">
<a name=submitbutton></a>
<br>
<center>
<input type=submit name="edit" value=Update>
</center>
</form>

</BODY>
</HTML>
