#
# This file contains the entries to be read from database
# before displaying the template. All entries starting with r_
#

ID	r
WAC r
CEC r
FLC r
CLP r
GP1 r
GP2 r
GP3 r
MRP r
ARP r
STA r
STM r
ST1 r
ST2 r
ST3 r