<html>
<Title><$g_title> Instant Message Center</Title>
<head>
</head>
 
<BODY onLoad="top.buStartTimer()" onUnload="top.buStopTimer()" BGCOLOR="#002020"  LINK="#FFFF00"  VLINK="#FFFF00"  ALINK="#FFFFFF" TEXT="#80FF00" >

<center><h3><$g_title> Instant Message Center</h3></center>
<br>
<br>
<br>
<br>

<!-- #include virtual="<$g_Templates>/buddy/buddyjava.tmpl" -->

</body>
</html>
