<!-- #ifdef variable="readaccess" -->
<br>
<a href="place<$g_exe>?plc=ccoffice" target="_top">
<IMG SRC="<$g_Images>/images/buttons/councilbut.gif" BORDER=0 ALT="City Council Office"></a><br>
<!-- #endif variable="readaccess" -->

