<!-- neighbor/action.tmpl -->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
</head>

<center>
<!-- #ifndef variable="ID" value="01100" -->
<!-- #include virtual="<$g_Templates>neighbor/action_standard.tmpl" -->
<!-- #endif variable="ID" -->
<!-- #endif variable="ID" -->
<!-- #endif variable="ID" -->
<!-- #ifdef variable="ID" value="01100" -->
<!-- #include virtual="<$g_Templates>community/action_hi-tek.tmpl" -->
<!-- #endif variable="ID" -->

</body>
</html>



