<!-- common/javachat.tmpl -->
<!-- for hi-tek -->
<!-- included in the place.tmpl of places and properties -->
<!-- see a description of the parameters in the Java chat documentation -->
<!-- #ifdef variable="ID" value="0110050200000000" -->
<div align=center>
<applet codebase="<$g_JAVARoot>/java/contact"
        archive="classes2.zip"
        code="BXApplet.class"
        id="chat"
        name="blaxxun Contact"
        alt="blaxxun Contact (Java)"
        width=580 height=190>
    <param name = "cabbase"         value="blaxxunContactJava.cab">
    <param name = "paramsUrl1"         value="<$g_JAVARoot>/java/contact2/uistrings_en">
<!-- #if variable="ENV_HTTP_USER_AGENT" contains value="MSIE" -->
    <param name = "useTCP"         value="true">
<!-- #endif variable="ENV_HTTP_USER_AGENT" contains "MSIE" -->

<small><p><font color="#FFFF00">The 2D Chat requires Java (you must enable Java in your browser).</font><br><font color="#00FF00">&nbsp;&nbsp;Netscape 4.x: menu 'edit-preferences-advanced-enable java'<br>&nbsp;&nbsp;IE 4.x: menu 'view-internet options-advanced-enable java'</p><p><font color="#FFFF00">If you do not want to enable Java please settle down in a colony and update your personal data (chat option = no chat).</p></small>

<!-- #ifdef variable="ID" value="0110050200000000" -->
    <param name = startroom         value= "Computing@<$g_SceneServer><$g_cgiRoot>/place?DTY=N&ID=<$ID>&ac=3D&IE=x.bxx">
<!-- #endif variable="ID" -->

    <param name = openroomreplace   value = "ac=3D'ac=index2d'_top">

    <param name = port              value = 2000>
    <param name = usePassword       value = true>
    <param name = nickname          value = "<$NNM>">
    <param name = role              value = "<$rolename>">
    <param name = experience        value = "<$stdexp>">
    <param name = userid            value = "<$MID>">
    <param name = password          value = "<$COOKIE>">
    <param name = ui                value = 31>
    <param name = frame             value = false>
    <param name = breakLines        value = true>

    <param name = lockInput         value = false>


    <param name = logTime           value = 10>
    <param name = borderSize        value = 4>

<!-- #include virtual="<$g_Templates>hi-tek/javachatparams.tmpl" -->

</applet>
<!-- #endif variable="ID" -->
</div>

