<!-- #define variable="COLID" substring="<$ID>,0,8" --> 

<!-- #ifdef variable="COLID" value="01020503" --> 
<!-- #include virtual="<$g_Templates>neighbor/present_0102050300000000.tmpl" --> 
<!-- #endif variable="COLID" --> 

<!-- #ifndef variable="COLID" value="01020503" --> 
<!-- #include virtual="<$g_Templates>neighbor/present_standard.tmpl" --> 
<!-- #endif variable="COLID" --> 

