<!-- #ifdef variable="readaccess" -->
<a href="http://www.cybertown.com/cybrpark2.html" target=place>
<IMG SRC="<$g_Images>/images/buttons/bportal.gif" BORDER=0 ALT="CyberPark"></a><br><br>
<!-- #endif variable="readaccess" -->
