<HTML>
<!-- clubdir/action.tmpl -->
<!-- right side action frame -->
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title>blaxxun interactive - Technology for Community</title>
<BASE TARGET="place">
<script language="JavaScript">function moderate() {window.open('place<$g_exe>?ac=moderate&plc=clubsplaza&TKT=<$TKT>','Moderator', 'toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=no,resizable=yes,copyhistory=no,width=800,height=600');}</script>
<!-- #include virtual="<$g_Templates>place/timehead.tmpl" -->
<!-- #include virtual="<$g_Templates>common/loadinfo.tmpl" -->
</HEAD>

<!-- #include virtual="<$g_Templates>common/body1.tmpl" -->
<!-- #include virtual="<$g_Templates>place/timebody.tmpl" -->

<!-- #include virtual="<$g_Templates>common/controlbegin.tmpl" -->
<div align=center>
<a href="club<$g_exe>?ac=directory&T_level=top" target=place>
<b><i><font face="Arial" size=+0 color="#00FF00"><$NAM></font></b></i></a><br>
<!-- #ifdef variable="chataccess" -->
<a href="place<$g_exe>?plc=<$place>&ac=place&ID=<$ID>&force=s" target="place">
<IMG SRC="<$g_Images>/images/buttons/b2dchat.gif" BORDER=0 ALT="2D Chat"></a>
<br>
<!-- #endif variable="chataccess" -->
<!-- #include virtual="<$g_Templates>common/control.tmpl" -->

<a href="javascript:loadInfo('place<$g_exe>?plc=clubdir&ac=info&ID=000000000000000e')">
<IMG SRC="<$g_Images>/images/buttons/binfo.gif" BORDER=0 ALT="Info"></a><br>

<a href="javascript:loadInfo('print60?TPL=clubdir/clubrules')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/borules.gif" BORDER=0 ALT="Rules"></a><br>

<!-- #ifndef variable="isVisitor" -->
<!-- #ifdef variable="HOM" -->
<a href="club<$g_exe>?ac=showForm&TPL=clubdir/create&experCheck=club_min_exper" target=place>
<IMG SRC="<$g_Images>/images/buttons/bcreate.gif" BORDER=0 ALT="Create Club"></a><br>
<!-- #endif variable="HOM" -->	
<!-- #endif variable="isVisitor" -->
<br>
<!-- #ifdef variable="readaccess" -->
<a href="javascript:loadInfo('msb<$g_exe>?DTY=O&KTY=ID&KEY=000000000000000e&MTY=i')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/binbox.gif" BORDER=0 ALT="Inbox"></a><br>
<a href="javascript:loadInfo('msb<$g_exe>?DTY=O&KTY=ID&KEY=000000000000000e&MTY=m')" target=_self>
<IMG SRC="<$g_Images>/images/buttons/bmesa.gif" BORDER=0 ALT="Messages"></a><br>
<!-- #endif variable="readaccess" -->
<!-- #ifdef variable="writeaccess" -->
<a href="javascript:loadInfo('vote<$g_exe>?ac=list&TPL=vote/list&PLC=000000000000000e&TYP=a')" target="_self">
<IMG SRC="<$g_Images>/images/buttons/bvote.gif" BORDER=0 ALT="Vote"></a><br>
<!-- #endif variable="writeaccess" -->
<br>
<!-- #ifdef variable="owneraccess" -->
<a href="msb<$g_exe>?ac=writegroup&DTY=CL&KTY=ID&KEY=000000000000000e&MTY=m&program=club" target="place">
<IMG SRC="<$g_Images>/images/buttons/bgroupmesa.gif" BORDER=0 ALT="Group Message"></a><br>
<a href="javascript:loadCustom('edit<$g_exe>?ac=list&TPL=clubdir/plist', 750, 510 )">
<IMG SRC="<$g_Images>/images/buttons/bcheck.gif" BORDER=0 ALT="Check Images"></a><br>
<a href="javascript:loadCustom('edit<$g_exe>?ac=list&TPL=clubdir/dellist', 750, 510 )">
<IMG SRC="<$g_Images>/images/buttons/bclose.gif" BORDER=0 ALT="Close Club"></a><br>
<a href="print60<$g_exe>?TPL=clubdir/clubrulesupd" target=place>
<IMG SRC="http://www.cybertown.com/images/buttons/bupdateclubrules.gif" BORDER=0 ALT="Update Club Rules"></a><br>
<a href="edit<$g_exe>?KEY=000000000000000e&TPL=place/updateinfo&backurl=edit" target=place>
<IMG SRC="http://www.cybertown.com/images/buttons/bupdate.gif" BORDER=0 ALT="Update"></a><br>
<a href="javascript:moderate()" target=_self>
<IMG SRC="<$g_Images>/images/buttons/bmoderate.gif" BORDER=0 ALT="Moderate Chat"></a><br>
<a href="javascript:loadCustom('print?DTY=O&ID=000000000000000e&TPL=fundbox/phase0',612,490)" target=_self>
<IMG SRC="<$g_Images>/images/buttons/bfundbox.gif" BORDER=0 ALT="Fund Box"></a><br>

<!-- #endif variable="owneraccess" -->

<!-- #ifdef variable="rightsaccess" -->
<a href="edit<$g_exe>?DTY=O&KTY=ID&KEY=000000000000000e&plc=clubdir&TPL=common/rights&ac=readrole">
<IMG SRC="<$g_Images>/images/buttons/baccess.gif" BORDER=0 ALT="Access Rights"></a><br>
<!-- #endif variable="rightsaccess" -->

<!-- #include virtual="<$g_Templates>common/controlend.tmpl" -->
</div>
</BODY>
</HTML>










