<a href="javascript:jump('top place?plc=nightclub')" target="_self">
<IMG SRC="<$g_HTMLRoot>/places/yesmate/images/bscicon.jpg" BORDER=0 ALT="DJ"></a><br>
<a href="javascript:loadInfo('/places/ent_complex/rahelp.html')" target=_self>
<IMG SRC="/places/ent_complex/images/rahelp.gif" BORDER=0 ALT="RealPlayer Help"></a><br>
