<font size=-1 face="arial">
<table align=center border=0 cellspacing=0 cellpadding=0 bgcolor="#000000">
<tr><td colspan=3 align=center><IMG SRC="<$g_HTMLRoot>/places/yesmate/images/top_image.jpg" BORDER=0 ALT=""></td></tr>
<tr><td align=right width=144 valign=bottom><IMG SRC="<$g_HTMLRoot>/places/yesmate/images/left_image.jpg" BORDER=0 ALT=""></td>
<td align=right valign=bottom width=160>
<embed src="<$g_HTMLRoot>/places/yesmate/yesmate.rpm" width=160 height=120 controls=ImageWindow autostart=true console=Clip2 nologo=true>
</td><td align=left width=165 valign=bottom><IMG SRC="<$g_HTMLRoot>/places/yesmate/images/right_image.jpg" BORDER=0 ALT=""></td></tr>
<tr><td colspan=3 align=center><IMG SRC="<$g_HTMLRoot>/places/yesmate/images/bottom_image.jpg" BORDER=0 ALT=""></td></tr>
</table>
To start or change video, make a selection from the list.<br>
To stop video, select &quot;Stop Video&quot; from the list.
<form name=realclips>
<select name=cliplist onChange="switchMovie(window.document.realclips.cliplist.options[this.selectedIndex].value)">
<option value="StopMovie"> -- Video List --
<option value="pnm://bak.spc.org/muziq/realmedia/Jam99-03-24c.rm">PirateTV Jam 1
<option value="pnm://bak.spc.org/muziq/realmedia/Jam99-03-24b.rm">PirateTV Jam 2
<option value="pnm://bak.spc.org/muziq/realmedia/Jam99-03-24a.rm">PirateTV Jam 3
</select>
</form></font>
