<!-- Cybertown Staff/Technicians -->


<!-- #ifdef variable="NNK" value="hawk" -->
	<!-- #define variable="LOCKPERM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="vialle" -->
	<!-- #define variable="LOCKPERM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="crashdummy" -->
	<!-- #define variable="LOCKPERM"  value="1" -->
<!-- #endif variable="NNK" -->
 
<!-- #ifdef variable="NNK" value="psshark" -->
	<!-- #define variable="LOCKPERM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="stasis" -->
	<!-- #define variable="LOCKPERM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="jeetkunedo" -->
	<!-- #define variable="LOCKPERM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="diverdestiny" -->
	<!-- #define variable="LOCKPERM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="mauvecat" -->
	<!-- #define variable="LOCKPERM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="" -->
 	<!-- #define variable="LOCKPERM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="ladysilversplash" -->
 	<!-- #define variable="LOCKPERM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="wovencroft" -->
	<!-- #define variable="LOCKPERM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="thor" -->
	<!-- #define variable="LOCKPERM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="" -->
	<!-- #define variable="LOCKPERM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="ablueyedbrunette" -->
	<!-- #define variable="LOCKPERM"  value="1" -->

<!-- Security Staff -->


<!-- #ifdef variable="NNK" value="gojud" -->
	<!-- #define variable="LOCKPERM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="" -->
	<!-- #define variable="LOCKPERM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="greatgodbal" -->
	<!-- #define variable="LOCKPERM"  value="1" -->
<!-- #endif variable="NNK" -->



