<!-- #ifdef variable="NNK" value="coolkama" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="simioni" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="hawk" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="vialle" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="flyby" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="crashdummy" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="oherra" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->
 
<!-- #ifdef variable="NNK" value="psshark" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

 