<!-- Cybertown Staff/Technicians -->

<!-- #ifdef variable="NNK" value="unemployal" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="hawk" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="vialle" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="crashdummy" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->
 
<!-- #ifdef variable="NNK" value="psshark" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="stasis" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="jeetkunedo" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="diverdestiny" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="spacerat-jim" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="jolinth" -->
 	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="oherra" -->
 	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="wovencroft" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- Security Staff -->

<!-- #ifdef variable="NNK" value="ablueyedbrunette" -->
	<!-- #define variable="HMMM"  value="1" -->

<!-- #ifdef variable="NNK" value="" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="fabricius" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="greatgodbal" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #ifdef variable="NNK" value="taz1970" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNK" -->



