<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
<base target="_self">
</HEAD>


<!--#ifdef variable="CITY_WRITE" -->
<!--#include virtual="<$g_Templates>/citizen/securitygetplace.tmpl" -->
<!--#endif variable="CITY_WRITE" -->

<!--#ifndef variable="CITY_WRITE" -->
You have do not have any rights to access this page <br>
<!--#endif variable="CITY_WRITE" -->

</BODY>
</HTML>
