<HTML>
<HEAD>
<!-- citizen/info.tmpl -->
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
</HEAD>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<div align=center><a href="javascript:history.go(-1)"><img src="<$g_Images>/images/buttons/bback.gif" border=0></a>
</div>
<br>
<$TXT>

<BODY>
</HTML>
