<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
<base target="_self">
</HEAD>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<center>
<H2><font color=#80ff00>List of Citizens
	<!--#ifdef variable="SORT" -->
		by <$SORT>
<script language="javascript">
mydate=new Date();
</script>
	<!--#endif variable="SORT" -->
</font></H2>

<form method=post target=_self action="<$selfurl>">
<input type="hidden" name="TKT" value="<$TKT>">
<a href="javascript:history.go(-<$hist>)"><small><img src="<$g_Images>/images/buttons/bback.gif" border=0></small></a><br>

<table>
    <INPUT type="hidden" NAME="KFT" VALUE="<$KFT>" MAXLENGTH=32 SIZE=16>

    <input type="hidden" name="FIRSTKEY" value="<$FIRSTKEY>">
	<input type="hidden" name="LASTKEY" value="<$LASTKEY>">
	<input type="hidden" name="FIRSTID" value="<$FIRSTID>">
	<input type="hidden" name="LASTID" value="<$LASTID>">
	<input type="hidden" name="SORT" value="<$SORT>">
	<input type="hidden" name="SORTORDER" value="<$SORTORDER>">

	<input type="hidden" name="ac" value="list">
	<input type="hidden" name="DTY" value="<$DTY>">
	<input type="hidden" name="KTY" value="<$KTY>">
	<input type="hidden" name="TPL" value="<$TPL>">
	<input type="hidden" name="hist" value="<$hist>">
<tr>
	<td>
    <INPUT NAME="list" TYPE="Image" SRC="<$g_Images>/images/buttons/btop.gif" align="middle" border=0></INPUT>
	<!--#ifdef variable="[PREV]" -->
    <INPUT NAME="prev" TYPE="Image" SRC="<$g_Images>/images/buttons/bpageup.gif" align="middle" border=0></INPUT>
	<!--#endif variable="[PREV]" -->
	<!--#ifdef variable="[NEXT]" -->
	<INPUT NAME="next" TYPE="Image" SRC="<$g_Images>/images/buttons/bpagedown.gif" align="middle" border=0></INPUT>
	<!--#endif variable="[NEXT]" -->
	</td>

</tr>
</table>

<table align="center" cellspacing="0" cellpadding="1" border="1">

<!--#for loopname="list" loopvars="ID_" -->
<tr><td valign=top>
<font size=+1>
		<!--#if variable="EXP_" >= value="5000" -->
                <!-- #ifndef variable="EXD_" -->

                <a href="/cgi-bin/admin/admin?DTY=M&KTY=NNK&KEY=<$NNK_>&TPL=admin/member&ac=read" onMouseOver="window.status='<$ID_> -Imm.:<$IMD_> -Exp.:<$EXP_> -Nick:<$NNM_> -EXD:<$EXD_>'; return true"><$EML_></a>

                <!-- #endif variable="EXD_" -->
                <!-- #ifdef variable="EXD_" -->

                <a href="/cgi-bin/admin/admin?DTY=M&KTY=NNK&KEY=<$NNK_>&TPL=admin/member&ac=read" onMouseOver="window.status='<$ID_> -Imm.:<$IMD_> -Exp.:<$EXP_> -Nick:<$NNM_> -EXD:<$EXD_>'; return true"><font color="ff0000"><$EML_></font></a>

                <!-- #endif variable="EXD_" -->
		<!--#endif variable="EXP_" -->
</font>


	</tr>

<!--#endfor loopname="list" -->

</table>

    <INPUT NAME="list" TYPE="Image" SRC="<$g_Images>/images/buttons/btop.gif" align="middle" border=0></INPUT>
	<!--#ifdef variable="[PREV]" -->
    <INPUT NAME="prev" TYPE="Image" SRC="<$g_Images>/images/buttons/bpageup.gif" align="middle" border=0></INPUT>
	<!--#endif variable="[PREV]" -->
	<!--#ifdef variable="[NEXT]" -->
	<INPUT NAME="next" TYPE="Image" SRC="<$g_Images>/images/buttons/bpagedown.gif" align="middle" border=0></INPUT>
	<!--#endif variable="[NEXT]" -->
</form>

</center>
<BODY>
</HTML>
