<html>
<head>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
</head>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<div align=center>

<H2><font color=#80ff00>List of Citizens in <$NAM></font></h2>
<a href="javascript:history.go(-1)"><small><img src="<$g_Images>/images/buttons/bback.gif" border=0></small></a><br>

	<font color=#ff0000>
		<!-- #ifdef variable="editerror003" -->
			Insufficient access rights.
		<!-- #endif variable="editerror003" -->
	</font>
</div>

<div align="center">
<table border=0 align="center">
	<th colspan=14 nowrap align="center"></th>
	<tr align="center">
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=a*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			A...&nbsp;</a></td>
		<td><font color=#80ff00><$CCA></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=b*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			B...&nbsp;</a></td>
		<td><font color=#80ff00><$CCB></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=c*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			C...&nbsp;</a></td>
		<td><font color=#80ff00><$CCC></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=d*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			D...&nbsp;</a></td>
		<td><font color=#80ff00><$CCD></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=e*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			E...&nbsp;</a></td>
		<td><font color=#80ff00><$CCE></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=f*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			F...&nbsp;</a></td>
		<td><font color=#80ff00><$CCF></font></td>
	</tr>

	<tr align="center">
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=g*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			G...&nbsp;</a></td>
		<td><font color=#80ff00><$CCG></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=h*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			H...&nbsp;</a></td>
		<td><font color=#80ff00><$CCH></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=i*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			I...&nbsp;</a></td>
		<td><font color=#80ff00><$CCI></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=j*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			J...&nbsp;</a></td>
		<td><font color=#80ff00><$CCJ></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=k*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			K...&nbsp;</a></td>
		<td><font color=#80ff00><$CCK></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=l*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			L...&nbsp;</a></td>
		<td><font color=#80ff00><$CCL></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
	</tr>

	<tr align="center">
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=m*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			M...&nbsp;</a></td>
		<td><font color=#80ff00><$CCM></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=n*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			N...&nbsp;</a></td>
		<td><font color=#80ff00><$CCN></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=o*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			O...&nbsp;</a></td>
		<td><font color=#80ff00><$CCO></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=p*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			P...&nbsp;</a></td>
		<td><font color=#80ff00><$CCP></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=q*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			Q...&nbsp;</a></td>
		<td><font color=#80ff00><$CCQ></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=r*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			R...&nbsp;</a></td>
		<td><font color=#80ff00><$CCR></font></td>
	</tr>

	<tr align="center">
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=s*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			S...&nbsp;</a></td>
		<td><font color=#80ff00><$CCS></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=t*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			T...&nbsp;</a></td>
		<td><font color=#80ff00><$CCT></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=u*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			U...&nbsp;</a></td>
		<td><font color=#80ff00><$CCU></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=v*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			V...&nbsp;</a></td>
		<td><font color=#80ff00><$CCV></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=w*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			W...&nbsp;</a></td>
		<td><font color=#80ff00><$CCW></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=x*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			X...&nbsp;</a></td>
		<td><font color=#80ff00><$CCX></font></td>
	</tr>

	<tr align="center">
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=y*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			Y...&nbsp;</a></td>
		<td><font color=#80ff00><$CCY></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=z*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			Z...&nbsp;</a></td>
		<td><font color=#80ff00><$CCZ></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=0*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			0...&nbsp;</a></td>
		<td><font color=#80ff00><$CC0></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=1*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			1...&nbsp;</a></td>
		<td><font color=#80ff00><$CC1></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=2*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			2...&nbsp;</a></td>
		<td><font color=#80ff00><$CC2></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=3*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			3...&nbsp;</a></td>
		<td><font color=#80ff00><$CC3></font></td>
	</tr>

	<tr align="center">
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=4*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			4...&nbsp;</a></td>
		<td><font color=#80ff00><$CC4></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=5*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			5...&nbsp;</a></td>
		<td><font color=#80ff00><$CC5></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=6*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			6...&nbsp;</a></td>
		<td><font color=#80ff00><$CC6></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=7*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			7...&nbsp;</a></td>
		<td><font color=#80ff00><$CC7></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=8*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			8...&nbsp;</a></td>
		<td><font color=#80ff00><$CC8></font></td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td><a HREF="edit<$g_exe>?KTY=NNK&KEY=&KFT=9*&TPL=citizen/list&ac=list&SORT=<$SORT>">
			9...&nbsp;</a></td>
		<td><font color=#80ff00><$CC9></font></td>
	</tr>
</table>
</div>

</body>
</html>

