

<!-- #ifdef variable="NNM" value="Hawk" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->



<!-- #ifdef variable="NNM" value="Vialle" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Flyby" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="crashdummy" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="JeetKuneDo" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="diverDestiny" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Stasis" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="psshark" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Defy_Boy" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="fully_loaded" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="taz-the-dog" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="dopeman" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="twisted-rebel" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="liamremy" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->
  
<!-- #ifdef variable="NNM" value="da_defy" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="defyboy" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Sir.Loaded" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Fully_G" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="gin-n-tonic" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="Hell-raisor" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="SouljaSlim" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="GangstaBoo-" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->
  
<!-- #ifdef variable="NNM" value="opportunist" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->

<!-- #ifdef variable="NNM" value="wovencroft" -->
	<!-- #define variable="HMMM"  value="1" -->
<!-- #endif variable="NNM" -->
 