<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
</HEAD>
<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<div align=center>
<img src="<$g_HTMLRoot>/places/citizen/images/citizen.jpg" border=0>
</div>

<p align=center>
<a href="http://www.blaxxun.de" target="external">
<img src="<$g_HTMLRoot>/ad/ad1.gif" border=0></a> 
</p>

<BODY>
</HTML>
