<!-- #ifdef variable="commid" value="0107000000000000" -->
<!-- #include virtual="<$g_Templates>mothership/block/action.tmpl" -->
<!-- #endif variable="commid" -->

<!-- #ifndef variable="commid" value="0107000000000000" -->
<!-- #include virtual="<$g_Templates>block/action2.tmpl" -->
<!-- #endif variable="commid" -->
