<!-- #ifdef variable="commid" value="0107000000000000" -->
<!-- #include virtual="<$g_Templates>mothership/block/index.tmpl" -->
<!-- #endif variable="commid" -->

<!-- #ifndef variable="commid" value="0107000000000000" -->
<!-- #include virtual="<$g_Templates>block/index2.tmpl" -->
<!-- #endif variable="commid" -->

