<HTML>
<HEAD>
	<meta http-equiv="Content-Type" content="text/html">
	<title><$g_title></title>
	<base target="_top">
</HEAD>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->
<center>
<H2><font color=#80ff00>Check <$NAM></font></H2>

<form method=post target=_self action="<$selfurl>">

<input type="hidden" name="TKT" value="<$TKT>">
<input type=hidden name="ac" value="checksubmit">
<input type=hidden name="ID" value="<$ID>">
<input type="hidden" name="FIRSTKEY" value="<$FIRSTKEY>">

<table align="center" border="0">
<tr>
  <td nowrap><font color=#80ff00>Name</td>
  <td><$NAM></td>
</tr>
<tr>
  <td nowrap><font color=#80ff00>Owner</td>
  <td><$OWN></td>
</tr>
<tr>
  <td nowrap><font color=#80ff00>Icon</td>
	<td align=center><img src="property<$g_exe>?ac=print&ID=<$ID>&type=P&index=&media=i" border=0></td>
</tr>
</table>

<p>

<table align="center" border="0">
<tr>
  <td><input type="checkbox" align="middle" name="STT" value="l" <$checked>></td>
  <td nowrap><font color=#80ff00>Locked</td>
</tr>
</table>

<table border=0>
<tr>
	<td align=center>&nbsp;</td>
	<td>
	<td>
		<input type=submit name="yes" value=Update>
		<input type=submit name="no" value=Cancel>
	</td>
</tr>
</table>


</form>



</center>
<BODY>
</HTML>
