<HTML>
<HEAD>
<script language="JavaScript">
function goback()
{
history.go(-1);
}
</script>
</HEAD>
<!--
<script>location.href="javascript:goback()"</script>
-->
<script>location.href="edit<$g_exe>?KEY=<$FIRSTKEY>&ac=list&TPL=block/plist&KFT=<$ID>&KFM=CRCCNRNCBRBC*&BNAM=<$NAM>"</script>
<BODY>
</HTML>
