<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
</HEAD>
<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<p align=center>
Congratulations, <b><$NNM></b>!<br>
You have settled down and are now a <b>Resident</b>!
</p>

<p>
<a href="block<$g_exe>?ac=place&ID=<$ID>" target="place">Click here</a>
to update the block and enter your new home ...
</p>

<BODY>
</HTML>
