<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
</HEAD>

<form method=post action="edit<$g_exe>" target="place">

<input type="hidden" name="TKT" value="<$TKT>">

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<H3 align=center>Welcome to the <$BNM> '<$NAM>'</H3>

<p>
<!-- #ifdef variable="TXT" -->
<$TXT>
<!-- #endif variable="TXT" -->
<!-- #ifndef variable="TXT" -->
<!-- #endif variable="TXT" -->
</p>

<!-- #include virtual="<$g_Templates>common/inforoles.tmpl" -->

</BODY>
</HTML>
