<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html">
<title><$g_title></title>
</HEAD>
<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<p>
<b>Hello <$NNM>,</b> do you want to move from
'<$comm1> / <$neigh1> / <$block1> / <$prop1>' to
this <$PNM>?
<!-- in <$BNM> <b>'<$comm2> / <$neigh2> / <$block2>'</b>?-->
</p>

<form method=post action="<$selfurl>">

<input type="hidden" name="TKT" value="<$TKT>">
<input type=hidden name="ac" value="moveplace">
<input type=hidden name="ID" value="<$ID>">

<table border=0>
<tr>
<td width=250>&nbsp;</td>
<td>
<input type=submit name="yes" value=Yes>
<input type=submit name="no" value=No>
</td>
</tr>
</table>

</form>

<BODY>
</HTML>
