

<!-- #include script="phase3dep.pl?PLACE_ID=<$PLACE_ID>&TO_NNM=<$TO_NNM>&TO_AMT=<$TO_AMT>&TO_HOM=<$TO_HOM>&NAM=<$NAM>&TKT=<$TKT>&TO_NAM=<$TO_NAM>" --> 

<!-- 
<junktag> 
<!-- #include script="msb?ac=write&DTY=P&KTY=ID&KEY=<$TO_HOM>&MTY=i&TKT=<$TKT>&sub=Receipt%20of%20department%20funds%20received&txt=<$NAM>%20has%20transferred%20you%20<$TO_AMT>cc<br>reason%20:<$TO_NAM>" -->
<!--
<!-- #include script="msb?ac=write&DTY=O&KTY=ID&KEY=<$PLACE_ID>&MTY=i&TKT=<$TKT>&sub=Receipt%20of%20department%20funds%20sent&txt=<$TO_NNM>%20has%20been%20transferred%20<$TO_AMT>cc<br>reason%20:<$TO_NAM>" -->
</junktag> 
