
















































<!-- #ifdef variable="owneraccess" -->
<!-- fundbox/phase99.tmpl -->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>CityCash Transfer - Department Funds</title>
<meta name="Author" content="Coolkama, Simioni and Halogen">

</head>
<body bgcolor="#000000" text="lime">

<form method=post action="<$selfurl>" name="phase1">
<input type="hidden" name="TPL" value="fundbox/phase99">
<input type="hidden" name="ID" value="<$ID>">
<input type="hidden" name="KEY" value="<$ID>">
<input type="hidden" name="NAM" value="<$P>">

<input type="hidden" name="DTY" value="<$DTY>">
      <table border="0" cellpadding="0" cellspacing="0" width="575" align="center">
        <!-- fwtable fwsrc="confirm.png" fwbase="confirm.jpg" fwstyle="Dreamweaver" fwdocid = "742308039" fwnested="0" -->
        <tr> 
          <td><img src="spacer.gif" width="55" height="1" border="0" alt=""></td>
          <td><img src="spacer.gif" width="208" height="1" border="0" alt=""></td>
          <td><img src="spacer.gif" width="141" height="1" border="0" alt=""></td>
          <td><img src="spacer.gif" width="11" height="1" border="0" alt=""></td>
          <td><img src="spacer.gif" width="106" height="1" border="0" alt=""></td>
          <td><img src="spacer.gif" width="6" height="1" border="0" alt=""></td>
          <td><img src="spacer.gif" width="48" height="1" border="0" alt=""></td>
          <td><img src="spacer.gif" width="1" height="1" border="0" alt=""></td>
        </tr>
        <tr> 
          <td colspan="7"><img name="confirm_r1_c1" src="/places/fundbox/images/top.jpg" width="575" height="171" border="0" alt=""></td>
          <td><img src="spacer.gif" width="1" height="171" border="0" alt=""></td>
        </tr>
        <tr> 
          <td><img name="confirm_r2_c1" src="/places/fundbox/images/left.jpg" width="55" height="182" border="0" alt=""></td>
          <td colspan="5">
            <table border="0" cellspacing="10" align="center">
              <tr> 
                <td align="center">
                <font face="Arial, Helvetica, sans-serif" size="-1"> <font color="#FFFFFF">
                <h3>Fundbox Access Rights</h3><p>
                
                Fundbox Security <br><font color="#ffff00">Enabled</font> 
                	    <input type="radio" name="FBS"
		            <!--#ifdef variable="FBS" value="ON" --> 
		                checked 
		            <!--#endif variable="FBS"-->            
        			value="ON">
        			
        		    <font color="#ffff00">Disabled</font>
        		    <input type="radio" name="FBS"
		            <!--#ifdef variable="FBS" value="" --> 
				checked 
			    <!--#endif variable="FBS"-->   
        		        value="">  

                  
                  <br>Fundbox Password 
                  <input type="text" name="FBP" value="<$FBP>" size="16" maxlength="30">
              </tr>
            </table>
            <p align="center">&nbsp;
			
            </p>
          </td>
          <td><img name="confirm_r2_c7" src="/places/fundbox/images/right.jpg" width="48" height="182" border="0" alt=""></td>
          <td><img src="spacer.gif" width="1" height="182" border="0" alt=""></td>
        </tr>
        <tr> 
          <td colspan="7"><img name="confirm_r3_c1" src="/places/fundbox/images/bottombar.jpg" width="575" height="21" border="0" alt=""></td>
          <td><img src="spacer.gif" width="1" height="21" border="0" alt=""></td>
        </tr>
        <tr> 
          <td rowspan="2" colspan="2"><img name="confirm_r4_c1" src="/places/fundbox/images/bottomleftconfirm.jpg" width="263" height="81" border="0" alt=""></td>
          <td><a href="javascript:document.forms['phase1'].submit();"><img name="confirm_r4_c3" src="/places/fundbox/images/confirm.jpg" width="141" height="24" border="0" alt=""></a></td>
          <td rowspan="2"><img name="confirm_r4_c4" src="/places/fundbox/images/bottomdivider.jpg" width="11" height="81" border="0" alt=""></td>
          
      <td><a href="javascript:history.go(-1);"><img name="confirm_r4_c5" src="/places/fundbox/images/back.jpg" width="106" height="24" border="0" alt=""></a></td>
          <td rowspan="2" colspan="2"><img name="confirm_r4_c6" src="/places/fundbox/images/bottomright.jpg" width="54" height="81" border="0" alt=""></td>
          <td><img src="spacer.gif" width="1" height="24" border="0" alt=""></td>
        </tr>
        <tr> 
          <td><img name="confirm_r5_c3" src="/places/fundbox/images/underbuttonleft.jpg" width="141" height="57" border="0" alt=""></td>
          <td><img name="confirm_r5_c5" src="/places/fundbox/images/underbuttonright.jpg" width="106" height="57" border="0" alt=""></td>
          <td><img src="spacer.gif" width="1" height="57" border="0" alt=""></td>
        </tr>
      </table>
    </form>
</body>
</html>
<!-- #endif variable="owneraccess" -->
<!-- #ifndef variable="owneraccess" -->

test
<!-- #endif variable="owneraccess" -->
