<!--#ifdef variable="owneraccess" -->
<!-- #include script="phase3dep.pl?MEM_NNM=<$MEM_NNM>&FMEM_ID=<$MEM_ID>&TDATE=<$CT_STR>&TO_NAM=<$TO_NAM>&PLACE_ID=<$PLACE_ID>&TO_NNM=<$TO_NNM>&TO_AMT=<$TO_AMT>&TO_HOM=<$TO_HOM>&NAM=<$NAM>&TKT=<$TKT>" --> 
<!--#endif variable="owneraccess" -->
<!--#ifndef variable="owneraccess" -->
<HTML>
<HEAD>
<TITLE></TITLE>
<META NAME="Generator" CONTENT="TextPad 4.4">
<META NAME="Author" CONTENT="?">
<META NAME="Keywords" CONTENT="?">
<META NAME="Description" CONTENT="?">
</HEAD>

<BODY BGCOLOR="#000000" TEXT="#FF0000" LINK="#FF0000" VLINK="#800000" ALINK="#FF00FF">
ACCESS DENIED
</BODY>
</HTML>
<!--#endif variable="owneraccess" -->
