<html>
<head>
<title>blaxxun - Object Error</title>

<!-- #ifdef variable="soerror0001" -->
<script language="javascript">parent.main.location.replace("./object?ac=aDIS&ID=<$ID>&tpl=object/display&T_BUY99=yes&T_BUYIF=yes&T_CKerr=001");</script>
<!-- #endif variable="soerror0001" -->

<!-- #ifdef variable="soerror0002" -->
<script language="javascript">parent.main.location.replace("./object?ac=aDIS&ID=<$ID>&tpl=object/display&T_BUY99=yes&T_BUYIF=yes&T_CKerr=002");
</script>
<!-- #endif variable="soerror0002" -->
<!-- #ifdef variable="soerror0003" -->
<script language="javascript">parent.main.location.replace("./object?ac=aDIS&ID=<$ID>&tpl=object/display&T_BUY99=yes&T_BUYIF=yes&T_CKerr=003");
</script>
<!-- #endif variable="soerror0003" -->
<!-- #ifdef variable="soerror0004" -->
<script language="javascript">parent.main.location.replace("./object?ac=aDIS&ID=<$ID>&tpl=object/display&T_BUY99=yes&T_BUYIF=yes&T_CKerr=004");
</script>
<!-- #endif variable="soerror0004" -->
<!-- #ifdef variable="soerror0005" -->
<script language="javascript">parent.main.location.replace("./object?ac=aDIS&ID=<$ID>&tpl=object/display&T_BUY99=yes&T_BUYIF=yes&T_CKerr=005");
</script>
<!-- #endif variable="soerror0005" -->
<!-- #ifdef variable="soerror0006" -->
<script language="javascript">parent.main.location.replace("./object?ac=aDIS&ID=<$ID>&tpl=object/display&T_BUY99=yes&T_BUYIF=yes&T_CKerr=006");
</script>
<!-- #endif variable="soerror0006" -->
<!-- #ifdef variable="soerror0007" -->
<script language="javascript">parent.main.location.replace("./object?ac=aDIS&ID=<$ID>&tpl=object/display&T_BUY99=yes&T_BUYIF=yes&T_CKerr=007");</script>
<!-- #endif variable="soerror0007" -->
<!-- #ifdef variable="soerror0008" -->
<script language="javascript">parent.main.location.replace("./object?ac=aDIS&ID=<$ID>&tpl=object/display&T_BUY99=yes&T_BUYIF=yes&T_CKerr=008");
</script>
<!-- #endif variable="soerror0008" -->
<!-- #ifdef variable="soerror0009" -->
<script language="javascript">parent.main.location.replace("./object?ac=aDIS&ID=<$ID>&tpl=object/display&T_BUY99=yes&T_BUYIF=yes&T_CKerr=009");
</script>
<!-- #endif variable="soerror0009" -->
<!-- #ifdef variable="soerror0010" -->
<script language="javascript">parent.main.location.replace("./object?ac=aDIS&ID=<$ID>&tpl=object/display&T_BUY99=yes&T_BUYIF=yes&T_CKerr=010");
</script>
<!-- #endif variable="soerror0010" -->
<!-- #ifdef variable="soerror0011" -->
<script language="javascript">parent.main.location.replace("./object?ac=aDIS&ID=<$ID>&tpl=object/display&T_BUY99=yes&T_BUYIF=yes&T_CKerr=011");
</script>
<!-- #endif variable="soerror0011" -->
<!-- #ifdef variable="soerror0012" -->
<script language="javascript">parent.main.location.replace("./object?ac=aDIS&ID=<$ID>&tpl=object/display&T_BUY99=yes&T_BUYIF=yes&T_CKerr=012");
</script>
<!-- #endif variable="soerror0012" -->
<!-- #ifdef variable="soerror0013" -->
<script language="javascript">parent.main.location.replace("./object?ac=aDIS&ID=<$ID>&tpl=object/display&T_BUY99=yes&T_BUYIF=yes&T_CKerr=013");
</script>
<!-- #endif variable="soerror0013" -->
<!-- #ifdef variable="soerror0014" -->
<script language="javascript">parent.main.location.replace("./object?ac=aDIS&ID=<$ID>&tpl=object/display&T_BUY99=yes&T_BUYIF=yes&T_CKerr=014");
</script>
<!-- #endif variable="soerror0014" -->
<!-- #ifdef variable="soerror0015" -->
<script language="javascript">parent.main.location.replace("./object?ac=aDIS&ID=<$ID>&tpl=object/display&T_BUY99=yes&T_BUYIF=yes&T_CKerr=015");
</script>
<!-- #endif variable="soerror0015" -->
<!-- #ifdef variable="soerror0022" -->
<script language="javascript">parent.main.location.replace("./object?ac=aDIS&ID=<$ID>&tpl=object/display&T_BUY99=yes&T_BUYIF=yes&T_CKerr=022");
</script>
<!-- #endif variable="soerror0022" -->

<!-- object/error.tmpl -->
</head>
</html>

