	<html>
	<head>
	<title>blaxxun - Object</title>
	<script language="javascript">
	function doClose()
	{
  	if ( navigator.userAgent.indexOf('MSIE 3') > 0 )
    	alert("Please close the window by clicking on the X in the upper right corner.");
	  else
    	self.close();
	}
	var broughtone = 0	
	function doBuy()
	{
	}
	function Buyoneonly()
	{

	}
	</script>
	</head>
	
	<!-- object/display.tmpl -->
	
	<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->
	
	<div align=center>
	<h2>House Properties</h2>
	
  	<h2>Sorry the house system is down for maintenaince, if you have lost CC's due to not selling your existing home before buying, e-mail Comtech@cybertown.com with details.</h2>
	
	<script language=javascript>
	focus();
	</script>
	</body>
	</html>
