<!-- Citizens that have been denied access to upload -->

<!-- #if variable="NNK" == variable="UBL1" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL2" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL3" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL4" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL5" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL6" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL7" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL8" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL9" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL10" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL11" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL12" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL13" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL14" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL15" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL16" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL17" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL18" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL19" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL20" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL21" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL22" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL23" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL24" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL25" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL26" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL27" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL28" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL29" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL30" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL31" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL32" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL33" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL34" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL35" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL36" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL37" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL38" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL39" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL40" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL41" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL42" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL43" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL44" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL45" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL46" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL47" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL48" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL49" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->

<!-- #if variable="NNK" == variable="UBL50" -->
	<!-- #define variable="Ublock"  value="1" -->
<!-- #endif variable="NNK" -->