<!-- deshomeshop/middle.tmpl -->
<font face="arial" size=-1><a href="/cgi-bin/cybertown/place?plc=deshomes" target="_top">Return To Designer Homes</a></font><br>
<!-- #include virtual="<$g_Templates>deshomes/middle.tmpl" -->
