<map name="parksmap">
<AREA SHAPE=RECT COORDS="68,184,223,210" HREF="/cgi-bin/cybertown/place?plc=flyby" ALT="">
<AREA SHAPE=RECT COORDS="390,154,483,196" HREF="/cgi-bin/cybertown/place?plc=beach" ALT="">
<AREA SHAPE=RECT COORDS="162,248,265,280" HREF="/cgi-bin/cybertown/place?plc=funpark" ALT="">
<AREA SHAPE=RECT COORDS="290,231,413,263" HREF="/cgi-bin/cybertown/place?plc=waterpark" ALT="">
<AREA SHAPE=RECT COORDS="411,266,534,292" HREF="/cgi-bin/cybertown/place?plc=themepark" ALT="">
</map>

<map name="parksmapold">
<AREA SHAPE=RECT COORDS="68,184,223,210" HREF="javascript:jump('top /cgi-bin/cybertown/place?plc=flyby')" ALT="">
<AREA SHAPE=RECT COORDS="390,154,483,196" HREF="javascript:jump('top /cgi-bin/cybertown/place?plc=beach')" ALT="">
<AREA SHAPE=RECT COORDS="162,248,265,280" HREF="javascript:jump('top /cgi-bin/cybertown/place?plc=funpark')" ALT="">
<AREA SHAPE=RECT COORDS="290,231,413,263" HREF="javascript:jump('top /cgi-bin/cybertown/place?plc=waterpark')" ALT="">
<AREA SHAPE=RECT COORDS="411,266,534,292" HREF="javascript:jump('top /cgi-bin/cybertown/place?plc=themepark')" ALT="">
</map>