<html>
<head>
<title><$g_title> - Member Registration</title>
</head>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<div align=center>
<h2>Immigration - Password Request</h2>
    <h3>Hello \"<$NNM>\", your password has been sent to you via email.</h3>

    <p>
    <i>Log into restricted scenes with your Nickname and your Password.</i>

    <p>
<B><a href="place<$g_exe>?login=true&NNM=<$NNM>&PWD=<$PWD>" >Enter NOW!</a></B>

</body>
</html>

