<HTML>
<head>
	<!--META HTTP-EQUIV="refresh" CONTENT="1; URL=<$UrlCancel>"-->
	<title><$g_title></title>
</head>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<script>
	top.location.href="<$UrlCancel>"
</script>

<!--div align=center>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<h3><$g_title></h3>
<h4> Loading <$UrlCancel></h4>
</div-->

<BODY>
</HTML>
