<html>
<head>
<title><$g_title> - Member Registration</title>
</head>

<!-- #include virtual="<$g_Templates>common/body2.tmpl" -->

<div align=center>
<br>
<img src="<$g_Images>/images/login/password.jpg" border=0 alt="Request your Password!">
<br>
<h2>Immigration - Request your Password</h2>

Your Password will be sent to you if you request it with your Nickname and your email
<br>
mailto: <a href="mailto:Help@cybertown.com?subject=forgotten password">Help@cybertown.com</a>


<font color="red">
</font>

</body>
</html>

