reqvars=<$registererror001>
noslash=<$registererror002>
difpass=<$registererror003>
nicktake=<$registererror004>
emailtake=<$registererror005>
refunknown=<$registererror006>
badchars=<$registererror010>
notalphnum=<$registererror011>
bademail=<$registererror012>
baddomain=<$registererror013>
success=<$membergenerated>
ID=<$ID>
NNM=<$NNM>
REF=<$REF>
EML=<$EML>
TKT=<$TKT>
RGK=<$RGK>
NNM_GEN=<$NNM_GEN>

